<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
         <app-has-appointment></app-has-appointment>
         <div class="breadCrumb">
            <ul>
               <li><a href="#">Home</a></li>
               <li><span>Quiz Management</span></li>
            </ul>
         </div>
         <div class="profileOuter">
            <div class="profileInner addContentOuter">
               <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                     <h4>Add Quiz</h4>
                  </div>
               </div>

               <div class="addQz">
               <form [formGroup]="questionForm">
               <div formArrayName="questions" *ngFor="let quest of formData;let i = index;">
                  <div [formGroupName]="i"> <a href="javascript:void(0)" (click)="deleteQuestionArray(i)" title="Delete"><img src="assets/images/delete.png" *ngIf="i!==0"></a>
                  <div class="input-field">
                     <input id="question1{{i}}" type="text" class="validate" formControlName="question">
                     <label for="question1{{i}}">Question</label>
                  </div>
                  <div class="input-field">
                     <textarea id="des2{{i}}" class="materialize-textarea" formControlName="question_info"></textarea>
                     <label for="des2{{i}}">Question Description</label>
                  </div>
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="optionQz">
                           <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                 <div class="input-field">
                                    <input id="option1{{i}}" type="text" class="validate" formControlName="option1">
                                    <label for="option1{{i}}">Option 1</label>
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                 <div class="input-field">
                                    <input id="point1{{i}}" type="number" class="validate" formControlName="point1" (change)="checktotPoints($event, i, 'point1')">
                                    <label for="point1{{i}}">Point</label>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="optionQz">
                           <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                 <div class="input-field">
                                    <input id="option2{{i}}" type="text" class="validate" formControlName="option2">
                                    <label for="option2{{i}}">Option 2</label>
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                 <div class="input-field">
                                    <input id="point2{{i}}" type="number" class="validate" formControlName="point2" (change)="checktotPoints($event, i, 'point2')">
                                    <label for="point2{{i}}">Point</label>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="optionQz">
                           <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                 <div class="input-field">
                                    <input id="option3{{i}}" type="text" class="validate" formControlName="option3">
                                    <label for="option3{{i}}">Option 3</label>
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                 <div class="input-field">
                                    <input id="point3{{i}}" type="number" class="validate" formControlName="point3" (change)="checktotPoints($event, i, 'point3')">
                                    <label for="point3{{i}}">Point</label>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="optionQz">
                           <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                 <div class="input-field">
                                    <input id="option4{{i}}" type="text" class="validate" formControlName="option4">
                                    <label for="option4{{i}}">Option 4</label>
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                 <div class="input-field">
                                    <input id="point4{{i}}" type="number" class="validate" formControlName="point4" (change)="checktotPoints($event, i, 'point4')">
                                    <label for="point4{{i}}">Point</label>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  </div>  
               </div>
               </form>
               </div>

               <a href="javascript:void(0)" class="addicon" (click)="addQuestionArray()"><img src="assets/images/add.png"></a>
               <div class="submitOuter">
                  <button type="submit" (click)="submitQuiz()" class="detailBtn">Publish</button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>