<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
                                <div class="bodyContent">
                    <div class="container-fluid">
                        <app-has-appointment></app-has-appointment>
                        <div class="breadCrumb">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><span>Quiz Management</span></li>
                            </ul>
                        </div>
                        <div class="profileOuter">
                            <div class="profileInner addContentOuter">
                                <div class="editOuter">
                                    <a href="javascript:void(0)" [routerLink]="['/content/manage/quiz-edit',content_id]"><img src="assets/images/edit.png"> Edit</a>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h4>Quiz List</h4>
                                    </div>
                                </div>
                                <div class="quizView">
                                	<ng-container *ngFor="let question of contentquestion; index as i;">
                                    <div class="quizviewList">
                                        <h4>{{i +1}}. {{question.question}}</h4>
                                        <p>{{question.question_info}}</p>
                                        <ng-container *ngFor="let option of question.question_options; index as j;">
                                        <div class="optionPt">
                                            <p>{{j +1}}. {{option.option}}</p>
                                            <h5>Point: {{option.point}}</h5>
                                        </div>
                                        </ng-container>
                                    </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="stickyChat"><img src="assets/images/message.png"></a>
                    </div>
                </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>