<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
    	<div class="breadCrumb">
            <ul>
                <li><a href="#">Home</a></li>
                <li><span>Group List</span></li>
            </ul>
        </div>
        <div class="profileInner">
            <form [formGroup]="hcSetForm">
                <table class="table userListOuter">
                    <tr>
                        <th>
                            <h5></h5>
                        </th>
                        <th>
                            <h5>Health Coach Name</h5>
                        </th>
                        <th>
                            <h5>Set as Primary Health Coach</h5>
                        </th>
                    </tr>
                    <ng-container *ngFor="let coach of coaches; index as i;">
                    <tr>
                        <td>
                            <div class="checkboxOuter">
                                <label>
                                    <input type="checkbox" [(ngModel)]="coach.select" [ngModelOptions]="{standalone: true}" class="filled-in" value="{{coach.user_id}}">
                                    <span></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <p> {{coach.firstname}} {{coach.lastname}}</p>
                        </td>
                        <td>
                            <div class="switch">
                                <label>
                                  <input type="radio" formControlName="primayhcid" value="{{coach.user_id}}" >
                                  <span></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                    </ng-container>
                </table>
                <div class="submitOuter">
                    <button type="submit" class="detailBtn" (click)="submitForm()">Submit</button>
                </div>
            </form>
        </div>  
      </div>
   </div>
   <app-footer></app-footer>
   <!-- End -->
</section>