<div class="loginContianer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                        <div class="loginlogoContainer">
                            <a href="#"><img src="assets/images/login-logo.png" alt="logo"></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-6 col-sm-12 col-12">
                        <div class="loginForm">
                            <h4>Login Empeal  </h4>
                            <form [formGroup]="loginForm">
                            <div class="input-field" [ngClass]="{'error':(submitted && login_f.email.errors)|| (login_f.email.touched && login_f.email.errors) || (validationError && validationError.email) }">
                              <input id="email" type="email" formControlName="email" class="validate"  autocomplete="off" (blur)="checkRememberMe($event)">
                              <label for="email">Email Address</label>
                              <div *ngIf="((login_f.email.touched || submitted) && login_f.email.errors)">
                                <p *ngIf="login_f.email.errors.email" class="errormsg">Please enter valid email</p>
                              </div>
                              <p *ngIf="validationError && validationError.email" class="errormsg">{{validationError.email[0]}}</p>
                              <p class="errormsg" *ngIf="authValidation.email_err">{{authValidation.email_err}}</p>
                            </div>
                            <div class="input-field"  [ngClass]="{'error':(submitted && login_f.password.errors) || (login_f.password.touched && login_f.password.errors)}">
                              <input id="pass" type="password" formControlName="password" class="validate"  autocomplete="new-password">
                              <label for="pass" [ngClass]="{'active':loginForm.get('password').value}">Password</label>
                              <div *ngIf="(login_f.password.touched || submitted) && login_f.password.errors">
                                <p *ngIf="login_f.password.errors.minlength" class="errormsg">Password minimum length should be 6 character</p>
                              </div>
                              <p class="errormsg" *ngIf="authValidation.password_err">{{authValidation.password_err}}</p>
                            </div>
                            <div class="checkboxOuter">
                                <label>
                                    <input type="checkbox" class="filled-in" name="remember" formControlName="remember">
                                    <span>Remember Me</span>
                                </label>
                            </div>
                            <div class="submitOuter">
                                <button type="submit" (click)="loginStore()">Login</button>
                            </div> 
                            <div class="otherSection">
                                <a href="javascript:void(0)" routerLink="/forgot-password">Forgot Password ?</a>
                            </div>
                            <!--<div class="otherSection">
                                <h5>Don't Have An Account? <a href="javascript:void(0)" routerLink="/register">Register</a></h5>                                
                            </div>-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footerLower">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">                
                            <p>© 2018 Wind of Change. <span>Developed by <a href="https://www.pixelsolutionz.com/" target="_blank">Pixel Solutionz</a></span></p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <ul>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
       </div>
