<!-- START DASHBOARD -->
<section class="dashboardSection">
    <div class="manualBox">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <button type="button">Prev</button>
        <button type="button">Next</button>
        <button type="button">Skip</button>
    </div>
    <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
    <div class="bodyContent">
        <div class="container-fluid">
            <app-has-appointment></app-has-appointment>
            <div class="breadCrumb">
                <ul>
                    <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
                    <li><span>Appointment</span></li>
                </ul>
            </div>
            <div class="profileOuter"> 
                <div class="row"> 
                    <div class="col-lg-12 col-md-12  col-sm-12 col-12">
                        <div class="profileInner timeprofileInner"> 
                            <div class="row" *ngIf="user_role.slug=='admin'">
                                <div class="col-lg-3 offset-lg-9 col-md-6 offset-md-6 col-sm-12 col-12">
                                    <div class="input-field">
                                      <select id="group" [(ngModel)]="groupModel" (ngModelChange)="getTargetByGrp($event)" [ngModelOptions]="{standalone: true}" style="display: inline;">
                                        <option value=""> Select Group</option>
                                        <option value="{{group.id}}" *ngFor="let group of groups;">{{group.group_name}}</option>
                                      </select>
                                    </div>
                                </div>
                            </div>
                            <div class="timeSchedule"><!--tmdesktop-->
                                <div class="scheduleNav">
                                  <a href="javascript:void(0)" class="schedulePrev" (click)="prevWeek(currentday)"><img src="assets/images/leftArrow2.png"></a>
                                  <h4>{{currentday}} - {{weeklastday}}</h4>
                                  <a href="javascript:void(0)" class="scheduleNext" (click)="nextWeek(weeklastday)"><img src="assets/images/rightArrow2.png"></a>
                                </div>
                                <div class="timeSchedulehold table-responsive">
                                    <div class="timeScheduleRow">
                                      <ng-container *ngFor="let schedule of schedules; index as i;">
                                      <div class="timeScheduleCol timeScheduleHead">
                                        <h6>{{schedule[0]}}</h6> 
                                      </div>
                                      </ng-container>
                                    </div>
                                    
                                    <div class="timeScheduleRow">
                                      <ng-container *ngFor="let schedule of schedules; index as i;">
                                      <div class="timeScheduleCol">
                                        <ng-container *ngFor="let schtime of schedule[1]; index1 as j;">
                                        <span title="booked" *ngIf="chekcedBookedSlot(schtime,schedule[0]) == true">{{schtime}}</span>

                                        <span title="Not available" class="nonavailable" *ngIf="checkprevslot(schtime,schedule[0]) == false">{{schtime}}</span>

                                        <div *ngIf="user_role.slug!='admin'">
                                          <a href="javascript:void(0)" title="available" *ngIf="chekcedBookedSlot(schtime,schedule[0]) == false && checkprevslot(schtime,schedule[0]) == true"  (click)="bookSlot(schtime,schedule[0],currentday,j)">{{schtime}}</a>
                                        </div>

                                        <div *ngIf="user_role.slug=='admin'">
                                          <a href="javascript:void(0)" title="available" *ngIf="chekcedBookedSlot(schtime,schedule[0]) == false && checkprevslot(schtime,schedule[0]) == true">{{schtime}}</a>
                                        </div>
                                        </ng-container>
                                        <span class="nonavailable" *ngIf="schedule[1] == ''">NA</span>
                                      </div>
                                      </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>
<!-- END DASHBOARD -->