
<app-corporate-dashboard *ngIf="user_role.slug=='corporate'"></app-corporate-dashboard>

<app-user-dashboard *ngIf="user_role.slug=='employee'"></app-user-dashboard>

<app-coach-dashboard *ngIf="user_role.slug=='admin'"></app-coach-dashboard>

<app-admin-dashboard *ngIf="user_role.slug=='superadmin'"></app-admin-dashboard>

<app-secondary-coach-dashboard *ngIf="user_role.slug=='subcoach'"></app-secondary-coach-dashboard>