<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
    	<div class="breadCrumb">
            <ul>
                <li><a href="javascript:void(0);" [routerLink]="['/dashboard']">Home</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/adhoc-quiz/questions']">Adhoc Quiz Questions List</a></li>
                <li><span>Add Questions</span></li>
            </ul>
        </div>
        <div class="profileInner">
            <form [formGroup]="AddForm">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="input-field">
                          <input id="question" type="text" formControlName="question" class="">
                          <label for="question" class="" [ngClass]="{'active': quiz_f.question.value}">Question</label>
                        </div>
                    </div>
                </div>
                
               <div formArrayName="options" *ngFor="let quest of formData;let i = index;">
                  <div [formGroupName]="i"> <a href="javascript:void(0)" (click)="deleteOptionArray(i)" title="Delete"><img src="assets/images/delete.png" *ngIf="i!==0"></a>
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                        <div class="input-field">
                          <input id="option{{i}}" type="text" formControlName="option" class="">
                          <label for="option{{i}}" [ngClass]="{'active':AddForm.get('options').controls[i].controls.option.value}">Option</label>
                        </div>
                        <input type="hidden" formControlName="oid" >
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12 col-12">
                        <div class="input-field">
                            <input id="option_point{{i}}" type="text" formControlName="point" class="">
                          	<label for="option_point{{i}}">Point</label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                      <div class="checkboxOuter input-field">
                        <label>
                        <input type="checkbox" value="{{question_id>0?AddForm.get('options').controls[i].controls.is_correct.value:'' }}" class="filled-in" formControlName="is_correct">
                        <span>is it Correct?</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                      <h6>Status</h6>
                       <label>
                           <input type="radio" value="1" formControlName="status">
                           <span>Active</span>
                       </label>
                       <label>
                           <input type="radio" value="0" formControlName="status">
                           <span>Inactive</span>
                       </label>
                    </div>                       
                </div>
                </div>
                </div>
                <a href="javascript:void(0)" class="addicon" (click)="addOptionArray()"><img src="assets/images/add.png"></a>
                <div class="radioOuter">
                   <h6>Status</h6>
                   <label>
                       <input type="radio" value="1" formControlName="status">
                       <span>Active</span>
                   </label>
                   <label>
                       <input type="radio" value="0" formControlName="status">
                       <span>Inactive</span>
                   </label>
                </div>
                <div class="submitOuter">
                    <button type="submit" (click)="submitQuestion()" class="detailBtn" *ngIf="!question_id">Submit</button>
                    <button type="submit" (click)="updateQuestion()" class="detailBtn" *ngIf="question_id">Update</button>
                </div>
            </form>
        </div>
    </div>
   </div>
   <app-footer></app-footer>
   <!-- End -->
</section>