<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
         <app-has-appointment></app-has-appointment>
         <div class="breadCrumb">
            <ul>
               <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
               <li><span>Content Management</span></li>
            </ul>
         </div>
         <div class="profileOuter">
            <div class="profileInner">
               <form [formGroup]="contentSearchForm">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <input id="username" type="text" formControlName="username" class="validate">
                      <label for="username">By User Name</label>
                    </div>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                     <div class="input-field"> 
                     	<select  id="search1" formControlName="category" style="display:inline;">
	                     	<option value="">By Category</option>
	                     	<option value="{{categorie.id}}" *ngFor="let categorie of categories;">{{categorie.category_name}}</option>
                     	</select>
                        
                     </div>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                     <div class="input-field">
                     	<select  id="search1" formControlName="group" style="display:inline;">
	                     	<option value="">By Group</option>
	                     	<option value="{{group.id}}" *ngFor="let group of groups;">{{group.group_name}}</option>
                     	</select>
                     </div>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                        <select  id="search1" formControlName="contest" style="display:inline;">
                            <option value="">By Contest</option>
                            <option value="{{contest.id}}" *ngFor="let contest of contests;">{{contest.contest_name}}</option>
                        </select>
                    </div>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                     <div class="input-field">
                     	<select  id="search1" formControlName="type" style="display:inline;">
	                     	<option value="">By Type</option>
	                     	<option value="1">With Quiz</option>
	                     	<option value="2">With out Quiz</option>
                     	</select>
                     </div>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                     <div class="input-field">
                        <input id="search4" type="text"
                        dateInput  format="Y-m-d"  mode="single" formControlName="from_date">
                        <label for="search4">From Date</label>
                     </div>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                     <div class="input-field">
                        <input id="search5" type="text"
                         dateInput  format="Y-m-d"  mode="single" formControlName="to_date">
                        <label for="search5">To Date</label>
                     </div>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                     <div class="contentSearchOuter">
                        <button class="detailBtn" (click)="searchContent(0)">Search</button>
                     </div>
                  </div>
                  
               </div>
               </form>
            </div>
            <div class="profileInner">
               <div class="profilePart">
                  <div class="editOuter">
                     <a href="javascript:void(0)" [routerLink]="['/content/manage/add']"><img src="assets/images/add.png"> Add New</a>
                  </div>
                  <div class="recordOuter contentManagementTable">

                     <div class="recordRow recordHead">
                        <div class="recordCol">
                           <h5>Title</h5>
                        </div>
                        <div class="recordCol">
                           <h5>Group</h5>
                        </div>
                        <div class="recordCol">
                           <h5>Category</h5>
                        </div>
                        <div class="recordCol">
                           <h5>Contest</h5>
                        </div>
                        <div class="recordCol">
                           <h5>User</h5>
                        </div>
                        <div class="recordCol">
                           <h5>Date</h5>
                        </div>
                        <div class="recordCol">
                           <h5>Action</h5>
                        </div>
                     </div>
                     
                     <ng-container *ngFor="let content of content_all; index as i;">
                     <div class="recordRow">
                        <div class="recordCol">
                           <p>{{content.title}}</p>
                        </div>
                        <div class="recordCol">
                            <p *ngIf="content && content.content_visibility" >{{ content.content_visibility && content.content_visibility.group_name?content.content_visibility.group_name:content.content_visibility}}</p> 
                        </div>
                        <div class="recordCol">
                           <p>{{content.category.category_name}}</p>
                        </div>
                        <div class="recordCol">
                          <p *ngIf="content.contest != null ">{{
                        content.contest.contest_name
                        }}</p>
                        </div>
                        <div class="recordCol">
                            <p *ngIf="content.assigned_user">
                            {{content.assigned_user.firstname}} {{content.assigned_user.lastname}}
                            </p>
                        </div>
                        <div class="recordCol">
                           <p>{{content.created_date}}</p>
                        </div>
                        <div class="recordCol">
                           <p>
                              <a href="javascript:void(0)" [routerLink]="['/content/manage/edit',content.id]" title="Edit"><img src="assets/images/edit.png"></a>
                              <a href="javascript:void(0)" (click)="DeleteContent(content.id, i)" title="Delete"><img src="assets/images/delete.png"></a>
                              <a href="javascript:void(0)" [routerLink]="['/content/manage/quiz-add',content.id]" title="add quiz" *ngIf=" content && content.content_question && !content.content_question.length"><img src="assets/images/add-quiz.png"></a>
                              <a href="javascript:void(0)" [routerLink]="['/content/manage/quiz-view',content.id]" title="quiz view" *ngIf="content && content.content_question && content.content_question.length"><img src="assets/images/quiz-view.png"></a>
                              <a href="javascript:void(0)" (click)="cloneContent(content.id)" title="Clone"><img src="assets/images/copy.png"></a>
                           </p>
                        </div>
                     </div>
                     </ng-container>
                  </div>
               </div>
            </div>

            <div class="pagination" >
                <ul>
                    <li *ngFor="let page_no of pagination(); index as i;"><a href="javascript:void(0)" [ngClass]="{'active': i== active_page}" (click)="paginationCall(i)">{{page_no}}</a></li>

                </ul>
            </div>
         </div>
      </div>
   </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>