<section class="dashboardSection">
  <div class="manualBox">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <button type="button">Prev</button>
    <button type="button">Next</button>
    <button type="button">Skip</button>
  </div>
  <!--Side Navigation Start-->
  <app-navigation></app-navigation>
  <!-- End -->
  <div class="bodyContent">
    <div class="container-fluid">
      <app-has-appointment></app-has-appointment>
      <div class="breadCrumb">
        <ul>
          <li>
            <a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a>
          </li>
          <li><span>ChatBox</span></li>
        </ul>
      </div>
      <div class="profileOuter">
        <!-- <h3 class="pageTitle">ChatBox</h3> -->
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="profileInner chatprofileinner">
              <div class="chat_panel clear">
                <div class="chatlist">
                  <div class="searchpanel">
                    <form>
                      <div class="input-field searchOuter">
                        <input
                          id="smail"
                          type="text"
                          class="usersearch"
                          [(ngModel)]="search_text"
                          [ngModelOptions]="{ standalone: true }"
                        />
                        <label for="smail" class="">Search </label>
                        <button><img src="assets/images/search1.png" /></button>
                      </div>
                    </form>
                  </div>
                  <div class="chathdr for_healthcoach">
                    <div class="chataccordian">
                      <ng-container *ngFor="let group of allGroups; index as i">
                        <h3 *ngIf="group.group_user.length > 0">
                          <a
                            href="#demo{{ group.id }}"
                            data-toggle="collapse"
                            >{{ group.group_name }}</a
                          >
                        </h3>
                        <ul
                          id="demo{{ group.id }}"
                          class="collapse1"
                          *ngIf="group.group_user.length > 0"
                        >
                          <ng-container
                            *ngFor="
                              let user of group.group_user
                                | chatsearch: 'firstname,lastname':search_text;
                              index as j
                            "
                          >
                            <li
                              [ngClass]="{
                                'active-chat-user': createMessage.to == user.id
                              }"
                            >
                              <a
                                href="javascript:void(0)"
                                (click)="setToUserId(user)"
                              >
                                <span class="img">
                                  <img
                                    src="assets/images/dummy.jpg"
                                    alt="dummy"
                                  />
                                </span>
                                <div class="text">
                                  <span class="name"
                                    >{{
                                      user.user_detail.firstname +
                                        " " +
                                        user.user_detail.lastname
                                    }}
                                    &nbsp;
                                    <span *ngIf="user.unread_msg.length"
                                      >({{ user.unread_msg.length }})</span
                                    ></span
                                  >
                                  <!-- <span class="date">jan 25, 2019 </span> -->
                                  <ng-container
                                    *ngFor="
                                      let userdt of lastChatDts;
                                      index as i
                                    "
                                  >
                                    <span
                                      class="date"
                                      *ngIf="userdt._id == user.id"
                                      >{{
                                        userdt.lastchatDate | date: "longDate"
                                      }}
                                      {{
                                        userdt.lastchatDate | date: "shortTime"
                                      }}
                                    </span>
                                  </ng-container>
                                </div>
                                <span
                                  class="dot online"
                                  [ngClass]="{
                                    'dot online': setOnlineUser(user.id)
                                  }"
                                ></span>
                              </a>
                            </li>
                          </ng-container>
                        </ul>
                      </ng-container>
                    </div>
                    <div class="chataccordian"></div>
                  </div>
                </div>
                <div class="chatdetails">
                  <div class="searchpanel">
                    <div class="input-field searchOuter">
                      <input
                        id="smail"
                        type="text"
                        class=""
                        [(ngModel)]="search_chat_text"
                        [ngModelOptions]="{ standalone: true }"
                        style="padding-left: 10px"
                      />
                      <label for="smail" class="" style="left: 10px"
                        >Search
                      </label>
                      <button><img src="assets/images/search1.png" /></button>
                    </div>
                  </div>
                  <div class="chatwith">
                    <span class="img" *ngIf="createMessage.to_name">
                      <img src="assets/images/dummy.jpg" alt="dummy" />
                    </span>
                    <div class="text">
                      <span class="name">{{ createMessage.to_name }}</span>
                    </div>
                  </div>
                  <div class="chatcontent">
                    <div class="chatcontentlist">
                      <ng-container
                        *ngFor="
                          let chat of filterChat
                            | groupSearch: 'message':search_chat_text;
                          index as i
                        "
                      >
                        <div
                          class="chatholder self clear"
                          *ngIf="chat.from == loginUser.id"
                        >
                          <div class="chatbox">
                            <div class="text">
                              <span class="name">{{ chat.from_name }}</span>
                              <span
                                class="textcontent"
                                [innerHTML]="updateStyle(chat.message)"
                              ></span>
                              <a
                                href="{{ awsurl }}{{ chat.attachfile }}"
                                target="_blank"
                                *ngIf="
                                  chat.file_type &&
                                  chat.file_type != '' &&
                                  chat.file_type.includes('image') == true
                                "
                                ><img
                                  src="{{ awsurl }}{{ chat.attachfile }}"
                                  width="300"
                                  height="300"
                              /></a>

                              <a
                                href="{{ awsurl }}{{ chat.attachfile }}"
                                target="_blank"
                                download
                                *ngIf="
                                  chat.file_type &&
                                  chat.file_type != '' &&
                                  chat.file_type.includes('image') != true
                                "
                                ><img src="assets/images/document-clip.png"
                              /></a>
                            </div>
                            <span class="date">{{
                              chat.createdAt | date: "MMM d, yyyy"
                            }}</span>
                          </div>
                          <span class="img"
                            ><img src="assets/images/dummy.jpg" alt="dummy"
                          /></span>
                        </div>

                        <div
                          class="chatholder other clear"
                          *ngIf="chat.from != loginUser.id"
                        >
                          <div class="chatbox">
                            <div class="text">
                              <span class="name">{{ chat.from_name }}</span>
                              <span
                                class="textcontent"
                                [innerHTML]="updateStyle(chat.message)"
                              ></span>
                              <a
                                href="{{ awsurl }}{{ chat.attachfile }}"
                                target="_blank"
                                *ngIf="
                                  chat.file_type &&
                                  chat.file_type != '' &&
                                  chat.file_type.includes('image') == true
                                "
                                ><img
                                  src="{{ awsurl }}{{ chat.attachfile }}"
                                  width="300"
                                  height="300"
                              /></a>

                              <a
                                href="{{ awsurl }}{{ chat.attachfile }}"
                                target="_blank"
                                download
                                *ngIf="
                                  chat.file_type &&
                                  chat.file_type != '' &&
                                  chat.file_type.includes('image') != true
                                "
                                ><img src="assets/images/document-clip.png"
                              /></a>
                            </div>
                            <span class="date">{{
                              chat.createdAt | date: "MMM d, yyyy"
                            }}</span>
                          </div>
                          <span class="img"
                            ><img src="assets/images/dummy.jpg" alt="dummy"
                          /></span>
                        </div>
                      </ng-container>
                    </div>
                    <div class="chatsubmit">
                      <form>
                        <div class="form-group replyText">
                          <textarea
                            placeholder="Type Your Message"
                            [(ngModel)]="createMessage.message"
                            [ngModelOptions]="{ standalone: true }"
                          ></textarea>
                          <input
                            type="file"
                            id="replyfile"
                            (change)="onFileSelected($event)"
                          />
                          <label for="replyfile"
                            ><img src="assets/images/attachment.png"
                          /></label>
                          <span class="uploadedFileName">{{
                            comntfilename
                          }}</span>
                          <input
                            type="submit"
                            name=""
                            value=""
                            (click)="sendMessage()"
                          />
                        </div>
                        <!--<div class="submithold">
                                       <div class="submit">
                                         
                                          
                                       </div>
                                       <div class="attach">
                                          <input type="file" name="" id="file1">
                                          <label for="file1"></label>
                                       </div> 
                                    </div>-->
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Section Start -->
  <app-footer></app-footer>
  <!-- End -->
</section>
