.postimgc{
	height: 30%; 
	width: 30%;
	margin-bottom: 10px;
}
.member_timeline{
	display: inline-block;
}
.communityOuter .searchOuter{
	width: 92%;
    display: inline-block;
}

.communityOuter .mailreset {
    display: inline-block;
    width: 6%;
    border: 2px solid #ccc;
    margin-left: 10px;
    padding: 5px;
    text-align: center;
}
@media only screen and (max-width: 767px) {
	.postimgc{
		width: 100%;
		height: 100%;
	}
	.member_timeline{
		display: inline-block;
	}
}

@media only screen and (max-width: 599px){
	.communityOuter .searchOuter {
    	width: 75%;
	}

	.communityOuter .mailreset {
		width: 18%;
	}
}