<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
                <div class="bodyContent">
                    <div class="container-fluid">
                        <div class="appointment">
                            <a href="#">Appointments</a>
                            <div class="appointmentInner">
                                <div class="appointmentHead">
                                    <a href="#">Go to Appointment</a>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <h5><span class="green"></span> Confirmed</h5>
                                            <h4>DemoUser</h4>
                                            <h6>30.03.19</h6>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <h5><span class="green"></span> Confirmed</h5>
                                            <h4>DemoUser</h4>
                                            <h6>30.03.19</h6>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <h5><span class="green"></span> Confirmed</h5>
                                            <h4>DemoUser</h4>
                                            <h6>30.03.19</h6>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <h5><span class="green"></span> Confirmed</h5>
                                            <h4>DemoUser</h4>
                                            <h6>30.03.19</h6>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <h5><span class="green"></span> Confirmed</h5>
                                            <h4>DemoUser</h4>
                                            <h6>30.03.19</h6>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="breadCrumb">
                            <ul>
                                <li><a href="dashboard.html">Home</a></li>
                                <li><a href="#">Wellness Analytics</a></li>
                                <li><span>Questions</span></li>
                            </ul>
                        </div>
                        <div class="profileOuter">
                            <div class="profileInner">
                                <div class="questionOuter">
                                    <div class="resultChartOuter">
                                        <img src="assets/images/pie_chart.png">
                                    </div>
                                    <p>Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <div class="submitOuter">
                                        <a href="javsscript:void(0)" [routerLink]="['/questionnaire/question']" class="detailBtn">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>