<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
        <app-has-appointment></app-has-appointment>
        <div class="breadCrumb">
            <ul>
                <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
                <li><span>Sheet Result list</span></li>
            </ul>
        </div>
        <div class="profileOuter">
            <div class="profileInner">
              <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                  <div class="input-field">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="profileInner">
                <div class="table-responsive">
                  <table class="table userListOuter">
                    <tr>
	                    <th>
	                        <h5 class="t-txt">Sl No.</h5>
	                    </th>
                        <th>
                           <h5 class="t-txt">Name</h5>
                        </th>
                        <th>
                           <h5 class="t-txt">Sheet name</h5>
                        </th>
                        <th>
                           <h5 class="t-txt">Total point</h5>
                        </th>
                        <th>
                           <h5 class="t-txt">Attend Date</h5>
                        </th>
                        <th>
                           <h5 class="t-txt">Status</h5>
                        </th>
                        <th>
                           <h5 class="t-txt">Action</h5>
                        </th>
                    </tr>
                    <ng-container *ngFor="let sheetresult of adhocsheetresults ; index as i;">
	                    <tr>
                        <td>
                          <label>
                            <span>{{i+1}}</span>
                          </label>
                        </td>
                        <td>
                            <p>{{sheetresult.user_name}}</p>
                        </td>
                        <td>
                            <p>{{sheetresult.sheet_name}}</p>
                        </td>
                        <td>
                            <p>{{sheetresult.total_point}}</p>
                        </td>
                        <td>
                        	<p>{{sheetresult.attend_date}}</p>
                        </td>
                        <td>
                        	<p>{{sheetresult.is_completed==1 ? 'Attend':'Not Attend'}}</p>
                        </td>
                        <td>
                        	<p>
                        		<a href="javascript:void(0)" [routerLink]="['/adhoc-quiz/sheet/result/details',sheetresult.id]" title="Result Details"><img src="assets/images/view.png"></a>
                        	</p>
	                    </td>
	                    </tr>
                	</ng-container>
                </table>
            </div>
        </div>
      </div>
      </div>
   	</div>
   	<!-- Footer Section Start -->
   	<app-footer></app-footer>
   	<!-- End -->
</section>