<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
         <app-has-appointment></app-has-appointment>
         <div class="breadCrumb">
            <ul>
               <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
               <li><span>Profile</span></li>
            </ul>
         </div>
         <div class="profileOuter">
           <!--  <h3 class="pageTitle">Personal Profile</h3> -->
            <div class="profileInner">
               <div class="infoView">
                  <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="row">
                           <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="editOuter">
                                 <a href="javascript:void(0)" routerLink="/edit-coach-profile"><img src="assets/images/edit.png"> Edit</a>
                                 <div class="manualBox1">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <button type="button">Prev</button>
                                    <button type="button">Next</button>
                                    <button type="button">Skip</button>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                              <div class="profilePic">
                                 <img src="{{user_detail.profile_picture ? user_detail.profile_picture :'assets/images/no-user.jpeg'}}">
                                 <input type="file" name="" id="picChange" (change)="onSelectFile($event)">
                                 <label for="picChange"><img src="assets/images/edit.png">Change</label>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                              <div class="contactInfo">
                                 <h4>{{user_detail? user_detail.firstname:''}} {{user_detail? user_detail.lastname:''}}</h4>
                                 <h5>{{user_detail? user_detail.gender_text:''}}</h5>
                                 <ul>
                                    <li><img src="assets/images/placeholder.png"> {{user_detail? user_detail.country_name:''}}</li>
                                    <li><img src="assets/images/calendar.png"> {{user_detail? user_detail.dob_date:''}}</li>
                                    <li><img src="assets/images/call.png"> {{user_detail? user_detail.mobile:''}} </li>
                                    <li><img src="assets/images/emailIcon1.png">{{user_data? user_data.email:''}}</li>
                                 </ul>
                              </div>
                           </div>
                           <div class="col-lg-5 col-md-6 col-sm-12 col-12">
                              <h4>Emergency Contact</h4>
                              <ul>
                                 <li><img src="assets/images/nameico.png"> {{user_data? user_detail.emergency_contact_name:''}}</li>
                                 
                                 <li><img src="assets/images/call.png"> {{user_detail? user_detail.emergency_contact_phone:''}}</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>