<!-- START DASHBOARD -->
<section class="dashboardSection">
    <div class="manualBox">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <button type="button">Prev</button>
        <button type="button">Next</button>
        <button type="button">Skip</button>
    </div>
    <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
    <div class="bodyContent">
        <div class="container-fluid">
            <app-has-appointment></app-has-appointment>
            <div class="breadCrumb">
                <ul>
                    <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
                    <li><span>Appointment</span></li>
                </ul>
            </div>
            <div class="profileOuter"> 
                <div class="row"> 
                    <div class="col-lg-12 col-md-12  col-sm-12 col-12">
                        <div class="profileInner">
			                <div class="editOuter">
			                    <a href="javascript:void(0)" [routerLink]="['/appointment/set']"><img src="assets/images/add.png">Add Slot</a>
			                </div>
			                <div class="recordOuter">
			                    <div class="recordRow recordHead">
			                       <div class="recordCol">
			                           <h5>Group</h5>
			                       </div>
			                       <div class="recordCol">
			                           <h5>Date</h5>
			                       </div>
			                       <div class="recordCol">
			                           <h5>Start Time</h5>
			                       </div>
			                       <div class="recordCol">
			                           <h5>End Time</h5>
			                       </div>
			                       <div class="recordCol">
			                           <h5>Slot Length</h5>
			                       </div>
			                       <div class="recordCol">
			                           <h5>Action</h5>
			                       </div>
			                    </div>
			                    <ng-container *ngFor="let slot of slots; index as i;">
				                    <div class="recordRow">
				                        <div class="recordCol">
				                            <p>{{slot.group.group_name}}</p>
				                        </div>
				                        <div class="recordCol">
				                            <p>{{slot.slot_date}}</p>
				                        </div>
				                        <div class="recordCol">
				                            <p>{{slot.open_time}}</p>
				                        </div>
				                        <div class="recordCol">
				                            <p>{{slot.end_time}}</p>
				                        </div>
				                        <div class="recordCol">
				                            <p *ngIf="slot.slot_length > 0">{{slot.slot_length}} min</p>
				                        </div>
				                        <div class="recordCol">
				                            <p><a href="javascript:void(0);" title="Delete"><img src="assets/images/delete.png" (click)="deleteSlot(slot.id, i)"></a></p>
				                        </div>
				                    </div>
			                	</ng-container>
			                </div>
			            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>
<!-- END DASHBOARD -->