<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
         <div class="breadCrumb">
            <ul>
               <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
               <li><span>{{title}}</span></li>
            </ul>
         </div>

          <div class="profileOuter">

            <div class="profileInner" *ngIf="param ==4">
            <form>
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                        <select  id="search1" style="display: inline;" [(ngModel)]="searchInput.by_month" [ngModelOptions]="{standalone: true}">
                            <option value="">By Month</option>
                            <option value="1">Jan</option>
                            <option value="2">Feb</option>
                            <option value="3">Mar</option>
                            <option value="4">Apr</option>
                            <option value="5">May</option>
                            <option value="6">Jun</option>
                            <option value="7">Jul</option>
                            <option value="8">Aug</option>
                            <option value="9">Sep</option>
                            <option value="10">Oct</option>
                            <option value="11">Nov</option>
                            <option value="12">Dec</option>
                          </select>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                        <select  id="search1" style="display: inline;" [(ngModel)]="searchInput.by_year" [ngModelOptions]="{standalone: true}">
                            <option value="">By Year</option>
                            <option value="{{current_year -1}}">{{current_year -1}}</option>
                            <option value="{{current_year}}">{{current_year}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="contentSearchOuter">
                        <button type="submit" class="detailBtn" (click)="searchData()">Search</button>
                    </div>
                </div>
            </div>
            </form>
            </div>

          	<div class="profileInner">
          		<div class="profilePart">
          			<div class="recordOuter corporate-det-table">
          				<div class="recordRow recordHead">
          					<div class="recordCol">
                      <h5>Name</h5>
                  	</div>
                    <div class="recordCol">
                        <h5>Email</h5>
                    </div>
                  	<div class="recordCol">
                     		<h5>Location</h5>
                  	</div>
                    <div class="recordCol">
                        <h5>Team</h5>
                    </div>
          				</div>
          				<ng-container *ngFor="let data of details">
          				<div class="recordRow">
          					<div class="recordCol">
          						<p>{{data.name}}</p>
          					</div>
                    <div class="recordCol">
                      <p>{{data.email}}</p>
                    </div>
          					<div class="recordCol">
          						<p>{{data.location}}</p>
          					</div>
                    <div class="recordCol">
                      <p>{{data.team}}</p>
                    </div>
          				</div>
          				</ng-container>
          			</div>
          		</div>

          	</div>
          </div>
      </div>
   </div>
   <app-footer></app-footer>
   <!-- End -->
</section>

