.checkboxOuter{
	position: relative;
}
.sub-modules{
	  position: absolute;
    background: #fff; 
    width: 205px;
    z-index: 12;
    box-shadow: 1px 1px 4px 1px #d6d6d6;
    height: 110px;
    overflow: auto;
    pointer-events: visible;
    padding: 15px;
    display: none;
} 
.checkboxOuter:hover > .sub-modules{
	display: block;
}
.sub-modules::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.sub-modules::-webkit-scrollbar-track {
  background: #ccc; 
  border-radius: 10px;
}
 
/* Handle */
.sub-modules::-webkit-scrollbar-thumb {
  background: #26a69a; 
  border-radius: 10px;
}