<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
    	<div class="breadCrumb">
            <ul>
                <li><a href="#">Home</a></li>
                <li><span>Group List</span></li>
            </ul>
        </div>
        <div class="profileInner">
          <form [formGroup]="SearchForm">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <input id="search1" type="text" class="validate" formControlName="sname">
                      <label for="search1">By Group Name</label>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <select id="search1" formControlName="coach" style="display: inline;">
                          <option value="">Health Coach</option>
                          <option value="{{coach.user_id}}" *ngFor="let coach of coaches;">{{coach.firstname}} {{coach.lastname}}</option>
                      </select>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="contentSearchOuter">
                        <button type="submit" class="detailBtn" (click)="searchGroup(0)">Search</button>
                    </div>
                </div>
            </div>
          </form>
        </div>
        <div class="profileInner">
            <div class="editOuter">
                <a href="javascript:void(0)" (click)="openGroupModalDialog('add',0)" class=" modal-trigger"><img src="assets/images/add.png"> Add Group</a>
            </div>
            <div class="table-responsive">
              <table class="table userListOuter">
                  <tr>
                      <th>
                          <h5>Sl No.</h5>
                      </th>
                      <th>
                          <h5>Group Image</h5>
                      </th>
                      <th>
                          <h5>Group Name</h5>
                      </th>
                      <th>
                          <h5>Primary Health Coach</h5>
                      </th>
                      <th>
                          <h5>Actions</h5>
                      </th>
                  </tr>
                  <ng-container *ngFor="let group of groups; index as i;">
                  <tr>
                      <td>
                          <p>{{i+1}}</p>
                      </td>
                      <td>
                          <img src="{{group.group_picture}}" *ngIf="group.group_picture" alt="{{group.group_name}}" style="width: 30%;">
                          <img src="assets/images/placeholder-image.jpeg" *ngIf="!group.group_picture" alt="{{group.group_name}}" style="width: 30%;">
                      </td>
                      <td>
                          <p>{{group.group_name}}</p>
                      </td>
                      <td>
                          <p>{{group.health_coach.firstname}} {{group.health_coach.lastname}}</p>
                      </td>
                      <td>
                          <a href="javascript:void(0)" (click)="openGroupModalDialog('edit',group.id)" title="Edit" class="modal-trigger"><img src="assets/images/edit.png"></a>
                          <a href="javascript:void(0)" [routerLink]="['/admin/groups/hc-set/',group.id]"  title="Set Health Coach"><img src="assets/images/coach1.png"></a>
                      </td>
                  </tr>
                  </ng-container>
              </table>
            </div>
        </div>
        <div class="pagination" >
            <ul>
                <li *ngFor="let page_no of pagination(); index as i;"><a href="javascript:void(0)" [ngClass]="{'active': i== active_page}" (click)="paginationCall(i)">{{page_no}}</a></li>
            </ul>
        </div>     
      </div>
   </div>
   <app-footer></app-footer>
   <!-- End -->
</section>

<!-- New group add modal -->
<div class="modal generalModal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog">
    <div class="modal-content">  
         <!-- modal-header -->
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeGroupModalDialog()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form  [formGroup]="AddForm">
            <div class="input-field">
                <input id="fnameh" type="text" class="validate" formControlName="groupname">
                <label for="fnameh" [ngClass]="{'active':AddForm.get('groupname').value}">Group Name</label>
                <p class="errormsg" *ngIf="createGroupValidation && createGroupValidation.groupname">{{createGroupValidation.groupname[0]}}</p>
            </div>
            <div class="input-field">
                <input id="lnameh" type="text" class="validate" formControlName="description">
                <label for="lnameh" [ngClass]="{'active':AddForm.get('description').value}">Description</label>
                <p class="errormsg" *ngIf="createGroupValidation && createGroupValidation.description">{{createGroupValidation.description[0]}}</p>
            </div>
            <div class="file-field input-field">
                <div class="btn">
                    <span>Group Image</span>
                    <input type="file" formControlName="group_image" (change)="onSelectFile($event)">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <div class="input-field">
                <select id="search1" formControlName="health_coachid" style="display: inline;" *ngIf="!gid">
                    <option value="">Health Coach</option>
                    <option value="{{coach.user_id}}" *ngFor="let coach of coaches;">{{coach.firstname}} {{coach.lastname}}</option>
                </select>
                <p class="errormsg" *ngIf="createGroupValidation && createGroupValidation.health_coachid">{{createGroupValidation.health_coachid[0]}}</p>
            </div>
            <h5>permissions</h5>
            <div class="checkboxOuter" *ngFor="let permission of permissions; index as i;" style="width: 24%; display: inline-block;">
              <label>
                <input type="checkbox" class="filled-in" value="{{permission.id}}"  [(ngModel)]="permission.select" [ngModelOptions]="{standalone: true}">
                <span>{{permission.label}}</span>
              </label>
              <div class="sub-modules" *ngIf="permission.name=='questionnaire'">
                  <div class="checkboxOuter" *ngFor="let qssubmodule of qssubmodules; index as i;">
                    <label>
                      <input type="checkbox" class="filled-in" value="{{qssubmodule.ques_type}}" [(ngModel)]="qssubmodule.select" [ngModelOptions]="{standalone: true}">
                      <span>{{qssubmodule.full_name}}</span>
                    </label>
                  </div>
              </div>
            </div>
            <br>
            <div class="submitOuter">
                <button type="submit" class="detailBtn" (click)="CreateGroup()" *ngIf="!gid">Submit</button>

                <button type="submit" class="detailBtn" (click)="updateGroup()" *ngIf="gid">Update</button>
            </div>
        </form>
    </div>
    </div>
  </div>
</div>
<!--End new user add modal-->
<div class="modalend" [ngClass]="{'modal-overlay':isModalOpen}"></div>