<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
        <app-has-appointment></app-has-appointment>
        <div class="breadCrumb">
            <ul>
               <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
               <li><span>Mail Inbox</span></li>
            </ul>
        </div>
	    <div class="profileOuter">
	    	<!--  <h3 class="pageTitle">Personal Profile</h3> -->
        <div class="row" *ngIf="user_role.slug=='admin'">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="profileInner seeMember">
               <a href="javascript:void(0)" (click)="seeGroupMem =!seeGroupMem" [ngClass]="{'expand':seeGroupMem}">Select the group</a>
               
               <ul [ngStyle]="{'display':(seeGroupMem)? 'block':'none'}">
                  <li>
                  <select style="display: inline;" [(ngModel)]="groupModel" (ngModelChange)="getGroupWiseData($event)">
                   <option value="">Select Group</option>
                   <option *ngFor="let group of groupList;" value="{{group.id}}">{{group.group_name}}</option>
                  </select>
                  </li>
                  <li *ngIf="memberList.length > 0">
                    <div class="input-field searchOuter">
                      <input id="smailmembr" type="text" class="" [(ngModel)]="search_member_model">
                      <label for="smailmembr" class="">Search Member</label>
                      <button><img src="assets/images/search1.png"></button>
                    </div>
                  </li>
                  <ng-container *ngFor="let member of memberList | groupSearch:'name,email': search_member_model; index as i;">
                  <li>
                    <a href="javascript:void(0)" class="memberinfo" (click)="openMailcompsDialog(member.id,member.email)">
                     <span class="memberImg">
                      <img src="assets/images/dummy.jpg" *ngIf="member.profile_picture==''">
                      <img src="{{member.profile_picture}}" *ngIf="member.profile_picture!=''">
                    </span>
                     <span class="memberName">{{member.name}}</span>
                    </a>
                  </li>
                  </ng-container>
               </ul>
            </div>
          </div>
          
        </div>

	    	<div class="row">
          <div class="col-lg-2 offset-lg-0 col-md-12  offset-md-0 col-sm-6  offset-sm-3 col-12">
            <app-mail-sidenav></app-mail-sidenav>
          </div>
          <div class="col-lg-10 col-md-12  col-sm-12 col-12">
            <div class="profileInner mailprofileinner">
                  <div class="input-field searchOuter">
                      <input id="smail" type="text" class="" [(ngModel)]="search_model">
                      <label for="smail" class="">Search mail</label>
                      <button><img src="assets/images/search1.png"></button>
                  </div>
                  <!-- <div class="col-lg-1 col-md-2 col-sm-2 col-2"> -->
                    <div class="profileInner mailreset">
                      <a href="javascript:void(0)" (click)="resetchart($event)" class="resetIcon"><img src="assets/images/reset.png" alt="Reset" title="Reset"></a>
                    </div>
                  <!-- </div> -->
               <div class="mail_panel clear">
                <div class="maillist">
                  <ul>
                    <ng-container *ngFor="let inboxmail of inboxmails | search:'message_subject,firstname,lastname,message_received_name': search_model; index as i;">
                    <li [ngClass]="{'unread_mail':inboxmail.is_read_to ==0}">
                      <a href="javascript:void(0)" (click)="getMailData(inboxmail.id, inboxmail)" [ngClass]="{'mail-active':active_mail ==i}">
                        <span class="img">
                        <img src="assets/{{inboxmail.message_sent.avatarimage}}" alt="avatar"/>
                        </span>
                        <div class="text">
                          <span class="name">{{inboxmail.message_sent.firstname}}
                          {{inboxmail.message_sent.lastname}} <span *ngIf="inboxmail.child.length > 0">, {{inboxmail.message_received.firstname}}</span></span>
                          <span class="sub">{{inboxmail.message_subject}}</span> 
                          <span *ngIf="inboxmail.child_to_unread" class="unread_count">{{inboxmail.child_to_unread}}</span>
                        </div>
                        <span class="date">{{inboxmail.updated_date}}
                          <br>
                        {{inboxmail.updated_time}}</span>
                        <!--<span *ngIf="inboxmail.is_read_to ==0">Unread</span>-->
                      </a>
                    </li>
                    </ng-container>
                  </ul>
                </div>
                <div class="maildetails">
                  <!-- <div class="appicondiv">
                      <span class="img"><img src="assets/images/inboxapp.png" alt="inboxapp"/></span>
                      <span class="text">inbox app</span>
                  </div> -->
                  <div class="maildetailstop">
                      <ul>
                          <li><a href="javascript:void(0)" (click)="openReplyModal()"><img src="assets/images/reply1.png" alt="reply"/>reply</a></li>
                      </ul>
                  </div>
                  <ng-container *ngIf="child_data && child_data.length" >
                  <ng-container *ngFor="let child of child_data">
                  <div class="maildetailsbottom">
                    <div class="mailheading">
                        <span class="img"><img src="{{'assets/' + child.message_recieved_avtar}}" alt="dummy"/></span>
                        <div class="text">
                            <span class="name">To : {{child.message_recieved_name}}</span>
                            <span class="date">{{child.updated_at | date: 'MMM d, yyyy'}}</span>
                            <span class="name">From : {{child.message_sender_name}} </span>
                        </div>
                    </div>
                    <div [innerHTML]="updateStyle(child ? child.message:'')"></div>
                    <div class="mail-attachment" *ngIf="child.attach_file">
                      <a href="http://wocdev.s3-eu-west-1.amazonaws.com/userfile/community-board/{{child.attach_file}}" target="_blank" download><img src="assets/images/document-clip.png"></a>
                    </div>
                  </div><hr/>
                  </ng-container>
                  </ng-container>
                  <div class="maildetailsbottom" *ngIf="main_data">
                    <div class="mailheading">
                        <span class="img"><img src="{{main_data ?'assets/' + main_data.message_sent.avatarimage:''}}" alt="dummy"/></span>
                        <div class="text">
                            <span class="name" *ngIf="main_data &&  main_data.message_received">To : {{main_data && main_data.message_received? main_data.message_received.firstname + ' ' + main_data.message_received.lastname: ''}}</span>
                            <span class="date">{{main_data ? main_data.updated_date:''}}</span>
                            <span class="name" *ngIf="main_data &&  main_data.message_sent">From : {{main_data? main_data.message_sent.firstname + ' ' + main_data.message_sent.lastname: ''}}</span>
                        </div>
                    </div>
                    <h3 class="mailsubject">{{main_data ? main_data.message_subject: ''}}</h3>
                    <div [innerHTML]="updateStyle(main_data ? main_data.message:'')"></div>
                    <div class="mail-attachment" *ngIf="main_data.attach_file">
                      <a href="{{main_data.attach_file}}" target="_blank" download><img src="assets/images/document-clip.png"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
	    </div>
      </div>
   	</div>
   	<!-- Footer Section Start -->
   	<app-footer></app-footer>
   	<!-- End -->
</section>

<!-- modal reply -->
<div class="modal generalModal" tabindex="-1" role="dialog"  [ngStyle]="{'display':replydisplay}">
  <div class="modal-dialog">
    <div class="modal-content">  
         <!-- modal-header -->
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeReplyModal()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="mailreplyForm">
            <input type="hidden" formControlName="parentid">
            <div class="form-group form-groupsend">
                <div [ngxSummernote] formControlName="mailbody"></div>
            </div>
            <h6>Attach File</h6>
            <div class="form-group form-groupsend">
                <input type="file"  id="replyfile" formControlName="attachfile" (change)="onFileSelected($event)">
            </div>
            <div class="form-group">
                <button type="submit" class="detailBtn" (click)="mailReply()">Send</button>
            </div>
        </form>
    </div>
    </div>
  </div>
</div>
<!-- <div class="modalend" [ngClass]="{'modal-overlay':isModalOpen}"></div> -->


<!-- modal -->
<div class="modal generalModal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog">
    <div class="modal-content">  
       <!-- modal-header -->
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeMailcompsDialog()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="composeForm">
            <input type="hidden" formControlName="mailemail" placeholder="Email"/>
            <input type="hidden" formControlName="mailusrid">
            <div class="form-group">
                <input type="text" formControlName="mailsubject" placeholder="Subject"/>
            </div>
            <div class="form-group form-groupsend">
                <div [ngxSummernote] formControlName="mailbody"></div>
            </div>
            <h6>Attach File</h6>
            <div class="form-group form-groupsend">
                <input type="file"  id="replyfile" formControlName="attachfile" (change)="onCompsFileSelected($event)">
            </div>
            
            <div class="form-group">
                <button type="submit" class="detailBtn" (click)="mailStore()">Send</button>
            </div>
        </form>
    </div>
    </div>
  </div>
</div>
<div class="modalend" [ngClass]="{'modal-overlay':isModalOpen}"></div>