<section class="dashboardSection">
   <div class="manualBox">
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">

         <div class="breadCrumb">
             <ul>
                 <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Dashboard</a></li>
                 <li><span>Explainer Video</span></li>
             </ul>
         </div>
         <div class="profileOuter">
            <div class="profileInner">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                  <div class="profilePart">
                    <h4>1. Set up your profile</h4>
                    <div class="videoOuter">
                      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Mef3uKIew8E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                  <div class="profilePart">
                    <h4>2. Health Assessment Guide</h4>
                    <div class="videoOuter">
                      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Y6OpLp31nBs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                  <div class="profilePart">
                    <h4>3. Interact with your Health Coach</h4>
                    <div class="videoOuter">
                      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/VMXcP8_Ezm0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
         </div>
     </div>
   </div>
   <app-footer></app-footer>
   <!-- End -->
</section>