<div class="registrationContianer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                        <div class="loginlogoContainer">
                            <a href="javascript:void(0)"><img src="assets/images/login-logo.png" alt="logo"></a>
                        </div>
                    </div>
                </div>

                <!-- Corporate Registration Form-->
                <div class="row" *ngIf="isCorporate">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="corporateOuter">
                            <div class="textInfo">
                                <h5>Corporate Registration</h5>
                                <p>Hello and welcome to Wind-of-Change application. This is the first step of your journey to total wellbeing.</p>
                                <p>Please take a few minutes to complete this form with basic company information. When you're done, WoC will send you a mail to ensure access authentication. After you verify you will be able to add other staff members to WoC application.</p>
                                <p>For your convenience, we have a template there with preformatted example. Just download the excel sheet, replace our examples with correct names and email addresses and upload back in the system. Your colleagues then will get individual messages and they will be able to create their own accounts from there.</p>
                            </div>
                            <div class="corregistrationForm">
                                <form [formGroup]="corporateRegistrationForm">
                                <div class="corregistrationPart">
                                    <h4>Organisation</h4>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field" [ngClass]="{'error':(submitted && cp_f.firstname.errors) || (cp_f.firstname.touched && cp_f.firstname.errors)}">
                                              <input id="oname" type="text" class="validate" formControlName="firstname">
                                              <label for="oname">Organisation Name</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field" [ngClass]="{'error':(submitted && cp_f.city.errors) || (cp_f.city.touched && cp_f.city.errors)}">
                                              <input id="ocity" type="text" class="validate" formControlName="city">
                                              <label for="ocity">Organisation City</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field" [ngClass]="{'error':(submitted && cp_f.state.errors)|| (cp_f.state.touched && cp_f.state.errors) }">
                                              <input id="ostate" type="text" class="validate" formControlName="state">
                                              <label for="ostate">Organisation State</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field" [ngClass]="{'error':(submitted && cp_f.zipcode.errors)|| (cp_f.zipcode.touched && cp_f.zipcode.errors) }">
                                              <input id="ozip" type="text" class="validate" formControlName="zipcode">
                                              <label for="ozip">Organisation Postalcode</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="input-field" [ngClass]="{'error':(submitted && cp_f.address.errors) || (cp_f.address.touched && cp_f.address.errors)}">
                                              <input id="oaddress" type="text" class="validate" formControlName="address">
                                              <label for="oaddress">Organisation Address</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="corregistrationPart">
                                    <h4>Primary Contact Details</h4>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field error" [ngClass]="{'error':(submitted && cp_f.primary_cname.errors) || (cp_f.primary_cname.touched && cp_f.primary_cname.errors)}">

                                              <input id="pname" type="text" class="validate" formControlName="primary_cname" autocomplete="off">
                                              <label for="pname">Name</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field" [ngClass]="{'error':(submitted && cp_f.primary_cdesignation.errors) || (cp_f.primary_cdesignation.touched && cp_f.primary_cdesignation.errors)}">
                                              <input id="pdesig" type="text" class="validate" formControlName="primary_cdesignation" autocomplete="off">
                                              <label for="pdesig">Designation</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field" [ngClass]="{'error':(submitted && cp_f.primary_cemail.errors)|| (cp_f.primary_cemail.touched && cp_f.primary_cemail.errors)}">
                                              <input id="pemail" type="email" class="validate" formControlName="primary_cemail" autocomplete="off">
                                              <label for="pemail">Email</label>
                                              <div *ngIf="(cp_f.primary_cemail.touched || submitted) && cp_f.primary_cemail.errors">
                                                  <p *ngIf="cp_f.primary_cemail.errors.email" class="errormsg">Please enter valid email</p>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                        <div class="input-field">
                                          <select class="validate" formControlName="primary_countrycode" style="display: block;">
                                            <option value="+353" selected>+353</option>
                                            <option value="+91">+91</option>
                                          </select>
                                        </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                            <div class="input-field" [ngClass]="{'error':(submitted && cp_f.primary_cphone.errors)|| (cp_f.primary_cphone.touched && cp_f.primary_cphone.errors)}">

                                              <input id="pphone" type="text" class="validate" formControlName="primary_cphone" autocomplete="off">
                                              <label for="pphone">Phone</label>
                                              <div *ngIf="(cp_f.primary_cphone.touched || submitted) && cp_f.primary_cphone.errors">
                                                  <p *ngIf="cp_f.primary_cphone.errors.pattern" class="errormsg">Please enter valid phone number</p>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="corregistrationPart">
                                    <h4>Additional Contact Details</h4>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <input id="aname" type="text" class="validate" formControlName="adtnl_name" autocomplete="off">
                                              <label for="aname">Name</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <input id="adesig" type="text" class="validate" formControlName="adtnl_cdesignation" autocomplete="off">
                                              <label for="adesig">Designation</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field" [ngClass]="{'error':(submitted && cp_f.adtnl_cemail.errors) || (cp_f.adtnl_cemail.touched && cp_f.adtnl_cemail.errors)}">
                                              <input id="aemail" type="email" class="validate" formControlName="adtnl_cemail" autocomplete="off">
                                              <label for="aemail">Email</label>
                                              <div *ngIf="(cp_f.adtnl_cemail.touched || submitted) && cp_f.adtnl_cemail.errors">
                                                  <p *ngIf="cp_f.adtnl_cemail.errors.email" class="errormsg">Please enter valid email</p>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field" [ngClass]="{'error':(submitted && cp_f.adtnl_cphone.errors)|| (cp_f.adtnl_cphone.touched && cp_f.adtnl_cphone.errors)}">
                                              <input id="aphone" type="text" class="validate" formControlName="adtnl_cphone" autocomplete="off">
                                              <label for="aphone">Phone</label>
                                              <div *ngIf="(cp_f.adtnl_cphone.touched || submitted) && cp_f.adtnl_cphone.errors">
                                                  <p *ngIf="cp_f.adtnl_cphone.errors.pattern" class="errormsg">Please enter valid phone number</p>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="corregistrationPart">
                                    <h4>Login Details</h4>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field" [ngClass]="{'error':submitted && cp_f.user_name.errors}">
                                              <input id="uname" type="text" class="validate" formControlName="user_name" autocomplete="off">
                                              <label for="uname">Username</label>
                                              <div *ngIf="validationError && validationError.user_name">
                                                  <p class="errormsg">{{validationError.user_name[0]}}</p>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field" [ngClass]="{'error':(submitted && cp_f.email.errors) || (cp_f.email.touched && cp_f.email.errors)}">
                                              <input id="lemail" type="email" class="validate" formControlName="email" autocomplete="off">
                                              <label for="lemail">Email</label>
                                              <div *ngIf="(cp_f.email.touched || submitted) && cp_f.email.errors">
                                                  <p *ngIf="cp_f.email.errors.email" class="errormsg">Please enter valid email</p>
                                              </div>
                                              <div *ngIf="validationError && validationError.email">
                                                  <p class="errormsg">{{validationError.email[0]}}</p>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field" [ngClass]="{'error':(submitted && cp_f.password.errors) || (cp_f.password.touched && cp_f.password.errors)}">
                                              <input id="pass" type="password" class="validate" formControlName="password" autocomplete="new-password">
                                              <label for="pass">Password</label>
                                              <div *ngIf="(cp_f.password.touched || submitted) && cp_f.password.errors">
                                                  <p *ngIf="cp_f.password.errors.minlength" class="errormsg">Password minimum length should be 6 character</p>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field" [ngClass]="{'error':(submitted && cp_f.conf_password.errors) || (cp_f.conf_password.touched && cp_f.conf_password.errors)}">
                                              <input id="cpass" type="password" class="validate" formControlName="conf_password">
                                              <label for="cpass">Confirm Password</label>
                                              <div *ngIf="(cp_f.conf_password.touched || submitted) && cp_f.conf_password.errors">
                                                  <p *ngIf="cp_f.conf_password.errors.error" class="errormsg">Confirmation password does not matched</p>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="termsuse">
                                            <label>
                                                <input type="checkbox" name="" class="filled-in" formControlName="policy">
                                                <span>I have read and I agree to the <a href="javascript:void(0)" (click)="open(tccontent)">Terms of Use</a> and <a href="javascript:void(0)" (click)="open(ppcontent)">Privacy Policy.</a></span>
                                            </label>
                                            <p class="errormsg" *ngIf="(submitted && cp_f.policy.errors) || ((cp_f.policy.touched || cp_f.policy.dirty))">
                                            <span *ngIf="(cp_f.policy.errors && cp_f.policy.errors.required) || !termCondAgree">Please check on Terms of Use and Privacy Policy.</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">                            
                                        <div class="submitOuter">
                                            <button type="submit" (click)="registrationStore()">Submit</button>
                                        </div>                                
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End -->

                <!-- Employee Registration Form-->
                <div class="row" *ngIf="!isCorporate">
                      <div class="col-lg-5 col-md-4 col-sm-12 col-12">
                        <p class="instructionInfo">This email will be used for all communications <br/> between you and WaaS. We recommend you use your <br/> personal email address instead of company email.</p>
                      </div>
                      <div class="col-lg-7 col-md-8 col-sm-12 col-12">
                        <div class="registrationForm">
                            <h4>Registration Form</h4>
                            <form [formGroup]="employeeRegisterForm">
                            <div class="input-field" [ngClass]="{'error':(submitted && e_f.firstname.errors) || (e_f.firstname.touched && e_f.firstname.errors)}">
                              <input type="text" formControlName="firstname" class="validate"  autocomplete="off" id="fname">
                              <label for="fname">First Name</label>
                            </div>
                            <div class="input-field" [ngClass]="{'error':(submitted && e_f.lastname.errors) || (e_f.lastname.touched && e_f.lastname.errors)}">
                              <input type="text" formControlName="lastname" class="validate"  autocomplete="off" id="lname">
                              <label for="lname">Last Name</label>
                            </div>
                            <div class="input-field" [ngClass]="{'error':(submitted && e_f.email.errors) || (e_f.email.touched && e_f.email.errors)}">
                              <input id="email" type="email" formControlName="email" class="validate umemail"  autocomplete="off">
                              <label for="email">Email Address <a href="javascript:void(0)" class=" tooltipped" data-position="right" data-html="true" data-tooltip="This email will be used for all communications <br/> between you and WaaS. We recommend you use your <br/> personal email address  instead of company email."><i class="material-icons">info</i></a></label>
                              <div *ngIf="(e_f.email.touched || submitted) && e_f.email.errors">
                                <p *ngIf="e_f.email.errors.email" class="errormsg">Please enter valid email</p>
                              </div>
                            </div>
                            <div class="input-field" [ngClass]="{'error':(submitted && e_f.password.errors) || (e_f.password.touched && e_f.password.errors)}">
                              <input id="pass" type="password" formControlName="password" class="validate"  autocomplete="off">
                              <label for="pass">Password</label>
                              <div *ngIf="(e_f.password.touched || submitted) && e_f.password.errors">
                                <p *ngIf="e_f.password.errors.minlength" class="errormsg">Password minimum length should be 6 character</p>
                              </div>
                            </div>
                            <div class="input-field" [ngClass]="{'error':(submitted && e_f.conf_password.errors) || (e_f.conf_password.touched && e_f.conf_password.errors)}">
                              <input id="pass1" type="password" formControlName="conf_password" class="validate"  autocomplete="off">
                              <label for="pass1">Confirm Password</label>
                              <div *ngIf="(e_f.conf_password.touched || submitted) && e_f.conf_password.errors">
                                <p *ngIf="e_f.conf_password.errors.error" class="errormsg">Confirmation password does not matched</p>
                              </div>
                            </div>
                            <div class="radioOuter">
                                <h6>Gender</h6>
                                <label>
                                    <input type="radio" value="1" formControlName="gender">
                                    <span>Male</span>
                                </label>
                                <label>
                                    <input type="radio" value="2" formControlName="gender">
                                    <span>Female</span>
                                </label>
                                <label>
                                    <input type="radio" value="3" formControlName="gender">
                                    <span>Others</span>
                                </label>
                                <div *ngIf="(e_f.gender.touched || submitted) && e_f.gender.errors">
                                <p *ngIf="e_f.gender.errors.required" class="errormsg">Gender select required</p>
                                </div>
                            </div>
                            <div class="radioOuter">
                                <h6>Country</h6>
                                <label>
                                    <input type="radio" value="IN" formControlName="country">
                                    <span>India</span>
                                </label>
                                <label>
                                    <input type="radio" value="IE" formControlName="country">
                                    <span>Ireland</span>
                                </label>
                                <div *ngIf="(e_f.country.touched || submitted) && e_f.country.errors">
                                <p *ngIf="e_f.country.errors.required" class="errormsg">Country select required</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="termsuse">
                                        <label>
                                            <input type="checkbox" name="" formControlName="term_policy" class="filled-in">
                                            <span>I have read and I agree to the <a href="javascript:void(0)" (click)="open(tccontent)">Terms of Use</a> and <a href="javascript:void(0)" (click)="open(ppcontent)">Privacy Policy.</a></span>
                                        </label>
                                       <p class="errormsg" *ngIf="(submitted && e_f.term_policy.errors) || ((e_f.term_policy.touched || e_f.term_policy.dirty))">
                                            <span *ngIf="(e_f.term_policy.errors && e_f.term_policy.errors.required) || !termCondAgree">Please check on Terms of Use and Privacy Policy.</span>
                                            </p>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">                            
                                    <div class="submitOuter">
                                        <button type="submit" (click)="registrationStore()">Register</button>
                                    </div>                                
                                </div>
                            </div>
                            <div class="otherSection">
                                <h5>Already Have An Account?<a href="javascript:void(0)" routerLink="/login">Login</a></h5>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End -->
            </div>
            <app-footer></app-footer>
            <!---Start Terms & Conditions--> 
            <ng-template #tccontent let-modal>
              <div class="modal-header">
                <h4 class="modal-title">Terms and Conditions of Use</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Welcome to Wind-of-Change Total Wellbeing Solutions Ltd (WOC). Please read this Terms and Conditions of Use; by using this service, you acknowledge that you have read the terms and conditions of use and that you accept the terms of this agreement. YOU AGREE TO READ THESE TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING WOC WEB SITE. If you do not agree to these terms and conditions of use, you may not access or otherwise use this WOC Web Site and should use your browser's "back" button to exit the WOC Web Site.</p>
                <p>The Web is an evolving medium; we may change the terms of this agreement from time to time. By continuing to use the service after we post any such changes, you accept this agreement, as modified.</p>
                <p>WOC respects the privacy of our users. Please take a few minutes to review our Privacy Policy.</p>
                <p>We invite you to send in your questions or comments about WOC, or to bring to our attention any material you believe to be inaccurate.</p>
                <p>If you are an owner of intellectual property who believes your intellectual property has been improperly posted or distributed via one of our Web sites, please notify us by sending a notice by Mail to WOC at its registered address.</p>
                <p>The material that appears on WOC is for informational purposes only. Despite our efforts to provide useful and accurate information, errors may appear from time to time. Before you act on information you've found on our site, you should confirm any facts that are important to your decision. WOC is not responsible for, and cannot guarantee the performance of, any products provided by the sites we may link. A link to another Web site does not constitute an endorsement of that site (nor of any product, service or other material offered on that site) by WOC.</p>
                <p>We may change, suspend or discontinue any aspect of the WOC at any time, including the availability of any Web Site feature, database or content. WOC may also impose limits on certain features and services or restrict your access to parts or all of WOC Web Site without notice or liability. We reserve the right to make changes, corrections, and improvements to the WOC and to the products and programs described in there, at any time without notice.</p>
                <p>You represent, warrant and covenant that; (a) you shall not upload, post or transmit to or distribute or otherwise publish through the WOC any materials which (i) restrict or inhibit any other user from using and enjoying the WOC, (ii) are unlawful, threatening, abusive, libellous, defamatory, obscene, vulgar, offensive, pornographic, profane, sexually explicit or indecent, (iii) constitute or encourage conduct that would constitute a criminal offense, give rise to civil liability or otherwise violate law, (iv) violate, plagiarize or infringe the rights of third parties including, without limitation, copyright, trademark, patent, rights of privacy or publicity or any other proprietary right, (v) contain a virus or other harmful component, (vi) contain any information, software or other material of a commercial nature, (vii) contain advertising of any kind, or (viii) constitute or contain false or misleading indications of origin or statements of fact; and (b) that you are at least eighteen (18) years old.</p>
                <p>The WOC Web Site may contain inaccuracies or typographical errors or omissions. We regret any such errors, but will not be bound by any such errors. We do not represent or endorse the accuracy or reliability of any advice, opinion, statement, or other information displayed or distributed through the WOC Web Site. You acknowledge that any reliance upon any such opinion, advice, statement, memorandum, or information shall be at your sole risk. We reserve the right, in our sole discretion, to correct any errors or omissions in any portion of the WOC Web Site.</p>
                <p>The staff of WOC does its best to ensure that information we post to this site is both timely and accurate. But the health (and related information) changes over time and research that was accurate when posted may be superseded by more recent research. Though we may post follow-up research and may continue to provide access to the original report, as in an archive of Healthy Foods News, for example, we don't go back and change the original report to reflect new developments. If you're looking for the most recent information on a given subject, and not the history of how the story unfolded, be sure you're not looking at an out of date report.</p>
                <p>To obtain access to certain services on our site, you may be given an opportunity to register with WOC. As part of any such registration process, you will select a user name and a password. You agree that the information you supply during that registration process will be accurate and complete and that you will not register under the name of, nor attempt to enter the service under the name of, another person. WOC reserves the right to reject or terminate any user name that, in its judgment, it deems offensive. You will be responsible for preserving the confidentiality of your password and will notify WOC of any known or suspected unauthorized use of your account. As part of the registration process, you agree to our Terms of Use and Privacy Policy. Please review them both carefully.</p>
                <p>By posting messages, uploading files, inputting data or engaging in any other form of communication (individually or collectively "Communications") to the WOC Web Site, you hereby grant to WOC irrevocable, unrestricted, non-exclusive, royalty free license to use, copy, license, sublicense, adapt, distribute, display, publicly perform, reproduce, transmit, modify, edit and otherwise exploit such Communications, in an media now known or hereafter developed. You hereby waive all rights to any claim against WOC for any alleged or actual infringements of any proprietary rights, rights of privacy and publicity, moral rights, and rights of attribution in connection with such Communications. You also agree to indemnify and hold WOC harmless against any claims or costs, including attorneys&rsquo; fees, arising from the use or distribution of those materials. You further grant WOC the right to use your name in connection with the reproduction or distribution of such material.</p>
                <p>We do not accept unsolicited materials or ideas for use or publication in WOC's magazines, books, the WOC Web Site, or other digital and electronic media (except in connection with forums, chat rooms, and bulletin boards on the WOC Web Site). WOC shall not be responsible for the similarity of any of its content or programming in any media to materials or ideas transmitted to the WOC Web Site.</p>
                <p>You acknowledge that transmissions to and from this WOC Web Site are not confidential and your Communications may be read or intercepted by others. You acknowledge that by submitting Communications to WOC, no confidential, fiduciary, contractually implied or other relationship is created between you and WHF other than pursuant to this Agreement.</p>
                <p>THIS AGREEMENT SHALL BE GOVERNED BY AND CONSTRUED IN ACCORDANCE WITH THE LAWS OF THE REPUBLIC OF IRELAND, WITHOUT REGARD TO CONFLICTS OF LAWS PROVISIONS. SOLE AND EXCLUSIVE JURISDICTION FOR ANY ACTION OR PROCEEDING ARISING OUT OF OR RELATED TO THIS AGREEMENT SHALL BE AN APPROPRIATE STATE OR FEDERAL COURT LOCATED IN THE STATE.</p>
                <p>Although we make WOC freely accessible, we don't intend to give up our rights, or anyone else's rights, to the materials appearing on the service. The materials available through WOC or its licensors, and are protected by copyright, trademark and other intellectual property laws. You are free to display and print for your personal, non-commercial use information you receive through WOC. But you may not otherwise reproduce any of the materials without the prior written consent of the owner. You may not distribute copies of materials found on WOC in any form (including by e-mail or other electronic means), without prior written permission from the owner. Of course, you're free to encourage others to access the information themselves on WOC and to tell them how to find it. Requests for permission to reproduce or distribute materials found on WOC should be sent to info@windofchange.ie or 55 Warren Avenue, Castleknock, Dublin, D15 RKV6, Ireland</p>
                <p>No Framing. Without the prior written permission of WOC, you may not frame any of the content of WOC or incorporate into another Web site or other service any intellectual property of WOC or any of their licensors. Requests for permission to frame our content may be sent to the Senior Content Producer, either by e-mail, or at the address above.</p>
                <p>Trademarks. We don't want anyone to be confused as to which materials and services are provided by WOC and which aren't. You may not use any trademark or service mark appearing on WOC without the prior written consent of the owner of the mark.</p>
                <p>Material provided on WOC like text, photo, graphic, audio and/or video material shall not be published, broadcast, rewritten for broadcast or publication or redistributed directly or indirectly in any medium. Neither these materials nor any portion of these materials may be stored in a computer except for personal and non-commercial use.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
              </div>
            </ng-template>
            <!---End Terms & Conditions-->

            <!---Start Terms & Conditions--> 
            <ng-template #ppcontent let-modal>
              <div class="modal-header">
                <h4 class="modal-title">Privacy Policy and Visitor Agreement</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              <p>Wind-of-Change Total Wellbeing Solutions Ltd. (WOC) respect the privacy of visitors to our site. Please read this Privacy Policy carefully so that you understand our privacy practices. Questions regarding privacy issues should be directed to WOC at&nbsp;<a href="mailto:info@windofchange.ie">info@windofchange.ie</a>&nbsp;or 55 Warren Avenue, Castleknock, Dublin, D15 RKV6, Ireland.</p>
              <p>Children should always get permission from their parents before sending any information about themselves (such as their names, email addresses, and phone numbers) over the Internet, to us or to anyone else. We won't knowingly allow anyone under 13 to register with any of our sites or to provide any other personally identifying information.</p>
              <p>The information gathered by WOC falls into two categories: (1) information voluntarily supplied by visitors to our websites when they register or initiate transactions, and (2) tracking information gathered as visitors navigate through our sites. Third party providers featured on or linked to by our websites, such as vendors of products and services offered through our sites, may be gathering the same kinds of information.</p>
              <p>To make use of certain features on our websites (such as chat rooms and other interactive forums) visitors need to register and to provide certain information as part of the registration process. We may also ask for information from those who want more personalized services or conduct other transactions on our websites. (We may ask, for example, for your name, email address, gender, age, postal address or credit card number or any diseases you suffer). The information you supply will help us to offer you more personalized features, to tailor our sites to your interests and make them more useful to you, and to process e-commerce transactions.</p>
              <p>The more you tell us about yourself, the more value we can offer you. Supplying such information is entirely voluntary. But if you don't supply the information we need, we may be unable to provide you with services we make available to other visitors to our sites. For example, we can't offer you a personalized diet if you don't tell us about your demographics (age, gender, ethnic background, and disease problems). And we can't send you email alerting you to a new service we're offering, or breaking news that may interest you if you don't tell us what you're interested in and give us your email address.</p>
              <p>Of course, even if you want to remain completely anonymous, you're still free to take advantage of the wealth of content available on our sites without registration.</p>
              <p>To help make our sites more responsive to the needs of our visitors, we invoke a standard feature of browser software, called a "cookie," to assign each visitor a unique, random number, a sort of user ID, if you will, that resides on your computer. The cookie doesn't actually identify the visitor, just the computer that a visitor uses to access our site. Unless you voluntarily identify yourself (through registration, for example), we won't know who you are, even if we assign a cookie to your computer. The only personal information a cookie can contain is information you supply. A cookie can't read unrelated data off your hard drive.</p>
              <p>We use cookies to help us tailor our site to your needs, to deliver a better, more personalized service. It is a cookie, for example, that allows us to deliver your personalized content, even if you've been away for a while. In addition, we may use cookies to track the pages on our sites visited by our users. We can build a better site if we know which pages our users are visiting and how often. Of course, you can set your browser not to accept cookies, but if you do, you may not be able to take advantage of the personalized features enjoyed by other visitors to our sites.</p>
              <p>Our web servers automatically collect limited information about your computer's connection to the Internet, including your IP address, when you visit our sites. (Your IP address is a number that lets computers attached to the Internet know where to send you data -- such as the web pages you view). Your IP address does not identify you personally to us. We use this information to deliver our web pages to you upon request, to tailor our sites to the interests of our users, and to measure traffic within our sites.</p>
              <p>To make our sites more valuable to our visitors, we may offer some features in conjunction with other providers. We share with these third parties such information as is necessary to provide the products or services, but we do not sell or provide email addresses to any third parties that market unrelated products or services. And, of course, our sites may include, time to time, links to other websites, and provide access to products and services offered by third parties, whose privacy policies we don't control. When you access another website or purchase products or services or conduct other transactions through our websites, use of any information you provide is governed by the privacy policy of the operator of the site you're visiting or the provider of such products or services. And when you provide information in the course of obtaining products or services through one of our sites, use of any information you provide may be governed by the privacy policy of the provider of those products or services, even if it appears that you're on our website. The provider's privacy policy may differ from ours. If you can't find the privacy policy of any of our provider partners via a link either from the site's homepage or from the pages on which the products or services are offered, you should contact the provider directly for more information. All information gathered on any WOC website is stored within a WOC-controlled database. We also use encryption of data for security purposes. However, as effective as encryption technology is, no security system is impenetrable. We cannot guarantee the security of our database, nor can we guarantee that information you supply won't be intercepted while being transmitted to us over the Internet. And, of course, any information you include in a message you post to any chat room, forum or other public posting area is available to anyone with Internet access. If you don't want people to know your email address, for example, don't include it in any message you post publicly.</p>
              <p>We reserve the right to release information about our visitors when release is appropriate to comply with law, to enforce our Terms and Conditions of Use, or to protect the rights, property or safety of visitors to our sites, the public, or WHFoods.org.</p>
              <p>A final note: The Web is an evolving medium. If we need to change our privacy policy at some point in the future, we'll post the changes before they take effect. By visiting any of our sites, you agree that your visit, and any dispute over our privacy practices, is governed by this Privacy Policy and our Terms and Conditions of Use.</p>
              <h2>Disclaimer of Warranties and Liability</h2>
              <p>We work hard to make WOC an interesting, enjoyable and beneficial place, but we cannot guarantee that our users will always find everything to their liking. Please read this Disclaimer carefully before using WOC.</p>
              <p>YOU AGREE THAT YOUR USE OF THIS SERVICE IS AT YOUR SOLE RISK. BECAUSE OF THE NUMBER OF POSSIBLE SOURCES OF INFORMATION PROVIDED THROUGH THE SERVICE AND THE UNIQUE NATURE OF EACH PERSON'S HEALTH NEEDS, YOU MAY EXPERIENCE OMISSIONS, INACCURACIES, OR OTHER PROBLEMS WITH THE INFORMATION AND ADVICE PROVIDED. IF YOU RELY ON THIS SERVICE OR ANY MATERIAL AVAILABLE THROUGH THIS SERVICE, YOU DO SO AT YOUR OWN RISK. YOU UNDERSTAND THAT YOU ARE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR YOUR HEALTH THAT RESULTS FROM ANY MATERIAL AND/OR DATA DOWNLOADED FROM OR OTHERWISE PROVIDED THROUGH WOC.</p>
              <p>THE CONTENTS OF THE WOC, SUCH AS TEXT, GRAPHICS, IMAGES, RECIPE RECOMMENDATIONS, AND OTHER MATERIALS ARE FOR INFORMATIONAL PURPOSES ONLY. THE CONTENT IS NOT INTENDED TO BE A SUBSTITUTE FOR PROFESSIONAL HEALTHCARE ADVICE, DIAGNOSIS, OR TREATMENT. ALWAYS SEEK THE ADVICE OF A PHYSICIAN OR OTHER QUALIFIED HEALTH PROVIDER FOR ANY HEALTH PROBLEM OR MEDICAL CONDITION. NEVER DISREGARD PROFESSIONAL HEALTHCARE ADVICE OR DELAY SEEKING HELP BECAUSE OF SOMETHING YOU HAVE READ ON THIS SITE.</p>
              <p>THIS SERVICE IS PROVIDED TO YOU *AS IS,* *WITH ALL FAULTS,* AND *AS AVAILABLE.* WOC, THEIR AFFILIATES, AGENTS AND LICENSORS, CANNOT AND DO NOT WARRANT THE ACCURACY, COMPLETENESS, CURRENTNESS, NONINFRINGEMENT, OR APPROPRIATENESS FOR A PARTICULAR PURPOSE OF THE INFORMATION AVAILABLE THROUGH THE SERVICE. NOR DO THEY GUARANTEE THAT THE SERVICE WILL BE ERROR-FREE, OR CONTINUOUSLY AVAILABLE, OR THAT THE SERVICE WILL BE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.</p>
              <p>UNDER NO CIRCUMSTANCES SHALL WOC, THEIR AFFILIATES, AGENTS OR LICENSORS BE LIABLE TO YOU OR ANYONE ELSE FOR ANY DAMAGES ARISING OUT OF USE OF WOC, INCLUDING, WITHOUT LIMITATION, LIABILITY FOR CONSEQUENTIAL, SPECIAL, INCIDENTAL, INDIRECT, OR SIMILAR DAMAGES, EVEN IF WE ARE ADVISED BEFOREHAND OF THE POSSIBILITY OF SUCH DAMAGES. (BECAUSE SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF CERTAIN CATEGORIES OF DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IN SUCH STATES, THE LIABILITY OF WOC, THEIR AFFILIATES, AGENTS AND LICENSORS IS LIMITED TO THE FULLEST EXTENT PERMITTED BY SUCH STATE LAW). YOU AGREE THAT THE LIABILITY OF WOC, THEIR AFFILIATES, AGENTS AND LICENSORS, IF ANY, ARISING OUT OF ANY KIND OF LEGAL CLAIM IN ANY WAY CONNECTED TO THE SERVICE SHALL NOT EXCEED THE AMOUNT YOU PAID TO THE SERVICE FOR THE USE OF THE SERVICE.</p>
              <p>These Terms and Conditions of Use, together with the Privacy Policy and Policy for Chat Rooms and Forums, constitute the entire agreement between WOC, and you with respect to your use of the WOC Web Site. Any cause of action you may have with respect to your use of the WOC Web Site must be commenced within one (1) year after the claim or cause of action arises. If for any reason a court of competent jurisdiction finds any provision of the Agreement, or portion thereof, to be unenforceable, that provision shall be enforced to the maximum extent permissible so as to effect the intent of the Agreement and the remainder of this Agreement shall continue in full force and effect. WOC disclaim any and all responsibility for content contained in any third party materials provided through links from the WOC Internet site.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
              </div>
            </ng-template>
            <!---End Terms & Conditions-->
        </div>