<div class="footerLower">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-6 col-sm-6 col-xs-12">
            <p>© 2018 Wind of Change. <span>Developed by <a href="https://www.pixelsolutionz.com/" target="_blank">Pixel Solutionz</a></span></p>
         </div>
         <div class="col-md-6 col-sm-6 col-xs-12">
            <ul>
               <li><a href="javascript:void(0)" [routerLink]="['/term-conditions']">Terms of Use</a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
            </ul>
         </div>
      </div>
   </div>
</div>