<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
    	<div class="breadCrumb">
            <ul>
                <li><a href="javascript:void(0);" [routerLink]="['/dashboard']">Home</a></li>
                <li><span>Contest List</span></li>
            </ul>
        </div>
        <div class="profileInner">
            <!-- <h3>Search Target</h3> -->
        <form [formGroup]="targetSearchForm">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                        <select id="search1" formControlName="group" style="display: inline;">
                            <option value="">By Group</option>
                            <option value="{{group.id}}" *ngFor="let group of groups;">{{group.group_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                        <select  id="search1" formControlName="category" style="display:inline;">
                            <option value="">By Category</option>
                            <option value="{{categorie.id}}" *ngFor="let categorie of categories;">{{categorie.category_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <input id="search3" type="text" formControlName="title"  class="validate">
                      <label for="search3">By Target</label>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <input id="search4" type="text" formControlName="start_date" dateInput class="validate" format="Y-m-d"  mode="single">
                      <label for="search4">Form Date</label>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <input id="search5" type="text" formControlName="end_date" dateInput class="validate" format="Y-m-d"  mode="single">
                      <label for="search5">To Date</label>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="contentSearchOuter">
                        <button type="submit" class="detailBtn" (click)="searchTarget(0)">Search</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="profileInner">
            <div class="editOuter">
                <a href="javascript:void(0)" (click)="openSHCModalDialog()" class="modal-trigger"><img src="assets/images/add.png">Add
                    Secondary Health Coach</a>

                <a href="javascript:void(0)" [routerLink]="['/admin/group/contest/add']"><img src="assets/images/add.png"> Add New</a>
            </div>
            <div class="table-responsive">
                <table class="table userListOuter">
                    <tr>
                        <th>
                            <h5>                               
                                <label>
                                    <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" (change)="checkUncheckAll()"
                                        class="filled-in" />
                                    <span>Sl No.</span>
                                </label>
                            </h5>
                        </th>
                        <th>
                            <h5>Group Name</h5>
                        </th>
                        <th>
                            <h5>Contest Name</h5>
                        </th>
                        <th>
                            <h5>Contest Task</h5>
                        </th>
                        <th>
                            <h5>Activity Type</h5>
                        </th>
                        <th>
                            <h5>Category</h5>
                        </th>
                        <th>
                            <h5>Start Date</h5>
                        </th>
                        <th>
                            <h5>End Date</h5>
                        </th>
                        <th>
                            <h5>Action</h5>
                        </th>
                    </tr>
                    <ng-container *ngFor="let contest of contestes; index as i;">
                    <tr>
                        <td>
                           <p>
                            <label>
                                <input type="checkbox" [(ngModel)]="contest.isSelected" name="contest_id" value="{{contest.id}}" (change)="isAllSelected()"
                                    class="filled-in" />
                                <span>{{i+1}}</span>
                            </label>
                            </p>
                        </td>
                        <td>
                            <p>{{contest.group.group_name}}</p>
                        </td>
                        <td>
                            <p>{{contest.contest_name}}</p>
                        </td>
                        <td>
                            <p>{{contest.question}}</p>
                        </td>
                        <td>
                            <p>{{contest.activityname}}</p>
                        </td>
                        <td>
                            <p>{{contest.category.category_name}}</p>
                        </td>
                        <td>
                            <p>{{contest.start_date}}</p>
                        </td>
                        <td>
                            <p>{{contest.end_date}}</p>
                        </td>
                        <td>
                            <a href="javascript:void(0)" [routerLink]="['/admin/group/contest/edit',contest.id]" title="Edit">
                                <img src="assets/images/edit.png" *ngIf="contest.status==0">
                            </a>

                            <a href="javascript:void(0)"  title="Secondary Health Coach" *ngIf="contest.shc.length != 0 " (click)="showShc(contest.contest_name,contest.id,contest.shc)" >
                                <img src="assets/images/coach1.png" >
                            </a>

                            <div class="switch" *ngIf="contest.status==0">
                              <label title="Publish">
                                <input type="checkbox" [(ngModel)]="checkedModel[contest.id]" (ngModelChange)="changeStatus($event, contest.id, i, contest.status)" >
                                <span class="lever"></span>
                              </label>
                          </div>

                        </td>
                    </tr>
                    </ng-container>
                </table>
            </div>
            <div class="pagination" >
                <ul>
                    <li *ngFor="let page_no of pagination(); index as i;"><a href="javascript:void(0)" [ngClass]="{'active': i== active_page}" (click)="paginationCall(i)">{{page_no}}</a></li>
                </ul>
            </div>
        </div>     
      </div>
   </div>
   <app-footer></app-footer>

   <!-- End -->
</section>

<div class="modal addmeal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <a href="javascript:void(0)" class="modal-close" (click)="closeSHCModalDialog()"><img src="assets/images/cross.png"
            alt="cross"></a>
    <div class="modal-content">
        <form [formGroup]="shcAssignForm">
            <h4>Secondary Health Coach</h4>
            <div class="input-field">
                
                <select style="display: inline;" id="coach_id" class="validate" formControlName="coach_id">
                    <option value="">select coach</option>
                    <option *ngFor="let coach of seconderyHC" value="{{coach.user_id}}">{{coach.name}}</option>
                </select>
                <input type="hidden" id="contest_ids" formControlName='contest_ids' value="{{checkedList}}">
                <!-- <p class="errormsg" *ngIf="hcServerValidation && hcServerValidation.lastname">
                    {{hcServerValidation.lastname[0]}
                }</p> -->

            </div>
            <div class="submitOuter">
                <button type="submit" class="detailBtn" (click)="assignSave()">Submit</button>
            </div>
        </form>
    </div>
</div>

<div class="modal addmeal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayShc}">
    <a href="javascript:void(0)" class="modal-close" (click)="closeModalDialog()"><img src="assets/images/cross.png"
            alt="cross"></a>
    <div class="modal-content">
        <!-- <form [formGroup]="shcAssignForm"> -->
            <h4>Secondary Health Coach</h4>
            <div class="input-field">
                <p><strong>Contest Name</strong> : {{selectedContestName}} </p>

                <table>
                    <tr>
                        <th>
                        Name
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    <tr *ngFor="let coach of selectedShc" >
                        <td>
                            {{coach.name}}
                        </td>
                        <td>
                            
                            <a href="javascript:void(0)" title="Secondary Health Coach"  
                                (click)="removeShc(coach.assined_id)">
                                <img src="assets/images/delete.png">
                            </a>

                        </td>
                    </tr>

                </table>

                <!-- <select style="display: inline;" id="coach_id" class="validate" formControlName="coach_id">
                    <option value="">select coach</option>
                    <option *ngFor="let coach of seconderyHC" value="{{coach.user_id}}">{{coach.name}}</option>
                </select>
                <input type="hidden" id="contest_ids" formControlName='contest_ids' value="{{checkedList}}"> -->
                <!-- <p class="errormsg" *ngIf="hcServerValidation && hcServerValidation.lastname">
                    {{hcServerValidation.lastname[0]}
                }</p> -->

            </div>
            <!-- <div class="submitOuter">
                <button type="submit" class="detailBtn" (click)="assignSave()">Submit</button>
            </div> -->
        <!-- </form> -->
    </div>
</div>