<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
         <app-has-appointment></app-has-appointment>
         <div class="breadCrumb">
            <ul>
               <li><a href="javascript:void(0)" routerLink="/dashboard">Home</a></li>
               <li><span>Profile</span></li>
            </ul>
         </div>
         <div class="profileOuter">
            <!-- <h3 class="pageTitle">Personal Profile</h3> -->
            <div class="profileInner">
               <form [formGroup]="painpoints">
               <div class="profilePart">
                  <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h4> Pain Points</h4>
                     </div>
                  </div>
                  <div class="switch">
                     <h5>Headache accompanied by a stiff neck and fever </h5>
                     <label>
                     <input type="checkbox" formControlName="neck_fever">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch">
                     <h5>A sudden, severe agonising headache, more severe than you have experienced previously</h5>
                     <label>
                     <input type="checkbox" formControlName="agonis_headache">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch">
                     <h5>A persistent headache behind the eyes</h5>
                     <label>
                     <input type="checkbox" formControlName="persistent_headache">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch">
                     <h5>Persistent suicidal thoughts or delusional beliefs</h5>
                     <label>
                     <input type="checkbox" formControlName="delusional_beliefs">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch">
                     <h5>Unexplained weight loss and/or loss of appetite</h5>
                     <label>
                     <input type="checkbox" formControlName="weight_loss">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch">
                     <h5>Severe or persistent vomiting, vomiting blood.</h5>
                     <label>
                     <input type="checkbox" formControlName="vomiting">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch">
                     <h5>Black or tarry stools</h5>
                     <label>
                     <input type="checkbox" formControlName="black_tarry_stools">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch">
                     <h5>Bright red blood in stool</h5>
                     <label>
                     <input type="checkbox" formControlName="stool_blood">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch">
                     <h5>Sudden swelling of lips, face, tongue or throat (anaphylaxis).</h5>
                     <label>
                     <input type="checkbox" formControlName="swelling">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch">
                     <h5>Slurred speech, paralysis, weakness, tingling, burning pains</h5>
                     <label>
                     <input type="checkbox" formControlName="spwtb">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch">
                     <h5>numbness, vision change, confusion </h5>
                     <label>
                     <input type="checkbox" formControlName="nvc">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch">
                     <h5>Pain in chest or abdomen </h5>
                     <label>
                     <input type="checkbox" formControlName="chest_abdomen">
                     <span class="lever"></span>
                     </label>
                  </div>

                  <div class="switch" *ngIf="user_data.user_detail.gender=='M'">
                     <h5>Lump in a testicle with or without a small lump in the groin </h5>
                     <label>
                     <input type="checkbox" formControlName="lump_groin">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch" *ngIf="user_data.user_detail.gender=='M'">
                     <h5>Pain or blood on passing urine, </h5>
                     <label>
                     <input type="checkbox" formControlName="blood_urine">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch" *ngIf="user_data.user_detail.gender=='M'">
                     <h5>Change in urine flow or increase in urination </h5>
                     <label>
                     <input type="checkbox" formControlName="urine_flow">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch" *ngIf="user_data.user_detail.gender=='F'">
                     <h5>Vaginal bleeding in between periods or unusual vaginal discharge </h5>
                     <label>
                     <input type="checkbox" formControlName="vaginal_bleeding">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch" *ngIf="user_data.user_detail.gender=='F'">
                     <h5>Any lump on breasts </h5>
                     <label>
                     <input type="checkbox" formControlName="breasts_lump">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch" *ngIf="user_data.user_detail.gender=='F'">
                     <h5>Blood in urine </h5>
                     <label>
                     <input type="checkbox" formControlName="blood_urine">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="checkboxOuter">
                     <label>
                         <input type="checkbox" name="" formControlName="none_above_painpoints" class="filled-in">
                         <span>None of these</span>
                     </label>
                  </div>
               </div>
               <div class="submitOuter">
                  <button type="submit" class="detailBtn" (click)="storeData()">Submit</button>
               </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->               
</section>