<!-- START DASHBOARD -->
<section class="dashboardSection">
    <div class="manualBox">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <button type="button">Prev</button>
        <button type="button">Next</button>
        <button type="button">Skip</button>
    </div>
    <!--Side Navigation Start-->
   		<app-navigation></app-navigation>
   	<!-- End -->
    <div class="bodyContent">
        <div class="container-fluid">
            <div class="breadCrumb">
                <ul>
                    <li><a href="javascript:void(0);" [routerLink]="['/dashboard']">Home</a></li>
                    <li><span>Employee Invitation</span></li>
                </ul>
            </div>
            <div class="profileOuter"> 
                <div class="profileInner profileinvitation">
                    <div class="row">
                        <div class="col-lg-6  col-md-6 col-sm-12 col-xs-12">
                            <form [formGroup]="invitationForm">
                                <h3>Upload File</h3>
                                <label class="filetype">The following file types are allowed: .xlsx, .xls</label>
                                <div class="form-group">
                                    <input type="file" name="invitation_file" formControlName="invt_show" class="validate" (change)="onSelectFile($event)"/>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="detailBtn" (click)="inviteEmployee()">Submit</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6  col-md-6 col-sm-12 col-xs-12">
                            <h4>how it works?</h4>
                            <p>This is an important part for corporate contact persons to invite and enroll users to WoC Wellness Program.</p>
                            <ul>
                                <li>You need to download the Demo Excel template and fill up the employee details.</li>
                                <li>After filling up the employee details, save a local copy of the excel sheet in your PC.</li>
                                <li>Upload the excel file to the server.</li>
                                <li>Employees will get an invitation mail in their corporate mail id, to create an account with Wind of Change and start the program.</li>
                            </ul>
                            <a href="assets/employee-list.xlsx" class="dxcel" download><img src="assets/images/download.png" alt=""/>download demo excel</a>
                        </div>
                    </div>
                </div>     
            </div>
        </div>
    </div>
    <!-- Footer Section Start -->
   		<app-footer></app-footer>
   	<!-- End -->
</section>
<!-- END DASHBOARD -->