<app-corporate-profile *ngIf="user_role.slug=='corporate'"></app-corporate-profile>

<app-user-profile *ngIf="user_role.slug=='employee' || coach_seen"></app-user-profile>

<app-coach-profile *ngIf="user_role.slug=='admin' && !coach_seen"></app-coach-profile>
<app-secondary-coach-profile *ngIf="user_role.slug=='subcoach' && !coach_seen"></app-secondary-coach-profile>