<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
        <app-has-appointment></app-has-appointment>
         <div class="breadCrumb">
             <ul>
                 <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Dashboard</a></li>
                 <!-- <li><span>Dashboard</span></li> -->
             </ul>
         </div>
         <div class="profileOuter">
             <div class="profileInner">
                 <div class="recordOuter groupList">
                     <div class="recordRow recordHead">
                        <div class="recordCol">
                            <h5>Group Name</h5>
                        </div>
                        <div class="recordCol">
                            <h5>Company Name</h5>
                        </div>
                        <div class="recordCol">
                            <h5>Company Logo</h5>
                        </div>
                        <div class="recordCol">
                            <h5>View Member Profile</h5>
                        </div>
                        <div class="recordCol">
                            <h5>View Company Dashboard</h5>
                        </div>
                     </div>
                     <ng-container *ngFor="let corporate of corporates; index as i;">
                     <div class="recordRow">
                         <div class="recordCol">
                             <p>{{corporate.group_name}}</p>
                             <a href="javascript:void(0)" [routerLink]="['/notes/list']" [queryParams]="{group_id:corporate.id}">
                              <img src="assets/images/document-clip.png">
                            </a>
                         </div>
                         <div class="recordCol">
                             <p *ngIf="corporate.corporate_details!=null">{{corporate.corporate_details.firstname}} {{corporate.corporate_details.lastname}}</p>
                         </div>
                         <div class="recordCol">
                             <p class="comLogo"><img src="assets/images/companyLogo.png" alt="company logo" *ngIf="corporate.group_picture ==''">
                              <img src="{{corporate.group_picture}}" alt="company logo" *ngIf="corporate.group_picture !=''">
                             </p>
                         </div>
                         <div class="recordCol">
                             <p *ngIf="corporate.total_user > 0"><a href="javascript:void(0)" [routerLink]="['/group/user/list',corporate.id]"  title="View Member">{{corporate.total_user}} <img src="assets/images/view.png"></a></p>
                         </div>
                         <div class="recordCol">
                             <p *ngIf="corporate.corporate_details != null"><a href="javascript:void(0)" [routerLink]="['/group/dashboard',corporate.corporate_details.user_id]" title="View Dashboard"><img src="assets/images/view.png"></a></p>
                         </div>
                     </div>
                     </ng-container>
                 </div>
             </div>
         </div>
     </div>
   </div>
   <app-footer></app-footer>
   <!-- End -->
</section>