<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
        <app-has-appointment *ngIf="!coach_seen"></app-has-appointment>
         <div class="breadCrumb">
            <ul>
               <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
               <li><span>Profile</span></li>
            </ul>
         </div>
         <div class="profileOuter">
           <!--  <h3 class="pageTitle">Personal Profile</h3> -->
            <div class="profileInner">
              <div class="infoView">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="row">                                            
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="editOuter editOuternew">
                                <a href="javascript:void(0)" routerLink="/edit-general-info" *ngIf="!coach_seen"><img src="assets/images/edit.png"></a>
                                <div class="manualBox1">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <button type="button">Prev</button>
                                    <button type="button">Next</button>
                                    <button type="button">Skip</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-12 col-sm-12 col-12">
                            <div class="profilePic">
                            <img src="{{user_detail.profile_picture ? user_detail.profile_picture :'assets/images/demouser.jpeg'}}">
                            <input type="file" name="" id="picChange" (change)="onSelectFile($event)">
                            <label for="picChange" *ngIf="!coach_seen"><img src="assets/images/edit.png">Change</label>
                         </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="contactInfo">
                                <h4>{{user_detail? user_detail.firstname:''}} {{user_detail? user_detail.lastname:''}}</h4>
                                <h5>{{user_detail? user_detail.gender_text:''}}</h5>                                            
                                <ul>
                                  <li><img src="assets/images/placeholder.png"> {{user_detail? user_detail.country_name:''}}</li>
                                  <li><img src="assets/images/calendar.png"> {{user_detail? user_detail.dob_date:''}}</li>
                                  <li><img src="assets/images/call.png"> {{user_detail? user_detail.mobile:''}} </li>
                                  <li><img src="assets/images/emailIcon1.png"> {{user_data? user_data.email:''}} </li>
                                </ul>    
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                            <h4>Emergency Contact</h4>
                            <ul>
                                <li><img src="assets/images/emailIcon1.png"> {{user_detail? user_detail.emergency_contact_name:''}}</li>
                                <li><img src="assets/images/call.png"> 
                                  <span class="noavl" *ngIf="user_detail.emergency_contact_phone ==null">Not Available</span>
                                {{user_detail? user_detail.emergency_contact_phone:''}}</li>
                            </ul>
                        </div>
                        <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 col-12">
                            <h4>My Goal is</h4>
                            <ul *ngIf="user_goals && user_goals.selected_goal !=''" class="goalList">
                              <ng-container *ngFor="let slctedgoal of user_goals.selected_goal; index as i;">
                                <li *ngIf="slctedgoal!='Race'">{{i+1}}. {{slctedgoal}}</li>
                                <li *ngIf="slctedgoal=='Race'">{{i+1}}. Prepare for an athletic event</li>
                              </ng-container>
                            </ul>
                            <p *ngIf="!user_goals || user_goals.selected_goal ==''">You have not selected any Goal. Please <a href="javascript:void(0)" routerLink="/edit-general-info" *ngIf="!coach_seen">EDIT</a> profile page and select a Goal. Selecting aprropriate Goal help us deliver relevant nd targeted programs to you</p>
                        </div>
                      </div> 
                    </div>
                  </div>                                       
                  <div class="emergencyRow">
                      <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="progressOuter progressOuterSec">
                                  <span class="completeTxt">Profile Completeness</span>
                                  <span class="completePercentage">{{user_detail? user_detail.profile_complete_points:0}}%</span>
                                  <div class="progressInner"  [style.width.%]="user_detail? user_detail.profile_complete_points:0"></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div> 
            <div class="profileInner" *ngIf="permissions && permissions.indexOf('statutaries') !== -1 ? true: false">
               <div class="profilePart">
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-12 col-9">
                        <h4> Statutory Information</h4>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-12 col-3">
                        <div class="editOuter">
                           <a href="javascript:void(0)" routerLink="/edit-statutory-info" *ngIf="!coach_seen"><img src="assets/images/edit.png"> <span>Edit</span></a>
                           <div class="manualBox1">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                              <button type="button">Prev</button>
                              <button type="button">Next</button>
                              <button type="button">Skip</button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                      <ng-container *ngIf="userStatutoryHas ==1">
                      <div *ngIf="!user_statutory.none_above_statutory || user_statutory.none_above_statutory == 0 ">
                        <p *ngIf="user_statutory && user_statutory.heart_condition ==1">Has your doctor ever said you have a heart condition and/or should only participate In medically supervised physical activity? <span class="ans">Yes</span></p>

                        <!-- <p>Do you ever feel pain in your chest during physical activity? <span class="ans">{{(user_statutory && user_statutory.chest_pain_during_activity ==1) ? 'Yes':'No'}}</span></p>

                        <p>Have you experienced chest pains when not doing physical activity? <span class="ans">{{(user_statutory && user_statutory.chest_pain_not_doing_activity ==1) ? 'Yes':'No'}}</span></p>

                        <p>Do you suffer palpitation? <span class="ans">{{(user_statutory && user_statutory.palpitation ==1) ? 'Yes':'No'}}</span></p>

                        <p>Do you experience dizziness or fainting? <span class="ans">{{(user_statutory && user_statutory.dizziness ==1) ? 'Yes':'No'}}</span></p>

                        <p>Have you ever been told you have high blood pressure or are you taking medication for blood pressure or any other heart condition? <span class="ans">{{(user_statutory && user_statutory.high_blood_pressure ==1) ? 'Yes':'No'}}</span></p>

                        <p>Do you have any existing bone or Joint problem that could be made worse by physical activity? <span class="ans">{{(user_statutory && user_statutory.joint_problem ==1) ? 'Yes':'No'}}</span></p>

                        <p>Do you experience shortness of breath during only mild exertion? Do you suffer from either Asthma or Diabetes Mellitus? <span class="ans">{{(user_statutory && user_statutory.asthma ==1) ? 'Yes':'No'}}</span></p>-->

                        <p *ngIf="user_statutory && user_statutory.pregnant ==1">Are you pregnant or have you given birth In the last 4 months? <span class="ans">Yes</span></p>
                        
                        <p *ngIf="user_statutory && user_statutory.surgery ==1">Have you recently undergone surgery or are you carrying any injury? <span class="ans">Yes</span></p>

                        <p *ngIf="user_statutory && user_statutory.prescribed_medication ==1">Have you been hospitalised in last 12 months? <span class="ans">Yes</span></p>

                        <p *ngIf="user_statutory && user_statutory.not_participate_physical_exercise ==1">Are you aware of any other reasons why you should not participate in physical exercise without medical supervision? If so, what? <span class="ans">Yes</span></p>
                        <p><strong>Remarks : </strong>{{(user_statutory && user_statutory.not_participate_physical_exercise ==1) ? user_statutory.not_participate_physical_exercise_info:''}}</p>
                      </div>
                        <p *ngIf="user_statutory.none_above_statutory == 1">No Statutory Information</p>
                      </ng-container>  
                     </div>
                  </div>
               </div>
            </div>
            <div class="profileInner" *ngIf="permissions && permissions.indexOf('medical_conditions') !== -1 ? true: false">
               <div class="profilePart">
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-12 col-9">
                        <h4>Medical Condition</h4>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-12 col-3">
                        <div class="editOuter">
                           <a href="javascript:void(0)" routerLink="/edit-medical-condition" *ngIf="!coach_seen"><img src="assets/images/edit.png"> <span>Edit</span></a>
                        </div>
                     </div>
                  </div>
                  <p *ngIf="user_medical_cond && user_medical_cond.other_medical && user_medical_cond.none_above_medical==1">{{user_medical_cond? user_medical_cond.other_medical:''}}</p>
                  <p *ngIf="user_medical_cond && user_medical_cond.none_above_medical==1 && !user_medical_cond.other_medical">{{user_medical_cond.selected_medical_con}}</p>

                  <p *ngIf="user_medical_cond && user_medical_cond.selected_medical_con!=null && user_medical_cond.other_medical==null">{{user_medical_cond.selected_medical_con}}</p>

                  <p *ngIf="user_medical_cond && user_medical_cond.selected_medical_con && user_medical_cond.other_medical && !user_medical_cond.none_above_medical">{{user_medical_cond.selected_medical_con}}</p>

                  <p *ngIf="user_medical_cond && user_medical_cond.last_health_screening_date">Last Health Screening Date: {{user_medical_cond.last_health_screening_date}}</p>
               </div>
            </div>

            <div class="profileInner" *ngIf="permissions && permissions.indexOf('painpoints') !== -1 ? true: false">
               <div class="profilePart">
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-12 col-9">
                        <h4>Pain Points</h4>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-12 col-3">
                        <div class="editOuter">
                           <a href="javascript:void(0)" routerLink="/edit-pain-points" *ngIf="!coach_seen"><img src="assets/images/edit.png"> <span>Edit</span></a>
                        </div>
                     </div>
                  </div>
                  <div *ngIf="user_painpoints && !user_painpoints.none_above_painpoints">
                  <p *ngIf="user_painpoints && user_painpoints.neck_fever ==1">Headache accompanied by a stiff neck and fever <span class="ans">Yes</span></p>

                  <p *ngIf="user_painpoints && user_painpoints.agonis_headache ==1">A sudden, severe agonising headache, more severe than you have experienced previously <span class="ans">Yes</span></p>

                  <p *ngIf="user_painpoints && user_painpoints.persistent_headache ==1">A persistent headache behind the eyes <span class="ans">Yes</span></p>

                  <p *ngIf="user_painpoints && user_painpoints.delusional_beliefs ==1">Persistent suicidal thoughts or delusional beliefs <span class="ans">Yes</span></p>

                  <p *ngIf="user_painpoints && user_painpoints.weight_loss ==1">Unexplained weight loss and/or loss of appetite <span class="ans">Yes</span></p>

                  <p *ngIf="user_painpoints && user_painpoints.vomiting ==1">Severe or persistent vomiting, vomiting blood. <span class="ans">Yes</span></p>

                  <p *ngIf="user_painpoints && user_painpoints.black_tarry_stools ==1">Black or tarry stools <span class="ans">Yes</span></p>

                  <p *ngIf="user_painpoints && user_painpoints.stool_blood ==1">Bright red blood in stool <span class="ans">Yes</span></p>

                  <p *ngIf="user_painpoints && user_painpoints.swelling ==1">Sudden swelling of lips, face, tongue or throat (anaphylaxis). <span class="ans">Yes</span></p>

                  <p *ngIf="user_painpoints && user_painpoints.spwtb ==1">Slurred speech, paralysis, weakness, tingling, burning pains <span class="ans">Yes</span></p>

                  <p *ngIf="user_painpoints && user_painpoints.nvc ==1">numbness, vision change, confusion <span class="ans">Yes</span></p>

                  <p *ngIf="user_painpoints && user_painpoints.chest_abdomen ==1">Pain in chest or abdomen <span class="ans">Yes</span></p>

                  <p *ngIf="user_data.user_detail && user_data.user_detail.gender=='M' && user_painpoints && user_painpoints.lump_groin ==1">Lump in a testicle with or without a small lump in the groin <span class="ans">Yes</span></p>
                  <p *ngIf="user_data.user_detail && user_data.user_detail.gender=='M' && user_painpoints && user_painpoints.blood_urine ==1">Pain or blood on passing urine <span class="ans">Yes</span></p>

                  <p *ngIf="user_data.user_detail &&  user_data.user_detail.gender=='M' && user_painpoints && user_painpoints.urine_flow ==1">Change in urine flow or increase in urination <span class="ans">Yes</span></p>

                  <p *ngIf="user_data.user_detail &&  user_data.user_detail.gender=='F' && user_painpoints && user_painpoints.vaginal_bleeding ==1">Vaginal bleeding in between periods or unusual vaginal discharge <span class="ans">Yes</span></p>

                  <p *ngIf="user_data.user_detail && user_data.user_detail.gender=='F' && user_painpoints && user_painpoints.breasts_lump ==1">Any lump on breasts <span class="ans">Yes</span></p>

                  <p *ngIf="user_data.user_detail && user_data.user_detail.gender=='F' && user_painpoints && user_painpoints.blood_urine ==1">Blood in urine <span class="ans">Yes</span></p>
                </div>
                  <p *ngIf="!user_painpoints || user_painpoints.none_above_painpoints ==1">No Pain Points</p>

               </div>
            </div>

            <div class="profileInner">
               <div class="profilePart">
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-12 col-9">
                        <h4>Allergy</h4>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-12 col-3">
                        <div class="editOuter">
                           <a href="javascript:void(0)" routerLink="/edit-allergy" *ngIf="!coach_seen"><img src="assets/images/edit.png"> <span>Edit</span></a>
                        </div>
                     </div>
                  </div>
                  <p *ngIf="user_allergy && user_allergy.other_allergy && user_allergy.none_above==1">{{user_allergy? user_allergy.other_allergy:''}}</p>
                  <p *ngIf="user_allergy && user_allergy.none_above==1 && !user_allergy.other_allergy">{{user_allergy.selected_allergy}}</p>
                  <p *ngIf="(user_allergy && user_allergy.none_above==0) || (user_allergy && !user_allergy.none_above)">{{user_allergy.selected_allergy}}</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>