<div>
   <div class="profileInner">
      <div class="questionOuter">
         <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
               <h3>Defence & Repair</h3>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
               <!-- <div class="displayOuter">
                  <p>displaying {{active_subtype}} of {{sub_type.length}}</p>
               </div> -->
            </div>
         </div>
         <form action="question-step3.html">
            <div class="row">
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <ng-container *ngFor="let data of filter_data; index as i;">
                  <div class="radioOuter">
                     <h6>{{i+1}}. {{data.question}}</h6>
                     <div class="labelOuter">
                        <label>
                        <input type="radio"name="option_{{data.id}}" value="{{data.option1}}" [(ngModel)]="answerModels[data.id]">
                        <span>Never</span>
                        </label>
                        <label>
                        <input type="radio" name="option_{{data.id}}" value="{{data.option2}}" [(ngModel)]="answerModels[data.id]">
                        <span>Sometimes</span>
                        </label>
                        <label>
                        <input type="radio" name="option_{{data.id}}" value="{{data.option3}}" [(ngModel)]="answerModels[data.id]">
                        <span>Often</span>
                        </label>
                        <label>
                        <input type="radio" name="option_{{data.id}}" value="{{data.option4}}" [(ngModel)]="answerModels[data.id]">
                        <span>Always</span>
                        </label>
                     </div>
                  </div>
                  </ng-container>
               </div>
            </div>
            <div class="submitOuter">
               <button type="submit" class="detailBtn" (click)="submitValues()">{{isUpdate ? 'Update':'Submit'}}</button>
            </div>
         </form>
      </div>
   </div>
</div>