<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
        <app-has-appointment></app-has-appointment>
         <!-- <div class="appointment">
            <a href="appointment_healthcoach.html">Appointments</a>
            <div class="appointmentInner">
               <div class="appointmentHead">
                  <a href="#">Go to Appointment</a>
               </div>
               <ul>
                  <ng-container *ngFor="let appointment of appointments; index as i;">
                    <li>
                      <a href="javascript:void(0)">
                      <h5><span class="green"></span> {{appointment.status}}</h5>
                      <h4>{{appointment.firstname}} {{appointment.lastname}}</h4>
                      <h6>{{appointment.date_of_appointment}} {{appointment.slot_start_time}} to {{appointment.slot_end_time}}</h6>
                      <h4>{{appointment.group_name}}</h4>
                      </a>
                    </li>
                  </ng-container>
               </ul>
            </div>
         </div> -->
         <div class="breadCrumb">
            <ul>
               <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
               <li><span>Content Management</span></li>
            </ul>
         </div>
         <div class="profileOuter">
            <div class="profileInner addContentOuter">
               <ul class="nav nav-tabs" id="contentTab" role="tablist">
                  <li class="nav-item">
                     <a class="nav-link" [ngClass]="{'active': active_tab ==1}" id="con-tab" data-toggle="tab" href="#con" role="tab" aria-controls="con" aria-selected="true" (click)="active_tab=1">Content Details</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" [ngClass]="{'active': active_tab ==2}" id="statu-tab" data-toggle="tab" href="#statu" role="tab" aria-controls="statu" aria-selected="false" (click)="active_tab=2" [hidden]="contentForm.status=='INVALID'">Statutory Condition</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" [ngClass]="{'active': active_tab ==3}" id="medi-tab" data-toggle="tab" href="#medi" role="tab" aria-controls="medi" aria-selected="false" (click)="active_tab=3" [hidden]="contentForm.status=='INVALID'">Medical Condition</a>
                  </li>
               </ul>
               <div class="tab-content" id="contentTabContent">
                  <div class="tab-pane fade" [ngClass]="{'show active':active_tab ==1}" *ngIf="active_tab ==1" id="con" role="tabpanel" aria-labelledby="con-tab">
                     <form [formGroup]="contentForm">
                     <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                           <div class="input-field" [ngClass]="{'error':(cn_f.title.touched || cn_f.title.dirty) && !cn_f.title.valid}">
                              <input id="title" type="text" class="validate" formControlName="title">
                              <label for="title" [ngClass]="{'active': cn_f.group_id.value}">Title</label>
                           </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                           <div class="input-field" [ngClass]="{'error':(cn_f.category_id.touched || cn_f.category_id.dirty) && !cn_f.category_id.valid}">
                              <select style="display: inline;" formControlName="category_id">
                                 <option value="">Category</option>
                                 <option *ngFor="let category of categories" value="{{category.id}}">{{category.category_name}}</option>
                              </select>
                              <!-- <label for="ccategory">Category</label> -->
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                           <div class="input-field" [ngClass]="{'error':(cn_f.group_id.touched || cn_f.group_id.dirty) && !cn_f.group_id.valid}">
                              <select style="display: inline;" formControlName="group_id" (change)="groupUser($event)" >
                                 <option value="">Group</option>
                                 <option value="all">All</option>
                                  <option *ngFor="let group of groups" value="{{group.id}}">{{group.group_name}}</option>
                              </select>
                             <!--  <label for="cgroup">Group</label> -->
                           </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 col-12" *ngIf="user_role.slug == 'subcoach'">
                            <div class="input-field"
                                [ngClass]="{'error':(cn_f.contest_id.touched || cn_f.contest_id.dirty) && !cn_f.contest_id.valid}">
                                <select style="display: inline;" formControlName="contest_id" (change)="contestUser($event)">
                                    <option value="">Contest</option>
                                    <!-- <option value="all">All</option> -->
                                    <option *ngFor="let contest of contests" value="{{contest.id}}">{{contest.contest_name}}</option>
                                </select>
                                 
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                           <div class="input-field">
                              <select id="user" style="display: inline;" formControlName="user_id">
                                <option value="" >Select</option>
                                <option *ngFor="let user of users"  value="{{user.user_id}}">
                                    {{user.firstname}} {{user.lastname}}
                                </option>
                              </select>
                           </div>
                        </div>
                     </div>
                     <!-- <div class="input-field" [ngClass]="{'error':(cn_f.description.touched || cn_f.description.dirty) && !cn_f.description.valid}">
                        <textarea id="des1"  class="materialize-textarea" formControlName="description"></textarea>
                        <label for="des1" [ngClass]="{'active': cn_f.description.value}">Description</label>
                     </div> -->
                     <div [ngxSummernote] formControlName="description"></div>
                     <div class="input-field" [ngClass]="{'error':(cn_f.video_url.touched || cn_f.video_url.dirty) && !cn_f.video_url.valid}">
                        <input id="video" type="text" class="validate" formControlName="video_url">
                        <label for="video" [ngClass]="{'active': cn_f.video_url.value}">Video URl</label>
                     </div>
                      <div class="file-field input-field">
                        <div class="btn">
                          <span>Attachment</span>
                          <input type="file" (change)="fileAttach($event)">
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate" type="text">
                        </div> 
                      </div><a href="{{content_attached_url}}" target="_blank" title="attached file" *ngIf="content_attached_url && !cn_f.attached_file.value" download><i class="material-icons">attach_file</i></a>

                     <div class="switch switchSec">
                        <h5> Sticky</h5>
                        <label>
                        <input type="checkbox" formControlName="sticky">
                        <span class="lever"></span>
                        </label>
                     </div>
                      <div class="radioOuter">
                           <h6>Status</h6>
                           <label>
                               <input type="radio" value="A" formControlName="status">
                               <span>Active</span>
                           </label>
                           <label>
                               <input type="radio" value="I" formControlName="status">
                               <span>Inactive</span>
                           </label>
                        </div>
                     <div class="submitOuter">
                        <button type="submit" class="detailBtn" (click)="formCheck('content', 2)" [disabled]="contentForm.status =='INVALID'">Next</button>
                     </div>
                     </form>

                  </div>
                  <form [formGroup]="contentAttrForm">
                  <div class="tab-pane fade" [ngClass]="{'show active':active_tab ==2}" id="statu" *ngIf="active_tab ==2" role="tabpanel" aria-labelledby="statu-tab">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                     <div class="radioOuter">
                        <h6>Heart Condition</h6>
                        <label>
                            <input type="radio" value="1" formControlName="heart_condition">
                            <span>Inclusive</span>
                        </label>
                        <label>
                            <input type="radio" value="2" formControlName="heart_condition">
                            <span>Exclusive</span>
                        </label>
                     </div>
                     <div class="radioOuter">
                        <h6>Chest Pain During Activity</h6>
                        <label>
                            <input type="radio" value="1" formControlName="chest_pain_during_activity">
                            <span>Inclusive</span>
                        </label>
                        <label>
                            <input type="radio" value="2" formControlName="chest_pain_during_activity">
                            <span>Exclusive</span>
                        </label>
                     </div>
                     <div class="radioOuter">
                        <h6>Chest Pain Not Doing Activity</h6>
                        <label>
                            <input type="radio" value="1" formControlName="chest_pain_not_doing_activity">
                            <span>Inclusive</span>
                        </label>
                        <label>
                            <input type="radio" value="2" formControlName="chest_pain_not_doing_activity">
                            <span>Exclusive</span>
                        </label>
                     </div>
                     <div class="radioOuter">
                        <h6>Palpitation</h6>
                        <label>
                            <input type="radio" value="1" formControlName="palpitation">
                            <span>Inclusive</span>
                        </label>
                        <label>
                            <input type="radio" value="2" formControlName="palpitation">
                            <span>Exclusive</span>
                        </label>
                     </div>
                     <div class="radioOuter">
                        <h6>Dizziness</h6>
                        <label>
                            <input type="radio" value="1" formControlName="dizziness">
                            <span>Inclusive</span>
                        </label>
                        <label>
                            <input type="radio" value="2" formControlName="dizziness">
                            <span>Exclusive</span>
                        </label>
                     </div>
                     <div class="radioOuter">
                        <h6>High Blood Pressure</h6>
                        <label>
                            <input type="radio" value="1" formControlName="high_blood_pressure">
                            <span>Inclusive</span>
                        </label>
                        <label>
                            <input type="radio" value="2" formControlName="high_blood_pressure">
                            <span>Exclusive</span>
                        </label>
                     </div>
                   </div>
                   <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                     <div class="radioOuter">
                        <h6>Joint Problem</h6>
                        <label>
                            <input type="radio" value="1" formControlName="joint_problem">
                            <span>Inclusive</span>
                        </label>
                        <label>
                            <input type="radio" value="2" formControlName="joint_problem">
                            <span>Exclusive</span>
                        </label>
                     </div>
                     <div class="radioOuter">
                        <h6>Asthma</h6>
                        <label>
                            <input type="radio" value="1" formControlName="asthma">
                            <span>Inclusive</span>
                        </label>
                        <label>
                            <input type="radio" value="2" formControlName="asthma">
                            <span>Exclusive</span>
                        </label>
                     </div>
                     <div class="radioOuter">
                        <h6>Prescribed Medication</h6>
                        <label>
                            <input type="radio" value="1" formControlName="prescribed_medication">
                            <span>Inclusive</span>
                        </label>
                        <label>
                            <input type="radio" value="2" formControlName="prescribed_medication">
                            <span>Exclusive</span>
                        </label>
                     </div>
                     <div class="radioOuter">
                        <h6>Pregnant</h6>
                        <label>
                            <input type="radio" value="1" formControlName="pregnant">
                            <span>Inclusive</span>
                        </label>
                        <label>
                            <input type="radio" value="2" formControlName="pregnant">
                            <span>Exclusive</span>
                        </label>
                     </div>
                     <div class="radioOuter">
                        <h6>Surgery</h6>
                        <label>
                            <input type="radio" value="1" formControlName="surgery">
                            <span>Inclusive</span>
                        </label>
                        <label>
                            <input type="radio" value="2" formControlName="surgery">
                            <span>Exclusive</span>
                        </label>
                     </div>
                     <div class="radioOuter">
                        <h6>Not Participate Physical Exercise</h6>
                        <label>
                            <input type="radio" value="1" formControlName="not_participate_physical_exercise">
                            <span>Inclusive</span>
                        </label>
                        <label>
                            <input type="radio" value="2" formControlName="not_participate_physical_exercise">
                            <span>Exclusive</span>
                        </label>
                     </div>
                   </div>
                   </div>
                     <div class="submitOuter">
                        <button class="detailBtn" (click)="formCheck('statutory', 3)">Next</button>
                     </div>
                  </div>
                  <div class="tab-pane fade" id="medi" [ngClass]="{'show active':active_tab ==3}" *ngIf="active_tab ==3" role="tabpanel" aria-labelledby="medi-tab">

                     <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="radioOuter">
                           <h6>Arthritis</h6>
                           <label>
                               <input type="radio" value="1" formControlName="arthritis">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="arthritis">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Back Pain</h6>
                           <label>
                               <input type="radio" value="1" formControlName="back_pain">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="back_pain">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Joint Pain</h6>
                           <label>
                               <input type="radio" value="1" formControlName="joint_pain">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="joint_pain">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Muscle Pain</h6>
                           <label>
                               <input type="radio" value="1" formControlName="muscle_pain">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="muscle_pain">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Other Pain</h6>
                           <label>
                               <input type="radio" value="1" formControlName="other_pain">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="other_pain">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Fainting</h6>
                           <label>
                               <input type="radio" value="1" formControlName="fainting">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="fainting">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Chest Pain</h6>
                           <label>
                               <input type="radio" value="1" formControlName="chest_pain">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="chest_pain">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Shortness Of Breath</h6>
                           <label>
                               <input type="radio" value="1" formControlName="shortness_of_breath">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="shortness_of_breath">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Hernia</h6>
                           <label>
                               <input type="radio" value="1" formControlName="hernia">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="hernia">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Smoke</h6>
                           <label>
                               <input type="radio" value="1" formControlName="smoke">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="smoke">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Elevated Triglyceride Levels</h6>
                           <label>
                               <input type="radio" value="1" formControlName="elevated_triglyceride_levels">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="elevated_triglyceride_levels">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Elevated Cholesterol Levels</h6>
                           <label>
                               <input type="radio" value="1" formControlName="elevated_cholesterol_levels">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="elevated_cholesterol_levels">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Difficulty With Physical Exercise</h6>
                           <label>
                               <input type="radio" value="1" formControlName="difficulty_with_physical_exercise">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="difficulty_with_physical_exercise">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">

                        <div class="radioOuter">
                           <h6>Asthma Emphysema Bronchitis</h6>
                           <label>
                               <input type="radio" value="1" formControlName="asthma_emphysema_bronchitis">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="asthma_emphysema_bronchitis">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Blood Pressure</h6>
                           <label>
                               <input type="radio" value="1" formControlName="blood_pressure">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="blood_pressure">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Coronary Disease</h6>
                           <label>
                               <input type="radio" value="1" formControlName="coronary_disease">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="coronary_disease">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Heart Problem</h6>
                           <label>
                               <input type="radio" value="1" formControlName="heart_problem">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="heart_problem">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Stroke</h6>
                           <label>
                               <input type="radio" value="1" formControlName="stroke">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="stroke">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Epilepsy</h6>
                           <label>
                               <input type="radio" value="1" formControlName="epilepsy">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="epilepsy">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Diabetes Or Thyroid Condition</h6>
                           <label>
                               <input type="radio" value="1" formControlName="diabetes_or_thyroid_condition">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="diabetes_or_thyroid_condition">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Thyroid Condition</h6>
                           <label>
                               <input type="radio" value="1" formControlName="thyroid_condition">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="thyroid_condition">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Hypoglycemia</h6>
                           <label>
                               <input type="radio" value="1" formControlName="hypoglycemia">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="hypoglycemia">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Pregnant In The Last 4 Months</h6>
                           <label>
                               <input type="radio" value="1" formControlName="pregnant_in_the_last_4_months">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="pregnant_in_the_last_4_months">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Family History Of Coronary Disease</h6>
                           <label>
                               <input type="radio" value="1" formControlName="family_history_of_coronary_disease">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="family_history_of_coronary_disease">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Family History Of Atherosclerotic Disease</h6>
                           <label>
                               <input type="radio" value="1" formControlName="family_history_of_atherosclerotic_disease">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="family_history_of_atherosclerotic_disease">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Hospitalised In The Last 12 Months</h6>
                           <label>
                               <input type="radio" value="1" formControlName="hospitalised_in_the_last_12_months">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="hospitalised_in_the_last_12_months">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>Advice From Gp Health Practitioner Not To Exercise</h6>
                           <label>
                               <input type="radio" value="1" formControlName="advice_from_gp_health_practitioner_not_to_exercise">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="advice_from_gp_health_practitioner_not_to_exercise">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        <div class="radioOuter">
                           <h6>None Above Medical</h6>
                           <label>
                               <input type="radio" value="1" formControlName="none_above_medical">
                               <span>Inclusive</span>
                           </label>
                           <label>
                               <input type="radio" value="2" formControlName="none_above_medical">
                               <span>Exclusive</span>
                           </label>
                        </div>

                        </div>

                        
                     </div> 

                     <div class="submitOuter">
                        <button type="submit" class="detailBtn" (click)="contentStore()" *ngIf="!content_id">Submit</button>
                        <button type="submit" class="detailBtn" (click)="contentUpdate()" *ngIf="content_id">Update</button>
                     </div>
                  </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>