<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
        <div class="breadCrumb">
            <ul>
                <li><a href="javascript:void(0);" [routerLink]="['/dashboard']">Home</a></li>
                <li><span>Content List</span></li>
            </ul>
        </div>
        <div class="profileInner">
            <!-- <h3>Search Content</h3> -->
            <form [formGroup]="contentSearchForm">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <input id="search1" type="text" formControlName="title" class="validate">
                      <label for="search1">By Title</label>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <input id="username" type="text" formControlName="username" class="validate">
                      <label for="username">By User Name</label>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                        <select  id="search1" formControlName="category" style="display:inline;">
                            <option value="">By Category</option>
                            <option value="{{categorie.id}}" *ngFor="let categorie of categories;">{{categorie.category_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                        <select  id="search1" formControlName="group" style="display:inline;">
                            <option value="">By Group</option>
                            <option value="{{group.id}}" *ngFor="let group of groups;">{{group.group_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                        <select  id="search1" formControlName="contest" style="display:inline;">
                            <option value="">By Contest</option>
                            <option value="{{contest.id}}" *ngFor="let contest of contests;">{{contest.contest_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                        <select  id="search1" formControlName="status" style="display:inline;">
                            <option value="">By Status</option>
                            <option value="A">Active</option>
                            <option value="I">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="contentSearchOuter">
                        <button type="submit" class="detailBtn" (click)="searchContent(0)">Search</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="profileInner">
            <div class="table-responsive">      
                <table class="table userListOuter">
                    <tr>
                        <th>
                            <h5>Sl No.</h5>
                        </th>
                        <th>
                            <h5>Title</h5>
                        </th>
                        <th>
                            <h5>Category</h5>
                        </th>
                        <th>
                            <h5>Group</h5>
                        </th>
                        <th>
                            <h5>Contest</h5>
                        </th>
                        <th>
                            <h5>User</h5>
                        </th>
                        <th>
                            <h5>Sticky</h5>
                        </th>
                        <th>
                            <h5>Status</h5>
                        </th>
                        <th>
                            <h5>Publish Date</h5>
                        </th>
                        <th>
                            <h5>Actions</h5>
                        </th>
                    </tr>
                    <ng-container *ngFor="let content of content_all; index as i;">
                    <tr>
                        <td>
                            <p>{{i+1}}</p>
                        </td>
                        <td>
                            <p><a href="javascript:void(0)" [routerLink]="['/admin/content/detail',content.id]">{{content.title}}</a></p>
                        </td>
                        <td>
                            <p>{{content.category.category_name}}</p>
                        </td>
                        <td>
                            <p *ngIf="content.content_visibility">{{content.content_visibility.group_name}}</p>
                        </td>
                        <td>
                            <p *ngIf="content.contest">{{content.contest.contest_name}}</p>
                        </td>
                        <td>
                            <p *ngIf="content.assigned_user">
                            {{content.assigned_user.firstname}} {{content.assigned_user.lastname}}
                            </p>
                        </td>
                        <td>
                            <p *ngIf="content.sticky=='0'">No</p>
                            <p *ngIf="content.sticky=='1'">Yes</p>
                        </td>
                        <td>
                            <p *ngIf="content.status=='A'">Active</p>
                            <p *ngIf="content.status=='I'">Inactive</p>
                        </td>
                        <td>
                            <p>{{content.created_date}}</p>
                        </td>
                        <td>
                            <div class="switch">
                                <label>
                                  <input type="checkbox" [(ngModel)]="checkedModel[content.id]" (ngModelChange)="changeStatus($event, content.id, i)" >
                                  <span class="lever"></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                    </ng-container>
                </table>
            </div>
        </div>
        <div class="pagination" >
            <ul>
                <li *ngFor="let page_no of pagination(); index as i;"><a href="javascript:void(0)" [ngClass]="{'active': i== active_page}" (click)="paginationCall(i)">{{page_no}}</a></li>
            </ul>
        </div>     
      </div>
   </div>
   <app-footer></app-footer>
   <!-- End -->
</section>
