<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
                <div class="bodyContent">
                    <div class="container-fluid">
                        <app-has-appointment></app-has-appointment>
                        <div class="breadCrumb">
                            <ul>
                                <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
                                <li><span>Profile</span></li>
                            </ul>
                        </div>
                        <div class="profileOuter">
                            <!-- <h3 class="pageTitle">Personal Profile</h3> -->
                            <div class="profileInner">
                                <form [formGroup]="userForm">
                                <div class="profilePart">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h4>General Information</h4>
                                        </div>
                                    </div>                                    
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <input id="fname" type="text" class="validate" formControlName="firstname">
                                              <label for="fname" [ngClass]="{'active':us_f.firstname.value}">First Name</label>
                                              <div *ngIf="validationError && validationError.firstname">
                                                  <p class="errormsg">{{validationError.firstname[0]}}</p>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <input id="lname" type="text" class="validate" formControlName="lastname">
                                              <label for="lname" [ngClass]="{'active':us_f.lastname.value}">Last Name</label>
                                              <div *ngIf="validationError && validationError.lastname">
                                                  <p class="errormsg">{{validationError.lastname[0]}}</p>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <input id="alname" type="text" class="validate" formControlName="alias_name">
                                              <label for="alname" [ngClass]="{'active':us_f.alias_name.value}">Alias</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="radioOuter">
                                                <label>
                                                    <input type="radio" class="" formControlName="gender" value="M">
                                                    <span>Male</span>
                                                </label>
                                                <label>
                                                    <input type="radio" class="" formControlName="gender" value="F">
                                                    <span>Female</span>
                                                </label>
                                                <label>
                                                    <input type="radio" class="" formControlName="gender" value="O">
                                                    <span>Others</span>
                                                </label>
                                                <div *ngIf="validationError && validationError.gender">
                                                  <p class="errormsg">{{validationError.gender[0]}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                            <div class="input-field col s12">
                                                <!-- <label for="country">Country</label> -->
                                                <select id="country" formControlName="country" style="display: block;">
                                                  <option value="IN">India</option>
                                                  <option value="IE">Ireland</option>
                                                </select>
                                                <div *ngIf="validationError && validationError.country">
                                                  <p class="errormsg">{{validationError.country[0]}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                            <div class="input-field col s12">
                                                <select id="timezone" formControlName="timezone" style="display: block;">
                                                  <option value="Asia/Kolkata">Asia/Kolkata</option>
                                                  <option value="Europe/Dublin">Europe/Dublin</option>
                                                  <option value="Europe/Brussels">Europe/Brussels</option>
                                                </select>
                                                <div *ngIf="validationError && validationError.timezone">
                                                  <p class="errormsg">{{validationError.timezone[0]}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <input id="dob" type="text" class="" dateInput  format="Y-m-d"  mode="single" formControlName="dob" maxdate="{{dobday}}">
                                              <label for="dob" [ngClass]="{'active':us_f.dob.value}">Date of Birth</label>
                                              <div *ngIf="validationError && validationError.dob">
                                                  <p class="errormsg">{{validationError.dob[0]}}</p>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <input id="email" type="email" formControlName="email" class="validate">
                                              <label for="email" [ngClass]="{'active':us_f.email.value}">Email</label>
                                              <div *ngIf="validationError && validationError.email">
                                                  <p class="errormsg">{{validationError.email[0]}}</p>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field flagChange">
                                                <input id="phone" type="text" class="validate" formControlName="mobile">
                                                <label for="phone" [ngClass]="{'active':us_f.mobile.value}">Phone</label>
                                                <div *ngIf="validationError && validationError.mobile">
                                                  <p class="errormsg">{{validationError.mobile[0]}}</p>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="radioOuter avaradioOuter">
                                                <h6>Choose Avater</h6>
                                                <ng-container *ngFor="let avater of master_data.avatar_images">
                                                 <label>
                                                    <input type="radio" value="{{avater.id}}" class="" formControlName="avatar_id">
                                                    <span><img src="{{global.imageUrl + '/' + avater.avatar_image}}"></span>
                                                </label>                                                 
                                                </ng-container>
                                                 <div *ngIf="validationError && validationError.avatar_id">
                                                  <p class="errormsg">{{validationError.avatar_id[0]}}</p>
                                                </div>
                                              
                                            </div>
                                        </div>
                                    </div>
                                     <!-- <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="checkboxOuter unsubcribe">
                                                <label>
                                                    <input type="checkbox" value="1" class="filled-in" formControlName="is_subscribed">
                                                    <span>Unsubcribe</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="profilePart">
                                    <h4>Emergency Contact</h4>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <input id="emergency_contact_name" type="text" class="validate" formControlName="emergency_contact_name">
                                              <label for="emergency_contact_name" [ngClass]="{'active':us_f.emergency_contact_name.value}">Name</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field flagChange">
                                                <input id="emergency_contact_phone" type="text" class="validate" formControlName="emergency_contact_phone">
                                                <label for="emergency_contact_phone" [ngClass]="{'active':us_f.emergency_contact_phone.value}">Phone</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="submitOuter">
                                    <button type="submit" class="detailBtn" (click)="storeUserInfomation()">Submit</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->                              
</section>