<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
                <div class="bodyContent">
                    <div class="container-fluid">
                       <app-has-appointment></app-has-appointment>
                        <div class="breadCrumb">
                            <ul>
                                <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
                                <li><span>Profile</span></li>
                            </ul>
                        </div>
                        <div class="profileOuter">
                            <!-- <h3 class="pageTitle">Personal Profile</h3> -->
                            <div class="profileInner">
                                <form [formGroup]="userForm">
                                <div class="profilePart">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h4>General Information</h4>
                                        </div>
                                    </div>                                    
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <input id="fname" type="text" class="validate" formControlName="firstname">
                                              <label for="fname" [ngClass]="{'active':us_f.firstname.value}">First Name</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <input id="lname" type="text" class="validate" formControlName="lastname">
                                              <label for="lname" [ngClass]="{'active':us_f.lastname.value}">Last Name</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <input id="alname" type="text" class="validate" formControlName="alias_name">
                                              <label for="alname" [ngClass]="{'active':us_f.alias_name.value}">Alias</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="radioOuter">
                                                <label>
                                                    <input type="radio" class="" formControlName="gender" value="M">
                                                    <span>Male</span>
                                                </label>
                                                <label>
                                                    <input type="radio" class="" formControlName="gender" value="F">
                                                    <span>Female</span>
                                                </label>
                                                <label>
                                                    <input type="radio" class="" formControlName="gender" value="O">
                                                    <span>Others</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                            <div class="input-field col s12">
                                                <!-- <label for="country">Country</label> -->
                                                <select id="country" formControlName="country" style="display:inline;">
                                                  <option value="">Country</option>
                                                  <option value="IN">India</option>
                                                  <option value="IE">Ireland</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                            <div class="input-field col s12">
                                                <select id="timezone" formControlName="timezone" style="display: inline;">
                                                  <option value="">Time Zone</option>
                                                  <option value="Asia/Kolkata">Asia/Kolkata</option>
                                                  <option value="Europe/Dublin">Europe/Dublin</option>
                                                  <option value="Europe/Brussels">Europe/Brussels</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <input id="dob" type="text" class="" dateInput  format="Y-m-d"  mode="single" formControlName="dob" maxdate="{{dobday}}">
                                              <label for="dob" [ngClass]="{'active':us_f.dob.value}">Date of Birth</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <input id="email" type="email" formControlName="email" class="validate">
                                              <label for="email" [ngClass]="{'active':us_f.email.value}">Email</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                                <!-- <span class="flag"><img src="assets/images/ireland-flag.png"></span> -->
                                                <input id="phone" type="text" class="validate" formControlName="mobile">
                                                <label for="phone" [ngClass]="{'active':us_f.mobile.value}">Phone</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="radioOuter avaradioOuter">
                                                <h6>Choose Avater</h6>
                                                <ng-container *ngFor="let avater of master_data.avatar_images">
                                                <label>
                                                    <input type="radio" value="{{avater.id}}" class="" formControlName="avatar_id">
                                                    <span><img src="{{global.imageUrl + '/' + avater.avatar_image}}"></span>
                                                </label>   

                                                </ng-container>
                                                
                                               
                                            </div>
                                        </div>
                                    </div>
                                     <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="checkboxOuter unsubcribe">
                                                <label>
                                                    <input type="checkbox" value="1" class="filled-in" formControlName="is_subscribed">
                                                    <span>Check the BOX to unsubscribe from email notifications</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="profilePart">
                                    <h4>Emergency Contact</h4>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <input id="emergency_contact_name" type="text" class="validate" formControlName="emergency_contact_name">
                                              <label for="emergency_contact_name" [ngClass]="{'active':us_f.emergency_contact_name.value}">Name</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                                <!-- <span class="flag"><img src="assets/images/india-flag.png"></span> -->
                                                <input id="emergency_contact_phone" type="text" class="validate" formControlName="emergency_contact_phone">
                                                <label for="emergency_contact_phone" [ngClass]="{'active':us_f.emergency_contact_phone.value}">Phone</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="profilePart">
                                    <h4>My Goal is</h4>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="checkboxOuter">
                                                <label>
                                                    <input type="checkbox" name="" value="1" [(ngModel)]="goals.overall_fitness" [ngModelOptions]="{standalone: true}" class="filled-in">
                                                    <span>Overall Fitness</span>
                                                </label>
                                            </div>
                                            <div class="checkboxOuter">
                                                <label>
                                                    <input type="checkbox" name="" value="1" [(ngModel)]="goals.reduce_fat" [ngModelOptions]="{standalone: true}" class="filled-in">
                                                    <span>Reduce Body Fat</span>
                                                </label>
                                            </div>
                                            <div class="checkboxOuter">
                                                <label>
                                                    <input type="checkbox" name="" value="1" [(ngModel)]="goals.gain_weight" [ngModelOptions]="{standalone: true}" class="filled-in" checked="">
                                                    <span>Gain Weight</span>
                                                </label>
                                            </div>
                                            <div class="checkboxOuter">
                                                <label>
                                                    <input type="checkbox" name="" value="1" [(ngModel)]="goals.improve_heart" [ngModelOptions]="{standalone: true}" class="filled-in">
                                                    <span>Improve Heart & Lungs</span>
                                                </label>
                                            </div>
                                            <div class="checkboxOuter">
                                                <label>
                                                    <input type="checkbox" name="" value="1" [(ngModel)]="goals.muscle_strength" [ngModelOptions]="{standalone: true}" class="filled-in">
                                                    <span>Muscle Strength (But no extra weight)</span>
                                                </label>
                                            </div>
                                            <div class="checkboxOuter">
                                                <label>
                                                    <input type="checkbox" name="" value="1" [(ngModel)]="goals.muscle_size" [ngModelOptions]="{standalone: true}" class="filled-in">
                                                    <span>Muscle Size (Hypertrophy)</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="checkboxOuter">
                                                <label>
                                                    <input type="checkbox" name="" value="1" [(ngModel)]="goals.tone_up"  [ngModelOptions]="{standalone: true}" class="filled-in">
                                                    <span>Tone Up</span>
                                                </label>
                                            </div>
                                            <div class="checkboxOuter">
                                                <label>
                                                    <input type="checkbox" name="" value="1" [(ngModel)]="goals.flexibility" [ngModelOptions]="{standalone: true}" class="filled-in">
                                                    <span>Flexibility</span>
                                                </label>
                                            </div>
                                            <div class="checkboxOuter">
                                                <label>
                                                    <input type="checkbox" name="" value="1" [(ngModel)]="goals.reduce_stress" [ngModelOptions]="{standalone: true}" class="filled-in" checked="">
                                                    <span>Reduce Stress</span>
                                                </label>
                                            </div>
                                            <div class="checkboxOuter">
                                                <label>
                                                    <input type="checkbox" name="" value="1" [(ngModel)]="goals.race" [ngModelOptions]="{standalone: true}" class="filled-in" checked="">
                                                    <span>Prepare for an athletic event</span>
                                                </label>
                                            </div>
                                            <div class="checkboxOuter">
                                                <label>
                                                    <input type="checkbox" name="" [(ngModel)]="goals.injury" value="1" [ngModelOptions]="{standalone: true}" class="filled-in">
                                                    <span>Injury rehabilitation</span>
                                                </label>
                                            </div>
                                            <div class="checkboxOuter">
                                                <div class="input-field">
                                                  <input type="text" id="other_goal" class="validate" formControlName="other_goal" >
                                                  <label for="other_goal" [ngClass]="{'active':us_f.other_goal.value}">Other, please specify if any</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="submitOuter">
                                    <button type="submit" class="detailBtn" (click)="storeUserInfomation()">Submit</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->                              
</section>