<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
         <div class="breadCrumb">
            <ul>
               <li><a href="javascript:void(0)" routerLink="/dashboard">Home</a></li>
               <li><span>Personal Profile</span></li>
            </ul>
         </div>
         <div class="profileOuter">
            <!-- <h3 class="pageTitle">Personal Profile</h3> -->
            <div class="profileInner">
               <div class="infoView">
                  <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="row">
                           <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="editOuter">
                                 <a href="jacascript:void(0)" routerLink="/edit-corporate-profile"><img src="assets/images/edit.png"> Edit</a>
                                 <div class="manualBox1">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <button type="button">Prev</button>
                                    <button type="button">Next</button>
                                    <button type="button">Skip</button>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 col-md-8 col-sm-12 col-12">
                              <div class="profilePic profilePiccorp">
                                 <img src="{{user_data.user_detail.profile_picture ? user_data.user_detail.profile_picture:'assets/images/groupLogo.png'}}" alt="groupLogo">
                                 <input type="file" name="" id="picChange" (change)="onSelectFile($event)">
                                 <label for="picChange"><img src="assets/images/edit.png">Change</label>
                              </div>
                           </div>
                           <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                              <div class="contactInfo contactInfocrop">
                                 <!-- <h3>Organisation Name</h3> -->
                                 <ul>
                                    <li><img src="assets/images/placeholder.png">{{user_data.user_detail.city}}</li>
                                    <li><img src="assets/images/placeholder.png">{{user_data.user_detail.state}}</li>
                                    <li><img src="assets/images/placeholder.png">{{user_data.user_detail.address}}</li>
                                 </ul>
                                 <!-- <div class="progressOuter progressOuterSec">
                                    <span class="completeTxt">Profile Completeness</span>
                                    <span class="completePercentage">70%</span>
                                    <div class="progressInner"></div>
                                 </div> -->
                              </div>
                           </div>
                           <div class="col-lg-12 col-md-12 col-sm-12 col-12"> 
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                  <div class="profileInner">
                     <div class="profilePart profilePartcorp">
                        <div class="row">
                           <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                              <h4>Primary Contact Details</h4>
                              <ul>
                                 <li><img src="assets/images/nameico.png"> {{user_data.user_detail.primary_cname}}</li>
                                 <li><img src="assets/images/desigico.png"> {{user_data.user_detail.primary_cdesignation}}</li>
                                 <li><img src="assets/images/emailIcon1.png"> {{user_data.user_detail.primary_cemail}}</li>
                                 <li><img src="assets/images/call.png"> {{user_data.user_detail.primary_cphone}}</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                  <div class="profileInner">
                     <div class="profilePart profilePartcorp">
                        <div class="row">
                           <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                              <h4>Additional Contact Details</h4>
                              <ul>
                                 <li><img src="assets/images/nameico.png"> {{user_data.user_detail.adtnl_name}}</li>
                                 <li><img src="assets/images/desigico.png"> {{user_data.user_detail.adtnl_cdesignation}}</li>
                                 <li><img src="assets/images/emailIcon1.png"> {{user_data.user_detail.adtnl_cemail}}</li>
                                 <li><img src="assets/images/call.png"> {{user_data.user_detail.adtnl_cphone}}</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>