<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
        <app-has-appointment></app-has-appointment>
        <div class="breadCrumb">
            <ul>
                <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
                <li><span>Sheet Result Details</span></li>
            </ul>
        </div>
        <div class="profileOuter">
            <div class="profileInner">
	        	<div class="editOuter">
	              <a href="javascript:void(0)" [routerLink]="['/adhoc-quiz/quiz-sheet/results',resultdetails.sheet_id]"><img src="assets/images/return.png"> Back To List</a>
	          	</div>
              <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                  <div class="input-field">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="profileInner">
                <div class="table-responsive">
                  <table class="table userListOuter">
                    <tr>
	                    <th>
	                        <h5 class="t-txt">Sl No.</h5>
	                    </th>
                        <th>
                           <h5 class="t-txt">Question</h5>
                        </th>
                        <th>
                           <h5 class="t-txt">First option</h5>
                        </th>
                        <th>
                           <h5 class="t-txt">Second option</h5>
                        </th>
                        <th>
                           <h5 class="t-txt">Third option</h5>
                        </th>
                        <th>
                           <h5 class="t-txt">Fourth option</h5>
                        </th>
                        <th>
                           <h5 class="t-txt">Correct option</h5>
                        </th>
                        <th>
                           <h5 class="t-txt">User Selected</h5>
                        </th>
                        <th>
                           <h5 class="t-txt">Is Correct</h5>
                        </th>
                        
                    </tr>
                    <ng-container *ngFor="let question of resultdetails.questions ; index as i;">
	                    <tr>
                        <td>
                          <label>
                            <span>{{i+1}}</span>
                          </label>
                        </td>
                        <td>
                            <p>{{question.question}}</p>
                        </td>
                        <ng-container *ngFor="let option of question.options; index as i;">
                        <td>
                            <p>{{option.option_label}}</p>
                        </td>
                        </ng-container>
                        <td *ngIf="question.options && question.options.length<3">
                        </td>
                        <td *ngIf="question.options && question.options.length<4">
                        </td>
                        <td>
                            <p>{{question.correct_option.option_label}}</p>
                        </td>
                        <td>
                        	<p>{{question.selected_option.option_label}}</p>
                        </td>
                        <td>
                          <p>{{question.is_correct_ans==1?'Yes':'No'}}</p>
                        </td>
	                    </tr>
                	</ng-container>
                </table>
            </div>
        </div>
      </div>
      </div>
   	</div>
   	<!-- Footer Section Start -->
   	<app-footer></app-footer>
   	<!-- End -->
</section>