<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
         <app-has-appointment></app-has-appointment>
         <div class="breadCrumb">
            <ul>
               <li><a href="javascript:void(0)" routerLink="/dashboard">Home</a></li>
               <li><span>Profile</span></li>
            </ul>
         </div>
         <div class="profileOuter">
            <!-- <h3 class="pageTitle">Personal Profile</h3> -->
            <div class="profileInner">
               <form [formGroup]="allergyform">
               <div class="profilePart">
                  <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h4> Allergy</h4>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="checkboxOuter">
                           <label>
                              <input type="checkbox" name="" formControlName="pollen_allergy" class="filled-in">
                              <span>Pollen Allergy/ HayFever</span>
                           </label>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="checkboxOuter">
                           <label>
                              <input type="checkbox" name="" formControlName="dust_allergy" class="filled-in">
                              <span>Dust Allergy</span>
                           </label>
                        </div>
                     </div>
                  </div>
                  <ul class="collapsible allergyCollapse">
                     <li>
                        <div class="collapsible-header">Food Allergy</div>
                        <div class="collapsible-body">
                           <div class="row">
                              <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                 <div class="checkboxOuter">
                                    <label>
                                       <input type="checkbox" name="" formControlName="gluten" class="filled-in">
                                       <span>Gluten</span>
                                    </label>
                                 </div>
                                 <div class="checkboxOuter">
                                    <label>
                                       <input type="checkbox" name="" formControlName="crustaceans" class="filled-in">
                                       <span>Crustaceans</span>
                                    </label>
                                 </div>
                                 <div class="checkboxOuter">
                                    <label>
                                       <input type="checkbox" name="" formControlName="eggs" class="filled-in">
                                       <span>Eggs</span>
                                    </label>
                                 </div>
                                 <div class="checkboxOuter">
                                    <label>
                                       <input type="checkbox" name="" formControlName="fish" class="filled-in">
                                       <span>Fish</span>
                                    </label>
                                 </div>
                                 <div class="checkboxOuter">
                                    <label>
                                       <input type="checkbox" name="" formControlName="peanuts" class="filled-in">
                                       <span>Peanuts</span>
                                    </label>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                 <div class="checkboxOuter">
                                    <label>
                                       <input type="checkbox" name="" formControlName="soybean" class="filled-in">
                                       <span>Soybean</span>
                                    </label>
                                 </div>
                                 <div class="checkboxOuter">
                                    <label>
                                       <input type="checkbox" name="" formControlName="milk" class="filled-in">
                                       <span>Milk</span>
                                    </label>
                                 </div>
                                  <div class="checkboxOuter">
                                    <label>
                                       <input type="checkbox" name="" formControlName="nuts" class="filled-in">
                                       <span>Nuts</span>
                                    </label>
                                 </div>
                                 <div class="checkboxOuter">
                                    <label>
                                       <input type="checkbox" name="" formControlName="celery" class="filled-in">
                                       <span>Celery</span>
                                    </label>
                                 </div>
                                 <div class="checkboxOuter">
                                    <label>
                                       <input type="checkbox" name="" formControlName="mustard" class="filled-in">
                                       <span>Mustard</span>
                                    </label>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                 <div class="checkboxOuter">
                                    <label>
                                       <input type="checkbox" name="" formControlName="sesame" class="filled-in">
                                       <span>Sesame</span>
                                    </label>
                                 </div>
                                 <div class="checkboxOuter">
                                    <label>
                                       <input type="checkbox" name="" formControlName="sulphites" class="filled-in">
                                       <span>Sulphur dioxide and sulphites </span>
                                    </label>
                                 </div>
                                 <div class="checkboxOuter">
                                    <label>
                                       <input type="checkbox" name="" formControlName="lupin" class="filled-in">
                                       <span>Lupin</span>
                                    </label>
                                 </div>
                                 <div class="checkboxOuter">
                                    <label>
                                       <input type="checkbox" name="" formControlName="molluscs" class="filled-in">
                                       <span>Molluscs</span>
                                    </label>
                                 </div>
                              </div>
                           </div>
                       </div>
                     </li>
                  </ul>
                  <div class="checkboxOuter">
                     <label>
                        <input type="checkbox" name="" formControlName="none_above" class="filled-in">
                        <span>None of these</span>
                     </label>
                  </div>
                  <div class="input-field">
                     <textarea id="textarea10" class="materialize-textarea" formControlName="other_allergy"></textarea>
                     <label for="textarea10" [ngClass]="{'active':allergyform.get('other_allergy').value}">Please Specify if any</label>
                  </div>
               </div>
               <div class="submitOuter">
                  <button type="submit" class="detailBtn" (click)="storeData()">Submit</button>
               </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->               
</section>