<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
                <div class="bodyContent">
                    <div class="container-fluid">
                        <app-has-appointment></app-has-appointment>
                        <div class="breadCrumb">
                            <ul>
                                <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
                                <li><span>Support</span></li>
                            </ul>
                        </div>
                        <div class="profileOuter">
                            <!-- <h3 class="pageTitle">Personal Profile</h3> -->
                            <div class="profileInner">
                                <form [formGroup]="supportForm">
                                <div class="profilePart">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h4>Add Support</h4>
                                        </div>
                                    </div>                                    
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <input id="f_name" type="text" formControlName="f_name" [readonly]="true">
                                              <label for="f_name" [ngClass]="{'active':sp_f.f_name.value}">First Name</label>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <input id="l_name" type="text" formControlName="l_name" [readonly]="true">
                                              <label for="l_name" [ngClass]="{'active':sp_f.l_name.value}">Last Name</label>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <input id="email" type="text" formControlName="email" [readonly]="true">
                                              <label for="email" [ngClass]="{'active':sp_f.email.value}">Email</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <input id="mobile" type="text" formControlName="mobile" [readonly]="true">
                                              <label for="mobile" [ngClass]="{'active':sp_f.mobile.value}">Mobile</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                             <select formControlName="support_type" style="display: inline;">
                                             	<option value="">select type</option>
                                             	<option value="feedback">Feedback</option>
                                             	<option value="technical-issue">Technical Issue</option>
                                             	<option value="userInterface-issue">User Interface Issue</option>
                                             	<option value="wearable-interface">Wearable Interface</option>
                                             	<option value="contact-admin">Contact Admin</option>
                                             </select>
                                             <div *ngIf="validationError && validationError.support_type">
                                                  <p class="errormsg">{{validationError.support_type[0]}}</p>
                                              </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                    	<div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                             <textarea id="support_description" formControlName="support_description"></textarea>
          									<label for="support_description">Message</label>	
                                              <div *ngIf="validationError && validationError.support_description">
                                                  <p class="errormsg">{{validationError.support_description[0]}}</p>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <button type="submit" class="detailBtn" (click)="create()">Submit</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->                              
</section>