<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
                <div class="bodyContent">
                    <div class="container-fluid">
                        <div class="breadCrumb">
                            <ul>
                                <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
                                <li><span>Profile</span></li>
                            </ul>
                        </div>
                        <div class="profileOuter">
                            <!-- <h3 class="pageTitle">Personal Profile</h3> -->
                            <div class="profileInner">
                                <form [formGroup]="updatePasswordForm">
                                <div class="profilePart">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h4>Update Password</h4>
                                        </div>
                                    </div>                                    
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <input id="password" type="password" class="validate" formControlName="password">
                                              <label for="password" [ngClass]="{'active':us_f.password.value}">New Password</label>
                                              <div *ngIf="validationError && validationError.password">
                                                  <p class="errormsg">{{validationError.password[0]}}</p>
                                              </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                    	<div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <input id="password_confirmation" type="password" class="validate" formControlName="password_confirmation">
                                              <label for="password_confirmation" [ngClass]="{'active':us_f.password_confirmation.value}">Confirm Password</label>
                                              <div *ngIf="validationError && validationError.password_confirmation">
                                                  <p class="errormsg">{{validationError.password_confirmation[0]}}</p>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <button type="submit" class="detailBtn" (click)="updatePassword()">Update</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->                              
</section>