<!-- START DASHBOARD -->
<section class="dashboardSection">
    <div class="manualBox">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <button type="button">Prev</button>
        <button type="button">Next</button>
        <button type="button">Skip</button>
    </div>
    <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
    <div class="bodyContent">
        <div class="container-fluid">
            <div class="appointment">
            <a href="javascript:void(0)">Appointments</a>
            <div class="appointmentInner">
               <div class="appointmentHead">
                  <a href="javascript:void(0)">Appointment List</a>
               </div>
               <ul>
                <ng-container *ngFor="let appointment of appointments; index as i;">
                  <li>
                    <a href="javascript:void(0)">
                    <h5><span class="green"></span> {{appointment.status}}</h5>
                    <h4>{{appointment.firstname}} {{appointment.lastname}}</h4>
                    <h6>{{appointment.date_of_appointment}} {{appointment.slot_start_time}} to {{appointment.slot_end_time}}</h6>
                    <h6>{{appointment.group_name}}</h6>
                    </a>
                  </li>
                </ng-container>
               </ul>
            </div>
         </div>
            <div class="breadCrumb">
              <ul>
                <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
                <li><span>Activity Record</span></li>
              </ul>
            </div>
            <div class="profileOuter">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12" *ngIf="activity_source!='manual'">
                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-md-7 col-sm-12 col-12">
                                <div class="profileInner profileincenter">
                                   <h3>Yesterday</h3>
                                    <div class="infoData" [ngClass]="{'activeinfoIcon': activinfogrph=='steep'}" (click)="topchartchange('steep'); activinfogrph='steep'"> 
                                        <img src="assets/images/step.png">
                                        <h4>{{dayactivities.steps}} steps</h4>
                                    </div>
                                    <div class="infoDataSec" [ngClass]="{'activeinfoIcon': activinfogrph=='distance'}" (click)="topchartchange('distance'); activinfogrph='distance'">
                                        <div class="infoIcon">
                                            <span class="chart" [attr.data-percent]="distanceper">
                                                <span class="percent"><img src="assets/images/km.png"></span>
                                            </span>          
                                        </div>
                                        <h4>{{dayactivities.distance}} km</h4>
                                    </div>
                                    <div class="infoDataSec" [ngClass]="{'activeinfoIcon': activinfogrph=='active_time'}" (click)="topchartchange('active_time'); activinfogrph='active_time'">
                                        <div class="infoIcon">
                                            <span class="chart" [attr.data-percent]="activemnper">
                                                <span class="percent"><img src="assets/images/active.png"></span>
                                            </span>
                                        </div>
                                        <h4>{{dayactivities.active_time}} active min</h4>
                                    </div>
                                    <div class="infoDataSec" [ngClass]="{'activeinfoIcon': activinfogrph=='fat_burn'}" (click)="topchartchange('fat_burn'); activinfogrph='fat_burn'">
                                        <div class="infoIcon">
                                            <span class="chart" [attr.data-percent]="calbrnper">
                                                <span class="percent"><img src="assets/images/fatBurn.png"></span>
                                            </span>
                                        </div>
                                        <h4>{{dayactivities.fat_burn}} cals</h4>
                                    </div>
                                    <div class="infoDataSec" [ngClass]="{'activeinfoIcon': activinfogrph=='floors'}" (click)="topchartchange('floors'); activinfogrph='floors'">
                                        <div class="infoIcon">
                                            <span class="chart" [attr.data-percent]="florsper">
                                                <span class="percent"><img src="assets/images/floor.png"></span>
                                            </span>
                                        </div>
                                        <h4>{{dayactivities.floors}} floor step</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-7 col-md-5 col-sm-12 col-12">
                                <div class="profileInner" [ngStyle]="{'display':deskchart}">
                                  <h6 id="topcharthding"><img src="assets/images/step_25.png" alt='icon'> Last 30 days</h6>
                                    <div id="step1">
                                      <canvas
                                          baseChart
                                          [chartType]="'bar'"
                                          [datasets]="topChartData"
                                          [labels]="topChartLabels"
                                          [options]="topChartOptions"
                                          [legend]="true">
                                      </canvas>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="profileInner" (click)="topchartchange('heartrate')">
                                            <div class="mealPlanOuter heartchartsh">
                                                <div class="mealplanRight">
                                                  <p>Yesterday Heartrate</p>
                                                   <div id="heartratechart" ></div>
                                                   <strong *ngIf="hrtrate.cardio == 0 && hrtrate.fat_burn == 0 && hrtrate.resting == 0 && hrtrate.peak == 0" style="color:#FF0000;">Sleep and Heart Rate are only available through tracking wearables.</strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="profileInner profileincenter">
                                            <div class="mealPlanOuter">
                                                <h3>Yesterday</h3>
                                                <div class="mealplanLeft">
                                                    <img src="assets/images/sleep.png" alt="sleep">
                                                </div>
                                                <div class="mealplanRight">
                                                    <h4>{{sleephrs}} hr</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12" *ngIf="activity_source!='manual'">
                        <div class="profileInner">
                            <canvas
                              baseChart
                              [chartType]="'horizontalBar'"
                              [datasets]="rightSideChartData"
                              [labels]="rightSideChartLabels"
                              [options]="rightSideChartOptions"
                              [legend]="true" height="630%">
                            </canvas>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" *ngIf="activity_source=='manual'">
                      <div class="profileInner">
                          <canvas
                            baseChart
                            [chartType]="'bar'"
                            [datasets]="manualChartData"
                            [labels]="manualChartLabels"
                            [options]="manualOptions"
                            [legend]="true">
                          </canvas>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" *ngIf="activity_source=='manual'">
                        <div class="profileInner">
                            <canvas
                              baseChart
                              [chartType]="'bar'"
                              [datasets]="rightSideChartData"
                              [labels]="rightSideChartLabels"
                              [options]="rightSideChartOptions"
                              [legend]="true">
                            </canvas>
                        </div>
                    </div>
                </div> 
                <div class="row" *ngIf="activity_source=='manual'">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="profileInner" id="activitylist">
                           <div class="profilePart">
                              <div class="row">
                                <div class="col-md-8 col-sm-12 col-xs-12">
                                  <h4>Record your Last Activity Details</h4>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                  <div class="mealplanRight">
                                    <a href="javascript:void(0)" class="modal-trigger" (click)="openModalDialog()">Add Activity</a>
                                  </div>
                                </div>
                              </div>                                
                                <div class="recordOuter">
                                    <div class="recordRow recordHead">
                                       <div class="recordCol">
                                           <h5>Date</h5>
                                       </div>
                                       <div class="recordCol">
                                           <h5>Activity</h5>
                                       </div>
                                       <div class="recordCol">
                                           <h5>Time</h5>
                                       </div>
                                       <div class="recordCol">
                                           <h5>RPE</h5>
                                       </div>
                                       <div class="recordCol">
                                           <h5>Action</h5>
                                       </div>
                                    </div>
                                    <ng-container *ngFor="let activity of activities; index as i;">
                                    <div class="recordRow">
                                        <div class="recordCol">
                                            <p>{{activity.activity_date}}</p>
                                        </div>
                                        <div class="recordCol">
                                            <p>{{activity.activity}}</p>
                                        </div>
                                        <div class="recordCol">
                                            <p>{{activity.activity_time}} mins</p>
                                        </div>
                                        <div class="recordCol">
                                            <p>{{activity.activity_rpe}}</p>
                                        </div>
                                        <div class="recordCol">
                                            <p><a href="javascript:void(0)" (click)="activityDelete(activity.id)"><img src="assets/images/delete.png" title="Delete"></a></p>
                                        </div>
                                    </div>
                                	</ng-container>
                               </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>
<!-- END DASHBOARD -->

<!-- modal -->
<div class="modal generalModal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog">
    <div class="modal-content">  
    	 <!-- modal-header -->
      <div class="modal-header">
      	<h4>Add Activity</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModalDialog()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="activityAddForm">
        	<div class="row">
        		<div class="col-lg-6 col-md-6 col-sm-12 col-12">
		        	<div class="form-group">
			            <input id="srtDate" type="text" dateInput class="" format="Y-m-d"  mode="single" formControlName="activitydate" maxdate="{{today}}" placeholder="Date">
		        	</div>
	        	</div>
	        	<div class="col-lg-6 col-md-6 col-sm-12 col-12">
		        	<div class="form-group">
			            <select id="duration" style="display: inline;" formControlName="activitytype" (change)="changeActivitytype($event)">
			            	<option value="" [selected]=true>Select Activity</option>
		                    <option value="Resistance / Weight Training">Resistance / Weight Training</option>
		                    <option value="Cardio">Cardio</option>
		                    <option value="Circuit Training">Circuit Training</option>
		                    <option value="Sleep">Sleep</option>
		                </select>
		        	</div>
        		</div>
        	</div>
            <div class="row">
        		<div class="col-lg-4 col-md-4 col-sm-12 col-12">
		            <div class="form-group">
			            <select id="duration" style="display: inline;" formControlName="activitytime" >
			            	<option value="" [selected]=true>Select Time</option>
			            	<option *ngFor="let timeoption of timeoptions" value="{{timeoption.value}}">{{timeoption.name}}</option>
		                </select>
		        	</div>
		        </div>
		        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
		        	<div class="form-group">
			            <select id="duration" style="display: inline;" formControlName="activitypre">
		                    <option *ngFor="let optn of soption" value="{{optn.value}}">{{optn.name}}</option>
		                </select>
		        	</div>
		        </div>
		    </div>
            <div class="form-group">
                <button type="submit" class="detailBtn" (click)="activityStore()">Add Activity</button>
            </div>
        </form>
    </div>
    </div>
  </div>
</div>

<!-- start chart modal -->
<div class="modal generalModal" tabindex="-1" role="dialog"  [ngStyle]="{'display':chartdisplay}">
  <div class="modal-dialog">
    <div class="modal-content">  
       <!-- modal-header -->
      <div class="modal-header">
        <h6 id="mbltopcharthding"><img src="assets/images/step_25.png" alt='icon'> Last 30 days</h6>
        <button type="button" class="close" aria-label="Close" (click)="closeChartModalDialog()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div id="">
          <canvas
              baseChart
              [chartType]="'bar'"
              [datasets]="topChartData"
              [labels]="topChartLabels"
              [options]="topChartOptions"
              [legend]="true">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modalend" [ngClass]="{'modal-overlay':isModalOpen}"></div>