<div class="appointment">
             <a href="javascript:void(0)">Appointments</a>
             <div class="appointmentInner">
                 <div class="appointmentHead">
                     <a href="javascript:void(0)">Appointments</a>
                 </div>
                <ul>
                  <ng-container *ngFor="let appointment of appointments; index as i;">
                    <li>
                      <a href="javascript:void(0)">
                      <h5><span class="green"></span> {{appointment.status}}</h5>
                      <h4>{{appointment.firstname}} {{appointment.lastname}}</h4>
                      <h6>{{appointment.date_of_appointment}} {{appointment.slot_start_time}} to {{appointment.slot_end_time}}</h6>
                      <h4>{{appointment.group_name}}</h4>
                      </a>
                    </li>
                  </ng-container>
                  <ng-container *ngIf="appointments && appointments.length ==0">
                    <h6 style="color: white;">No appointement has been set yet</h6>
                  </ng-container>
                </ul>
             </div>
         </div>