<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">

         <div class="breadCrumb">
             <ul>
                 <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Dashboard</a></li>
                 <li><span>Privacy Policy</span></li>
             </ul>
         </div>
         <div class="profileOuter">
             <div>
             	<p>Wind-of-Change Total Wellbeing Solutions Ltd. (WOC) respect the privacy of visitors to our site. Please read this Privacy Policy carefully so that you understand our privacy practices. Questions regarding privacy issues should be directed to WOC at&nbsp;<a href="mailto:info@windofchange.ie">info@windofchange.ie</a>&nbsp;or 55 Warren Avenue, Castleknock, Dublin, D15 RKV6, Ireland.</p>
              <p>Children should always get permission from their parents before sending any information about themselves (such as their names, email addresses, and phone numbers) over the Internet, to us or to anyone else. We won't knowingly allow anyone under 13 to register with any of our sites or to provide any other personally identifying information.</p>
              <p>The information gathered by WOC falls into two categories: (1) information voluntarily supplied by visitors to our websites when they register or initiate transactions, and (2) tracking information gathered as visitors navigate through our sites. Third party providers featured on or linked to by our websites, such as vendors of products and services offered through our sites, may be gathering the same kinds of information.</p>
              <p>To make use of certain features on our websites (such as chat rooms and other interactive forums) visitors need to register and to provide certain information as part of the registration process. We may also ask for information from those who want more personalized services or conduct other transactions on our websites. (We may ask, for example, for your name, email address, gender, age, postal address or credit card number or any diseases you suffer). The information you supply will help us to offer you more personalized features, to tailor our sites to your interests and make them more useful to you, and to process e-commerce transactions.</p>
              <p>The more you tell us about yourself, the more value we can offer you. Supplying such information is entirely voluntary. But if you don't supply the information we need, we may be unable to provide you with services we make available to other visitors to our sites. For example, we can't offer you a personalized diet if you don't tell us about your demographics (age, gender, ethnic background, and disease problems). And we can't send you email alerting you to a new service we're offering, or breaking news that may interest you if you don't tell us what you're interested in and give us your email address.</p>
              <p>Of course, even if you want to remain completely anonymous, you're still free to take advantage of the wealth of content available on our sites without registration.</p>
              <p>To help make our sites more responsive to the needs of our visitors, we invoke a standard feature of browser software, called a "cookie," to assign each visitor a unique, random number, a sort of user ID, if you will, that resides on your computer. The cookie doesn't actually identify the visitor, just the computer that a visitor uses to access our site. Unless you voluntarily identify yourself (through registration, for example), we won't know who you are, even if we assign a cookie to your computer. The only personal information a cookie can contain is information you supply. A cookie can't read unrelated data off your hard drive.</p>
              <p>We use cookies to help us tailor our site to your needs, to deliver a better, more personalized service. It is a cookie, for example, that allows us to deliver your personalized content, even if you've been away for a while. In addition, we may use cookies to track the pages on our sites visited by our users. We can build a better site if we know which pages our users are visiting and how often. Of course, you can set your browser not to accept cookies, but if you do, you may not be able to take advantage of the personalized features enjoyed by other visitors to our sites.</p>
              <p>Our web servers automatically collect limited information about your computer's connection to the Internet, including your IP address, when you visit our sites. (Your IP address is a number that lets computers attached to the Internet know where to send you data -- such as the web pages you view). Your IP address does not identify you personally to us. We use this information to deliver our web pages to you upon request, to tailor our sites to the interests of our users, and to measure traffic within our sites.</p>
              <p>To make our sites more valuable to our visitors, we may offer some features in conjunction with other providers. We share with these third parties such information as is necessary to provide the products or services, but we do not sell or provide email addresses to any third parties that market unrelated products or services. And, of course, our sites may include, time to time, links to other websites, and provide access to products and services offered by third parties, whose privacy policies we don't control. When you access another website or purchase products or services or conduct other transactions through our websites, use of any information you provide is governed by the privacy policy of the operator of the site you're visiting or the provider of such products or services. And when you provide information in the course of obtaining products or services through one of our sites, use of any information you provide may be governed by the privacy policy of the provider of those products or services, even if it appears that you're on our website. The provider's privacy policy may differ from ours. If you can't find the privacy policy of any of our provider partners via a link either from the site's homepage or from the pages on which the products or services are offered, you should contact the provider directly for more information. All information gathered on any WOC website is stored within a WOC-controlled database. We also use encryption of data for security purposes. However, as effective as encryption technology is, no security system is impenetrable. We cannot guarantee the security of our database, nor can we guarantee that information you supply won't be intercepted while being transmitted to us over the Internet. And, of course, any information you include in a message you post to any chat room, forum or other public posting area is available to anyone with Internet access. If you don't want people to know your email address, for example, don't include it in any message you post publicly.</p>
              <p>We reserve the right to release information about our visitors when release is appropriate to comply with law, to enforce our Terms and Conditions of Use, or to protect the rights, property or safety of visitors to our sites, the public, or WHFoods.org.</p>
              <p>A final note: The Web is an evolving medium. If we need to change our privacy policy at some point in the future, we'll post the changes before they take effect. By visiting any of our sites, you agree that your visit, and any dispute over our privacy practices, is governed by this Privacy Policy and our Terms and Conditions of Use.</p>
              <h5>Disclaimer of Warranties and Liability</h5>
              <p>We work hard to make WOC an interesting, enjoyable and beneficial place, but we cannot guarantee that our users will always find everything to their liking. Please read this Disclaimer carefully before using WOC.</p>
              <p>YOU AGREE THAT YOUR USE OF THIS SERVICE IS AT YOUR SOLE RISK. BECAUSE OF THE NUMBER OF POSSIBLE SOURCES OF INFORMATION PROVIDED THROUGH THE SERVICE AND THE UNIQUE NATURE OF EACH PERSON'S HEALTH NEEDS, YOU MAY EXPERIENCE OMISSIONS, INACCURACIES, OR OTHER PROBLEMS WITH THE INFORMATION AND ADVICE PROVIDED. IF YOU RELY ON THIS SERVICE OR ANY MATERIAL AVAILABLE THROUGH THIS SERVICE, YOU DO SO AT YOUR OWN RISK. YOU UNDERSTAND THAT YOU ARE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR YOUR HEALTH THAT RESULTS FROM ANY MATERIAL AND/OR DATA DOWNLOADED FROM OR OTHERWISE PROVIDED THROUGH WOC.</p>
              <p>THE CONTENTS OF THE WOC, SUCH AS TEXT, GRAPHICS, IMAGES, RECIPE RECOMMENDATIONS, AND OTHER MATERIALS ARE FOR INFORMATIONAL PURPOSES ONLY. THE CONTENT IS NOT INTENDED TO BE A SUBSTITUTE FOR PROFESSIONAL HEALTHCARE ADVICE, DIAGNOSIS, OR TREATMENT. ALWAYS SEEK THE ADVICE OF A PHYSICIAN OR OTHER QUALIFIED HEALTH PROVIDER FOR ANY HEALTH PROBLEM OR MEDICAL CONDITION. NEVER DISREGARD PROFESSIONAL HEALTHCARE ADVICE OR DELAY SEEKING HELP BECAUSE OF SOMETHING YOU HAVE READ ON THIS SITE.</p>
              <p>THIS SERVICE IS PROVIDED TO YOU *AS IS,* *WITH ALL FAULTS,* AND *AS AVAILABLE.* WOC, THEIR AFFILIATES, AGENTS AND LICENSORS, CANNOT AND DO NOT WARRANT THE ACCURACY, COMPLETENESS, CURRENTNESS, NONINFRINGEMENT, OR APPROPRIATENESS FOR A PARTICULAR PURPOSE OF THE INFORMATION AVAILABLE THROUGH THE SERVICE. NOR DO THEY GUARANTEE THAT THE SERVICE WILL BE ERROR-FREE, OR CONTINUOUSLY AVAILABLE, OR THAT THE SERVICE WILL BE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.</p>
              <p>UNDER NO CIRCUMSTANCES SHALL WOC, THEIR AFFILIATES, AGENTS OR LICENSORS BE LIABLE TO YOU OR ANYONE ELSE FOR ANY DAMAGES ARISING OUT OF USE OF WOC, INCLUDING, WITHOUT LIMITATION, LIABILITY FOR CONSEQUENTIAL, SPECIAL, INCIDENTAL, INDIRECT, OR SIMILAR DAMAGES, EVEN IF WE ARE ADVISED BEFOREHAND OF THE POSSIBILITY OF SUCH DAMAGES. (BECAUSE SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF CERTAIN CATEGORIES OF DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IN SUCH STATES, THE LIABILITY OF WOC, THEIR AFFILIATES, AGENTS AND LICENSORS IS LIMITED TO THE FULLEST EXTENT PERMITTED BY SUCH STATE LAW). YOU AGREE THAT THE LIABILITY OF WOC, THEIR AFFILIATES, AGENTS AND LICENSORS, IF ANY, ARISING OUT OF ANY KIND OF LEGAL CLAIM IN ANY WAY CONNECTED TO THE SERVICE SHALL NOT EXCEED THE AMOUNT YOU PAID TO THE SERVICE FOR THE USE OF THE SERVICE.</p>
              <p>These Terms and Conditions of Use, together with the Privacy Policy and Policy for Chat Rooms and Forums, constitute the entire agreement between WOC, and you with respect to your use of the WOC Web Site. Any cause of action you may have with respect to your use of the WOC Web Site must be commenced within one (1) year after the claim or cause of action arises. If for any reason a court of competent jurisdiction finds any provision of the Agreement, or portion thereof, to be unenforceable, that provision shall be enforced to the maximum extent permissible so as to effect the intent of the Agreement and the remainder of this Agreement shall continue in full force and effect. WOC disclaim any and all responsibility for content contained in any third party materials provided through links from the WOC Internet site.</p>
             </div>
         </div>
     </div>
   </div>
   <app-footer></app-footer>
   <!-- End -->
</section>