<app-employee-community *ngIf="user_role.slug=='employee'"></app-employee-community>

<app-coach-community *ngIf="user_role.slug=='admin'"></app-coach-community>

<app-secondary-coach-community *ngIf="user_role.slug=='subcoach'"></app-secondary-coach-community>
