<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
         <app-has-appointment></app-has-appointment>
         <div class="breadCrumb">
            <ul>
               <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
               <li><span>ChatBox</span></li>
            </ul>
         </div>
         <div class="profileOuter">
            <!-- <h3 class="pageTitle">ChatBox</h3> -->
            <div class="row">
               <div class="col-lg-12 col-md-12  col-sm-12 col-12">
                  <div class="profileInner chatprofileinner">
                     <div class="chat_panel clear">
                        <div class="chatlist">
                           <div class="searchpanel">
                              <!-- <form>
                                 <div class="input-field searchOuter">
                                    <input id="smail" type="text" class="">
                                    <label for="smail" class="">Search mail</label>
                                    <button><img src="assets/images/search1.png"></button>
                                 </div>
                              </form> -->
                           </div>

                           <div class="chathdr for_user">
                              <div class="chataccordian">
                                 <ul id=" " class=" ">
                                    <li class="active-chat-user">
                                       <a href="javascript:void(0)">
                                          <span class="img">
                                          <img src="assets/images/dummy.jpg" alt="dummy"/>
                                          </span>
                                          <div class="text">
                                             <span class="name">{{(coachData && coachData.user_detail) ? coachData.user_detail.firstname + ' ' + coachData.user_detail.lastname :''}}</span>
                                             <!--<span class="date">jan 25, 2019</span>-->
                                             <span class="date" *ngIf="filterChat.length>0">{{filterChat[0].createdAt  | date: 'MMM d, y'}}</span>
                                          </div>
                                          <span [ngClass]="{'dot online':setOnlineUser(coachData.email)}"></span>
                                       </a>
                                    </li>
                                    
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="chatdetails">
                           <div class="searchpanel">
                              <div class="input-field searchOuter">
                                 <input id="smail" type="text" class="" [(ngModel)]="search_chat_text" [ngModelOptions]="{standalone: true}" style="padding-left:10px;">
                                 <label for="smail" class="" style="left:10px;">Search </label>
                                 <button><img src="assets/images/search1.png"></button>
                              </div>
                           </div>
                           <div class="chatwith">
                              <span class="img">
                              <img src="assets/images/dummy.jpg" alt="dummy"/>
                              </span>
                              <div class="text">
                                 <span class="name">{{(coachData && coachData.user_detail) ? coachData.user_detail.firstname + ' ' + coachData.user_detail.lastname :''}}</span> 
                              </div>
                           </div>
                           <div class="chatcontent">
                              <div class="chatcontentlist">
                                 <ng-container *ngFor="let chat of filterChat  | groupSearch:'message': search_chat_text; index as i;">
                                 <div class="chatholder self clear" *ngIf="chat.from == loginUser.id">
                                    <div class="chatbox">
                                       <div class="text">
                                          <span class="name">{{chat.from_name}}</span> 
                                          <span class="textcontent" [innerHTML]="updateStyle(chat.message)"></span>

                                          <a href="{{awsurl}}{{chat.attachfile}}" target="_blank" *ngIf="chat.file_type && chat.file_type !='' && chat.file_type.includes('image') ==true"><img src="{{awsurl}}{{chat.attachfile}}" width="300" height="300"></a>

                                          <a href="{{awsurl}}{{chat.attachfile}}" target="_blank" download *ngIf="chat.file_type && chat.file_type !='' && chat.file_type.includes('image') !=true"><img src="assets/images/document-clip.png"></a>
                                       </div>
                                       <span class="date">{{chat.createdAt | date: 'MMM d, yyyy'}}</span>
                                    </div>
                                    <span class="img"><img src="assets/images/dummy.jpg" alt="dummy"/></span>
                                 </div>
                                 
                                 <div class="chatholder other clear" *ngIf="chat.from != loginUser.id">
                                    <div class="chatbox">
                                       <div class="text">
                                          <span class="name">{{chat.from_name}}</span> 
                                          <span class="textcontent" [innerHTML]="updateStyle(chat.message)"></span>
                                          <a href="{{awsurl}}{{chat.attachfile}}" target="_blank" *ngIf="chat.file_type && chat.file_type !='' && chat.file_type.includes('image') ==true"><img src="{{awsurl}}{{chat.attachfile}}" width="300" height="300"></a>

                                          <a href="{{awsurl}}{{chat.attachfile}}" target="_blank" download *ngIf="chat.file_type && chat.file_type !='' && chat.file_type.includes('image') !=true"><img src="assets/images/document-clip.png"></a>
                                       </div>
                                       <span class="date">{{chat.createdAt | date: 'MMM d, yyyy'}}</span>
                                    </div>
                                    <span class="img"><img src="assets/images/dummy.jpg" alt="dummy"/></span>
                                 </div>
                                 </ng-container>
                                 <div id='bottomspan'></div>
                              </div>
                              <div class="chatsubmit">
                                 <form>
                                    <div class="form-group replyText">
                                       <textarea placeholder="Type Your Message" [(ngModel)]="createMessage.message" [ngModelOptions]="{standalone: true}"></textarea>
                                       <input type="file"  id="replyfile" (change)="onFileSelected($event)">
                                       <label for="replyfile"><img src="assets/images/attachment.png"></label>
                                       <span class="uploadedFileName">{{comntfilename}}</span>
                                       <input type="submit" name="" value="" (click)="sendMessage()" >
                                    </div>
                                    <!-- <div class="submithold">
                                       <div class="submit">
                                          
                                         <input type="submit" name="" value="">
                                       </div>
                                       <div class="attach">
                                          <input type="file" name="" id="file1">
                                          <label for="file1"></label>
                                       </div> 
                                    </div>-->
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>