<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
         <div class="breadCrumb">
            <ul>
               <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/content',category_name]">{{category_name}}</a></li>
               <li><span>{{content.title}}</span></li>
            </ul>
         </div>
         <div class="profileOuter">
            <div class="profileInner">
               <div class="editOuter">
                  <a href="{{content.attached_file_url}}" target="_blank" title="download file" download *ngIf="content && content.attached_file_url"><i class="material-icons">file_download</i></a>&nbsp; 
                  <a href="javascript:void(0)" [routerLink]="['/content',category_name]"><img src="assets/images/return.png" alt="return"> Back to List</a>
               </div>
               <div class="contentDetails">
                  <h2>{{content.title}}</h2>
                  <div [innerHtml]="content.description"></div>
                  <div  *ngIf="content.video_url">
                     <iframe width="350" height="250" [src]="videoSanitize(content.video_url)" frameborder="0" allowfullscreen ></iframe>
                  </div>    
               </div>
               <div class="quizOuter" *ngIf="qscontentcount !=0">
                  <a href="javascript:void(0)" [routerLink]="['/content/quiz', content.id]" class="detailBtn" *ngIf="content.is_quiz_taken ==0">Go to Quiz</a>
                  <a href="javascript:void(0)" [routerLink]="['/content/quiz-result', content.id]" class="detailBtn" *ngIf="content.is_quiz_taken ==1">Go to Quiz Result</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>