<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
         <div class="breadCrumb breadCrumbSec">
             <div class="row">
                 <div class="col-md-8 col-sm-8 col-12">
                     <ul>
                         <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
                         <li><span>Questions</span></li>
                     </ul>
                 </div>
                 <div class="col-md-4 col-sm-4 col-12">
                     <div class="workFlow">
                         <a href="javascript:void(0)">Work Flow</a>
                     </div>
                 </div>
             </div>
         </div>
         <div class="profileOuter">
            <div class="processSec">
               <div class="processOuter">
                  <ul>
                      <li *ngIf="permissions && permissions.indexOf('PS') !== -1 ? true: false"> 
                        <div class="circleOuter">
                          <a href="javascript:void(0)" [routerLink]="['/questionnaire/question','']" class="smileyCircle incomplete"  *ngIf="!draft_answerscore.PS">
                            <img src="assets/images/incomplete-icon.png">
                          </a>
                          <a href="javascript:void(0)" [routerLink]="['/questionnaire/question','']" class="smileyCircle"  *ngIf="draft_answerscore.PS">
                            <img src="assets/images/smiley-green.png" alt="" *ngIf="draft_answerscore.PS && draft_answerscore.PS.lesser < draft_answerscore.PS.greater">
                            <img src="assets/images/smiley-yellow.png" *ngIf="draft_answerscore.PS && draft_answerscore.PS.lesser == draft_answerscore.PS.greater">
                            <img src="assets/images/smiley-orange.png" *ngIf="draft_answerscore.PS && draft_answerscore.PS.lesser > draft_answerscore.PS.greater">
                          </a>
                        </div>
                        <span class="processTxt">Perceived <br>Stress</span>
                      </li>
                      <li *ngIf="permissions && permissions.indexOf('FIT') !== -1 ? true: false"> 
                        <div class="circleOuter">
                          <a href="javascript:void(0)" [routerLink]="['/questionnaire/question','fit']" class="smileyCircle incomplete"  *ngIf="!draft_answerscore.FIT">
                            <img src="assets/images/incomplete-icon.png">
                          </a>

                          <a href="javascript:void(0)" [routerLink]="['/questionnaire/question','fit']" class="smileyCircle"  *ngIf="draft_answerscore.FIT">
                            <img src="assets/images/smiley-green.png" alt="" *ngIf="draft_answerscore.FIT && draft_answerscore.FIT.lesser < draft_answerscore.FIT.greater">
                            <img src="assets/images/smiley-yellow.png" *ngIf="draft_answerscore.FIT && draft_answerscore.FIT.lesser == draft_answerscore.FIT.greater">
                            <img src="assets/images/smiley-orange.png" *ngIf="draft_answerscore.FIT && draft_answerscore.FIT.lesser > draft_answerscore.FIT.greater">
                          </a>
                        </div>
                        <span class="processTxt">Movement</span>
                      </li>
                      <li *ngIf="permissions && permissions.indexOf('DTP') !== -1 ? true: false"> 
                        <div class="circleOuter">
                          <a href="javascript:void(0)" [routerLink]="['/questionnaire/question','dtp']" class="smileyCircle incomplete"  *ngIf="!draft_answerscore.DTP">
                            <img src="assets/images/incomplete-icon.png">
                          </a>
                          <a href="javascript:void(0)" [routerLink]="['/questionnaire/question','dtp']" class="smileyCircle"  *ngIf="draft_answerscore.DTP">
                            <img src="assets/images/smiley-green.png" alt="" *ngIf="draft_answerscore.DTP && draft_answerscore.DTP.lesser < draft_answerscore.DTP.greater">
                            <img src="assets/images/smiley-yellow.png" *ngIf="draft_answerscore.DTP && draft_answerscore.DTP.lesser == draft_answerscore.DTP.greater">
                            <img src="assets/images/smiley-orange.png" *ngIf="draft_answerscore.DTP && draft_answerscore.DTP.lesser > draft_answerscore.DTP.greater">
                          </a>
                        </div>
                        <span class="processTxt">Gut Health </span>
                      </li>
                      <li *ngIf="permissions && permissions.indexOf('LP') !== -1 ? true: false"> 
                        <div class="circleOuter">
                          <a href="javascript:void(0)" [routerLink]="['/questionnaire/question','lp']" class="smileyCircle incomplete"  *ngIf="!draft_answerscore.LP">
                            <img src="assets/images/incomplete-icon.png">
                          </a>

                          <a href="javascript:void(0)" [routerLink]="['/questionnaire/question','lp']" class="smileyCircle"  *ngIf="draft_answerscore.LP">
                            <img src="assets/images/smiley-green.png" alt="" *ngIf="draft_answerscore.LP && draft_answerscore.LP.lesser < draft_answerscore.LP.greater">
                            <img src="assets/images/smiley-yellow.png" *ngIf="draft_answerscore.LP && draft_answerscore.LP.lesser == draft_answerscore.LP.greater">
                            <img src="assets/images/smiley-orange.png" *ngIf="draft_answerscore.LP && draft_answerscore.LP.lesser > draft_answerscore.LP.greater">
                          </a>
                        </div>
                        <span class="processTxt">Cleansing System </span>
                      </li>
                      <li *ngIf="permissions && permissions.indexOf('ES') !== -1 ? true: false"> 
                        <div class="circleOuter">
                          <a href="javascript:void(0)" [routerLink]="['/questionnaire/question','es']" class="smileyCircle incomplete" *ngIf="!draft_answerscore.ES">
                            <img src="assets/images/incomplete-icon.png">
                          </a>
                          <a href="javascript:void(0)" [routerLink]="['/questionnaire/question','es']" class="smileyCircle" *ngIf="draft_answerscore.ES">
                            <img src="assets/images/smiley-green.png" alt="" *ngIf="draft_answerscore.ES && draft_answerscore.ES.lesser < draft_answerscore.ES.greater">
                            <img src="assets/images/smiley-yellow.png" *ngIf="draft_answerscore.ES && draft_answerscore.ES.lesser == draft_answerscore.ES.greater">
                            <img src="assets/images/smiley-orange.png" *ngIf="draft_answerscore.ES && draft_answerscore.ES.lesser > draft_answerscore.ES.greater">
                          </a>
                        </div>
                        <span class="processTxt">Body Communication</span>
                      </li>
                      <li *ngIf="permissions && permissions.indexOf('IP') !== -1 ? true: false"> 
                        <div class="circleOuter">
                          <a href="javascript:void(0)" [routerLink]="['/questionnaire/question','ip']" class="smileyCircle incomplete"  *ngIf="!draft_answerscore.IP">
                            <img src="assets/images/incomplete-icon.png" *ngIf="!draft_answerscore.IP">
                          </a>
                          <a href="javascript:void(0)" [routerLink]="['/questionnaire/question','ip']" class="smileyCircle"  *ngIf="draft_answerscore.IP">
                            <img src="assets/images/smiley-green.png" alt="" *ngIf="draft_answerscore.IP && draft_answerscore.IP.lesser < draft_answerscore.IP.greater">
                            <img src="assets/images/smiley-yellow.png" *ngIf="draft_answerscore.IP && draft_answerscore.IP.lesser == draft_answerscore.IP.greater">
                            <img src="assets/images/smiley-orange.png" *ngIf="draft_answerscore.IP && draft_answerscore.IP.lesser > draft_answerscore.IP.greater">
                          </a>
                        </div>
                        <span class="processTxt">Defence & Repair</span>
                      </li>
                      <li *ngIf="permissions && permissions.indexOf('CVP') !== -1 ? true: false"> 
                        <div class="circleOuter">
                          <a href="javascript:void(0)" [routerLink]="['/questionnaire/question','cvp']" class="smileyCircle incomplete"  *ngIf="!draft_answerscore.CVP">
                            <img src="assets/images/incomplete-icon.png">
                          </a>
                          <a href="javascript:void(0)" [routerLink]="['/questionnaire/question','cvp']" class="smileyCircle"  *ngIf="draft_answerscore.CVP">
                            <img src="assets/images/smiley-green.png" alt="" *ngIf="draft_answerscore.CVP && draft_answerscore.CVP.lesser < draft_answerscore.CVP.greater">
                            <img src="assets/images/smiley-yellow.png" *ngIf="draft_answerscore.CVP && draft_answerscore.CVP.lesser == draft_answerscore.CVP.greater">
                            <img src="assets/images/smiley-orange.png" *ngIf="draft_answerscore.CVP && draft_answerscore.CVP.lesser > draft_answerscore.CVP.greater">
                          </a>
                        </div>
                        <span class="processTxt">Heart Health</span>
                      </li>
                      <li *ngIf="user_detail.gender=='M' && permissions && permissions.indexOf('MO') !== -1"> 
                        <div class="circleOuter">
                          <a href="javascript:void(0)" [routerLink]="['/questionnaire/question','mo']" class="smileyCircle incomplete" *ngIf="!draft_answerscore.MO">
                            <img src="assets/images/incomplete-icon.png">
                          </a>

                          <a href="javascript:void(0)" [routerLink]="['/questionnaire/question','mo']" class="smileyCircle"  *ngIf="draft_answerscore.MO">
                            <img src="assets/images/smiley-green.png" alt="" *ngIf="draft_answerscore.MO && draft_answerscore.MO.lesser < draft_answerscore.MO.greater">
                            <img src="assets/images/smiley-yellow.png" *ngIf="draft_answerscore.MO && draft_answerscore.MO.lesser == draft_answerscore.MO.greater">
                            <img src="assets/images/smiley-orange.png" *ngIf="draft_answerscore.MO && draft_answerscore.MO.lesser > draft_answerscore.MO.greater">
                          </a>
                        </div>
                        <span class="processTxt">He</span>
                      </li>

                      <li *ngIf="user_detail.gender=='F' && permissions && permissions.indexOf('WO') !== -1"> 
                        <div class="circleOuter">
                          <a href="javascript:void(0)" [routerLink]="['/questionnaire/question','wo']" class="smileyCircle incomplete" *ngIf="!draft_answerscore.WO">
                            <img src="assets/images/incomplete-icon.png">
                          </a>

                          <a href="javascript:void(0)" [routerLink]="['/questionnaire/question','wo']" class="smileyCircle"  *ngIf="draft_answerscore.WO">
                            <img src="assets/images/smiley-green.png" alt="" *ngIf="draft_answerscore.WO && draft_answerscore.WO.lesser < draft_answerscore.WO.greater">
                            <img src="assets/images/smiley-yellow.png" *ngIf="draft_answerscore.WO && draft_answerscore.WO.lesser == draft_answerscore.WO.greater">
                            <img src="assets/images/smiley-orange.png" *ngIf="draft_answerscore.WO && draft_answerscore.WO.lesser > draft_answerscore.WO.greater">
                          </a>
                        </div>
                        <span class="processTxt">She</span>
                      </li>

                      <li *ngIf="permissions && permissions.indexOf('EF') !== -1 ? true: false"> 
                        <div class="circleOuter">
                          <a href="javascript:void(0)" [routerLink]="['/questionnaire/question','ef']" class="smileyCircle incomplete"  *ngIf="!draft_answerscore.EF">
                            <img src="assets/images/incomplete-icon.png">
                          </a>
                          <a href="javascript:void(0)" [routerLink]="['/questionnaire/question','ef']" class="smileyCircle"  *ngIf="draft_answerscore.EF">
                            <img src="assets/images/smiley-green.png" alt="" *ngIf="draft_answerscore.EF && draft_answerscore.EF.lesser < draft_answerscore.EF.greater">
                            <img src="assets/images/smiley-yellow.png" *ngIf="draft_answerscore.EF && draft_answerscore.EF.lesser == draft_answerscore.EF.greater">
                            <img src="assets/images/smiley-orange.png" *ngIf="draft_answerscore.EF && draft_answerscore.EF.lesser > draft_answerscore.EF.greater">
                          </a>
                        </div>
                        <span class="processTxt">Environment</span>
                      </li>
                      <li *ngIf="permissions && permissions.indexOf('DIET') !== -1 ? true: false"> 
                        <div class="circleOuter">
                          <a href="javascript:void(0)" [routerLink]="['/questionnaire/question','diet']" class="smileyCircle incomplete" *ngIf="!draft_answerscore.DIET">
                            <img src="assets/images/incomplete-icon.png">
                          </a>
                          <a href="javascript:void(0)" [routerLink]="['/questionnaire/question','diet']" class="smileyCircle" *ngIf="draft_answerscore.DIET">
                            <img src="assets/images/smiley-green.png" alt="" *ngIf="draft_answerscore.DIET && draft_answerscore.DIET.lesser < draft_answerscore.DIET.greater">
                            <img src="assets/images/smiley-yellow.png" *ngIf="draft_answerscore.DIET && draft_answerscore.DIET.lesser == draft_answerscore.DIET.greater">
                            <img src="assets/images/smiley-orange.png" *ngIf="draft_answerscore.DIET && draft_answerscore.DIET.lesser > draft_answerscore.DIET.greater">
                          </a>
                        </div>
                        <span class="processTxt">Food Choices</span>
                      </li>
                      <li> 
                        <div class="circleOuter">
                          <a href="javascript:void(0)" [routerLink]="['/questionnaire/question','submit_process']" *ngIf="is_enable_submit==1">Submit Process</a>
                          <a href="javascript:void(0)" *ngIf="is_enable_submit!=1">Submit Process</a>
                        </div>
                      </li>
                  </ul>
               </div>
               <div class="viewReportOuter">
                  <a href="javascript:void(0)" class="viewReport">
                      <img src="assets/images/document-clip.png" alt="document-clip">
                      Report
                  </a>
               </div>
            </div>

            <app-perceived-stress *ngIf="question_state=='PS' && permissions && permissions.indexOf('PS') !== -1" [question_data]="questions" [isUpdate]="isUpdatePrev" (sentEvent)="getNewState($event)"></app-perceived-stress>
            <app-fitness *ngIf="question_state=='FIT' && permissions && permissions.indexOf('FIT') !== -1" [question_data]="questions" [isUpdate]="isUpdatePrev" (sentEvent)="getNewState($event)"></app-fitness>
            <app-digestive-tract *ngIf="question_state=='DTP' && permissions && permissions.indexOf('DTP') !== -1" [question_data]="questions" [isUpdate]="isUpdatePrev" (sentEvent)="getNewState($event)"></app-digestive-tract>
            <app-liver-profile *ngIf="question_state=='LP' && permissions && permissions.indexOf('LP') !== -1" [question_data]="questions" [isUpdate]="isUpdatePrev" (sentEvent)="getNewState($event)"></app-liver-profile>
            <app-endocrine-system *ngIf="question_state=='ES' && permissions && permissions.indexOf('ES') !== -1" [question_data]="questions" [isUpdate]="isUpdatePrev" (sentEvent)="getNewState($event)"></app-endocrine-system>
            <app-immune-profile *ngIf="question_state=='IP' && permissions && permissions.indexOf('IP') !== -1" [question_data]="questions" [isUpdate]="isUpdatePrev" (sentEvent)="getNewState($event)"></app-immune-profile>
            <app-cardio-vascular *ngIf="question_state=='CVP' && permissions && permissions.indexOf('CVP') !== -1" [question_data]="questions" [isUpdate]="isUpdatePrev" (sentEvent)="getNewState($event)"></app-cardio-vascular>
            <app-men-only *ngIf="question_state=='MO' && permissions && permissions.indexOf('MO') !== -1" [question_data]="questions" [isUpdate]="isUpdatePrev" (sentEvent)="getNewState($event)"></app-men-only>
            <app-men-only *ngIf="question_state=='WO' && permissions && permissions.indexOf('WO') !== -1" [question_data]="questions" [isUpdate]="isUpdatePrev" (sentEvent)="getNewState($event)"></app-men-only>
            <app-evm-factor *ngIf="question_state=='EF' && permissions && permissions.indexOf('EF') !== -1" [question_data]="questions" [isUpdate]="isUpdatePrev" (sentEvent)="getNewState($event)"></app-evm-factor>
            <app-dietary *ngIf="question_state=='DIET' && permissions && permissions.indexOf('DIET') !== -1" [question_data]="questions" [isUpdate]="isUpdatePrev" (sentEvent)="getNewState($event)"></app-dietary>
            <div *ngIf="current_state=='SUBMIT_PROCESS'">
               <div class="profileInner">
                  <div class="questionOuter">
                     <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                           <h3>Submit Process</h3>
                        </div>
                     </div>
                      <div class="row">
                       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                          <p>
                            Thank You for helping your health coach know you better. We recommend you to update the questionnaire quarterly to understand the improvement in your health quotient.   Please click the below button to submit the question and process your Overall Health Graph.
                          </p>
                        <form action="">
                          <button type="submit" class="detailBtn" (click)="completeProcess()">Generate Health Map</button>
                        </form>
                        <br>
                        <p><strong>Note: After the submission, the questions would get saved and cannot be updated until next health check cycle.</strong>
                        </p>
                       </div>
                      </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>