<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
    	<div class="breadCrumb">
            <ul>
                <li><a href="#">Home</a></li>
                <li><span>Support List</span></li>
            </ul>
        </div>
        <div class="profileInner">
             <form [formGroup]="supportSearchForm">
            <div class="row">
               
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <input id="search1" type="text" formControlName="by_name">
                      <label for="search1">By Name</label>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <input id="search2" type="text" formControlName="by_email">
                      <label for="search2">By Email</label>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <input id="search3" type="text" formControlName="by_type">
                      <label for="search3">By Type</label>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <input id="search4" type="text" formControlName="by_date" dateInput format="Y-m-d"  mode="single">
                      <label for="search4">By Date</label>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <input id="search5" type="text" formControlName="by_status">
                      <label for="search5">By Status</label>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="contentSearchOuter">
                        <button type="submit" class="detailBtn" (click)="submitSearch()">Search</button>
                    </div>
                </div>
                
            </div></form>
        </div>
        <div class="profileInner">
            <table class="table userListOuter">

                <tr>
                    <th>
                        <h5>Ticket No.</h5>
                    </th>
                    <th>
                        <h5>Name</h5>
                    </th>
                    <th>
                        <h5>Email</h5>
                    </th>
                    <th>
                        <h5>Phone</h5>
                    </th>
                    <th>
                        <h5>Type</h5>
                    </th>
                    <th>
                        <h5>Date</h5>
                    </th>
                    <th>
                        <h5>Status</h5>
                    </th>
                </tr>
                <ng-container *ngFor="let support of support_list">
                <tr>
                    <td>
                        <p>{{support.ticket_no}}</p>
                    </td>
                    <td>
                        <p><a href="javascript:void(0)"> {{support.firstname + ' '+ support.lastname}}</a></p>
                    </td>
                    <td>
                        <p>{{support.email}}</p>
                    </td>
                    <td>
                        <p>{{support.mobile}}</p>
                    </td>
                    <td>
                        <p>{{support.support_type_text}}</p>
                    </td>
                    <td>
                        <p>{{support.created_at}}</p>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="status{{support.id}}" value="1" [(ngModel)]="statusModel[support.id]" (ngModelChange)="statusChange($event,support.id)">
                            <span>Pending</span>
                        </label>
                        <label>
                            <input type="radio" name="status{{support.id}}" value="2" [(ngModel)]="statusModel[support.id]" (ngModelChange)="statusChange($event,support.id)">
                            <span>Closed</span>
                        </label>
                        <label>
                            <input type="radio" name="status{{support.id}}" value="3" [(ngModel)]="statusModel[support.id]" (ngModelChange)="statusChange($event,support.id)">
                            <span>Reject</span>
                        </label>
                    </td>
                </tr>
                </ng-container>

            </table>
        </div>     
      </div>
   </div>
   <app-footer></app-footer>
   <!-- End -->
</section>
