<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
         <div class="breadCrumb">
            <ul>
               <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
               <li><a href="javascript:void(0)" [routerLink]="['/admin/contents']">Content List</a></li>
               <li><span>{{content.title}}</span></li>
            </ul>
         </div>
         <div class="profileOuter">
            <div class="profileInner">
               <div class="editOuter">
                  <a href="{{content.attached_file_url}}" target="_blank" title="download file" download *ngIf="content && content.attached_file_url"><i class="material-icons">file_download</i></a>&nbsp;
                  <a href="javascript:void(0)" [routerLink]="['/admin/contents']"><img src="assets/images/return.png" alt="return"> Back to List</a>
               </div>
               <div class="contentDetails">
                  <h2>{{content.title}}</h2>
                  <div [innerHtml]="content.description"></div>                
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>