<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
         <app-has-appointment></app-has-appointment>
         <div class="breadCrumb">
            <ul>
               <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
              <li *ngIf="content_category_name"><a href="javascript:void(0)" [routerLink]="['/content',content_category_name]">{{content_category_name}}</a></li>

             <li *ngIf="content_name"><a href="javascript:void(0)" [routerLink]="['/content/detail', content_id]">{{content_name}}</a></li>
               <li><span>Quiz</span></li>
            </ul>
         </div>
         <div class="profileOuter">
            <!-- <h3 class="pageTitle">Quiz</h3> -->
            <div class="profileInner">
               <div class="editOuter">
                  <a href="javascript:void(0)" [routerLink]="['/content/detail', content_id]"><img src="assets/images/return.png" alt="return"> Back to List</a>
               </div>
               <form action="quiz-result.html">
                  <ng-container *ngFor="let question of questions">
                  <div class="radioOuter">
                     <h6>{{question.question}}</h6>
                     <ng-container *ngFor="let option of question.question_options">
                     <label>
                     <input type="radio" name="{{question.id}}" value="{{option.id}}" [(ngModel)]="question_model[question.id]">
                     <span>{{option.option}}</span>
                     </label>

                     </ng-container>
                  </div>
                  </ng-container>

                  <div class="submitOuter">
                     <button type="submit" class="detailBtn" (click)="submitQuestion()">Submit</button>
                  </div>
               </form>
            </div>
         </div>
         <a href="javascript:void(0)" [routerLink]="['/chat']" class="stickyChat"><img src="assets/images/message.png"></a>
      </div>
   </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>