<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
        <app-has-appointment></app-has-appointment>
        <div class="breadCrumb">
            <ul>
                <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
                <li><span>Adhoc Questions</span></li>
            </ul>
        </div>
        <div class="profileOuter">
            <div class="profileInner">
              <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                  <div class="input-field">
                    <select  id="search1" [(ngModel)]="sheetModel" (ngModelChange)="getQuestionBySheet($event)" [ngModelOptions]="{standalone: true}"  style="display: inline;">
                      <option value="" [selected]="true">By Sheet</option>
                      <option value="{{adhocsheet.id}}" *ngFor="let adhocsheet of adhocsheets;">{{adhocsheet.sheet_name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="profileInner">
                <div class="editOuter">
                  <a href="javascript:void(0)" [routerLink]="['/adhoc-quiz/question/add']"><img src="assets/images/add.png">Add Question</a>

                  <a href="javascript:void(0)" (click)="openSheetAddDialog()" title="Question Sheet Add" class="modal-trigger" ><img src="assets/images/add.png">Add Question Sheet</a>
                </div>
                <div class="table-responsive">
                  <table class="table userListOuter">
                    <tr>
                      <th>
                        <label>
                          <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" (change)="checkUncheckAll()" class="filled-in"/>
                          <span>Sl No.</span>
                        </label>
                      </th>
                       <th>
                           <h5 class="t-txt">Question</h5>
                       </th>
                       <th>
                           <h5 class="t-txt">First Option</h5>
                           <!-- <a href="javascript:void(0)" class="arw" (click)="sortByField='start_date'; reverse =!reverse"><i class="material-icons dp48">expand_more</i></a> -->
                       </th>
                       <th>
                           <h5 class="t-txt">Second Option</h5>
                           <!-- <a href="javascript:void(0)" class="arw" (click)="sortByField='end_date'; reverse =!reverse"><i class="material-icons dp48">expand_more</i></a> -->
                       </th>
                       <th>
                           <h5 class="t-txt">Third Option</h5>
                           <!-- <a href="javascript:void(0)" class="arw" (click)="sortByField='category_name'; reverse =!reverse"><i class="material-icons dp48">expand_more</i></a> -->
                       </th>
                       <th>
                           <h5 class="t-txt">Fourth Option</h5>
                           <!-- <a href="javascript:void(0)" class="arw" (click)="sortByField='group_name'; reverse =!reverse"><i class="material-icons dp48">expand_more</i></a> -->
                       </th>
                       <th>
                           <h5 class="t-txt">Correct Option</h5>
                       </th>
                       <th>
                           <h5 class="t-txt">Status</h5>
                       </th>
                       <th>
                           <h5 class="t-txt">Action</h5>
                       </th>
                    </tr>
                    <ng-container *ngFor="let adhocquestion of adhocquestions | orderBySort : sortByField :reverse ; index as i;">
	                    <tr>
                        <td>
                          <label>
                            <input type="checkbox" [(ngModel)]="adhocquestion.isSelected" name="list_name" value="{{adhocquestion.id}}" (change)="isAllSelected()" class="filled-in" />
                            <span>{{i+1}}</span>
                          </label>
                        </td>
                        <td>
                            <p>{{adhocquestion.question}}</p>
                        </td>
                        <ng-container *ngFor="let option of adhocquestion.options; index as i;">
                        <td>
                            <p>{{option.option_label}} , point-{{option.point}}</p>
                        </td>
                        </ng-container>
                        <td *ngIf="adhocquestion.options && adhocquestion.options.length<3">
                            
                        </td>
                        <td *ngIf="adhocquestion.options && adhocquestion.options.length<4">
                            
                        </td>
                        <td>
                        	<p>{{adhocquestion.correct_option.option_label}}</p>
                        </td>
                        <td>
                        	<p>{{adhocquestion.status==1 ? 'Active':'Inactive'}}</p>
                        </td>
                        <td>
                        	<p><a href="javascript:void(0)" [routerLink]="['/adhoc-quiz/question/edit',adhocquestion.id]" title="Target History"><img src="assets/images/edit.png"></a></p>
	                    	</td>
	                    </tr>
                	</ng-container>
                </table>
            </div>
        </div>
      </div>
      </div>
   	</div>
   	<!-- Footer Section Start -->
   	<app-footer></app-footer>
   	<!-- End -->
</section>
<div class="modal addmeal" tabindex="-1" role="dialog"  [ngStyle]="{'display':sheetAddModal}">
   <a href="javascript:void(0)" class="modal-close" (click)="sheetModalClose()"><img src="assets/images/cross.png" alt="cross"></a>
   <div class="modal-content">
      <form [formGroup]="sheetAddForm">
      <h4>Add Question Sheet</h4>
      <div class="input-field">
        <input id="sheet_name" type="text" class="validate" formControlName="sheet_name">
        <label for="sheet_name" class="">Sheet Name</label>
        <p class="errormsg" *ngIf="sheetAddValidation && sheetAddValidation.sheet_name">{{sheetAddValidation.sheet_name[0]}}</p>
      </div>
      <div class="radioOuter">
         <h6>Status</h6>
         <label>
             <input type="radio" value="1" formControlName="status">
             <span>Active</span>
         </label>
         <label>
             <input type="radio" value="0" formControlName="status">
             <span>Inactive</span>
         </label>
         <p class="errormsg" *ngIf="sheetAddValidation && sheetAddValidation.status">{{sheetAddValidation.status[0]}}</p>
      </div>
      <div class="radioOuter">
         <h6>Sheet Type</h6>
         <label>
             <input type="radio" value="1" formControlName="sheet_type">
             <span>Quiz</span>
         </label>
         <label>
             <input type="radio" value="2" formControlName="sheet_type">
             <span>Questionnaire</span>
         </label>
      </div>
      <div class="submitOuter">
         <button type="submit" class="detailBtn" (click)="sheetSave()">Submit</button>
      </div>
      </form>
   </div>
</div>
<!--user group update modal-->
<div class="modalend" [ngClass]="{'modal-overlay':isModalOpen}"></div>