<div class="loginContianer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                        <div class="loginlogoContainer">
                            <a href="#"><img src="assets/images/login-logo.png" alt="logo"></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-6 col-sm-12 col-12">
                        <div class="loginForm">
                            <h4>Reset Password</h4>
                            <form [formGroup]="resetPasswordForm">

                            <div class="input-field"  [ngClass]="{'error':(submitted && reset_f.password.errors) || (reset_f.password.touched && reset_f.password.errors)}">
                              <input id="pass" type="password" formControlName="password" class="validate"  autocomplete="new-password">
                              <label for="pass">Password</label>
                              <div *ngIf="(reset_f.password.touched || submitted) && reset_f.password.errors">
                                <p *ngIf="reset_f.password.errors.minlength" class="errormsg">Password minimum length should be 6 character</p>
                              </div>
                            </div>

                            <div class="input-field"  [ngClass]="{'error':(submitted && reset_f.conf_password.errors) || (reset_f.conf_password.touched && reset_f.conf_password.errors)}">
                              <input id="conf_pass" type="password" formControlName="conf_password" class="validate"  autocomplete="false">
                              <label for="conf_pass">Confirm Password</label>
                              <div *ngIf="(reset_f.conf_password.touched || submitted) && reset_f.conf_password.errors">
                                <p *ngIf="reset_f.conf_password.errors.error" class="errormsg">Confirmation password does not matched</p>
                              </div>
                            </div>
                            <p class="errormsg" *ngIf="validationError">{{validationError}}</p>
                            <div class="submitOuter">
                                <button type="submit" (click)="resetPasswordStore()">Update</button>
                            </div>  
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footerLower">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">                
                            <p>© 2018 Wind of Change. <span>Developed by <a href="https://www.pixelsolutionz.com/" target="_blank">Pixel Solutionz</a></span></p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <ul>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
       </div>