<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
    	<div class="breadCrumb">
            <ul>
                <li><a href="javascript:void(0);" [routerLink]="['/dashboard']">Home</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/admin/grouptargets']">Target List</a></li>
                <li><span>Add Target</span></li>
            </ul>
        </div>
        <div class="profileInner">
            <form [formGroup]="AddForm">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                            <select id="group" formControlName="group" style="display: inline;">
                            <option value="" [selected]="true">Group</option>
                            <option value="{{group.id}}" *ngFor="let group of groups;">{{group.group_name}}</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                            <select  id="category" formControlName="category" style="display:inline;">
                            <option value="">Category</option>
                            <option value="{{categorie.id}}" *ngFor="let categorie of categories;">{{categorie.category_name}}</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                          <input id="tdate1" type="text" formControlName="start_date" dateInput format="Y-m-d"  mode="single" mindate="{{today}}" class="">
                          <label for="tdate1" class="" [ngClass]="{'active': target_f.start_date.value}">Start Date</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                          <input id="tdate2" type="text" formControlName="end_date" dateInput format="Y-m-d"  mode="single"  mindate="{{today}}" class="">
                          <label for="tdate2" class="" [ngClass]="{'active': target_f.end_date.value}">End Date</label>
                        </div>
                    </div>
                </div>
                
               <div formArrayName="questions" *ngFor="let quest of formData;let i = index;">
                  <div [formGroupName]="i"> <a href="javascript:void(0)" (click)="deleteQuestionArray(i)" title="Delete"><img src="assets/images/delete.png" *ngIf="i!==0"></a>
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                        <div class="input-field">
                          <textarea id="textarea{{i}}" formControlName="question" class="materialize-textarea"></textarea>
                          <label for="textarea{{i}}" [ngClass]="{'active':AddForm.get('questions').controls[i].controls.question.value}">Question</label>
                        </div>
                        <input type="hidden" formControlName="qid" >
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12 col-12">
                        <div class="input-field">
                            <select id="option{{i}}" formControlName="option" class="validate" style="display:inline;">
                                <option value="">Select Answer</option>
                                <option value="Y">Yes</option>
                                <option value="N">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                      <div class="input-field">
                        <select id="activityname{{i}}" formControlName="activityname" style="display:inline;">
                            <option value="">Activity name</option>
                            <option value="steps">Steps</option>
                            <option value="sleep">Sleep</option>
                            <option value="distance">Distance</option>
                            <option value="calories">Calories Burn</option>
                            <option value="active_minutes">Active Minutes</option>
                            <option value="height_climb">Height Climb</option>
                            <option value="carbohydrate">Carbohydrate</option>
                            <option value="protien">Protien</option>
                            <option value="fat">Fat</option>
                            <option value="sugar">Sugar</option>
                            <option value="water">Water</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                    <div class="checkboxOuter input-field">
                      <label>
                      <input type="checkbox" value="1" class="filled-in" formControlName="is_automatic">
                      <span>Automatic</span>
                      </label>
                    </div>
                    </div>                        
                </div>
                </div>
                </div>
                <a href="javascript:void(0)" class="addicon" (click)="addTargetArray()"><img src="assets/images/add.png"></a>

                <div class="submitOuter">
                    <button type="submit" (click)="submitTarget()" class="detailBtn" *ngIf="!target_id">Submit</button>
                    <button type="submit" (click)="updateTarget()" class="detailBtn" *ngIf="target_id">Update</button>
                </div>
            </form>
        </div>
    </div>
   </div>
   <app-footer></app-footer>
   <!-- End -->
</section>