<section class="dashboardSection" *ngIf="isLoaded">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
    <!-- End -->
    <div class="bodyContent">
      <div class="container-fluid">
         <div class="breadCrumb">
          <div class="row">
            <div class="col-xl-9 col-lg-6 col-md-6 col-sm-12 col-12">
              <ul>
                <li><a href="javascript:void(0);">{{user_data.user_detail.firstname}}</a></li>
              </ul>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12" >
              <div style="text-align: right;">
                  <select  id="search1" style="display: inline;" [(ngModel)]="selectTeam" (ngModelChange)="changeTeam($event)">
                    <option value="">All</option>
                    <option value="{{team}}" *ngFor="let team of corporate_teams" >{{team}}</option>
                  </select>
              </div>
            </div>
          </div>
         </div>
        <div *ngIf="permissions && permissions.indexOf('contest') !== -1 ? true: false">  <div class="row" *ngFor="let contestdata of contestreport; index as i;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
               <div class="contentOuter contestResult accepetedcon">
                  <div class="contestResultOuter">
                     <div class="row">
                      <div class="col-lg-11 col-md-11 col-sm-12 col-12">
                        <h3>YOUR EMPLOYEES PARTICIAPTING IN <span>{{contestdata[1].contest_name}}</span> CONTEST</h3>
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-12 col-12">
                         <div class="collapsingOuter">
                          <a href="javascript:void(0);" class="collapsingBtn collapsed" [attr.data-slid]="i"></a>
                         </div>
                      </div>
                     </div>
                      <div class="contestResultInner contestResultInner{{i}}">
                       <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-12 col-12">
                             <div class="row">
                              <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="countBlockInner contestcountBlockInner">
                                  <a href="javascript:void(0);" [routerLink]="['/dashboard-detail',5]" [queryParams]="{ team_id: selectTeam,contest_id: contestdata[1].contest_unid }">
                                    <div class="countBlockLeft">
                                      <img src="assets/images/employee.png">
                                    </div>
                                    <div class="countBlockRight">
                                      <h2>{{contestdata[1].total_sent}}</h2>
                                      <p>Invitation Sent</p>
                                    </div>
                                  </a>
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="countBlockInner contestcountBlockInner">
                                  <a href="javascript:void(0);" [routerLink]="['/dashboard-detail',6]" [queryParams]="{ team_id: selectTeam, contest_id: contestdata[1].contest_unid}">
                                    <div class="countBlockLeft">
                                      <img src="assets/images/employee.png">
                                    </div>
                                    <div class="countBlockRight">
                                      <h2>{{contestdata[1].total_joined}}</h2>
                                      <p>Contest Joined</p>
                                    </div>
                                  </a>
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="countBlockInner contestcountBlockInner">
                                  <a href="javascript:void(0);" [routerLink]="['/dashboard-detail',7]" [queryParams]="{ team_id: selectTeam, contest_id: contestdata[1].contest_unid}">
                                      <div class="countBlockLeft">
                                          <img src="assets/images/employee.png">
                                      </div>
                                      <div class="countBlockRight">
                                          <h2>{{contestdata[1].total_reject}}</h2>
                                          <p>Contest Reject</p>
                                      </div>
                                  </a>
                                </div>
                              </div>
                             </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                          <div class="leaderboardOuter contestleaderboard">
                             <!-- <div class="dashboardHeading">
                                <h4>Leaderboard</h4>
                             </div> -->
                             <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                <ng-container *ngFor="let lbmember of contestdata[1].ldboard; index as i;">
                                    <div class="progressOuter" *ngIf='i<3'>
                                      <span class="name">{{lbmember.name}}</span>
                                      <span class="leaderImg"><img src="assets/avatar-icons/avater{{lbmember.avatar_id}}.png" alt="avater"></span>
                                      <span class="cont_rank">{{i+1}}</span>
                                    </div>
                                </ng-container>
                                </div>
                             </div>
                          </div>
                        </div>
                         <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div id="groupbarchart{{i}}"></div>
                         </div>
                       </div>
                      </div>
                   </div>
                 </div>
               </div>
             </div>
          </div>

         <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
               <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="countBlockInner">
                          <a href="javascript:void(0);">
                              <div class="countBlockLeft">
                                <img src="assets/images/employee.png">
                              </div>
                              <div class="countBlockRight">
                                <h2>{{dashboard.invited_count}}</h2>
                                <p>
                                  <a href="javascript:void(0)" [routerLink]="['/dashboard-detail',1]" [queryParams]="{ team_id: selectTeam}" *ngIf="!param">Total Employees Invited</a>
                                  <a href="javascript:void(0)" [routerLink]="['/group/dashboard-detail',param,1]" [queryParams]="{ team_id: selectTeam}" *ngIf="param">Total Employees Invited</a>
                                </p>
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="countBlockInner">
                          <a href="javascript:void(0);">
                            <div class="countBlockLeft">
                                <img src="assets/images/employee.png">
                            </div>
                            <div class="countBlockRight">
                                <h2>{{dashboard.registered_count}}</h2>
                                <p>
                                  <a href="javascript:void(0)" [routerLink]="['/dashboard-detail',2]" [queryParams]="{ team_id: selectTeam}" *ngIf="!param">Registered Employees</a>
                                  <a href="javascript:void(0)" [routerLink]="['/group/dashboard-detail',param,2]" [queryParams]="{ team_id: selectTeam}" *ngIf="param">Registered Employees</a>
                                </p>
                            </div>
                          </a>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12" *ngIf="permissions && permissions.indexOf('bca') !== -1 ? true: false">
                      <div class="countBlockInner">
                          <a href="javascript:void(0);">
                              <div class="countBlockLeft">
                                  <img src="assets/images/employee.png">
                              </div>
                              <div class="countBlockRight">
                                  <h2>{{dashboard.user_bca_count}}</h2>
                                  <p>
                                    <a href="javascript:void(0)" [routerLink]="['/dashboard-detail',3]" [queryParams]="{ team_id: selectTeam}" *ngIf="!param">BCA completed</a>
                                    <a href="javascript:void(0)" [routerLink]="['/group/dashboard-detail',param,3]" [queryParams]="{ team_id: selectTeam}" *ngIf="param">BCA completed</a>
                                  </p>
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12" *ngIf="permissions && permissions.indexOf('questionnaire') !== -1 ? true: false">
                      <div class="countBlockInner">
                          <a href="javascript:void(0);">
                              <div class="countBlockLeft">
                                  <img src="assets/images/employee.png">
                              </div>
                              <div class="countBlockRight">
                                  <h2>{{dashboard.user_engagement}}</h2>
                                  <p>
                                    <a href="javascript:void(0)" [routerLink]="['/dashboard-detail',4]" [queryParams]="{ team_id: selectTeam}" *ngIf="!param">Health Assessment completed</a>
                                    <a href="javascript:void(0)" [routerLink]="['/group/dashboard-detail',param,4]" [queryParams]="{ team_id: selectTeam}" *ngIf="param">Health Assessment completed</a>
                                  </p>
                              </div>
                          </a>
                      </div>
                  </div>
               </div>
             </div>
         </div>
         <div class="row">
            <div class="col-lg-7 col-md-8 col-sm-12 col-sm-12" *ngIf="(permissions && permissions.indexOf('community') !== -1) || (permissions && permissions.indexOf('target') !== -1)">
               <div class="leaderboardOuter">
                  <div class="dashboardHeading">
                      <h4>Leaderboard</h4>
                      <a href="javascript:void(0);" class="collapsingBtn"></a>
                  </div>
                  <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12">
                          <h5>Overall</h5>
                          <ng-container *ngFor="let overallleaderboard of dashboard.overall_leaderboard;  index as j;" >
                          <div class="progressOuter" *ngIf="j < 5 ">
                              <span class="name" *ngIf="overallleaderboard.alias_name !=null">{{overallleaderboard.alias_name}}</span>
                              <span class="name" *ngIf="overallleaderboard.alias_name ==null">{{overallleaderboard.firstname}} {{overallleaderboard.lastname}}</span>
                              <span class="leaderImg"><img src="assets/{{overallleaderboard.avatar_image}}" alt="{{overallleaderboard.alias_name}}"></span>
                              <div class="progressInner" [ngStyle]="{'width': getPercentage(overallleaderboard.percentage) + '%'}"> </div>
                              <span class="number">{{overallleaderboard.psum}}</span>
                          </div>
                          </ng-container>
                      </div>                                    
                      <div class="col-lg-6 col-md-6 col-sm-12">
                          <h5>Monthy</h5>
                          <ng-container *ngFor="let monthleaderboard of dashboard.month_leaderboard;  index as i;" >
                          <div class="progressOuter" *ngIf="i < 5 ">
                             <span class="name" *ngIf="monthleaderboard.alias_name !=null">{{monthleaderboard.alias_name}}</span>
                              <span class="name" *ngIf="monthleaderboard.alias_name ==null">{{monthleaderboard.firstname}} {{monthleaderboard.lastname}}</span>
                              <span class="leaderImg"><img src="assets/{{monthleaderboard.avatar_image}}" alt="{{monthleaderboard.alias_name}}"></span>
                              <div class="progressInner" [ngStyle]="{'width': getPercentage(monthleaderboard.percentage) + '%'}"></div>
                              <span class="number">{{monthleaderboard.psum}}</span>
                          </div>
                          </ng-container>
                      </div>
                  </div>
               </div>
            </div>
             <div class="col-lg-5 col-md-4 col-sm-12 col-sm-12" *ngIf="permissions && permissions.indexOf('questionnaire') !== -1 ? true: false">
                <div class="graphOuter">
                  <div>
                    <ng-container *ngIf="dashboard.user_engagement <2">
                       <h6>Health Assessment Footprint</h6><br/>
                       <span>Minimum number of employees haven't completed their health assessment</span>
                   </ng-container>
                   <ng-container *ngIf="dashboard.user_engagement >=2">
                    <canvas
                        baseChart
                        [chartType]="'bar'"
                        [datasets]="pieChartData"
                        [labels]="pieChartLabels"
                        [options]="pieChartOptions"
                        [legend]="true" width="450" height="275">
                    </canvas>
                  </ng-container>
                  </div>
                </div>
             </div>
         </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12">
              <div class="graphOuter">
                <div [ngStyle]="{'display':mdconditionempty}">
                  <h6>Employee Medical Issues Trends</h6><br/>
                  <span>Minimum number of employees haven't added their medical condition</span>
                </div>
                <div id="medicalchart"></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12">
              <div class="graphOuter">
                <div [ngStyle]="{'display':goalempty}">
                  <h6>Employee Lifestyle Goals Trends</h6><br/>
                  <span>Minimum number of employees haven't added their goal</span>
                </div>
                <div id="teamgoalchart"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12" *ngIf="(permissions && permissions.indexOf('community') !== -1) || (permissions && permissions.indexOf('target') !== -1)">
              <div class="graphOuter">
                <div id="teampointchart"></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12" *ngIf="teamengagementkey.length > 2" >
              <div class="graphOuter">
                <div id="teamengagechart"></div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12" *ngIf="teamengagementkey.length < 3">
              <div class="graphOuter">
                <div id="teamengagechart"></div>
              </div>
            </div>
          </div>
      </div>
    </div>
   <app-footer></app-footer>
   <!-- End -->
</section>

<div class="noactionOverlay" *ngIf="group_det==0">
    <div class="noactionmsg">
        <p><img src="assets/images/information.png"> Welcome to Wind-of-Change. You are not assigned any group. You can send invitation to your employee after you are assigned a group.Please contact with Wind-of-Change Admin.</p>
        <a href="javascript:void(0)" (click)="logOut()" class="detailBtn">Ok</a>
    </div>
</div>