.cont_rank{
	display: inline-block;
    /* float: right; */
    position: absolute;
    top: -25px;
    right: 0;
    background: #2f5e8d;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
	} 

/*.contestcountBlockInner a{
    cursor:auto; 
}*/

@media only screen and (max-width: 767px){
    .cont_rank{
        top: 0;
    }
}
