<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
    	<div class="breadCrumb">
            <ul>
                <li><a href="javascript:void(0)">Home</a></li>
                <li><span>User List</span></li>
            </ul>
        </div>
        <div class="profileInner">
        <!-- <h3>Search User</h3> -->
        <form [formGroup]="userSearchForm">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <input id="search1" type="text" class="validate" formControlName="sname">
                      <label for="search1">By Name</label>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                        <select id="group" formControlName="group" style="display: inline;">
                            <option value="">By Group</option>
                            <option value="{{group.id}}" *ngFor="let group of groups;">{{group.group_name}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                        <select id="team" formControlName="team" style="display: inline;">
                            <option value="">By Team</option>
                            <option value="{{team.team}}" *ngFor="let team of teams;">{{team.team}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                        <select  id="search1" formControlName="type" style="display: inline;">
                            <option value="">By Type</option>
                            <option value="2">Health Coach</option>
                            <option value="5">Secondary Health Coach</option>
                            <option value="4">Corporate</option>
                            <option value="3">Normal User</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                        <select  id="search1" formControlName="gender" style="display: inline;">
                            <option value="">By Gender</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="O">Others</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="contentSearchOuter">
                        <button type="submit" class="detailBtn" (click)="searchUser(0)">Search</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="profileInner">
            <div class="editOuter">
                <a href="javascript:void(0)" (click)="openUIModalDialog()" title="Upload BCA Data" class="modal-trigger" ><img src="assets/images/upload.png"></a>

                <a href="javascript:void(0)" (click)="openHCModalDialog()" class="modal-trigger"><img src="assets/images/add.png">Add Health Coach</a>

                <a href="javascript:void(0)" (click)="openUsergpchngDialog()" title="Upload BCA Data" class="modal-trigger" >User Group Update</a>
            </div>
            <div class="table-responsive">
              <table class="table userListOuter">
                  <tr>
                      <th>
                        <label>
                          <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" (change)="checkUncheckAll()" class="filled-in"/>
                          <span>Sl No.</span>
                        </label>
                      </th>
                      <th>
                        <h5>Name</h5>
                      </th>
                      <th>
                        <h5>Email</h5>
                      </th>
                      <th>
                        <h5>Points</h5>
                      </th>
                      <th>
                        <h5>Group</h5>
                      </th>
                      <th>
                        <h5>Team</h5>
                      </th>
                      <th>
                        <h5>Gender</h5>
                      </th>
                      <th>
                        <h5>Type</h5>
                      </th>
                      <th>
                        <h5>Status</h5>
                      </th>
                      <th>
                        <h5>Actions</h5>
                      </th>
                  </tr>
                  <ng-container *ngFor="let user of users; index as i;">
                  <tr>
                    <td>
                      <label>
                        <input type="checkbox" [(ngModel)]="user.isSelected" name="list_name" value="{{user.id}}" (change)="isAllSelected()" class="filled-in" />
                        <span>{{i+1}}</span>
                      </label>
                    </td>
                    <td>
                      <p>{{user.user_detail.firstname}} {{user.user_detail.lastname}}</p>
                    </td>
                    <td>
                      <p>{{user.email}}</p>
                    </td>
                    <td>
                      <p>{{(user.user_type=='Normal User')?user.user_point:0}}</p>
                    </td>
                    <td>
                      <p>{{user.user_detail.group_name}}</p>
                    </td>
                    <td>
                      <p>{{(user.user_detail.team) ? user.user_detail.team:''}}</p>
                    </td>
                    <td>
                      <p>{{(user.user_detail.gender) ? user.user_detail.gender_text:''}}</p>
                    </td>
                    <td>
                      <p>{{user.user_type}}</p>
                    </td>
                    <td>
                      <p>{{user.status}}</p>
                    </td>
                    <td>
                      <div class="switch">
                          <label>
                            <input type="checkbox" [(ngModel)]="checkedModel[user.id]" (ngModelChange)="changeStatus($event, user.id, i)" >
                            <span class="lever"></span>
                            <a href="javascript:void(0)" title="Assign Group" class="modal-trigger clear grpassgn" *ngIf="user.user_type =='Company'" (click)="assignModalOpen(user.id)"> <i class="material-icons">group</i></a>
                          </label>
                      </div>
                      <!-- <a href="profile.html" title="Edit"><img src="images/edit.png"></a> -->
                        
                    </td>
                  </tr>
                  </ng-container>
              </table>
            </div>
        </div> 
        <div class="pagination" >
          <ul>
            <li *ngFor="let page_no of pagination(); index as i;"><a href="javascript:void(0)" [ngClass]="{'active': i== active_page}" (click)="paginationCall(i)">{{page_no}}</a></li>
          </ul>
        </div>    
      </div>
   </div>
   <app-footer></app-footer>
   <!-- End -->
</section>

<!--User import modal-->
<div class="modal addmeal" tabindex="-1" role="dialog"  [ngStyle]="{'display':bcaDataimport}">
  <div class="modal-dialog">
    <div class="modal-content">  
         <!-- modal-header -->
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeUIModalDialog()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="bcaimportForm">
            <label class="filetype">Upload File (The following file types are allowed: .xlsx, .xls):</label>
            <div class="form-group">
                <input type="file" name="bca_file" formControlName="bca_record" class="validate" (change)="onSelectFile($event)"/>
            </div>
            <div class="form-group">
                <button type="submit" class="detailBtn" (click)="importBcaRecord()">Submit</button>
            </div>
        </form>
    </div>
    </div>
  </div>
</div>
<!--End user import modal-->
<!-- New user add modal -->
<div class="modal addmeal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
 <!--  <div class="modal-dialog"> -->
     <a href="javascript:void(0)" class="modal-close" (click)="closeHCModalDialog()"><img src="assets/images/cross.png" alt="cross"></a>
    <div class="modal-content">  
        <form [formGroup]="userAddForm">
            <h4>Add Health Coach</h4>
                <div class="radioOuter">
                  <h6>Coach Type</h6>
                  <label>
                    <input type="radio" value="hc" formControlName="coachtype">
                    <span>Health Coach</span>
                  </label>
                  <label>
                    <input type="radio" value="shc" formControlName="coachtype">
                    <span> Secondary Health Coach</span>
                  </label>
                 
                  <p class="errormsg" *ngIf="hcServerValidation && hcServerValidation.coachtype">{{hcServerValidation.coachtype[0]}}</p>
                </div>
            <div class="input-field">
                <input id="fnameh" type="text" class="validate" formControlName="firstname">
                <label for="fnameh" class="">First Name</label>
                <p class="errormsg" *ngIf="hcServerValidation && hcServerValidation.firstname">{{hcServerValidation.firstname[0]}}</p>
            </div>
            <div class="input-field">
                <input id="lnameh" type="text" class="validate" formControlName="lastname">
                <label for="lnameh">Last Name</label>
                <p class="errormsg" *ngIf="hcServerValidation && hcServerValidation.lastname">{{hcServerValidation.lastname[0]}}</p>
            </div>
            <div class="input-field">
                <input id="emailh" type="text" class="validate" formControlName="email">
                <label for="emailh">Email</label>
                <p class="errormsg" *ngIf="hcServerValidation && hcServerValidation.email">{{hcServerValidation.email[0]}}</p>
            </div>
            <div class="radioOuter">
                <h6>Select Gender</h6>
                <label>
                    <input type="radio" value="M" formControlName="gender">
                    <span>Male</span>
                </label>
                <label>
                    <input type="radio" value="F" formControlName="gender">
                    <span>Female</span>
                </label>
                <label>
                    <input type="radio" value="O" formControlName="gender">
                    <span>Others</span>
                </label>
                <p class="errormsg" *ngIf="hcServerValidation && hcServerValidation.gender">{{hcServerValidation.gender[0]}}</p>
            </div>
            <div class="radioOuter">
                <h6>Select Country</h6>
                <label>
                    <input type="radio" value="IN" formControlName="country">
                    <span>India</span>
                </label>
                <label>
                    <input type="radio"  value="IE" formControlName="country">
                    <span>Ireland</span>
                </label>
                <p class="errormsg" *ngIf="hcServerValidation && hcServerValidation.country">{{hcServerValidation.country[0]}}</p>
            </div>
            <div class="submitOuter">
                <button type="submit" class="detailBtn" (click)="CreateHc()">Submit</button>
            </div>
        </form>
    </div>
  <!-- </div> -->
</div>
<!--End new user add modal-->

<div class="modal addmeal" tabindex="-1" role="dialog"  [ngStyle]="{'display':groupAssignModal}">
   <a href="javascript:void(0)" class="modal-close" (click)="assignModalClose()"><img src="assets/images/cross.png" alt="cross"></a>
   <div class="modal-content">
      <form [formGroup]="groupAssignForm">
      <h4>Assign Group</h4>
      <div class="input-field">
         <select style="display: inline;" formControlName="group_id">
             <option value="">select group</option>
             <option *ngFor="let group of groups" value="{{group.id}}">{{group.group_name}}</option>
         </select>
      </div>
      <div class="submitOuter">
         <button type="submit" class="detailBtn" (click)="assignSave()">Submit</button>
      </div>
      </form>
   </div>
</div>
<!--user group update modal-->
<div class="modal usergroupupdate" tabindex="-1" role="dialog"  [ngStyle]="{'display':ugpupdate}">
   <a href="javascript:void(0)" class="modal-close" (click)="UsergpchngModalClose()"><img src="assets/images/cross.png" alt="cross"></a>
   <div class="modal-content">
      <form [formGroup]="usergroupupdate">
      <h4>Assign Group</h4>
      <div class="input-field">
         <select style="display: inline;" formControlName="group_id">
             <option value="">select group</option>
             <option *ngFor="let group of groups" value="{{group.id}}">{{group.group_name}}</option>
         </select>
      </div>
      <div class="submitOuter">
         <button type="submit" class="detailBtn" (click)="userGroupUpdate()">Submit</button>
      </div>
      </form>
   </div>
</div>
<div class="modalend" [ngClass]="{'modal-overlay':isModalOpen}"></div>