<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
         
         <div class="breadCrumb">
            <ul>
               <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
               <li><span>Wearable</span></li>
            </ul>
         </div>
         <!-- <div class="profileOuter">
            <h3 class="pageTitle">Wearable</h3>
         </div> -->
         <div class="profileInner">
            <div class="row">
               <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                  <div class="alert alert-success" *ngIf="status !=''">
                    <strong>Success!</strong> You have authorised successfully.
                  </div>
                  <ul class="wearableList">
                     <li *ngIf="wearable && wearable.active_source=='manual'"><span>Fitbit</span> <a href="{{wearable.fitbit}}">Authorise Access</a></li>

                     <li *ngIf="wearable && wearable.active_source=='fitbit'"><span>Fitbit</span> <span class="wearable-connect">Authorised</span></li>

                     <li *ngIf="wearable && wearable.active_source=='manual'"><span>Google Fit</span> <a href="{{wearable.google_fit}}">Authorise Access</a></li>

                     <li *ngIf="wearable && wearable.active_source=='googlefit'"><span>Google Fit</span> <span class="wearable-connect">Authorised</span></li>

                     <li *ngIf="wearable && wearable.active_source=='manual'"><span>Garmin</span> <a href="{{wearable.garmin}}">Authorise Access</a></li>

                     <li *ngIf="wearable && wearable.active_source=='garmin'"><span>Garmin</span> <span class="wearable-connect">Authorised</span></li>
                     <!-- <li><span>Apple Health</span> <a href="#">Authorise Access</a></li>
                     <li><span>MI Health</span> <a href="#">Authorise Access</a></li>
                     <li><span>Gionee Health</span> <a href="#">Authorise Access</a></li> -->
                  </ul>
               </div>
               <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                  <div class="howitworks">
                     <h3>How It Works</h3>
                     <p>Wind-of-Change Wellness-As-A-Service (WaaS) integrate and consolidate you distributed wellness data.</p>
                     <div>We integrate with the following wearables to collect data about your activities
                        <ul>
                           <li>FitBit</li>
                           <li>Garmin</li>
                           <li>Samsung through GoogleFit</li>
                           <li>MiBand through GoogleFit</li>
                           <li>Any other device that comes through GoogleFit</li>
                        </ul>
                     </div>
                     <p>We can also integrate with food and calorie-consumption data from GoogleFit if you integrate with Lose-It!</p>
                     <p>We use OAuth2 authentication model. Please click on "Authorize Access" for the correct device link and we will redirect you to that application for authorisation. When you AUTHORIZE, you agree and allow WaaS to gather your data from the device application and authorize the device application to pass your data to WaaS.</p>
                     <p>We maintain confidentiality of your data. Please click to review our GDPR policy and Terms of Use.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>