.wearable-connect {
    width: 35% !important;
    background: #a9a9a9;
    padding: 5px 10px;
    text-align: center;
    color: #666;
}

@media only screen and (max-width: 767px){
	.profileInner .wearableList li span {
	    width: 30% !important;
	    margin: 0 0 0px;
	}	
	.profileInner .wearableList li span.wearable-connect{
		width: 70% !important;
	}
	.profileInner .wearableList li a{
		width: 70%;
		vertical-align: top;
		padding: 6px 14px;
		font-size: 14px;
		text-align: center;
	}
}
@media only screen and (max-width: 374px) {
	.profileInner .wearableList li a{
		padding: 3px 6px;
		font-size: 12px;
	}
}
