<!-- START DASHBOARD -->
<section class="dashboardSection">
    <div class="manualBox">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <button type="button">Prev</button>
        <button type="button">Next</button>
        <button type="button">Skip</button>
    </div>
    <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
    <div class="bodyContent">
        <div class="container-fluid">
            <app-has-appointment></app-has-appointment>
            <div class="breadCrumb">
                <ul>
                    <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
                    <li><span>My Meal Details</span></li>
                </ul>
            </div>
            <div class="profileOuter">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-md-7 col-sm-12 col-12">
                                <div class="profileInner profileincenter">
                                    <h3>Yesterday</h3>
                                    <div class="infoData" [ngClass]="{'activeinfoIcon': activinfogrph=='energyKcal'}" (click)="topchartchange('energyKcal'); activinfogrph='energyKcal'"> 
                                        <img src="assets/images/calori-intake.png">
                                        <h4 *ngIf="nutrients.energyKcal > 0">{{nutrients.energyKcal}} Calories</h4>
                                        <h4 *ngIf="nutrients ==''">0 Calories</h4>
                                    </div>
                                    <div class="infoDataSec">
                                        <div class="infoIcon">
                                            <span class="chart" [attr.data-percent]="nutrients.carbohydrateper">
                                                <span class="percent"><img src="assets/images/carbohydrate.png"></span>
                                            </span>                                                        
                                        </div>
                                        <h4>{{nutrients.carbohydrate}} Cal Carbohydrate</h4>
                                    </div>
                                    <div class="infoDataSec">
                                        <div class="infoIcon">
                                            <span class="chart" [attr.data-percent]="nutrients.proteinper">
                                                <span class="percent"><img src="assets/images/protein.png"></span>
                                            </span>                                                        
                                        </div>
                                        <h4>{{nutrients.protein}} Cal Protien</h4>
                                    </div>
                                    <div class="infoDataSec">
                                        <div class="infoIcon">
                                            <span class="chart" [attr.data-percent]="nutrients.fatper">
                                                <span class="percent"><img src="assets/images/fat.png"></span>
                                            </span>                                                        
                                        </div>
                                        <h4>{{nutrients.fat}} Cal Fat</h4>
                                    </div>
                                    <div class="infoDataSec">
                                        <div class="infoIcon">
                                            <span class="chart" [attr.data-percent]="nutrients.sugarsper">
                                                <span class="percent"><img src="assets/images/sugar.png"></span>
                                            </span>                                                        
                                        </div>
                                        <h4>{{nutrients.sugars}} Cal Sugar</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-7 col-md-5 col-sm-12 col-12">
                                <div class="profileInner">
                                  <div class="row">
                                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                                      <a href="javascript:void(0)" (click)="resetchart($event)" class="resetIcon"><img src="assets/images/reset.png" alt="Reset" title="Reset"></a>
                                    </div>
                                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
                                      <h6 id="topcharthding">Last 30 days</h6>
                                    </div>
                                  </div>
                                   <div class="graphOuter2">
                                    <div>
                                      <canvas
                                          baseChart
                                          [chartType]="'bar'"
                                          [datasets]="topChartData"
                                          [labels]="topChartLabels"
                                          [options]="topChartOptions"
                                          [legend]="true" width="470" height="250">
                                      </canvas>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-12 col-md-6 col-sm-12 col-6">
                                        <div class="profileInner profileincenter mealtab">
                                            <div class="mealPlanOuter">
                                                <div class="mealplanLeft">
                                                    <img src="assets/images/meal_plan.png" alt="meal_plan">
                                                </div>
                                                <div class="mealplanRight">
                                                    <a href="javascript:void(0)" class="modal-trigger" (click)="openModalDialog()">Add Meal</a>
                                                    <!-- <a href="#addMealplanModal" class="modal-trigger">Add Meal Plan</a>
                                                    <a href="#planlist" class="clickhere">Meal Plan List</a> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-12 col-md-6 col-sm-12 col-6">
                                        <div class="profileInner profileincenter mealtab">
                                            <div class="mealPlanOuter">
                                                <h3>Yesterday</h3>
                                                <div class="mealplanLeft">
                                                    <img src="assets/images/water.png" alt="water">
                                                </div>
                                                <div class="mealplanRight">
                                                    <h4>{{(nutrients.water>0)?nutrients.water:0}} ltr</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="profileInner">
                            <img src="assets/images/Chart1.png" alt="Chart">
                        </div> -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                        <!-- <div class="profileInner">
                            <div class="mealplanRight">
                                <a href="#addMealModal" class="modal-trigger">Add Meal</a>
                                <a href="#foodlist" class="clickhere">Meal List</a>
                            </div>
                        </div> -->
                        <div class="profileInner">
                          <p *ngIf="todaytotal_meal>0" class="rightsidetilte">Nutrient Chart (Today's)</p>
                          <p *ngIf="todaytotal_meal==0" class="rightsidetilte">Avg. Daily Nutrient (30 Days)</p>
                        <div id="step2">
                          <canvas
                              baseChart
                              [chartType]="'horizontalBar'"
                              [datasets]="pieChartData"
                              [labels]="pieChartLabels"
                              [options]="pieChartOptions"
                              [legend]="false"
                              [colors]="pieChartColor" (chartClick)="onChartClick($event)" height="665%">
                          </canvas>
                        </div>
                        </div>
                    </div>
                </div> 
                
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="profileInner" id="foodlist">
                           <div class="profilePart">
                                <h4>Record your Last Meal Details</h4>
                                <div class="recordOuter">
                                    <div class="recordRow recordHead">
                                       <div class="recordCol">
                                           <h5>Date</h5>
                                       </div>
                                       <div class="recordCol">
                                           <h5>Ate In</h5>
                                       </div>
                                       <div class="recordCol">
                                           <h5>Item</h5>
                                       </div>
                                       <div class="recordCol">
                                           <h5>Status</h5>
                                       </div>
                                       <div class="recordCol">
                                           <h5>Action</h5>
                                       </div>
                                    </div>
                                	<ng-container *ngFor="let meal of meals; index as i;">
                                    <div class="recordRow pendingRow">
                                        <div class="recordCol">
                                            <p>{{meal.meal_date}}</p>
                                        </div>
                                        <div class="recordCol">
                                            <p>{{meal.meal_type}}</p>
                                        </div>
                                        <div class="recordCol">
                                            <p>{{meal.nutritics_food_name}}</p>
                                        </div>
                                        <div class="recordCol">
                                            <p *ngIf="meal.nutritics_process_status==1">Processed</p>
                                            <p *ngIf="meal.nutritics_process_status==0">Pending</p>
                                            <p *ngIf="meal.nutritics_process_status==2">Failed</p>
                                        </div>
                                        <div class="recordCol">
                                            <p><a href="javascript:void(0);" title="Copy" (click)="copyFood(meal.id)"><img src="assets/images/copy.png"></a></p>
                                            <a href="javascript:void(0);" class="deleteRow"  (click)="deleteFood(meal.id,i)" *ngIf="meal.nutritics_process_status!=1"><img src="assets/images/cross-black.png" title="Delete"></a>
                                        </div>
                                    </div>
                                    </ng-container>
                               </div>
                              <br>
                            <div class="submitOuter">
                              <a href="javascript:void(0)" class="detailBtn" (click)="viewMore()" *ngIf="totalmeals > meals.length">View More</a>
                            </div>
                           </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>
<!-- END DASHBOARD -->

<!-- modal -->
<div class="modal generalModal aaddmeal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog">
    <div class="modal-content">  
    	 <!-- modal-header -->
      <div class="modal-header">
      	<h4>Add Meal</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModalDialog()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="mealAddForm">
        	<div class="row">
        		<div class="col-lg-6 col-md-6 col-sm-12 col-12">
		        	<div class="form-group">
			            <input id="srtDate" type="text" dateInput class="" format="Y-m-d"  mode="single" formControlName="mealdate" maxdate="{{today}}" placeholder="Date">
		        	</div>
              <p class="errormsg" *ngIf="validationmsg && validationmsg.mealdate">This field is required</p>
	        	</div>
	        	<div class="col-lg-6 col-md-6 col-sm-12 col-12">
		        	<div class="form-group">
			            <select id="duration" style="display: inline;" formControlName="periodtype">
			            	<option value="" [selected]=true>Select</option>
		                    <option value="Breakfast">Breakfast</option>
		                    <option value="Lunch">Lunch</option>
		                    <option value="Dinner">Dinner</option>
		                    <option value="Snacks">Snacks</option>
		                </select>
		        	</div>
              <p class="errormsg" *ngIf="validationmsg && validationmsg.periodtype">This field is required</p>
        		</div>
        	</div>
              <div class="form-group">
                <div class="mbfood">
                  <div class="foodsearch">
                    <input formControlName="itemname" autocomplete="off" id="transcript" [(ngModel)]="foodkey" (keyup)="search($event)" type="text" class="form-control" placeholder="{{foodPlaceholder}}"/>
                    <!-- <span (click)="changeModelEvent()" class="untouchgg"><img _ngcontent-c3="" src="assets/images/search1.png"></span> -->
                    <input type="hidden" formControlName="itemid" value="">
                    <!-- <div *ngFor="let getfood of getitems" *ngIf="show_jb_title_srh">
                      <span class="state" (click)="autoCompleteSearch(getfood.id)">{{getfood.name}}</span>
                    </div> -->
                  </div>
                  <!-- <div class="file-field">
                    <span><img src="assets/images/photo-camera.png"></span>
                    <input type="file" name="" (change)="onSelectFile($event)">
                  </div> -->
                  <a href="javascript:void(0);" class="voiceSearch" (click)="startDictation()"><img src="assets/images/microphone.png"></a>
                </div>
                <div class="state-container-dropdown" *ngIf="show_jb_title_srh">
                    <div *ngFor="let getitem of getitems">
                       <span class="state" (click)="autoCompleteSearch(getitem.id)">{{getitem.name}}</span>
                    </div>
                </div>
                <p class="errormsg" *ngIf="validationmsg && validationmsg.itemname">This field is required</p>
                <!-- <div class="mbfood">
                    <div class="input-field foodsearch">
                      <input type="text" name="" placeholder="food / recipe name">
                    </div>
                    <div class="file-field input-field">
                      <span><img src="assets/images/photo-camera.png"></span>
                      <input type="file" name="">
                    </div>
                    <a href="#" class="voiceSearch"><img src="assets/images/microphone.png"></a>
                </div> -->
            </div>

            <div class="row">
        		<div class="col-lg-4 col-md-4 col-sm-12 col-12">
		            <div class="form-group">
			            <select id="duration" style="display: inline;" formControlName="itemqtytype" (change)="changeQtytype($event.target.value)">
			            	<option value="">Select Qty type</option>
		                    <option value="Portion">Portion</option>
		                    <option value="Unit">Unit</option>
		                    <option value="Quantity">Quantity</option>
		                </select>
                    <p class="errormsg" *ngIf="validationmsg && validationmsg.itemqtytype">This field is required</p>
		        	</div>
		        </div>
		        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
		        	<div class="form-group">
			            <select id="duration" style="display: inline;" formControlName="itemqty">
			            	<option value="">Select</option>
		                    <option *ngFor="let optn of soption" value="{{optn.value}}">{{optn.name}}</option>
		                </select>
                    <p class="errormsg" *ngIf="validationmsg && validationmsg.itemqty">This field is required</p>
		        	</div>
		        </div>
		        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
		        	<div class="form-group qtynumber" *ngIf="show">
		        		<input id="qtynumber" type="text" formControlName="liquidqty" placeholder="QTY">
		        	</div>
		        </div>
		    </div>
            <div class="form-group">
                <button type="submit" class="detailBtn" (click)="mealStore()">Add</button>
            </div>
        </form>
    </div>
    </div>
  </div>
</div>


<!-- start chart modal -->
<div class="modal generalModal" tabindex="-1" role="dialog"  [ngStyle]="{'display':chartdisplay}">
  <div class="modal-dialog">
    <div class="modal-content">  
       <!-- modal-header -->
      <div class="modal-header">
        <h6 id="mbltopcharthding"></h6>
        <button type="button" class="close" aria-label="Close" (click)="closeChartModalDialog()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body mealmodalchart">
        <div id="">
          <canvas
            baseChart
            [chartType]="'bar'"
            [datasets]="popupChartData"
            [labels]="popupChartLabels"
            [options]="popupChartOptions"
            [legend]="true" width="275" height="150">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modalend" [ngClass]="{'modal-overlay':isModalOpen}"></div>