.cont_rank{
	display: inline-block;
    /* float: right; */
    position: absolute;
    top: -25px;
    right: 0;
    background: #2f5e8d;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
} 
.starCountOuter{
    position: relative;
}
.starCount{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}
.radialChartOuter{
    position: relative;
}

@media only screen and (max-width: 1400px){
    .starCount{
        top: 45%;
    }
}
@media only screen and (max-width: 1023px){
    .starCount{
        top: 50%;
    }
}
@media only screen and (max-width: 767px){
    .cont_rank{
        top: 0;
    }
}
