<ng-container>
<div class="row" *ngFor="let contestdata of getArray; index as i;">
	<div class="col-lg-12 col-md-12 col-sm-12 col-12 pastcontest{{contestdata[0]}}">
	   <div class="contentOuter contestResult accepetedcon">
	      <div class="contestResultOuter">
	         <div class="row">
	            <div class="col-lg-2 col-md-4 order-sm-1 col-sm-12 order-2 col-12">
	                <div class="awardImg"> 
	               	<!-- <p *ngIf="contestdata[1].achiveddata >=contestdata[1].activity_number"><img src="assets/images/award2.png" alt="award">{{totalstar}}</p> -->
	                <!--	<img src="assets/images/award2.png" alt="award">
	               	<img src="assets/images/award2.png" alt="award"> -->
	                  <!-- <img src="assets/images/award1.png" alt="award">
	                  <img src="assets/images/award2.png" alt="award">
	                  <img src="assets/images/award3.png" alt="award">
	                  <img src="assets/images/award4.png" alt="award"> -->
	                </div>
	            </div>
	            <div class="col-lg-7 col-md-11 order-sm-1 col-sm-12 order-2 col-12">
	               <h3>
                    <span class="contestcount gpostcount{{i}}"></span>
                    <a href="javascript:void(0);" class="" [routerLink]="['/community']" [queryParams]="{contest_id:contestdata[0]}"><img src="assets/images/group1.png" alt="Group Discussion" title="Group Discussion"></a>
                    YOU ARE PARTICIAPTING IN <span>{{contestname[i]}}</span> CONTEST
                   </h3>
	            </div>
	            <div class="col-lg-3 col-md-1 order-sm-2 col-sm-12 order-1 col-12">
	               <div class="collapsingOuter" *ngIf="contestdata[1].is_past==0">
	                  <a href="javascript:void(0);" class="collapsingBtn collapsed" id="collapsingBtn{{i}}" [attr.data-slid]="i"></a>
	               </div>

                   <a href="javascript:void(0);" class="remove pcontestrmv" *ngIf="contestdata[1].is_past==1" [attr.data-pcid]="contestdata[0]"><img src="assets/images/cross.png" alt="cross"></a>
	            </div>
	         </div>
	         <div class="contestResultInner contestResultInner{{i}}" [attr.data-slid]="i">
	            <div class="row">
	               	<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="mbleaderboard">
                            <ul>
                            	<ng-container *ngFor="let lbmember of contestdata[1].ldboard; index as i;">
                                <li *ngIf='i==1'>
                                    <span class="leaderImg"><img src="{{lbmember.avatar_id?'assets/images/avater' +lbmember.avatar_id+'.png' :'assets/images/avater1.png'}}" alt="{{lbmember.name}}"></span>
                                    <span class="name">{{lbmember.name}}</span>
                                    <span class="number">{{ordinal_suffix_of(i+1)}}</span>
                                </li>
                                </ng-container>
                                <ng-container *ngFor="let lbmember of contestdata[1].ldboard; index as i;">
                                <li *ngIf='i==0'>
                                    <span class="leaderImg"><img src="{{lbmember.avatar_id?'assets/images/avater' +lbmember.avatar_id+'.png' :'assets/images/avater1.png'}}" alt="{{lbmember.name}}"></span>
                                    <span class="name">{{lbmember.name}}</span>
                                    <span class="number">{{ordinal_suffix_of(i+1)}}</span>
                                </li>
                                </ng-container>
                                <ng-container *ngFor="let lbmember of contestdata[1].ldboard; index as i;">
                                <li *ngIf='i==2'>
                                    <span class="leaderImg"><img src="{{lbmember.avatar_id?'assets/images/avater' +lbmember.avatar_id+'.png' :'assets/images/avater1.png'}}" alt="{{lbmember.name}}"></span>
                                    <span class="name">{{lbmember.name}}</span>
                                    <span class="number">{{ordinal_suffix_of(i+1)}}</span>
                                </li>
                                </ng-container>
                            </ul>
                            <ng-container *ngFor="let lbmember of contestdata[1].ldboard; index as i;">
	                            <div class="fourthpos" *ngIf='i>2 && lbmember.user_id==user_data.id'>
	                                <p>You're {{ordinal_suffix_of(i+1)}}</p>
	                            </div>
                            </ng-container>
                            <ng-container *ngFor="let lbmember of contestdata[1].ldboard; index as i;">
                                <div class="bluefine" *ngIf='i<3 && lbmember.user_id==user_data.id'>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-6 desktopchart">
                        <div class="radialChartOuter">
                            <div id="contestreportchart{{i}}"></div>
                            <p class="starCount starCount{{i}}" *ngIf="contestdata[1].achiveddata >=contestdata[1].activity_number">{{totalstar}}</p>
                            <p class="starCount starCount{{i}}" *ngIf="contestdata[1].is_past==1">{{totalstar}}</p>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-6 mobilechart">
                        <div class="radialChartOuter">
                            <div id="mobilecontestreportchart{{i}}"></div>
                            <p class="starCount starCount{{i}}" *ngIf="contestdata[1].achiveddata >=contestdata[1].activity_number">{{totalstar}}</p>
                            <p class="starCount starCount{{i}}" *ngIf="contestdata[1].is_past==1">{{totalstar}}</p>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-6 tabchart">
                        <div class="radialChartOuter">
                            <div id="tabcontestreportchart{{i}}"></div>
                            <p class="starCount starCount{{i}}" *ngIf="contestdata[1].achiveddata >=contestdata[1].activity_number">{{totalstar}}</p>
                            <p class="starCount starCount{{i}}" *ngIf="contestdata[1].is_past==1">{{totalstar}}</p>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6">
                       <p id="activitynorp{{i}}" class="activitynorp"></p>
                       <p id="noofdaysrp{{i}}" class="noofdaysrp"></p>
                    </div>

	               	<div class="col-xl-4 col-lg-3 col-md-3 col-sm-12 col-12">
	                	<div id="groupbarchart{{i}}"></div>
	               	</div>
	            </div>
	         </div>
	      </div>
	   </div>
	</div>
</div>
</ng-container>