<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
         <div class="breadCrumb">
            <ul>
               <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
               <li><span>Push Notification</span></li>
            </ul>
         </div>
         <!-- <div class="profileOuter">
            <h3 class="pageTitle">Wearable</h3>
         </div> -->
         <div class="profileInner">
            <form [formGroup]="notifyform">
               <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                     <div class="input-field">
                        <select id="group" formControlName="group" style="display: inline;">
                           <option value="all">All Groups</option>
                           <option value="{{group.id}}" *ngFor="let group of groups;">{{group.group_name}}</option>
                        </select>
                        <p class="errormsg" *ngIf="ServerValidation && ServerValidation.group">{{ServerValidation.group[0]}}</p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                     <div class="input-field">
                        <textarea id="textarea1" formControlName="notify_msg" class="materialize-textarea"></textarea>
                        <label for="textarea1">Message</label>
                        <p class="errormsg" *ngIf="ServerValidation && ServerValidation.notify_msg">The message field is required</p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                     <div class="input-field">
                        <input type="text" id="notifylink" formControlName="action_url">
                        <label for="notifylink">Link</label>
                     </div>
                  </div>
               </div>
               <!-- <div class="submitOuter"> -->
                  <button type="submit" (click)="sendNotification()" class="detailBtn">Submit</button>
               <!-- </div> -->
            </form>
         </div>
      </div>
   </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>