<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
         <app-has-appointment></app-has-appointment>
         <div class="breadCrumb">
            <ul>
               <li><a href="javascript:void(0)" routerLink="/dashboard">Home</a></li>
               <li><span>Profile</span></li>
            </ul>
         </div>
         <div class="profileOuter">
            <!-- <h3 class="pageTitle">Personal Profile</h3> -->
            <div class="profileInner">
            <form [formGroup]="medical_condForm">
               <div class="profilePart">
                  <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h4>Medical Condition</h4>
                     </div>
                  </div>
                  <h6>This section details down your medical condition. It is important for us to know the correct details to design a relevant wellness programme. Please consult your physician if you are not sure about any question.</h6>
                  <div class="row">
                   <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                       <ul class="collapsible medicalCollapse medicalCollapseLeft">
                           <li>
                               <div class="collapsible-header">
                                   Arthritis
                               </div>
                               <div class="collapsible-body">               
                                   <div class="row">
                                       <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="osteo_arthritis" class="filled-in">
                                                   <span>Osteo Arthritis</span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="rheumatoid_arthritis" class="filled-in">
                                                   <span>Rheumatoid Arthritis</span>
                                               </label>
                                           </div>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="gout" class="filled-in">
                                                   <span>Gout</span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="psoriatic_arthritis" class="filled-in">
                                                   <span>Psoriatic Arthritis</span>
                                               </label>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </li>
                           <li>
                               <div class="collapsible-header">
                                   Joint Pain
                               </div>
                               <div class="collapsible-body">
                                   <div class="row">
                                       <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="knee" class="filled-in">
                                                   <span>Knee</span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="shoulder" class="filled-in">
                                                   <span>Shoulder</span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="elbow" class="filled-in">
                                                   <span>Elbow</span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="wrist" class="filled-in">
                                                   <span>Wrist</span>
                                               </label>
                                           </div>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="ankle" class="filled-in">
                                                   <span>Ankle</span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="back" class="filled-in">
                                                   <span>Back</span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="neck" class="filled-in">
                                                   <span>Neck</span>
                                               </label>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </li>
                           <li>
                               <div class="collapsible-header">
                                   Other Pains
                               </div>
                               <div class="collapsible-body">
                                   <div class="row">
                                       <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="migraines" class="filled-in">
                                                   <span>Migraines</span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="frequent_headache" class="filled-in">
                                                   <span>Frequent Headache</span>
                                               </label>
                                           </div>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="frequent_stomach" class="filled-in">
                                                   <span>Frequent Stomach Ache</span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="hernia" class="filled-in">
                                                   <span>Hernia</span>
                                               </label>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </li>
                           <li>
                               <div class="collapsible-header">
                                   Chronic Disease
                               </div>
                               <div class="collapsible-body">
                                   <div class="row">
                                       <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="diabetes_mellitus" class="filled-in">
                                                   <span>Diabetes Mellitus</span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="cancer" class="filled-in">
                                                   <span>Cancer</span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="hypoglycemia" class="filled-in">
                                                   <span>Hypoglycemia</span>
                                               </label>
                                           </div>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="asthma" class="filled-in">
                                                   <span>Asthma</span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="emphysema_bronchitis" class="filled-in">
                                                   <span>Emphysema bronchitis</span>
                                               </label>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </li>
                           <li>
                               <div class="collapsible-header">
                                   Lipids and Blood Pressure
                               </div>
                               <div class="collapsible-body">
                                   <div class="row">
                                       <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="hbp" class="filled-in">
                                                   <span>High Blood Pressure</span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="lbp" class="filled-in">
                                                   <span>Low Blood Pressure</span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="etl" class="filled-in">
                                                   <span>Elevated Tryglyceride Level</span>
                                               </label>
                                           </div>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="ldl" class="filled-in">
                                                   <span>Elevated Bad Cholestrol(LDL) </span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="hdl" class="filled-in">
                                                   <span>Low Good Cholestrol(HDL)</span>
                                               </label>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </li>                                                
                       </ul>
                   </div>
                   <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                       <ul class="collapsible medicalCollapse medicalCollapseRight">
                           <li>
                               <div class="collapsible-header">
                                   Hormonal/ Neural
                               </div>
                               <div class="collapsible-body">
                                   <div class="row">
                                       <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="hypothyroid" class="filled-in">
                                                   <span>Hypothyroid</span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="hyperthyroid" class="filled-in">
                                                   <span>Hyperthyroid</span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="pcos" class="filled-in">
                                                   <span>PCOS</span>
                                               </label>
                                           </div>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="epilepsy" class="filled-in">
                                                   <span>Epilepsy</span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="endometreosys" class="filled-in">
                                                   <span>Endometreosys</span>
                                               </label>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </li>
                           <li>
                               <div class="collapsible-header">
                                   Digestive
                               </div>
                               <div class="collapsible-body">
                                   <div class="row">
                                       <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="irritable_bowel_syndrome" class="filled-in">
                                                   <span>Irritable Bowel Syndrome </span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="gall_bladder_stone" class="filled-in">
                                                   <span>Gall Bladder Stone</span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="kidney_stone" class="filled-in">
                                                   <span>Kidney Stone</span>
                                               </label>
                                           </div>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="ulcerative_colitis" class="filled-in">
                                                   <span>Ulcerative Colitis</span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="crohn_disease" class="filled-in">
                                                   <span>Crohn's disease</span>
                                               </label>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </li>
                           <li>
                               <div class="collapsible-header">
                                   Skin
                               </div>
                               <div class="collapsible-body">
                                   <div class="row">
                                       <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="eczema" class="filled-in">
                                                   <span>Eczema</span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="psorasis" class="filled-in">
                                                   <span>Psorasis</span>
                                               </label>
                                           </div>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="acne" class="filled-in">
                                                   <span>Acne</span>
                                               </label>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </li>
                           <li>
                               <div class="collapsible-header">
                                   Heart issues
                               </div>
                               <div class="collapsible-body">
                                   <div class="row">
                                       <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="physical_chest_pain" class="filled-in">
                                                   <span>Chest pain during physical activity</span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="physical_not_chest_pain" class="filled-in">
                                                   <span>Chest pain not during physical activity</span>
                                               </label>
                                           </div>
                                       </div>
                                       <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="palpitation" class="filled-in">
                                                   <span>Palpitation</span>
                                               </label>
                                           </div>
                                           <div class="checkboxOuter">
                                               <label>
                                                   <input type="checkbox" name="" formControlName="msdheartbeat" class="filled-in">
                                                   <span>Missed Heartbeat</span>
                                               </label>
                                           </div>
                                       </div>
                                   </div>
                                   <ul class="collapsible medicalSub">
                                       <li>
                                           <div class="collapsible-header">Cardiovascular Disease</div>
                                           <div class="collapsible-body">
                                               <div class="row">
                                                   <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                       <div class="checkboxOuter">
                                                           <label>
                                                               <input type="checkbox" name="" formControlName="coronary" class="filled-in">
                                                               <span>Coronary heart disease</span>
                                                           </label>
                                                       </div>
                                                       <div class="checkboxOuter">
                                                           <label>
                                                               <input type="checkbox" name="" formControlName="stroke" class="filled-in">
                                                               <span>Stroke</span>
                                                           </label>
                                                       </div>
                                                   </div>
                                                   <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                       <div class="checkboxOuter">
                                                           <label>
                                                               <input type="checkbox" name="" formControlName="congenital" class="filled-in">
                                                               <span>Congenital heart disease</span>
                                                           </label>
                                                       </div>
                                                       <div class="checkboxOuter">
                                                           <label>
                                                               <input type="checkbox" name="" formControlName="peripheral" class="filled-in">
                                                               <span>Peripheral artery disease</span>
                                                           </label>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </li>
                                   </ul>
                               </div>
                           </li>
                       </ul>
                       <div class="checkboxOuter">
                          <label>
                            <input type="checkbox" name="" formControlName="none_above_medical" class="filled-in">
                            <span>None of these</span>
                          </label>
                       </div>
                   </div>
               </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                      <div class="input-field">
                        <input type="text" id="other_medical" class="validate" formControlName="other_medical" >
                        <label for="other_medical" [ngClass]="{'active':medical_condForm.get('other_medical').value}">Other, please specify if any</label>
                      </div>
                    </div>
                     <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                           <input id="lastscr" type="text" formControlName="last_health_screening_date"  dateInput  format="Y-m-d"  mode="single">
                           <label for="lastscr" [ngClass]="{'active':medical_condForm.get('last_health_screening_date').value}">Last Health Screening Date</label>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="submitOuter">
                  <button type="submit" class="detailBtn" (click)="storeForm()">Submit</button>
               </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>
