<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
               <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="countBlockInner">
                          <a href="employee-list.html">
                              <div class="countBlockLeft">
                                  <img src="assets/images/employee.png">
                              </div>
                              <div class="countBlockRight">
                                  <h2>{{dashboard.invited_count}}</h2>
                                  <p>No of Invited</p>
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="countBlockInner">
                          <a href="employee-list.html">
                              <div class="countBlockLeft">
                                  <img src="assets/images/employee.png">
                              </div>
                              <div class="countBlockRight">
                                  <h2>{{dashboard.registered_count}}</h2>
                                  <p>No of Registered</p>
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="countBlockInner">
                          <a href="employee-list.html">
                              <div class="countBlockLeft">
                                  <img src="assets/images/employee.png">
                              </div>
                              <div class="countBlockRight">
                                  <h2>{{dashboard.user_bca_count}}</h2>
                                  <p>No of BCA</p>
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="countBlockInner">
                          <a href="employee-list.html">
                              <div class="countBlockLeft">
                                  <img src="assets/images/employee.png">
                              </div>
                              <div class="countBlockRight">
                                  <h2>{{dashboard.user_engagement}}</h2>
                                  <p>No of Engagement</p>
                              </div>
                          </a>
                      </div>
                  </div>
               </div>
             </div>
         </div>
         <div class="row">
            <div class="col-lg-7 col-md-8 col-sm-12 col-sm-12">
               <div class="leaderboardOuter">
                  <div class="dashboardHeading">
                      <h4>Leaderboard</h4>
                      <a href="#" class="collapsingBtn"></a>
                  </div>
                  <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12">
                          <h5>Overall</h5>
                          <ng-container *ngFor="let overallleaderboard of dashboard.overall_leaderboard" >
                          <div class="progressOuter">
                              <span class="name" *ngIf="overallleaderboard.alias_name !=null">{{overallleaderboard.alias_name}}</span>
                              <span class="name" *ngIf="overallleaderboard.alias_name ==null">{{overallleaderboard.firstname}} {{overallleaderboard.lastname}}</span>
                              <span class="leaderImg"><img src="assets/{{overallleaderboard.avatar_image}}" alt="{{overallleaderboard.alias_name}}"></span>
                              <div class="progressInner" [ngStyle]="{'width': getPercentage(overallleaderboard.percentage) + '%'}"> </div>
                              <span class="number">{{overallleaderboard.psum}}</span>
                          </div>
                          </ng-container>
                      </div>                                    
                      <div class="col-lg-6 col-md-6 col-sm-12">
                          <h5>Monthy</h5>
                          <ng-container *ngFor="let monthleaderboard of dashboard.month_leaderboard" >
                          <div class="progressOuter">
                              <span class="name" *ngIf="monthleaderboard.alias_name !=null">{{monthleaderboard.alias_name}}</span>
                              <span class="name" *ngIf="monthleaderboard.alias_name ==null">{{monthleaderboard.firstname}} {{monthleaderboard.lastname}}</span>
                              <span class="leaderImg"><img src="assets/{{monthleaderboard.avatar_image}}" alt="{{monthleaderboard.alias_name}}"></span>
                              <div class="progressInner" [ngStyle]="{'width': getPercentage(monthleaderboard.percentage) + '%'}"></div>
                              <span class="number">{{monthleaderboard.psum}}</span>
                          </div>
                          </ng-container>
                      </div>
                  </div>
               </div>
            </div>
             <div class="col-lg-5 col-md-4 col-sm-12 col-sm-12">
                 <!-- <div class="groupName">
                     <img src="assets/images/groupLogo.png" alt="groupLogo">
                     <h4>Kingston Technology International Ltd</h4> 
                 </div> -->
                 <div class="graphOuter">
                     <img src="assets/images/pie_chart.png">
                </div>
             </div>
         </div>
      </div>
   </div>
   <app-footer></app-footer>
   <!-- End -->
</section>