<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
        <app-has-appointment></app-has-appointment>
        <div class="breadCrumb">
            <ul>
                <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
                <li><span>Sheet Assigned Details</span></li>
            </ul>
        </div>
        <div class="profileOuter">
            <div class="profileInner">
              <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                  <div class="input-field">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="profileInner">
                <div class="table-responsive">
                  <table class="table userListOuter">
                    <tr>
	                    <th>
	                        <h5 class="t-txt">Sl No.</h5>
	                    </th>
                        <th>
                           <h5 class="t-txt">Sheet Name</h5>
                        </th>
                        <th>
                           <h5 class="t-txt">Group Name</h5>
                        </th>
                        <th>
                           <h5 class="t-txt">Level</h5>
                        </th>
                        <th>
                           <h5 class="t-txt">Is Attend</h5>
                        </th>
                        <th>
                           <h5 class="t-txt">Assigned At</h5>
                        </th>
                    </tr>
                    <ng-container *ngFor="let assigneddetail of assignedlist ; index as i;">
	                    <tr>
	                        <td>
	                          <label>
	                            <span>{{i+1}}</span>
	                          </label>
	                        </td>
	                        <td>
	                            <p>{{assigneddetail.sheet_name}}</p>
	                        </td>
	                        <td>
	                            <p>{{assigneddetail.group_details}}</p>
	                        </td>
	                        <td>
	                        	<p>{{assigneddetail.level_details}}</p>
	                        </td>
	                        <td>
	                          <p>{{assigneddetail.is_opened==1?'Yes':'No'}}</p>
	                        </td>
	                        <td>
	                        	<p>{{assigneddetail.created_date}}</p>
	                        </td>
	                    </tr>
                	</ng-container>
                </table>
            </div>
        </div>
      </div>
      </div>
   	</div>
   	<!-- Footer Section Start -->
   	<app-footer></app-footer>
   	<!-- End -->
</section>