<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
    <div class="bodyContent">
        <div class="container-fluid">
            <div class="breadCrumb">
                <ul>
                  <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
                  <li><span>User Report</span></li>
                  <li><span>{{this.user_detail.firstname}} {{this.user_detail.lastname}}</span></li>
                </ul>
            </div>
            <div class="profileOuter">
              <div class="profilePart">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                        <h4>Questioniare Report</h4>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="expandallOuter">
                            <a href="javascript:void(0)">Expand All</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <ul class="collapsible reportAccordian reportAccordianSec">
                            <li class="">
                                <div class="collapsible-header navHighlight">
                                    <span class="headLeft">Medical </span>
                                </div>
                                <div class="collapsible-body">
                                    <p *ngIf="medical_condition">
                                       {{medical_condition.selected_medical_con}}
                                    </p>
                                </div>
                            </li>
                            
                            <!-- <li>
                                <div class="collapsible-header">
                                    <span class="headLeft">Antecedents </span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                    <p>
                                      <span class="ansLeft">Eat a whole foods based diet rich in colourful fruits and vegetables </span>
                                      <span class="ansRight">Rarely</span>
                                    </p>
                                </div>
                            </li> -->
                            
                            <li *ngIf="userlast_qsnans.HC1">
                                <div class="collapsible-header">
                                    <span class="headLeft">Assimilation <span class="greenCount">{{userlast_qsnans.HC1.score}}</span></span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                  <ng-container *ngFor="let ansqus of tag1Arr; index as i;">
                                    <p *ngIf="ansqus[1].question !=null">
                                      <span class="ansLeft">{{ansqus[1].question}}</span>
                                      <span class="ansRight" *ngIf="ansqus[1].answer==2">Often</span>
                                      <span class="ansRight" *ngIf="ansqus[1].answer==1">Always</span>
                                    </p>
                                  </ng-container>
                                </div>
                            </li>
                            <!-- <li>
                                <div class="collapsible-header">
                                    <span class="headLeft">Triggering Events Timeline Event</span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                    <p>
                                        <span class="ansLeft">Eat a whole foods based diet rich in colourful fruits and vegetables </span>
                                        <span class="ansRight">Rarely</span>
                                    </p>
                                </div>
                            </li> -->
                            <li *ngIf="userlast_qsnans.HC8 && permissions && permissions.indexOf('questionnaire') !== -1 ? true: false">
                                <div class="collapsible-header">
                                    <span class="headLeft">Mediators/ Perpetuators <span class="greenCount">{{userlast_qsnans.HC8.score}}</span></span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                  <ng-container *ngFor="let ansqus of tag8Arr; index as i;">
                                    <p *ngIf="ansqus[1].question !=null">
                                      <span class="ansLeft">{{ansqus[1].question}}</span>
                                      <span class="ansRight" *ngIf="ansqus[1].answer==2">Often</span>
                                      <span class="ansRight" *ngIf="ansqus[1].answer==1">Always</span>
                                    </p>
                                  </ng-container>
                                </div>
                            </li>
                            <li *ngIf="userlast_qsnans.HC7 && permissions && permissions.indexOf('questionnaire') !== -1 ? true: false">
                                <div class="collapsible-header">
                                    <span class="headLeft">Communication <span class="greenCount">{{userlast_qsnans.HC7.score}}</span></span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                  <ng-container *ngFor="let ansqus of tag7Arr; index as i;">
                                    <p *ngIf="ansqus[1].question !=null">
                                      <span class="ansLeft">{{ansqus[1].question}}</span>
                                      <span class="ansRight" *ngIf="ansqus[1].answer==2">Often</span>
                                      <span class="ansRight" *ngIf="ansqus[1].answer==1">Always</span>
                                    </p>
                                  </ng-container>
                                </div>
                            </li>
                            <!-- <li>
                                <div class="collapsible-header">
                                    <span class="headLeft">Sleep &amp; Relaxation</span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                    <p>
                                        <span class="ansLeft">Eat a whole foods based diet rich in colourful fruits and vegetables </span>
                                        <span class="ansRight">Rarely</span>
                                    </p>
                                </div>
                            </li> -->
                            <li *ngIf="userlast_qsnans.HC10 && permissions && permissions.indexOf('questionnaire') !== -1 ? true: false">
                                <div class="collapsible-header">
                                    <span class="headLeft">Exercise &amp; Movement <span class="greenCount">{{userlast_qsnans.HC10.score}}</span></span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                  <ng-container *ngFor="let ansqus of tag10Arr; index as i;">
                                    <p *ngIf="ansqus[1].question !=null">
                                      <span class="ansLeft">{{ansqus[1].question}}</span>
                                      <span class="ansRight" *ngIf="ansqus[1].answer==2">Often</span>
                                      <span class="ansRight" *ngIf="ansqus[1].answer==1">Always</span>
                                    </p>
                                  </ng-container>
                                </div>
                            </li> 
                            <li *ngIf="userlast_qsnans.HC11 && permissions && permissions.indexOf('questionnaire') !== -1 ? true: false">
                                <div class="collapsible-header">
                                    <span class="headLeft">Nutrition &amp; Hydration <span class="greenCount">{{userlast_qsnans.HC11.score}}</span></span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                  <ng-container *ngFor="let ansqus of tag11Arr; index as i;">
                                    <p *ngIf="ansqus[1].question !=null">
                                      <span class="ansLeft">{{ansqus[1].question}}</span>
                                      <span class="ansRight" *ngIf="ansqus[1].answer==2">Often</span>
                                      <span class="ansRight" *ngIf="ansqus[1].answer==1">Always</span>
                                    </p>
                                  </ng-container>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <ul class="collapsible reportAccordian reportAccordianSec">
                            
                            <li *ngIf="userlast_qsnans.HC2 && permissions && permissions.indexOf('questionnaire') !== -1 ? true: false">
                                <div class="collapsible-header">
                                    <span class="headLeft">Structural Integrity <span class="greenCount">{{userlast_qsnans.HC2.score}}</span></span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                  <ng-container *ngFor="let ansqus of tag2Arr; index as i;">
                                    <p *ngIf="ansqus[1].question !=null">
                                      <span class="ansLeft">{{ansqus[1].question}}</span>
                                      <span class="ansRight" *ngIf="ansqus[1].answer==2">Often</span>
                                      <span class="ansRight" *ngIf="ansqus[1].answer==1">Always</span>
                                    </p>
                                  </ng-container>
                                </div>
                            </li>
                            <li *ngIf="userlast_qsnans.HC3 && permissions && permissions.indexOf('questionnaire') !== -1 ? true: false">
                                <div class="collapsible-header">
                                    <span class="headLeft">Defence &amp; Repair <span class="greenCount">{{userlast_qsnans.HC3.score}}</span></span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                  <ng-container *ngFor="let ansqus of tag3Arr; index as i;">
                                    <p *ngIf="ansqus[1].question !=null">
                                      <span class="ansLeft">{{ansqus[1].question}}</span>
                                      <span class="ansRight" *ngIf="ansqus[1].answer==2">Often</span>
                                      <span class="ansRight" *ngIf="ansqus[1].answer==1">Always</span>
                                    </p>
                                  </ng-container>
                                </div>
                            </li>
                            <li *ngIf="userlast_qsnans.HC4 && permissions && permissions.indexOf('questionnaire') !== -1 ? true: false">
                                <div class="collapsible-header">
                                    <span class="headLeft">Energy <span class="greenCount">{{userlast_qsnans.HC4.score}}</span></span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                  <ng-container *ngFor="let ansqus of tag4Arr; index as i;">
                                    <p *ngIf="ansqus[1].question !=null">
                                      <span class="ansLeft">{{ansqus[1].question}}</span>
                                      <span class="ansRight" *ngIf="ansqus[1].answer==2">Often</span>
                                      <span class="ansRight" *ngIf="ansqus[1].answer==1">Always</span>
                                    </p>
                                  </ng-container>
                                </div>
                            </li>
                            <li *ngIf="userlast_qsnans.HC6 && permissions && permissions.indexOf('questionnaire') !== -1 ? true: false">
                                <div class="collapsible-header">
                                    <span class="headLeft">Transport <span class="greenCount">{{userlast_qsnans.HC6.score}}</span></span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                  <ng-container *ngFor="let ansqus of tag6Arr; index as i;">
                                    <p *ngIf="ansqus[1].question !=null">
                                      <span class="ansLeft">{{ansqus[1].question}}</span>
                                      <span class="ansRight" *ngIf="ansqus[1].answer==2">Often</span>
                                      <span class="ansRight" *ngIf="ansqus[1].answer==1">Always</span>
                                    </p>
                                  </ng-container>
                                </div>
                            </li>
                            <li *ngIf="userlast_qsnans.HC5 && permissions && permissions.indexOf('questionnaire') !== -1 ? true: false">
                                <div class="collapsible-header">
                                  <span class="headLeft">Biotransformation &amp; Elimination <span class="greenCount">{{userlast_qsnans.HC5.score}}</span></span>
                                  <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                  <ng-container *ngFor="let ansqus of tag5Arr; index as i;">
                                    <p *ngIf="ansqus[1].question !=null">
                                      <span class="ansLeft">{{ansqus[1].question}}</span>
                                      <span class="ansRight" *ngIf="ansqus[1].answer==2">Often</span>
                                      <span class="ansRight" *ngIf="ansqus[1].answer==1">Always</span>
                                    </p>
                                  </ng-container>
                                </div>
                            </li>
                            <li *ngIf="userlast_qsnans.HC12 && permissions && permissions.indexOf('questionnaire') !== -1 ? true: false">
                                <div class="collapsible-header">
                                  <span class="headLeft">Stress &amp; Resilience <span class="greenCount">{{userlast_qsnans.HC12.score}}</span></span>
                                  <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                  <ng-container *ngFor="let ansqus of tag12Arr; index as i;">
                                    <p *ngIf="ansqus[1].question !=null">
                                      <span class="ansLeft">{{ansqus[1].question}}</span>
                                      <span class="ansRight" *ngIf="ansqus[1].answer==2">Often</span>
                                      <span class="ansRight" *ngIf="ansqus[1].answer==1">Always</span>
                                    </p>
                                  </ng-container>.
                                </div>
                            </li>
                            <!-- <li>
                                <div class="collapsible-header">
                                    <span class="headLeft">Relationship &amp; Network</span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                    <p>
                                        <span class="ansLeft">Eat a whole foods based diet rich in colourful fruits and vegetables </span>
                                        <span class="ansRight">Rarely</span>
                                    </p>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12" *ngIf="permissions && permissions.indexOf('questionnaire') !== -1 ? true: false">
                	<div class="graphOuter">
                		<div id="chart"></div>
                	</div>
                </div>
                
                <div class="col-lg-6 col-md-12 col-sm-12"  *ngIf="permissions && permissions.indexOf('meal') !== -1 ? true: false">          
                  <div class="row">                      
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="graphOuter">
                        <div>
                          <canvas
                            baseChart
                            [chartType]="'bar'"
                            [datasets]="topChartData"
                            [labels]="topChartLabels"
                            [options]="topChartOptions"
                            [legend]="true" width="550" height="275">
                          </canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                    <!-- <div class="graphOuter">
                        <img src="images/uyehv.png">
                   </div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="permissions && permissions.indexOf('target') !== -1 ? true: false">
                   <div class="leaderboardOuter">
                      <div class="graphadjust">
                        <div class="dashboardHeading">
                            <h4>Target vs Actual</h4>
                            <!-- <img src="assets/images/Chart_Stack.png"> -->
                            <a href="javascript:void()" class="opencloseicon opencloseplus"></a>
                        </div>
                        <div class="collapsingInner openclosebox">
                            <div id="targetchart"></div>
                        </div>
                      </div>  
                   </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="permissions && (permissions.indexOf('activity') !== -1 ? true: false || permissions.indexOf('meal') !== -1 ? true: false)">
                	<div class="graphOuter">
                		<div>
                      <canvas
                        baseChart
                        [chartType]="'bar'"
                        [datasets]="fatmaslChartData"
                        [labels]="fatmaslChartLabels"
                        [options]="fatmaslChartOptions"
                        [legend]="true" width="550" height="275">
                      </canvas>
                    </div>
              	  </div>
            	</div>
            </div>
            <div class="row">                            
                <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="permissions && permissions.indexOf('activity') !== -1 ? true: false">
                  <div class="graphOuter">
                    <div>
                      <canvas
                        baseChart
                        [chartType]="'bar'"
                        [datasets]="activityChartData"
                        [labels]="activityChartLabels"
                        [options]="activityChartOptions"
                        [legend]="true" width="550" height="275">
                  	  </canvas>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="permissions && permissions.indexOf('questionnaire') !== -1 ? true: false">
                  <div class="graphOuter">
                  	<div *ngIf="personalcrossData.length !=0">
                      <canvas
                        baseChart
                        [chartType]="'bar'"
                        [datasets]="personalcrossData"
                        [labels]="personalcrossLabels"
                        [options]="personalcrossOptions"
                        [legend]="true" width="550" height="275">
	                    </canvas>
          	        </div>
                  </div>
                </div>
            </div>
            <div class="row">                            
                <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="permissions && permissions.indexOf('meal') !== -1 ? true: false">
                  <div class="graphOuter">
                    <div>
                  		<canvas
                        baseChart
                        [chartType]="'horizontalBar'"
                        [datasets]="pieChartData"
                        [labels]="pieChartLabels"
                        [options]="pieChartOptions"
                        [legend]="false"
                        [colors]="pieChartColor" height="400%">
                    	</canvas>        
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="permissions && permissions.indexOf('activity') !== -1 ? true: false">
                  <div class="graphOuter">
                  	<div>
                      <canvas
                        baseChart
                        [chartType]="'horizontalBar'"
                        [datasets]="sleepChartData"
                        [labels]="sleepChartLabels"
                        [options]="sleepChartOptions"
                        [legend]="true" height="400%">
	                    </canvas>
          	        </div>
                  </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="profileInner" id="foodlist">
                           <div class="profilePart">
                                <h3>Food Diary</h3>
                                <div class="recordOuter">
                                    <div class="recordRow recordHead">
                                      <div class="recordCol">
                                        <h5>Date</h5>
                                        <a href="javascript:void(0)" class="arw" (click)="sortByField='meal_date'; reverse =!reverse"><i class="material-icons dp48">expand_more</i></a>
                                      </div>
                                      <div class="recordCol">
                                        <h5>Ate In</h5>
                                        <a href="javascript:void(0)" class="arw" (click)="sortByField='meal_type'; reverse =!reverse"><i class="material-icons dp48">expand_more</i></a>
                                      </div>
                                      <div class="recordCol">
                                        <h5>Item</h5>
                                        <a href="javascript:void(0)" class="arw" (click)="sortByField='nutritics_food_name'; reverse =!reverse"><i class="material-icons dp48">expand_more</i></a>
                                      </div>
                                      <div class="recordCol">
                                        <h5>Status</h5>
                                      </div>
                                    </div>
                                  <ng-container *ngFor="let meal of meals | orderBySort : sortByField :reverse ; index as i;">
                                    <div class="recordRow pendingRow">
                                        <div class="recordCol">
                                            <p>{{meal.meal_date}}</p>
                                        </div>
                                        <div class="recordCol">
                                            <p>{{meal.meal_type}}</p>
                                        </div>
                                        <div class="recordCol">
                                            <p>{{meal.nutritics_food_name}}</p>
                                        </div>
                                        <div class="recordCol">
                                            <p *ngIf="meal.nutritics_process_status==1">Processed</p>
                                            <p *ngIf="meal.nutritics_process_status==0">Pending</p>
                                            <p *ngIf="meal.nutritics_process_status==2">Failed</p>
                                        </div>
                                    </div>
                                    </ng-container>
                               </div>
                              <br>
                            <div class="submitOuter">
                              <a href="javascript:void(0)" class="detailBtn" (click)="viewMore()" *ngIf="totalmeals > meals.length">View More</a>
                            </div>
                           </div>
                        </div>

                    </div>
                </div>
        </div>
    </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>