<!-- START DASHBOARD -->
<section class="dashboardSection">
    <div class="manualBox">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <button type="button">Prev</button>
        <button type="button">Next</button>
        <button type="button">Skip</button>
    </div>
    <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
    <div class="bodyContent">
        <div class="container-fluid">
            <div class="appointment">
            <a href="javascript:void(0)">Appointments</a>
            <div class="appointmentInner">
               <div class="appointmentHead">
                  <a href="javascript:void(0)">Appointment List</a>
               </div>
               <ul>
                <ng-container *ngFor="let appointment of appointments; index as i;">
                  <li>
                    <a href="javascript:void(0)">
                    <h5><span class="green"></span> {{appointment.status}}</h5>
                    <h4>{{appointment.firstname}} {{appointment.lastname}}</h4>
                    <h6>{{appointment.date_of_appointment}} {{appointment.slot_start_time}} to {{appointment.slot_end_time}}</h6>
                    <h6>{{appointment.group_name}}</h6>
                    </a>
                  </li>
                </ng-container>
               </ul>
            </div>
         </div>
            <div class="breadCrumb">
                <ul>
                    <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
                    <li><span>BCA Record</span></li>
                </ul>
            </div>
           <div class="profileOuter">
                <div class="dateSelector">
                   <div class="row">
                      <div class="col-lg-3 col-md-5 co-sm-12 col-12">
                          <div class="dateposition" *ngIf="bcacount > 0">
                              <label>Select Previous Date</label>
                              <span class="Icon"><img src="assets/images/calendar1.png"></span>
                              <select style="display:inline;" [(ngModel)]="archiveModel" (ngModelChange)="getArchiveByDate($event)" [ngModelOptions]="{standalone: true}">
                                <option value="{{archive.date}}" *ngFor="let archive of archives; index as i;">{{archive.date}}</option>
                              </select>
                          </div>
                      </div>
                   </div>
                </div>
                <div class="profileInner">
                    <div *ngIf="bcacount > 0">
                    <!--start chart-->
                    <div class="tbwchartsection">
                        <h3>Total Body Water</h3>
                        <ul class="tbwchart">
                            <li><span class="redcolor color"></span><span class="linerang">0</span></li>
                            <li class="poitchecked" *ngIf="bcadata.totaltbwr<7"><span class=""></span></li>
                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.totaltbwr > 6 && bcadata.totaltbwr < 13"><span class=""></span></li>
                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.totaltbwr > 12 && bcadata.totaltbwr < 19"><span class=""></span></li>
                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.totaltbwr > 18 && bcadata.totaltbwr < 25"><span class=""></span></li>
                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.totaltbwr > 24 && bcadata.totaltbwr < 32"><span class=""></span></li>
                            <li><span class="amburcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.totaltbwr > 31 && bcadata.totaltbwr < 38"><span class=""></span></li>
                            <li><span class="amburcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.totaltbwr > 37 && bcadata.totaltbwr < 45"><span class=""></span></li>
                            <li><span class="amburcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.totaltbwr > 44 && bcadata.totaltbwr < 52"><span class=""></span></li>
                            <li><span class="amburcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.totaltbwr > 51 && bcadata.totaltbwr < 59"><span class=""></span></li>
                            <li><span class="amburcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.totaltbwr > 58 && bcadata.totaltbwr < 66"><span class=""></span></li>
                            <li><span class="greencolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.totaltbwr > 65 && bcadata.totaltbwr < 72"><span class=""></span></li>
                            <li><span class="greencolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.totaltbwr > 71 && bcadata.totaltbwr < 78"><span class=""></span></li>
                            <li><span class="greencolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.totaltbwr > 77 && bcadata.totaltbwr < 84"><span class=""></span></li>
                            <li><span class="greencolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.totaltbwr > 83 && bcadata.totaltbwr < 92"><span class=""></span></li>
                            <li><span class="greencolor color"></span><span class="linerang">100</span></li>
                            <li class="poitchecked" *ngIf="bcadata.totaltbwr > 91 && bcadata.totaltbwr < 101"><span class=""></span></li>
                        </ul>
                    </div>
                    <div class="tbwchartsection">
                        <h3>BMI Report</h3>
                        <ul class="tbwchart">
                            <li><span class="greencolor color"></span><span class="linerang">0</span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmi < 7"><span class=""></span></li>

                            <li><span class="greencolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmi > 6 && bcadata.bmi < 13"><span class=""></span></li>

                            <li><span class="greencolor color"></span><span class="linerang">18</span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmi > 12 && bcadata.bmi < 19"><span class=""></span></li>

                            <li><span class="bluecolor color"></span><span class="linerang">24</span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmi > 18 && bcadata.bmi < 25"><span class=""></span></li>

                            <li><span class="amburcolor color"></span><span class="linerang">30</span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmi > 24 && bcadata.bmi < 31"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmi > 30 && bcadata.bmi < 38"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmi > 37 && bcadata.bmi < 45"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmi > 44 && bcadata.bmi < 52"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmi > 51 && bcadata.bmi < 59"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmi > 58 && bcadata.bmi < 66"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmi > 65 && bcadata.bmi < 73"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmi > 72 && bcadata.bmi < 80"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmi > 79 && bcadata.bmi < 87"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmi > 86 && bcadata.bmi < 94"><span class=""></span></li>

                            <li><span class="redcolor color"></span><span class="linerang">100</span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmi > 93 && bcadata.bmi < 101"><span class=""></span></li>

                        </ul>
                    </div>

                    <div class="tbwchartsection">
                        <h3>Visceral Fat ranges</h3>
                        <ul class="tbwchart">
                            <li><span class="greencolor color"></span><span class="linerang">0</span></li>
                            <li class="poitchecked" *ngIf="bcadata.vfatl < 5"><span class=""></span></li>

                            <li><span class="greencolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.vfatl > 4 && bcadata.vfatl < 9"><span class=""></span></li>

                            <li><span class="greencolor color"></span><span class="linerang">13</span></li>
                            <li class="poitchecked" *ngIf="bcadata.vfatl > 8 && bcadata.vfatl < 14"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.vfatl > 13 && bcadata.vfatl < 18"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.vfatl > 17 && bcadata.vfatl < 22"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.vfatl > 21 && bcadata.vfatl < 26"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.vfatl > 25 && bcadata.vfatl < 30"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.vfatl > 29 && bcadata.vfatl < 34"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.vfatl > 33 && bcadata.vfatl < 38"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.vfatl > 37 && bcadata.vfatl < 42"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.vfatl > 41 && bcadata.vfatl < 46"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.vfatl > 45 && bcadata.vfatl < 48"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.vfatl > 47 && bcadata.vfatl < 52"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.vfatl > 51 && bcadata.vfatl < 56"><span class=""></span></li>

                            <li><span class="redcolor color"></span><span class="linerang">60</span>
                            </li>
                            <li class="poitchecked" *ngIf="bcadata.vfatl > 55 && bcadata.vfatl < 61"><span class=""></span></li>
                        </ul>
                    </div>

                    <div class="tbwchartsection">
                        <h3>Muscle Mass</h3>
                        <ul class="tbwchart">
                            <li><span class="redcolor color"></span><span class="linerang">0</span></li>
                            <li class="poitchecked" *ngIf="bcadata.muscle_mass == 'l-1'"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.muscle_mass == 'l-2'"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.muscle_mass == 'l-3'"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.muscle_mass == 'l-4'"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.muscle_mass == 'l-5'"><span class=""></span></li>

                            <li><span class="amburcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.muscle_mass == 'm-1'"><span class=""></span></li>

                            <li><span class="amburcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.muscle_mass == 'm-2'"><span class=""></span></li>

                            <li><span class="amburcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.muscle_mass == 'm-3'"><span class=""></span></li>

                            <li><span class="amburcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.muscle_mass == 'm-4'"><span class=""></span></li>

                            <li><span class="amburcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.muscle_mass == 'm-5'"><span class=""></span></li>

                            <li><span class="greencolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.muscle_mass == 'H-1'"><span class=""></span></li>

                            <li><span class="greencolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.muscle_mass == 'H-2'"><span class=""></span></li>

                            <li><span class="greencolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.muscle_mass == 'H-3'"><span class=""></span></li>

                            <li><span class="greencolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.muscle_mass == 'H-4'"><span class=""></span></li>

                            <li><span class="greencolor color"></span><span class="linerang">100</span></li>
                            <li class="poitchecked" *ngIf="bcadata.muscle_mass == 'H-5'"><span class=""></span></li>
                        </ul>
                    </div>

                    <div class="tbwchartsection">
                        <h3>BMRI</h3>
                        <ul class="tbwchart">
                            <li><span class="redcolor color"></span><span class="linerang">0</span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmri == 'l-1'"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmri == 'l-2'"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmri == 'l-3'"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmri == 'l-4'"><span class=""></span></li>

                            <li><span class="redcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmri == 'l-5'"><span class=""></span></li>

                            <li><span class="amburcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmri == 'm-1'"><span class=""></span></li>

                            <li><span class="amburcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmri == 'm-2'"><span class=""></span></li>

                            <li><span class="amburcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmri == 'm-3'"><span class=""></span></li>

                            <li><span class="amburcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmri == 'm-4'"><span class=""></span></li>

                            <li><span class="amburcolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmri == 'm-5'"><span class=""></span></li>

                            <li><span class="greencolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmri == 'h-1'"><span class=""></span></li>

                            <li><span class="greencolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmri == 'h-2'"><span class=""></span></li>

                            <li><span class="greencolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmri == 'h-3'"><span class=""></span></li>

                            <li><span class="greencolor color"></span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmri == 'h-4'"><span class=""></span></li>

                            <li><span class="greencolor color"></span><span class="linerang">100</span></li>
                            <li class="poitchecked" *ngIf="bcadata.bmri == 'h-5'"><span class=""></span></li>

                        </ul>
                    </div>
                    <div class="tbwchartsection">
                        <h3>Physique Rating</h3>
                        <span class="hysiquertng">{{bcadata.physique_rating}}</span>
                    </div>
                    <!--end chart-->
                    <div class="bodyDataOuter">
                        <div class="bodyDataInner">
                            <h4><img src="assets/images/refIcon.png" alt="refIcon"> Reference Data</h4>
                            <ul class="bodyData">
                                <li><span>Date:</span> {{bcadata.date}}</li>
                                <li><span>Age:</span> {{bcadata.age}}</li>
                                <li><span>Total Measured Weight:</span> {{bcadata.total_weight}} kg</li>
                                <li><span>Clothes Weight:</span> {{bcadata.clothes_weight}} kg</li>
                                <li><span>Net Body Weight:</span> {{bcadata.net_body_weight}} kg</li>
                                <li><span>Measured Height:</span> {{bcadata.height}} Cm</li>
                            </ul>
                        </div>
                        <div class="bodyDataInner">
                            <h4><img src="assets/images/measureIcon.png" alt="refIcon"> Measured Data</h4>
                            <ul class="bodyData">
                                <li><span>Fat:</span> {{bcadata.fatp}} %</li>
                                <li><span>Fat Mass:</span> {{bcadata.fatm}} kg</li>
                                <li><span>Free Fat Mass:</span> {{bcadata.ffm}} kg</li>
                                <li><span>Muscle Mass:</span> {{bcadata.pmm}} kg</li>
                                <li><span>Total Body Water:</span> {{bcadata.tbw}} kg</li>
                                <li><span>Total Body Water Ratio:</span> {{bcadata.totaltbwr}} %</li>
                                <li><span>Bone Mass:</span> {{bcadata.bonem}} kg</li>
                            </ul>
                        </div>
                        <div class="bodyDataInner">
                            <h4><img src="assets/images/docIcon.png" alt="refIcon"> Derived Data</h4>
                            <ul class="bodyData">
                                <li><span>Basal Metabolic Rate:</span> {{bcadata.bmr}} KJ {{bcadata.bmr_kcal}} Kcal</li>
                                <li><span>Body Mass Index:</span> {{bcadata.bmi}}</li>
                                <li><span>Visceral Fat Rating:</span> {{bcadata.vfatl}}</li>
                                <li><span>Metabolic Age:</span> {{bcadata.meta_age}} Years</li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>
<!-- END DASHBOARD -->