.tbwchartsection h3{
	font-size: 18px;
    line-height: 24px;
    text-align: left;
    font-family: Amarnath;
    font-weight: 400;
    margin: 0 0 10px 0;
}
.tbwchart {
    padding: 0 0 0 0;
    list-style: none;
    margin: 0px 0 10px 0;
    position: relative;
    display: inline-block;
    width: 100%;
}
.tbwchart li {
    float: left;
    width: 6%;
}
.tbwchart li span {
    display: block;
    width: 100%;
    height: 20px;
}
.tbwchart li span.linerang {
    display: block;
    text-align: right;
    font-size: 10px;
    padding-top: 5px;
    position: relative;
    right: -7px;
}
.tbwchart li:first-child span.linerang {
    display: block;
    text-align: left;
    right: 0;
}
.tbwchart li span.greencolor {
    background: #7be41b;
}
.tbwchart li span.redcolor {
    background: #ce2525;
}
.tbwchart li span.amburcolor {
    background: #f3d500;
}
.tbwchart li span.bluecolor {
    background: #2f5e8d;
}
.tbwchart li.poitchecked {
    width: 5px;
    background: #0055ad;
    position: relative;
}
.tbwchart li.poitchecked:before {
    position: absolute;
    left: 0;
    top: -5px;
    height: 5px;
    width: 100%;
    content: "";
    background: #0055ad;
}
.tbwchart li.poitchecked:after {
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 5px;
    width: 100%;
    content: "";
    background: #0055ad;
}
.tbwchartsection .hysiquertng {
    display: block;
    text-align: center;
    border: 1px solid #333;
    padding: 10px;
    max-width: 180px;
}
.bodyDataOuter{
	margin: 20px 0 0 0;
}
.dateposition{
	position: relative;
}
.dateSelector span.Icon{
	top: 33px;
	left: 0;
}
.dateSelector select{
	padding-left: 40px;
}