<div class="loginContianer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                        <div class="loginlogoContainer">
                            <a href="#"><img src="assets/images/login-logo.png" alt="logo"></a>
                        </div>
                    </div>
                </div>
                <div class="row">                  
                    <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-6 col-sm-12 col-12">
                        <div class="loginForm">
                            <h4>Forgot Password</h4>
                            <form [formGroup]="forgotPasswordForm">
                            <div class="input-field" [ngClass]="{'error': (forgotPasswordForm.get('email').touched || forgotPasswordForm.get('email').dirty) && !forgotPasswordForm.get('email').valid }">
                              <input id="email" type="email" formControlName="email" class="validate">
                              <label for="email">Email Address</label>
                              <div
                                *ngIf="(forgotPasswordForm.get('email').touched || forgotPasswordForm.get('email').dirty)
                                            && forgotPasswordForm.get('email').errors">
                                 <p class="errormsg" *ngIf="forgotPasswordForm.get('email').errors.email">Please enter valid email!</p>
                                </div>
                                <p class="errormsg" *ngIf="validation_error">{{validation_error}}</p>
                            </div>
                            <div class="submitOuter">
                                <button (click)="forgotPasswordStore()">Send Password Reset Link</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footerLower">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">                
                            <p>© 2018 Wind of Change. <span>Developed by <a href="https://www.pixelsolutionz.com/" target="_blank">Pixel Solutionz</a></span></p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <ul>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>