<section class="dashboardSection">
  <div class="manualBox">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <button type="button">Prev</button>
    <button type="button">Next</button>
    <button type="button">Skip</button>
  </div>
  <!--Side Navigation Start-->
  <app-navigation></app-navigation>
  <!-- End -->
  <div class="bodyContent">
    <div class="container-fluid">
      <app-has-appointment></app-has-appointment>
      <div class="breadCrumb">
        <ul>
          <li>
            <a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a>
          </li>
          <li><span>Notes</span></li>
        </ul>
      </div>
      <div class="profileOuter">
        <div class="profileInner">
          <div *ngIf="user_role.slug == 'admin' || user_role.slug == 'subcoach' ">
            <form [formGroup]="searchForm">
              <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                  <div class="input-field">
                    <select
                      id="group"
                      [(ngModel)]="groupModel"
                      (ngModelChange)="getUserByGrp($event)"
                      [ngModelOptions]="{ standalone: true }"
                      style="display: inline"
                    >
                      <option value="" [selected]="true">Select</option>
                      <option
                        *ngFor="let group of groupList"
                        value="{{ group.id }}"
                      >
                        {{ group.group_name }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                  <div class="input-field">
                    <select
                      id="user"
                      style="display: inline"
                      formControlName="user_id"
                    >
                      <option value="" [selected]="true">Select</option>
                      <option
                        value="{{ user.user_id }}"
                        *ngFor="let user of users"
                      >
                        {{ user.firstname }} {{ user.lastname }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-2 col-md-12 col-sm-12 col-12">
                  <div class="input-field">
                    <input
                      type="text"
                      class="dobpicker"
                      dateInput
                      format="Y-m-d"
                      mode="single"
                      formControlName="from_date"
                      id="fromdate"
                    />
                    <label for="fromdate">From Date</label>
                  </div>
                </div>
                <div class="col-lg-2 col-md-12 col-sm-12 col-12">
                  <div class="input-field">
                    <input
                      type="text"
                      class="dobpicker"
                      dateInput
                      format="Y-m-d"
                      mode="single"
                      formControlName="to_date"
                      id="todate"
                    />
                    <label for="todate">To Date</label>
                  </div>
                </div>
                <div class="col-lg-2 col-md-12 col-sm-12 col-12">
                  <button
                    type="submit"
                    class="detailBtn"
                    (click)="noteSearch($event)"
                  >
                    <img src="assets/images/search1.png" />
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="editOuter" *ngIf="user_role.slug == 'admin' || user_role.slug == 'subcoach'">
            <a
              href="javascript:void(0)"
              class="modal-trigger clear"
              (click)="noteModal = 'block'; isModalOpen = true"
              ><img src="assets/images/add.png" />Add Notes</a
            >
          </div>
          <div class="recordOuter groupList" *ngIf="user_role.slug == 'admin' || user_role.slug == 'subcoach'">
            <div class="recordRow recordHead">
              <div class="recordCol">
                <h5>Group Name</h5>
              </div>
              <div class="recordCol">
                <h5>User</h5>
              </div>
              <div class="recordCol">
                <h5>Title</h5>
              </div>
              <div class="recordCol">
                <h5>Note Date</h5>
              </div>
              <div class="recordCol">
                <h5>Attachment</h5>
              </div>
              <div class="recordCol">
                <h5>Created Date</h5>
              </div>
              <div class="recordCol">
                <h5>Action</h5>
              </div>
            </div>
            <ng-container *ngFor="let getnote of notes; index as i">
              <div class="recordRow">
                <div class="recordCol">
                  {{ getnote.group_name }}
                </div>
                <div class="recordCol">
                  <span *ngIf="getnote.user_name != ''">{{
                    getnote.user_name
                  }}</span>
                  <span
                    *ngIf="getnote.group_name != '' && getnote.user_name == ''"
                    >All Users</span
                  >
                </div>
                <div class="recordCol">
                  {{ getnote.note_title }}
                </div>
                <div class="recordCol">
                  {{ getnote.note_date }}
                </div>
                <div class="recordCol">
                  <a href="{{ getnote.attachment }}" target="_blank" download
                    ><img src="assets/images/document-clip.png"
                  /></a>
                </div>
                <div class="recordCol">
                  {{ getnote.create_date }}
                </div>
                <div class="recordCol">
                  <p>
                    <a
                      href="javascript:void(0)"
                      (click)="noteRemove(getnote.id)"
                      title="Remove Note"
                      ><img src="assets/images/delete.png"
                    /></a>
                    <span style="margin-right: 10px"> </span>
                    <a
                      href="javascript:void(0)"
                      class="modal-trigger clear"
                      (click)="noteAssign(getnote.id)"
                      title="Assign Note"
                      *ngIf="getnote.group_name == ''"
                      ><img src="assets/images/edit.png"
                    /></a>
                  </p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Section Start -->
  <app-footer></app-footer>
  <!-- End -->
</section>
<!-- MODAL -->
<div
  id="noteModalUser"
  class="modal addmeal"
  [ngStyle]="{ display: noteModal }"
>
  <a
    href="javascript:void(0)"
    class="modal-close"
    (click)="noteModal = 'none'; isModalOpen = false"
    ><img src="assets/images/cross.png" alt="cross"
  /></a>
  <div class="modal-content">
    <form [formGroup]="NoteAdd">
      <h4>Add Notes</h4>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="input-field">
            <select
              id="group"
              [(ngModel)]="groupModel"
              (ngModelChange)="getUserByGrp($event)"
              [ngModelOptions]="{ standalone: true }"
              style="display: inline"
            >
              <option value="" [selected]="true">Select</option>
              <option *ngFor="let group of groupList" value="{{ group.id }}">
                {{ group.group_name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="input-field">
            <select id="user" style="display: inline" formControlName="user_id">
              <option value="all" [selected]="true">All User</option>
              <option value="{{ user.user_id }}" *ngFor="let user of users">
                {{ user.firstname }} {{ user.lastname }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="input-field">
            <input
              type="text"
              class="validate"
              formControlName="note_title"
              id="notetitle"
            />
            <label for="notetitle">Title</label>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="input-field">
            <input
              type="text"
              class="dobpicker"
              dateInput
              format="Y-m-d"
              mindate="{{ today }}"
              mode="single"
              formControlName="note_date"
              id="slotdate"
            />
            <label for="slotdate">Date</label>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="form-group form-groupsend">
            <input
              type="file"
              id="replyfile"
              (change)="onFileSelected($event)"
            />

            <p class="errormsg" *ngIf="validationError">
              {{ validationError.attachfile[0] }}
            </p>
          </div>
        </div>
      </div>
      <div class="submitOuter">
        <button type="submit" class="detailBtn" (click)="submitPost()">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>

<div
  id="noteassignModalUser"
  class="modal addmeal"
  [ngStyle]="{ display: noteAssignModal }"
>
  <a
    href="javascript:void(0)"
    class="modal-close"
    (click)="noteAssignModal = 'none'; isModalOpen = false"
    ><img src="assets/images/cross.png" alt="cross"
  /></a>
  <div class="modal-content">
    <form [formGroup]="NoteAssignfrm">
      <h4>Assign Notes</h4>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="input-field">
            <select
              id="group"
              [(ngModel)]="groupModel"
              (ngModelChange)="getUserByGrp($event)"
              [ngModelOptions]="{ standalone: true }"
              style="display: inline"
            >
              <option value="" [selected]="true">Select</option>
              <option *ngFor="let group of groupList" value="{{ group.id }}">
                {{ group.group_name }}
              </option>
            </select>
            <p
              class="errormsg"
              *ngIf="validationError && validationError.group_id"
            >
              {{ validationError.group_id[0] }}
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="input-field">
            <select id="user" style="display: inline" formControlName="user_id">
              <option value="all" [selected]="true">All User</option>
              <option value="{{ user.user_id }}" *ngFor="let user of users">
                {{ user.firstname }} {{ user.lastname }}
              </option>
            </select>
            <p
              class="errormsg"
              *ngIf="validationError && validationError.categoryid"
            >
              This field is required
            </p>
          </div>
        </div>
      </div>
      <div class="submitOuter">
        <button type="submit" class="detailBtn" (click)="noteAssignProcess()">
          Assign
        </button>
      </div>
    </form>
  </div>
</div>
<div class="modalend" [ngClass]="{ 'modal-overlay': isModalOpen }"></div>
