<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">

         <div class="breadCrumb">
             <ul>
                 <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Dashboard</a></li>
                 <li><span>Term & Conditions</span></li>
             </ul>
         </div>
         <div class="profileOuter">
             <div>
             	<p>Welcome to Wind-of-Change Total Wellbeing Solutions Ltd (WOC). Please read this Terms and Conditions of Use; by using this service, you acknowledge that you have read the terms and conditions of use and that you accept the terms of this agreement. YOU AGREE TO READ THESE TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING WOC WEB SITE. If you do not agree to these terms and conditions of use, you may not access or otherwise use this WOC Web Site and should use your browser's "back" button to exit the WOC Web Site.</p>
                <p>The Web is an evolving medium; we may change the terms of this agreement from time to time. By continuing to use the service after we post any such changes, you accept this agreement, as modified.</p>
                <p>WOC respects the privacy of our users. Please take a few minutes to review our Privacy Policy.</p>
                <p>We invite you to send in your questions or comments about WOC, or to bring to our attention any material you believe to be inaccurate.</p>
                <p>If you are an owner of intellectual property who believes your intellectual property has been improperly posted or distributed via one of our Web sites, please notify us by sending a notice by Mail to WOC at its registered address.</p>
                <p>The material that appears on WOC is for informational purposes only. Despite our efforts to provide useful and accurate information, errors may appear from time to time. Before you act on information you've found on our site, you should confirm any facts that are important to your decision. WOC is not responsible for, and cannot guarantee the performance of, any products provided by the sites we may link. A link to another Web site does not constitute an endorsement of that site (nor of any product, service or other material offered on that site) by WOC.</p>
                <p>We may change, suspend or discontinue any aspect of the WOC at any time, including the availability of any Web Site feature, database or content. WOC may also impose limits on certain features and services or restrict your access to parts or all of WOC Web Site without notice or liability. We reserve the right to make changes, corrections, and improvements to the WOC and to the products and programs described in there, at any time without notice.</p>
                <p>You represent, warrant and covenant that; (a) you shall not upload, post or transmit to or distribute or otherwise publish through the WOC any materials which (i) restrict or inhibit any other user from using and enjoying the WOC, (ii) are unlawful, threatening, abusive, libellous, defamatory, obscene, vulgar, offensive, pornographic, profane, sexually explicit or indecent, (iii) constitute or encourage conduct that would constitute a criminal offense, give rise to civil liability or otherwise violate law, (iv) violate, plagiarize or infringe the rights of third parties including, without limitation, copyright, trademark, patent, rights of privacy or publicity or any other proprietary right, (v) contain a virus or other harmful component, (vi) contain any information, software or other material of a commercial nature, (vii) contain advertising of any kind, or (viii) constitute or contain false or misleading indications of origin or statements of fact; and (b) that you are at least eighteen (18) years old.</p>
                <p>The WOC Web Site may contain inaccuracies or typographical errors or omissions. We regret any such errors, but will not be bound by any such errors. We do not represent or endorse the accuracy or reliability of any advice, opinion, statement, or other information displayed or distributed through the WOC Web Site. You acknowledge that any reliance upon any such opinion, advice, statement, memorandum, or information shall be at your sole risk. We reserve the right, in our sole discretion, to correct any errors or omissions in any portion of the WOC Web Site.</p>
                <p>The staff of WOC does its best to ensure that information we post to this site is both timely and accurate. But the health (and related information) changes over time and research that was accurate when posted may be superseded by more recent research. Though we may post follow-up research and may continue to provide access to the original report, as in an archive of Healthy Foods News, for example, we don't go back and change the original report to reflect new developments. If you're looking for the most recent information on a given subject, and not the history of how the story unfolded, be sure you're not looking at an out of date report.</p>
                <p>To obtain access to certain services on our site, you may be given an opportunity to register with WOC. As part of any such registration process, you will select a user name and a password. You agree that the information you supply during that registration process will be accurate and complete and that you will not register under the name of, nor attempt to enter the service under the name of, another person. WOC reserves the right to reject or terminate any user name that, in its judgment, it deems offensive. You will be responsible for preserving the confidentiality of your password and will notify WOC of any known or suspected unauthorized use of your account. As part of the registration process, you agree to our Terms of Use and Privacy Policy. Please review them both carefully.</p>
                <p>By posting messages, uploading files, inputting data or engaging in any other form of communication (individually or collectively "Communications") to the WOC Web Site, you hereby grant to WOC irrevocable, unrestricted, non-exclusive, royalty free license to use, copy, license, sublicense, adapt, distribute, display, publicly perform, reproduce, transmit, modify, edit and otherwise exploit such Communications, in an media now known or hereafter developed. You hereby waive all rights to any claim against WOC for any alleged or actual infringements of any proprietary rights, rights of privacy and publicity, moral rights, and rights of attribution in connection with such Communications. You also agree to indemnify and hold WOC harmless against any claims or costs, including attorneys&rsquo; fees, arising from the use or distribution of those materials. You further grant WOC the right to use your name in connection with the reproduction or distribution of such material.</p>
                <p>We do not accept unsolicited materials or ideas for use or publication in WOC's magazines, books, the WOC Web Site, or other digital and electronic media (except in connection with forums, chat rooms, and bulletin boards on the WOC Web Site). WOC shall not be responsible for the similarity of any of its content or programming in any media to materials or ideas transmitted to the WOC Web Site.</p>
                <p>You acknowledge that transmissions to and from this WOC Web Site are not confidential and your Communications may be read or intercepted by others. You acknowledge that by submitting Communications to WOC, no confidential, fiduciary, contractually implied or other relationship is created between you and WHF other than pursuant to this Agreement.</p>
                <p>THIS AGREEMENT SHALL BE GOVERNED BY AND CONSTRUED IN ACCORDANCE WITH THE LAWS OF THE REPUBLIC OF IRELAND, WITHOUT REGARD TO CONFLICTS OF LAWS PROVISIONS. SOLE AND EXCLUSIVE JURISDICTION FOR ANY ACTION OR PROCEEDING ARISING OUT OF OR RELATED TO THIS AGREEMENT SHALL BE AN APPROPRIATE STATE OR FEDERAL COURT LOCATED IN THE STATE.</p>
                <p>Although we make WOC freely accessible, we don't intend to give up our rights, or anyone else's rights, to the materials appearing on the service. The materials available through WOC or its licensors, and are protected by copyright, trademark and other intellectual property laws. You are free to display and print for your personal, non-commercial use information you receive through WOC. But you may not otherwise reproduce any of the materials without the prior written consent of the owner. You may not distribute copies of materials found on WOC in any form (including by e-mail or other electronic means), without prior written permission from the owner. Of course, you're free to encourage others to access the information themselves on WOC and to tell them how to find it. Requests for permission to reproduce or distribute materials found on WOC should be sent to info@windofchange.ie or 55 Warren Avenue, Castleknock, Dublin, D15 RKV6, Ireland</p>
                <p>No Framing. Without the prior written permission of WOC, you may not frame any of the content of WOC or incorporate into another Web site or other service any intellectual property of WOC or any of their licensors. Requests for permission to frame our content may be sent to the Senior Content Producer, either by e-mail, or at the address above.</p>
                <p>Trademarks. We don't want anyone to be confused as to which materials and services are provided by WOC and which aren't. You may not use any trademark or service mark appearing on WOC without the prior written consent of the owner of the mark.</p>
                <p>Material provided on WOC like text, photo, graphic, audio and/or video material shall not be published, broadcast, rewritten for broadcast or publication or redistributed directly or indirectly in any medium. Neither these materials nor any portion of these materials may be stored in a computer except for personal and non-commercial use.</p>
             </div>
         </div>
     </div>
   </div>
   <app-footer></app-footer>
   <!-- End -->
</section>