<!-- START DASHBOARD -->
<section class="dashboardSection">
    <div class="manualBox">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <button type="button">Prev</button>
        <button type="button">Next</button>
        <button type="button">Skip</button>
    </div>
    <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
    <div class="bodyContent">
        <div class="container-fluid">
            <div class="appointment">
            <a href="javascript:void(0)">Appointments</a>
            <div class="appointmentInner">
               <div class="appointmentHead">
                  <a href="#">Go to Appointment</a>
               </div>
               <ul>
                  <ng-container *ngFor="let appointment of appointments; index as i;">
                    <li>
                      <a href="javascript:void(0)">
                      <h5><span class="green"></span> {{appointment.status}}</h5>
                      <h4>{{appointment.firstname}} {{appointment.lastname}}</h4>
                      <h6>{{appointment.date_of_appointment}} {{appointment.slot_start_time}} to {{appointment.slot_end_time}}</h6>
                      <h4>{{appointment.group_name}}</h4>
                      </a>
                    </li>
                  </ng-container>
               </ul>
            </div>
         </div>
            <div class="breadCrumb">
                <ul>
                    <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
                    <li><a href="javascript:void(0)" [routerLink]="['/appointment/slots']">Appointment Slots</a></li>
                    <li><span>Add Slot</span></li>
                </ul>
            </div>
            <div class="profileOuter"> 
                <div class="row"> 
                    <div class="col-lg-12 col-md-12  col-sm-12 col-12">
                        <div class="profileInner">
                          <div class="editOuter">
                            <a href="javascript:void(0)" [routerLink]="['/appointment/slots']"><img src="assets/images/return.png">Back</a>
                          </div> 
                            <div class="timeslotform">
                              <form [formGroup]="AddForm">
                                <div class="row">
                                  <div class="col-lg-12 col-md-12  col-sm-12 col-12">
                                    <div formArrayName="setslots" *ngFor="let quest of formData;let i = index;">
                                      <div [formGroupName]="i"> 
                                       <div class="row">
                                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <select id="group" style="display: inline;" formControlName="group">
                                                <option value="" [selected]=true>Group</option>
                                                <option value="{{group.id}}" *ngFor="let group of groups;">{{group.group_name}}</option>
                                              </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <input  type="text" class="dobpicker" dateInput format="Y-m-d" mindate="{{today}}"  mode="single" formControlName="slot_date" id="slotdate">
                                              <label for="slotdate">Date</label> 
                                            </div>
                                        </div> 
                                        <div class="col-lg-2 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <select style="display: inline;" formControlName="slot_lenth">
                                                <option value=""> Select Slot Intervals</option>
                                                <option value="5">5 min</option>  
                                                <option value="10">10 min</option>
                                                <option value="15">15 min</option>
                                                <option value="20">20 min</option>
                                              </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <input  type="text" dateInput format="H:i" mode="single" enabletime="true" nocalendar="true" time_24hr="true" formControlName="open_time" id="strtime">
                                              <label for="strtime">Start Time</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-6 col-sm-12 col-12">
                                            <div class="input-field">
                                              <input type="text" dateInput format="H:i" mode="single" enabletime="true" nocalendar="true" time_24hr="true"  formControlName="end_time" id="endtime">
                                              <label for="endtime">End Time</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-md-6 col-sm-12 col-12"> 
                                          <a href="javascript:void(0)" (click)="deleteSlotArray(i)" title="Delete"><img src="assets/images/delete.png" *ngIf="i!==0"></a>
                                        </div>
                                       </div>                                       
                                      </div>
                                    </div>
                                    <a href="javascript:void(0)" class="addicon" (click)="addslotArray()"><img src="assets/images/add.png"></a>
                                  </div>
                                </div> 
                                <div class="row"> 
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="submitOuter">
                                          <button type="submit" (click)="submitSlot()" class="detailBtn">Submit</button>
                                        </div>
                                    </div>
                                </div>
                              </form>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>
<!-- END DASHBOARD -->