<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
         <div class="breadCrumb">
            <ul>
               <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
               <li><span>{{contestname}}</span></li>
            </ul>
         </div>
         <div class="profileOuter">
            <!-- <div class="editOuter">
               <a href="#communityModalUser" class="modal-trigger"><img src="assets/images/add.png">Add New</a>
               </div> -->
            <div class="row">
               <div class="col-lg-12 col-md-12  col-sm-12 col-12">
                  <div class="profileInner communityPostAddOuter">
                     <a href="javascript:void(0)" class="modal-trigger clear" (click)="postModal='block';isModalOpen = true">
                        <div class="communityPostLeft">
                           <p>Start A Conversation</p>
                        </div>
                        <div class="communityPostRight">
                           <ul>
                              <li><img src="assets/images/picture.png"></li>
                              <li><img src="assets/images/photo-camera.png"></li>
                              <li><img src="assets/images/file.png"></li>
                           </ul>
                        </div>
                     </a>
                  </div>

                  <div class="profileInner seeMember">
                     <a href="javascript:void(0)" (click)="seeGroupMem =!seeGroupMem" [ngClass]="{'expand':seeGroupMem}">Select the group</a>
                     
                     <ul [ngStyle]="{'display':(seeGroupMem)? 'block':'none'}">
                        <li>
                        <select style="display: inline;" [(ngModel)]="groupModel" (ngModelChange)="getGroupWiseData($event)">
                         <option value="all">All Groups</option>
                         <option *ngFor="let group of groupList;" value="{{group.id}}">{{group.group_name}}</option>
                        </select>
                        <select style="display: inline;" [(ngModel)]="contestModel" (ngModelChange)="getContestWiseData($event)">
                         <option value="all">Select Contest</option>
                         <option *ngFor="let contest of contestList;" value="{{contest.id}}">{{contest.contest_name}} - {{contest.group.group_name}}</option>
                        </select>
                        </li>
                        <ng-container *ngFor="let member of memberList">
                        <li>
                           <a href="javascript:void(0);" class="member_timeline" [routerLink]="['/community']" [queryParams]="{group_id:selected_group,user_id:member.id,contest_id:paramcontestid}">
                              <span class="memberImg">
                                 <img src="{{member.thumb_profile_picture}}" *ngIf="member.thumb_profile_picture!=''">
                                 <img src="assets/images/dummy.jpg" *ngIf="member.thumb_profile_picture==''">
                              </span>
                           </a>
                           <span class="memberName">{{member.user_name}}</span>
                           <span>Posted {{member.community_post_count}} Content</span>
                           <span>{{member.community_msg_count}} Comments</span>
                           <span>{{member.community_react_count}} Likes</span>
                        </li>
                        </ng-container>
                     </ul>
                  </div>

               </div>
            </div>

            <div class="row">
               <div class="col-lg-12 col-md-12  col-sm-12 col-12">
                  <div class="profileInner chatprofileinnerSec communityOuter">
                     <div class="chat_panel clear">
                        <div class="searchpanel">
                           <form>
                              <div class="input-field searchOuter">
                                 <input id="scomu" type="text" class="" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
                                 <label for="scomu" class="">Search</label>
                                 <button><img src="assets/images/search1.png"></button>
                              </div>
                              <div class="profileInner mailreset">
                                 <a href="javascript:void(0)" [routerLink]="['/community']" class="resetIcon" (click)="resetPostFilter($event)"><img src="assets/images/reset.png" alt="Reset" title="Reset"></a>
                              </div>
                           </form>
                        </div>
                        <!-- <div class="chatdetails">  -->
                        <div class="chatcontent">
                           <ng-container *ngFor="let postData of postedData | searchPost:'post_desc,messages':searchText; index as i;">
                           <div class="chatcontentlist" [ngClass]="(postData.post_mesage.length)?'chatcontentlist':'chatcontentlist-auto'">
                              <div class="chatholder compost clear">
                                  <a href="javascript:void(0)" (click)="removePost(postData.id)" class="chatofferCancel" *ngIf="postData.user.id == loggedInUser.id"><img src="assets/images/cross-black.png"></a>
                                 <div class="chatbox">
                                    <div class="text">
                                       <span class="name">{{postData.user.user_detail.firstname}} {{postData.user.user_detail.lastname}}</span> 
                                       <span class="textcontent" [innerHTML]="updateStyle(postData.post_desc)"></span>
                                        <a target="_blank" href="{{postData.post_image}}" *ngIf="postData.post_image"><img src="{{postData.post_image}}" class="postimgc" *ngIf="get_url_extension(postData.post_image)==1">
                                          <img src="assets/images/document-clip.png" *ngIf="get_url_extension(postData.post_image)==0">
                                        </a>
                                       <div class="embed-responsive embed-responsive-21by9" *ngIf="postData.post_video_link">
                                          <br/>
                                           <iframe width="350" height="250" [src]="videoSanitize(postData.post_video_link)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
                                          <!-- <iframe width="560" height="300" src="{{postData.post_video_link}}" frameborder="0" allowfullscreen></iframe> -->
                                       </div>
                                    </div>
                                    <span class="date">{{postData.created_at}}</span>
                                    <div class="reactionIcon clear">
                                       <div class="reactionleft">
                                          <a href="javascript:void(0)" class="likeBtn" (click)="reactDisplay =!reactDisplay; showLikeIndex=i;" *ngIf="!checkUserAlreadyReact(postData.post_reaction)"><img src="assets/images/like.png" alt="like"></a> 

                                          <a href="javascript:void(0)" class="likeBtn" *ngIf="checkUserAlreadyReact(postData.post_reaction)"><img src="assets/images/like.png" alt="like"></a> 

                                          <a href="javascript:void(0)" class="likePopupBtn modal-trigger" (click)="showLikeModal(postData.id)">{{postData.post_reaction.length}} likes</a>
                                          <div class="reactionInner" [ngStyle]="{'display':(reactDisplay && showLikeIndex==i)?'block':'none'}">
                                             <ul>
                                                <li><a href="javascript:void(0)" title="Like" (click)="submitReact(postData.id,1)"><img src="assets/images/like.png" alt="like"></a></li>

                                                <li><a href="javascript:void(0)" title="Congratulation" (click)="submitReact(postData.id,2)"><img src="assets/images/congratulationIcon.png"></a></li>

                                                <li><a href="javascript:void(0)" title="Love" (click)="submitReact(postData.id,3)"><img src="assets/images/heart-empty.png"></a></li>

                                                <li><a href="javascript:void(0)" title="Insightful" (click)="submitReact(postData.id,4)"><img src="assets/images/insightful.png"></a></li>

                                                <li><a href="javascript:void(0)" title="Qurious" (click)="submitReact(postData.id,5)"><img src="assets/images/qurious.png"></a></li>
                                             </ul>
                                          </div>
                                       </div>
                                       <div class="reactionright">
                                          <a href="javascript:void(0)" (click)="setCursorToTextBox(postData.id)"><img src="assets/images/chat.png"></a>
                                          <a href="javascript:void(0)" (click)="show_message_all[i]=true;">{{postData.post_message_count}} <span class="text-cmnt">comments</span></a>
                                       </div>
                                    </div>
                                 </div>
                                 <span class="img">
                                    <img src="{{postData.profile_image}}" alt="dummy" *ngIf="postData.profile_image"/>
                                    <img src="assets/{{postData.avtar_image}}" alt="dummy" *ngIf="!postData.profile_image"/>
                                 </span>
                              </div>
                              
                              <ng-container *ngIf="postData.post_mesage.length && !show_message_all[i]">
                                 <div class="chatholder self clear">
                                 <div class="chatbox">
                                    <div class="text">
                                       <span class="name">{{postData.post_mesage[postData.last_post_index].user_name}}</span> 
                                       <span class="textcontent">
                                          <div [innerHTML]="updateStyle(postData.post_mesage[postData.last_post_index].messages)"></div>
                                       <a href="{{postData.post_mesage[postData.last_post_index].message_file}}" target="_blank" *ngIf="postData.post_mesage"> 
                                          <img src="{{postData.post_mesage[postData.last_post_index].message_file}}" width="100" height="100" *ngIf="postData.post_mesage[postData.last_post_index].message_file">
                                       </a>
                                          <a href="javascript:void(0)" class="reply" (click)="setReply(postData.post_mesage[postData.last_post_index].id, postData.id)"><img src="assets/images/reply2.png"></a> </span>
                                    </div>
                                    <span class="date">{{postData.post_mesage[postData.last_post_index].created_at | date: 'MMMM d, y'}}</span>
                                 </div>
                                 <span class="img">
                                    <img src="{{postData.post_mesage[postData.last_post_index].profile_image}}" alt="dummy" *ngIf="postData.post_mesage && postData.post_mesage[postData.last_post_index].profile_image">
                                    <img src="assets/{{postData.post_mesage[postData.last_post_index].avtar_image}}" alt="dummy" *ngIf="!postData.post_mesage[postData.last_post_index].profile_image">
                                 </span>
                              </div>
                              </ng-container>

                              <ng-container *ngIf="postData.post_mesage.length && show_message_all[i]">
                              <ng-container *ngFor="let message of postData.post_mesage">

                              <div class="chatholder self clear">
                                 <div class="chatbox">
                                    <div class="text">
                                       <span class="name">{{message.user_name}}</span> 
                                       <span class="textcontent">
                                          <div [innerHTML]="updateStyle(message.messages)"></div>
                                          <a href="{{message.message_file}}" target="_blank" *ngIf="message.message_file"> 
                                          <img src="{{message.message_file}}" width="100" height="100" *ngIf="message.message_file">
                                          </a>
                                          <a href="javascript:void(0)" class="reply" (click)="setReply(message.id, postData.id)"><img src="assets/images/reply2.png"></a> </span>
                                    </div>
                                    <span class="date">{{message.created_at | date: 'MMMM d, y'}}</span>
                                 </div>
                                 <span class="img">
                                    <img src="{{message.profile_image}}" alt="dummy" *ngIf="message.profile_image">
                                    <img src="assets/{{message.avtar_image}}" alt="dummy" *ngIf="!message.profile_image">
                                 </span>
                              </div>
                              <app-messages [msges]="message.sub_cat" [post_id]="postData.id" (callEvent)="childSetReplyId($event)"></app-messages>


                              </ng-container>
                              </ng-container>
                              
                           </div>
                           
                           <form [formGroup]="messagePostForm">
                           <div class="form-group replyText">
                              <textarea placeholder="Type Your Message" formControlName="messages" id="msg_{{postData.id}}"></textarea>
                              <input type="file"  id="replyfile" (change)="onFileSelected($event)">
                              <label for="replyfile"><img src="assets/images/attachment.png"></label>
                              <span class="uploadedFileName">{{comntfilename}}</span>
                              <input type="submit" name="" value="" (click)="submitMessage(postData.id)">
                           </div>
                            <div style="text-align: center;" *ngIf="paramId">
                              <a class="waves-effect waves-light btn" [routerLink]="['/community']">Load More</a>
                           </div>
                           <div class="submithold">
                              <!-- <div class="submit">
                                 <input type="submit" name="" value="" (click)="submitMessage(postData.id)">
                              </div> -->
                           </div>
                           </form>
                           </ng-container>
                        </div>
                        <!-- </div> -->
                        <div style="text-align: center;" *ngIf="total_post >postedData.length">
                           <a class="waves-effect waves-light btn" (click)="loadMorePost($event)">Load More</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-12  col-sm-12 col-12">
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->                              
</section>
<!-- MODAL -->
<div id="communityModalUser" class="modal addmeal" [ngStyle]="{'display':postModal}">
   <a href="javascript:void(0)" class="modal-close" (click)="postModal='none';isModalOpen = false;"><img src="assets/images/cross.png" alt="cross"></a>
   <div class="modal-content">
      <form [formGroup]="communityPostForm">
      <h4>Post Your Message</h4>
      <div class="input-field">
         <select style="display: inline;" formControlName="group_id">
             <option value="">Select Group</option>
             <option *ngFor="let group of groupList;" value="{{group.id}}">{{group.group_name}}</option>
         </select>
         <p class="errormsg" *ngIf="postError && postError.group_id">{{postError.group_id[0]}}</p>

         <select style="display: inline;" formControlName="contest_id">
          <option value="">Select Contest</option>
          <ng-container *ngFor="let contest of contestList;" >
            <option  *ngIf="contest.is_past==0" value="{{contest.id}}">{{contest.contest_name}} - {{contest.group.group_name}}</option>
          </ng-container>
         </select>
         <p class="errormsg" *ngIf="postError && postError.contest_id">{{postError.contest_id[0]}}</p>

      </div>
      <div class="input-field">
         <textarea id="textarea1" [ngxSummernote] class="materialize-textarea customHeight" formControlName="post_desc"></textarea>
         <label for="textarea1"></label>
         <p class="errormsg" *ngIf="postError && postError.post_desc">{{postError.post_desc[0]}}</p>
      </div>
      <div class="row">
         <div class="col-lg-6 col-md-12  col-sm-12 col-12">
            <div class="file-field input-field">
               <div class="btn">
                  <span>Image</span>
                  <input type="file" (change)="onSelectImage($event)">
               </div>
               <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" formControlName="post_image_text">
               </div>
               <p class="errormsg" *ngIf="postError && postError.file_error">{{postError.file_error}}</p>
            </div>
         </div>
         <div class="col-lg-6 col-md-12  col-sm-12 col-12">
            <div class="input-field">
               <input type="text" id="usercomVideo" class="validate" formControlName="post_video_link">
               <label for="usercomVideo">Video</label>
            </div>
         </div>
      </div>
      <div class="submitOuter">
         <button type="submit" class="detailBtn" (click)="submitPost()">Submit</button>
      </div>
      </form>
   </div>
</div>
<div id="reactionlistModal" class="modal addmeal" [ngStyle]="{'display':likeModal}">
   <a href="javascript:void(0)" class="modal-close" (click)="likeModal='none'"><img src="assets/images/cross.png" alt="cross"></a>
   <div class="modal-content">
      <ul class="nav nav-tabs" id="reactionTab" role="tablist">
         <li class="nav-item">
            <a class="nav-link active" id="liketab" data-toggle="tab" href="#like" role="tab" aria-controls="like" aria-selected="true"><img src="assets/images/like-filled.png" alt="like">({{react_data.likes.length}})</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" id="congraTab" data-toggle="tab" href="#congra" role="tab" aria-controls="congra" aria-selected="false"><img src="assets/images/congratulation-filledIcon.png">({{react_data.congrats.length}})</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" id="lovetab" data-toggle="tab" href="#love" role="tab" aria-controls="love" aria-selected="false"><img src="assets/images/heart-filled.png">({{react_data.loves.length}})</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" id="insitab" data-toggle="tab" href="#insi" role="tab" aria-controls="insi" aria-selected="false"><img src="assets/images/insightful-filled.png">({{react_data.insightfuls.length}})</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" id="quritab" data-toggle="tab" href="#quri" role="tab" aria-controls="quri" aria-selected="false"><img src="assets/images/qurious-filled.png">({{react_data.curiouss.length}})</a>
         </li>
      </ul>
      <div class="tab-content" id="reactionTabContent">
         <div class="tab-pane fade show active" id="like" role="tabpanel" aria-labelledby="liketab">
            <ul>
               <ng-container *ngFor="let like of react_data.likes">
               <li><img src="assets/images/avater1.png" alt=""> {{like.user_name}}</li>  
               </ng-container>             
            </ul>
         </div>
         <div class="tab-pane fade" id="congra" role="tabpanel" aria-labelledby="congratab">
            <ul>
               <ng-container *ngFor="let congrat of react_data.congrats">
               <li><img src="assets/images/avater1.png" alt=""> {{congrat.user_name}}</li> 
               </ng-container>              
            </ul>
         </div>
         <div class="tab-pane fade" id="love" role="tabpanel" aria-labelledby="lovetab">
            <ul>
               <ng-container *ngFor="let love of react_data.loves">
               <li><img src="assets/images/avater1.png" alt=""> {{love.user_name}}</li>
               </ng-container>  
            </ul>
         </div>
         <div class="tab-pane fade" id="insi" role="tabpanel" aria-labelledby="insitab">
            <ul>
               <ng-container *ngFor="let insightful of react_data.insightfuls">
               <li><img src="assets/images/avater1.png" alt=""> {{insightful.user_name}}</li>
               </ng-container> 
            </ul>
         </div>
         <div class="tab-pane fade" id="quri" role="tabpanel" aria-labelledby="quritab">
            <ul>
               <ng-container *ngFor="let curious of react_data.curiouss">
               <li><img src="assets/images/avater1.png" alt=""> {{curious.user_name}}</li>
               </ng-container> 
            </ul>
         </div>
      </div>
   </div>
</div>
<div class="modalend" [ngClass]="{'modal-overlay':isModalOpen}"></div>