<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
         <app-has-appointment></app-has-appointment>
         <div class="breadCrumb">
            <ul>
               <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
               <li><span>{{content_cat}}</span></li>
            </ul>
         </div>
         <div class="profileOuter">
            <div class="profileInner">
               <div class="contentList">
                  <ul>
                     <ng-container *ngFor="let content of contents" >
                     <li>
                        <h4>{{content.title}}</h4> <span *ngIf="content.is_read ==0" class="unreadcontent">New</span>
                        <div [innerHtml]="content.description_short"></div>
                       <!--  <p>When your stress response is triggered an amazing set of reactions</p> -->
                        <a href="javascript:void(0)" [routerLink]="['/content/detail',content.id]" class="detailBtn">View Details</a>
                     </li>
                     </ng-container>

                  </ul>

               </div>

            </div>
            <div class="submitOuter">
             <a href="javascript:void(0)" class="detailBtn" (click)="viewMore()">View More</a>
           </div>
         </div>
      </div>
   </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>