<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
    	<div class="breadCrumb">
            <ul>
                <li><a href="javascript:void(0);" [routerLink]="['/dashboard']">Home</a></li>
                <li><span>Target List</span></li>
            </ul>
        </div>
        <div class="profileInner">
            <!-- <h3>Search Target</h3> -->
        <form [formGroup]="targetSearchForm">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                        <select id="search1" formControlName="group" style="display: inline;">
                            <option value="">By Group</option>
                            <option value="{{group.id}}" *ngFor="let group of groups;">{{group.group_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                        <select  id="search1" formControlName="category" style="display:inline;">
                            <option value="">By Category</option>
                            <option value="{{categorie.id}}" *ngFor="let categorie of categories;">{{categorie.category_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <input id="search3" type="text" formControlName="title"  class="validate">
                      <label for="search3">By Target</label>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <input id="search4" type="text" formControlName="start_date" dateInput class="validate" format="Y-m-d"  mode="single">
                      <label for="search4">Form Date</label>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="input-field">
                      <input id="search5" type="text" formControlName="end_date" dateInput class="validate" format="Y-m-d"  mode="single">
                      <label for="search5">To Date</label>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="contentSearchOuter">
                        <button type="submit" class="detailBtn" (click)="searchTarget(0)">Search</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="profileInner">
            <div class="editOuter">
                <a href="javascript:void(0)" [routerLink]="['/admin/grouptargets/add']"><img src="assets/images/add.png"> Add New</a>
            </div>
            <div class="table-responsive">
                <table class="table userListOuter">
                    <tr>
                        <th>
                            <h5>Sl No.</h5>
                        </th>
                        <th>
                            <h5>Group Name</h5>
                        </th>
                        <!-- <th>
                            <h5>Target</h5>
                        </th> -->
                        <th>
                            <h5>Category</h5>
                        </th>
                        <th>
                            <h5 class="t-txt">Start Date</h5>
                            <a href="javascript:void(0)" class="arw" (click)="sortByField='start_date'; reverse =!reverse"><i class="material-icons dp48">expand_more</i></a>
                        </th>
                        <th>
                            <h5 class="t-txt">End Date</h5>
                            <a href="javascript:void(0)" class="arw" (click)="sortByField='end_date'; reverse =!reverse"><i class="material-icons dp48">expand_more</i></a>
                        </th>
                        <th>
                            <h5>Action</h5>
                        </th>
                    </tr>
                    <ng-container *ngFor="let target of targets | orderBySort : sortByField :reverse ; index as i;">
                    <tr>
                        <td>
                            <p>{{i+1}}</p>
                        </td>
                        <td>
                            <p>{{target.group.group_name}}</p>
                        </td>
                        <!-- <td>
                            <p><a href="javascript:void(0)">

                            </a></p>
                        </td> -->
                        <td>
                            <p>{{target.category.category_name}}</p>
                        </td>
                        <td>
                            <p>{{target.start_date}}</p>
                        </td>
                        <td>
                            <p>{{target.end_date}}</p>
                        </td>
                        <td>
                            <a href="javascript:void(0)" [routerLink]="['/admin/grouptargets/edit',target.id]" title="Edit"><img src="assets/images/edit.png"></a>
                        </td>
                    </tr>
                    </ng-container>
                </table>
            </div>
            <div class="pagination" >
                <ul>
                    <li *ngFor="let page_no of pagination(); index as i;"><a href="javascript:void(0)" [ngClass]="{'active': i== active_page}" (click)="paginationCall(i)">{{page_no}}</a></li>
                </ul>
            </div>
        </div>     
      </div>
   </div>
   <app-footer></app-footer>
   <!-- End -->
</section>
