<style type="text/css">
	tr{
		border: none;
	}
</style>

<!-- <input type="button" value="click" onclick="printDiv()"> -->
<!-- <a href="javascript:void(0)" class="" onclick="printDiv()" >Download your monthly report</a> -->
<table cellspacing="0" border="0" align="center" width="100%" cellspadding="0" style="width: 100%;border: 1px solid #165aa0;padding: 15px;" id="GFG">
	<tr style="border:none;">
		<td colspan="4">
			<table  border="0">
				<tr style="border-bottom: none !important;">
					<td width="33%" >
						<img src="assets/images/new-logo.png" alt="logo" style="height: 40px;">
						<p><span style="display: inline-block; vertical-align: top; margin: 0 10px 0 0;width: 20px;"><img src="assets/images/location.png" alt="Location" style="width: 20px;"></span> <span style="display: inline-block; vertical-align: top;color: #165aa0; width: 80%; font-size: 14px; font-weight: 600;">Wind of Change Total Wellbeing Solutions Ltd. Dogpatch Labs, The CHQ Building, Custom House Quay, Dublin 1</span></p>
						<p><span style="display: inline-block; vertical-align: top; margin: 0 10px 0 0; width: 20px;"><img src="assets/images/phone.png" alt="Phone" style="width: 20px;"></span> <span style="display: inline-block; vertical-align: top;color: #165aa0; width: 80%; font-size: 14px;font-weight: 600;"><a href="tel:353-879945928" style="color: #165aa0;text-decoration: none;">+353-879945928</a> (Ireland)</span></p>
					</td>
					<td colspan="2" width="33%" style="text-align: center;">
						<div style="width: 100%;" *ngIf="threebarchartdata.length > 0">
							<apx-chart 
							    [series]="radialchartoption.series"
							    [chart]="radialchartoption.chart"
							    [responsive]="radialchartoption.responsive"
							    [labels]="radialchartoption.labels"
							    [legend]="radialchartoption.legend"
							    [title]="radialchartoption.title"
							    [plotOptions]="radialchartoption.plotOptions"
							></apx-chart>
						</div>
					</td>
					<td width="33%">
						<p style="font-size: 30px; line-height: 40px; color: #165aa0; font-weight: 700; margin: 0;text-align: right;">{{user_data.user_detail.firstname}} {{user_data.user_detail.lastname}}</p>
						<p style="font-size: 18px; line-height: 24px; color: #165aa0;margin: 0 0 4px 0;text-align: right;">{{user_data.user_detail.group_name}}</p>
						<p style="font-size: 16px; line-height: 24px; color: #165aa0;margin: 0 0 4px 0;text-align: right;">Monthly Report</p>
						<p style="font-size: 18px; line-height: 24px; color: #165aa0;margin: 0 0 4px 0; text-align: right;"><span style="font-weight: 600;">Date:</span> {{today}}</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<span style="display: block; width: 100%; height: 1px; background:#165aa0; "></span>
		</td>
	</tr>
	<tr>
		<td colspan="4" style="height: 20px;">					
		</td>
	</tr>
	<tr style="border:none;">
		<td colspan="4">
			<p style="font-size: 25px; line-height: 30px; color: #165aa0; font-weight: 700; text-transform: uppercase;text-align: center;margin: 0 0 20px 0;">PROFILE</p>
		</td>
	</tr>
	<tr style="border:none;">
		<td colspan="4" border="0">
			<table style="width: 96%;margin: 0 auto 20px; border:none;">
				<tr style="border-bottom: none !important;">
					<td style="width: 25%;padding: 0 12px 0 0;vertical-align: top;">
						<table cellspacing="0" cellspadding="0" style="width: 100%;padding: 6px;">
							<tr>
								<td style="width: 50px;vertical-align: top;">
									<img src="assets/images/goals.png" style="width: 45px;">
								</td>
								<td>
									<p style="font-size: 14px; line-height: 20px; color:#49a4ff;text-transform: uppercase;margin: 0 0 5px 0; font-weight: 600; ">GOALS</p>
									<p style="font-size: 14px; line-height: 20px; color: #165aa0;margin: 0;font-weight: 600;" *ngIf="user_goals && user_goals ==''">
										No Goals Exists
									</p>
									<ng-container *ngFor="let slctedgoal of user_goals; index as i;">
									<p style="font-size: 14px; line-height: 20px; color: #165aa0;margin: 0;font-weight: 600;" *ngIf="slctedgoal!='Race'">- {{slctedgoal}}</p>
									<p style="font-size: 14px; line-height: 20px; color: #165aa0;margin: 0;font-weight: 600;" *ngIf="slctedgoal=='Race'">- Prepare for an athletic event</p>
									</ng-container>
								</td>
							</tr>
						</table>
					</td>
					<td style="width: 25%;padding: 0 12px 0 12px;vertical-align: top;">
						<table cellspacing="0" cellspadding="0" style="width: 100%;padding: 6px;">
							<tr>
								<td style="width: 50px;vertical-align: top;">
									<img src="assets/images/medical.png" style="width: 45px;">
								</td>
								<td>
									<p style="font-size: 14px; line-height: 20px; color:#49a4ff;text-transform: uppercase;margin: 0 0 5px 0; font-weight: 600;">MEDICAL CONDITION</p>
									<p style="font-size: 14px; line-height: 20px; color: #165aa0;margin: 0;font-weight: 600;" *ngIf="user_medical_conds && user_medical_conds ==''">
										No Medical Condition Exists
									</p>
									
									<ng-container *ngFor="let mconds of user_medical_conds; index as i;">
									<p style="font-size: 14px; line-height: 20px; color: #165aa0;margin: 0;font-weight: 600;">- {{mconds}}</p>
									</ng-container>
								</td>
							</tr>
						</table>
					</td>
					<td style="width: 25%; padding: 0 12px 0 12px;vertical-align: top;">
						<table cellspacing="0" cellspadding="0" style="width: 100%;padding: 6px;">
							<tr>
								<td style="width: 50px;vertical-align: top;">
									<img src="assets/images/allergens.png" style="width: 45px;">
								</td>
								<td>
									<p style="font-size: 14px; line-height: 20px; color:#49a4ff;text-transform: uppercase;margin: 0 0 5px 0; font-weight: 600; ">ALLERGENS</p>
									<p style="font-size: 14px; line-height: 20px; color: #165aa0;margin: 0;font-weight: 600;" *ngIf="user_allergy && user_allergy ==''">
										No Allergy Exists
									</p>
									<ng-container *ngFor="let usrallergy of user_allergy; index as i;">
									<p style="font-size: 14px; line-height: 20px; color: #165aa0;margin: 0;font-weight: 600;">- {{usrallergy}}</p>
									</ng-container>
								</td>
							</tr>
						</table>
					</td>
					<td style="width: 25%;padding: 0 0 0 12px;vertical-align: top;">
						<table cellspacing="0" cellspadding="0" style="width: 100%;padding: 6px;">
							<tr>
								<td style="width: 50px;vertical-align: top;">
									<img src="assets/images/statutory.png" style="width: 45px;">
								</td>
								<td>
									<p style="font-size: 14px; line-height: 20px; color:#49a4ff;text-transform: uppercase;margin: 0 0 5px 0; font-weight: 600; text-align: left;">STATUTORY</p>
									<p style="font-size: 14px; line-height: 20px; color: #165aa0;margin: 0;text-align: left;font-weight: 600;" *ngIf="user_statutatory.none_above_statutory ==1">No Statutory warning exists</p>
									<p style="font-size: 14px; line-height: 20px; color: #165aa0;margin: 0;text-align: left;font-weight: 600;" *ngIf="user_statutatory.pregnant ==1">- Pregnant
									</p>
									<p style="font-size: 14px; line-height: 20px; color: #165aa0;margin: 0;text-align: left;font-weight: 600;" *ngIf="user_statutatory.surgery ==1">- Surgery
									</p>
									<p style="font-size: 14px; line-height: 20px; color: #165aa0;margin: 0;text-align: left;font-weight: 600;" *ngIf="user_statutatory.prescribed_medication ==1">- Hospitalised in last 12 months
									</p>
									<p style="font-size: 14px; line-height: 20px; color: #165aa0;margin: 0;text-align: left;font-weight: 600;" *ngIf="user_statutatory.not_participate_physical_exercise ==1">- Participate in physical exercise
									</p>
									<p *ngIf="user_statutatory.not_participate_physical_exercise ==1"><strong>Remarks : </strong>{{(user_statutatory && user_statutatory.not_participate_physical_exercise ==1) ? user_statutatory.not_participate_physical_exercise_info:''}}</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr style="border:none;">
		<td colspan="4" style="height: 20px;">					
		</td>
	</tr>
	<ng-container *ngFor="let qusans of qusanslist; index as i;">
	<tr>
		<td colspan="4">
			<table cellspacing="0" align="center" width="100%" cellspadding="0" style="border: 1px solid #165aa0;margin: 0 0 10px 0;">
				<tr  style="border:none;">
					<th style="border-bottom: 1px solid #165aa0; border-right: 1px solid #165aa0;width: 70%;">
						<p style="font-size: 15px; line-height: 20px; color: #49a4ff;
						font-weight: 600; text-transform: uppercase;text-align: left;margin: 0;
						padding: 10px 10px;">{{qsheetTableName(qusans[0])}}</p>
					</th>
					<th style="border-bottom: 1px solid #165aa0; border-right: 1px solid #165aa0;width: 10%;">
						<p style="font-size: 15px; line-height: 20px; color: #49a4ff;
						font-weight: 600; text-transform: uppercase;text-align: left;margin: 0;
						padding: 10px 10px;">INITIAL</p>
					</th>
					<th style="border-bottom: 1px solid #165aa0; border-right: 1px solid #165aa0;width: 10%;">
						<p style="font-size: 15px; line-height: 20px; color: #49a4ff;
						font-weight: 600; text-transform: uppercase;text-align: left;margin: 0;
						padding: 10px 10px;">PREVIOUS</p>
					</th>
					<th style="border-bottom: 1px solid #165aa0;width: 10%;">
						<p style="font-size: 15px; line-height: 20px; color: #49a4ff;
						font-weight: 600; text-transform: uppercase;text-align: left;margin: 0;
						padding: 10px 10px;">CURRENT</p>
					</th>
				</tr>
				<ng-container *ngFor="let singlequsans of qusans[1]; index as j;">
					<tr>
						<td style="border-bottom: 1px solid #165aa0; border-right: 1px solid #165aa0;width: 70%;">
							<p style="font-size: 15px; line-height: 20px; color: #165aa0;
								font-weight: 500; text-transform: capitalize;margin: 0;padding: 10px;">{{singlequsans.question}}</p>
						</td>
						<td style="border-bottom: 1px solid #165aa0; border-right: 1px solid #165aa0;width: 10%;">
							<p style="font-size: 15px; line-height: 20px; color: #165aa0;
								font-weight: 500; text-transform: capitalize;margin: 0;padding: 10px;">{{singlequsans.initial}}</p>
						</td>
						<td style="border-bottom: 1px solid #165aa0; border-right: 1px solid #165aa0;width: 10%;">
							<p style="font-size: 15px; line-height: 20px; color: #165aa0;
								font-weight: 500; text-transform: capitalize;margin: 0;padding: 10px;">{{singlequsans.previous}}</p>
						</td>
						<td style="border-bottom: 1px solid #165aa0;width: 10%; ">
							<p style="font-size: 15px; line-height: 20px; color: #165aa0;
								font-weight: 500; text-transform: capitalize;margin: 0;padding: 10px;">{{singlequsans.current}}</p>
						</td>
					</tr>
				</ng-container>
			</table>
		</td>
	</tr>
	</ng-container>
	<tr>
		<td colspan="4" style="height: 100px;"></td>
	</tr>
	<tr>
		<td colspan="4" style=" height: 100px;margin: 0 0 0px 0;">
			<table cellspacing="0"  align="center" width="100%" cellspadding="0" style="width: 100%;border: 1px solid #165aa0;margin: 0 0 50px 0;height: 200px;">
				<tr>
					<td>
						<p style="color: #49a4ff;font-size: 25px;line-height: 30px;font-weight: 600;text-align: center;font-weight: 600;text-transform: uppercase;margin: 0 0 20px 0;">OBSERVATIONS</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<p style="font-size: 25px; line-height: 30px; color: #165aa0; font-weight: 700; text-transform: uppercase;text-align: center;margin: 0 0 20px 0;">PROFILE ANALYSIS</p>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<p style="font-size: 20px; line-height: 25px; color: #165aa0; font-weight: 600; text-transform: uppercase;text-align: center;margin: 0 0 5px 0;text-align: left;">QUESTIONNAIRE REPORT</p>
			<p style="font-size: 14px; line-height: 20px; color: #165aa0; font-weight: 600;text-align: center;margin: 0 0 20px 0;text-align: left;">The activity report consists of your the amount of steps taken, distance covered, fat burned and heart rate throughout the period of time</p>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<table style="border: 1px solid #165aa0;margin: 0 0 50px 0;">
				<tr style="border-bottom: none !important;">
					<td style="width: 100%;">
						<div style="width: 100%;" *ngIf="threebarchartdata.length > 0">
							<apx-chart
								
							    [series]="threebarchart.series"
							    [chart]="threebarchart.chart"
							    [xaxis]="threebarchart.xaxis"
							    [colors]="threebarchart.colors"
							    [dataLabels]="threebarchart.dataLabels"
							    [plotOptions]="threebarchart.plotOptions"
							></apx-chart>
						</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<table cellspacing="0" border="0" align="center" width="100%" cellspadding="0">
				<tr>
					<ng-container *ngFor="let qsmodule of qsheetsreport; index as q;">
					<td style="width: 33%;padding: 0 25px 0 0;">
						<table cellspacing="0" border="0" align="center" width="100%" cellspadding="0" style="border: 1px solid #165aa0;padding: 6px;margin: 0 0 30px 0;">
							<tr>
								<td style="vertical-align: top;">
									<img src="assets/images/{{qsmodule[1].icon}}" style="width: 45px;">
								</td>
								<td style="vertical-align: top;padding: 5px;">
									<p style="font-size: 11px; line-height: 18px; font-weight: 700;color: #0081ff;text-transform: uppercase;position: relative;">{{qsheetName(qsmodule[0])}}</p>
								</td>
								<td style="vertical-align: top;padding: 5px;">
									<p style="font-size: 11px; line-height: 18px; font-weight: 700;color: #165aa0;text-transform: uppercase;margin: 0 0 4px 0;text-align: center;  ">INITIAL</p>
									<p style="font-size: 27px; line-height: 32px; font-weight: 700;color: #165aa0;text-transform: uppercase;margin: 0 0 0px 0;text-align: center; " *ngIf="qsmodule[1].initial">{{qsmodule[1].initial}}</p>
								</td>
								<td style="vertical-align: top;padding: 5px;">
									<p style="font-size: 11px; line-height: 18px; font-weight: 700;color: #165aa0;text-transform: uppercase;margin: 0 0 4px 0; text-align: center; ">PREVIOUS</p>
									<p style="font-size: 27px; line-height: 32px; font-weight: 700;color: #165aa0;text-transform: uppercase;margin: 0 0 0px 0; text-align: center;">{{qsmodule[1].previous}}</p>
								</td>
								<td style="vertical-align: top;padding: 5px;">
									<p style="font-size: 11px; line-height: 18px; font-weight: 700;color: #165aa0;text-transform: uppercase;margin: 0 0 4px 0; text-align: center; ">CURRENT</p>
									<p style="font-size: 27px; line-height: 32px; font-weight: 700;color: #165aa0;text-transform: uppercase;margin: 0 0 0px 0; text-align: center;">{{qsmodule[1].current}}</p>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<p style="color: #008000; font-size: 12px; line-height: 18px;margin: 0 0 4px 0;font-weight: 600;" *ngIf="qsmodule[1].overall=='Good'"><span style="font-weight: 800;">Overall:</span> {{qsmodule[1].overall}}</p>
									<p style="color: #da800e; font-size: 12px; line-height: 18px;margin: 0 0 4px 0;font-weight: 600;" *ngIf="qsmodule[1].overall=='Moderate'"><span style="font-weight: 800;">Overall:</span> {{qsmodule[1].overall}}</p>
									<p style="color: #c3150b; font-size: 12px; line-height: 18px;margin: 0 0 4px 0;font-weight: 600;" *ngIf="qsmodule[1].overall=='Poor'"><span style="font-weight: 800;">Overall:</span> {{qsmodule[1].overall}}</p>
									<p style="color: #165aa0; font-size: 12px; line-height: 18px;margin: 0 0 4px 0;font-weight: 600;"><span style="font-weight: 800;">Improvement: </span> <span id="modulests{{q}}"></span></p>
									<p style="color: #165aa0; font-size: 12px; line-height: 18px;margin: 0 0 4px 0;font-weight: 600;">Keep up the good work and continue doing the same.</p>
								</td>
								<td colspan="3">
									<div id="linechart{{q}}"></div>
								</td>
							</tr>
						</table>
					</td>
					<ng-container *ngIf="q!=0 && q<3 && q%2==0">
						<tr>
					</ng-container>
					<ng-container *ngIf="q>2 && q!=0 && q%5==0">
						<tr>
					</ng-container>
					</ng-container>
				</tr>
				<!-- <tr><td><div id="linechart0"></div></td></tr> -->
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="4" style="height: 50px;"></td>
	</tr>
	<tr>
		<td colspan="4" style=" height: 100px;margin: 0 0 0px 0;">
			<table cellspacing="0"  align="center" width="100%" cellspadding="0" style="width: 100%;border: 1px solid #165aa0;margin: 0 0 50px 0;height: 200px;">
				<tr>
					<td>
						<p style="color: #49a4ff;font-size: 25px;line-height: 30px;font-weight: 600;text-align: center;font-weight: 600;text-transform: uppercase;margin: 0 0 20px 0;">OBSERVATIONS</p>								
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="4" style="height: 50px;"></td>
	</tr>
	<tr>
		<td colspan="4">
			<p style="font-size: 25px; line-height: 30px; color: #165aa0; font-weight: 700; text-transform: uppercase;text-align: center;margin: 0 0 20px 0;">BODY COMPOSITION ANALYSIS</p>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<table cellspacing="0"  align="center" width="100%" cellspadding="0" style="width: 100%;">
				<tr>
					<td colspan="2">
						<p style="font-size: 18px; line-height: 25px; color: #165aa0; font-weight: 600; text-transform: uppercase;text-align: center;margin: 0 0 5px 0;text-align: left;">CURRENT</p>
					</td>
					<td>
						<p style="font-size: 18px; line-height: 25px; color: #165aa0; font-weight: 600; text-transform: uppercase;text-align: center;margin: 0 0 5px 0;text-align: center;">OVERALL PHYSIQUE</p>
					</td>
				</tr>
				<tr>
					<td>
						<table cellspacing="0"  align="center" width="100%" cellspadding="0" style="width: 100%;margin: 0 0 10px 0;">
							<tr>
								<td style="width: 70px;">
									<img src="assets/images/height.png" style="width: 50px;">
								</td>
								<td>
									<p style="color: #2191ff; font-size: 14px;line-height: 20px;margin: 0 0 2px 0;text-transform: uppercase;font-weight: 600">HEIGHT</p>
									<p style="color: #29598b; font-size: 30px;line-height: 38px;margin: 0 0 2px 0;text-transform: uppercase;font-weight: 600" *ngIf="bcacount > 0">{{bcareport.height}} CM</p>
								</td>
							</tr>
						</table>
						<table cellspacing="0"  align="center" width="100%" cellspadding="0" style="width: 100%;margin: 0 0 10px 0;">
							<tr>
								<td style="width: 70px;">
									<img src="assets/images/body-fat-percentage.png" style="width: 50px;">
								</td>
								<td>
									<p style="color: #2191ff; font-size: 14px;line-height: 20px;margin: 0 0 2px 0;text-transform: uppercase;font-weight: 600">BODY FAT PERCENTAGE</p>
									<p style="color: #29598b; font-size: 30px;line-height: 38px;margin: 0 0 2px 0;text-transform: uppercase;font-weight: 600" *ngIf="bcacount > 0">{{bcareport.fatp}}</p>
								</td>
							</tr>
						</table>
						<table cellspacing="0"  align="center" width="100%" cellspadding="0" style="width: 100%;margin: 0 0 10px 0;">
							<tr>
								<td style="width: 70px;">
									<img src="assets/images/body-mass-index.png" style="width: 50px;">
								</td>
								<td>
									<p style="color: #2191ff; font-size: 14px;line-height: 20px;margin: 0 0 2px 0;text-transform: uppercase;font-weight: 600">BODY MASS INDEX</p>
									<p style="color: #29598b; font-size: 30px;line-height: 38px;margin: 0 0 2px 0;text-transform: uppercase;font-weight: 600" *ngIf="bcacount > 0">{{bcareport.bmi}}</p>
								</td>
							</tr>
						</table>
					</td>
					<td>
						<table cellspacing="0"  align="center" width="100%" cellspadding="0" style="width: 100%;margin: 0 0 10px 0;">
							<tr>
								<td style="width: 70px;">
									<img src="assets/images/weight.png" style="width: 50px;">
								</td>
								<td>
									<p style="color: #2191ff; font-size: 14px;line-height: 20px;margin: 0 0 2px 0;text-transform: uppercase;font-weight: 600">WEIGHT</p>
									<p style="color: #29598b; font-size: 30px;line-height: 38px;margin: 0 0 2px 0;text-transform: uppercase;font-weight: 600" *ngIf="bcacount > 0">{{bcareport.net_body_weight}} KGs</p>
								</td>
							</tr>
						</table>
						<table cellspacing="0"  align="center" width="100%" cellspadding="0" style="width: 100%;margin: 0 0 10px 0;">
							<tr>
								<td style="width: 70px;">
									<img src="assets/images/body-water-percentage.png" style="width: 50px;">
								</td>
								<td>
									<p style="color: #2191ff; font-size: 14px;line-height: 20px;margin: 0 0 2px 0;text-transform: uppercase;font-weight: 600">BODY WATER PERCENTAGE</p>
									<p style="color: #29598b; font-size: 30px;line-height: 38px;margin: 0 0 2px 0;text-transform: uppercase;font-weight: 600" *ngIf="bcacount > 0">{{bcareport.totaltbwr}}</p>
								</td>
							</tr>
						</table>
						<table cellspacing="0"  align="center" width="100%" cellspadding="0" style="width: 100%;margin: 0 0 10px 0;">
							<tr>
								<td style="width: 70px;">
									<img src="assets/images/muscle-mass.png" style="width: 50px;">
								</td>
								<td>
									<p style="color: #2191ff; font-size: 14px;line-height: 20px;margin: 0 0 2px 0;text-transform: uppercase;font-weight: 600">MUSCLE MASS</p>
									<p style="color: #29598b; font-size: 30px;line-height: 38px;margin: 0 0 2px 0;text-transform: uppercase;font-weight: 600" *ngIf="bcacount > 0">{{bcareport.pmm}}</p>
								</td>
							</tr>
						</table>
					</td>
					<td >
						<p style="color: #ff6384; font-size: 22px; line-height: 28px; font-weight: 600;position: relative;top: -90px;text-align: center;" *ngIf="bcacount > 0">{{bcareport.physique_rating}}</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="4" style="height: 50px;"></td>
	</tr>
	<tr>
		<td colspan="4">
			<p style="font-size: 20px; line-height: 25px; color: #165aa0; font-weight: 600; text-transform: uppercase;text-align: center;margin: 0 0 5px 0;text-align: left;">ACTIVITY REPORT</p>
			<p style="font-size: 14px; line-height: 20px; color: #165aa0; font-weight: 600;text-align: center;margin: 0 0 20px 0;text-align: left;">The activity report consists of your the amount of steps taken, distance covered, fat burned and heart rate throughout the period of time.</p>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<table style="border: 1px solid #165aa0;margin: 0 0 50px 0;">
				<tr style="border-bottom: none !important;">
					<td style="width: 50%;">
						<div style="width: 100%;" *ngIf="activitychartcat && activitychartcat.length > 0">
							<apx-chart
								[title]="stepschartOptions.title"
							    [series]="stepschartOptions.series"
							    [chart]="stepschartOptions.chart"
							    [xaxis]="stepschartOptions.xaxis"
							    [colors]="stepschartOptions.colors"
							    [tooltip]="stepschartOptions.tooltip"
							    [yaxis]="stepschartOptions.yaxis"
							    [dataLabels]="stepschartOptions.dataLabels"
							    [plotOptions]="stepschartOptions.plotOptions"
							></apx-chart>
						</div>
					</td>
					<td style="width: 50%;">
						<div style="width: 100%;" *ngIf="activitychartcat && activitychartcat.length > 0">
							<apx-chart
								[title]="fatburnchartOptions.title"
							    [series]="fatburnchartOptions.series"
							    [chart]="fatburnchartOptions.chart"
							    [xaxis]="fatburnchartOptions.xaxis"
							    [colors]="fatburnchartOptions.colors"
							    [tooltip]="fatburnchartOptions.tooltip"
							    [yaxis]="fatburnchartOptions.yaxis"
							    [dataLabels]="fatburnchartOptions.dataLabels"
							    [plotOptions]="fatburnchartOptions.plotOptions"
							></apx-chart>
						</div>
					</td>
				</tr>
				<tr style="border-bottom: none !important;">
					<td style="width: 50%;">
						<div style="width: 100%;" *ngIf="activitychartcat && activitychartcat.length > 0">
							<apx-chart
								[title]="distancechartOptions.title"
							    [series]="distancechartOptions.series"
							    [chart]="distancechartOptions.chart"
							    [xaxis]="distancechartOptions.xaxis"
							    [colors]="distancechartOptions.colors"
							    [tooltip]="distancechartOptions.tooltip"
							    [yaxis]="distancechartOptions.yaxis"
							    [dataLabels]="distancechartOptions.dataLabels"
							    [plotOptions]="distancechartOptions.plotOptions"
							></apx-chart>
						</div>
					</td>
					<td style="width: 50%;">
						<div style="width: 100%;" *ngIf="activitychartcat && activitychartcat.length > 0">
							<apx-chart 
								[title]="floorstepchartOptions.title" 
							    [series]="floorstepchartOptions.series"
							    [chart]="floorstepchartOptions.chart"
							    [xaxis]="floorstepchartOptions.xaxis"
							    [colors]="floorstepchartOptions.colors"
							    [tooltip]="floorstepchartOptions.tooltip"
							    [yaxis]="floorstepchartOptions.yaxis"
							    [dataLabels]="floorstepchartOptions.dataLabels"
							    [plotOptions]="floorstepchartOptions.plotOptions"
							></apx-chart>
						</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="4" style="height: 50px;"></td>
	</tr>
	<tr>
		<td colspan="4">
			<p style="font-size: 20px; line-height: 25px; color: #165aa0; font-weight: 600; text-transform: uppercase;text-align: center;margin: 0 0 5px 0;text-align: left;">CALORIES CONSUMED vs CALORIES BURNED</p>
			<p style="font-size: 14px; line-height: 20px; color: #165aa0; font-weight: 600;text-align: center;margin: 0 0 20px 0;text-align: left;">This comparison is based on the total time you spent to complete the activities in minutes which provides the amount of calories burned. The calories consumed are calculated from the meals that you added in the meals section on the application.</p>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<table style="border: 1px solid #165aa0;margin: 0 0 50px 0;">
				<tr style="border-bottom: none !important;">
					<td style="width: 50%;">
						<div style="width: 100%;" *ngIf="calconsumdate && calconsumdate.length > 0">
							<apx-chart
								[title]="calconsumChart.title"
							    [series]="calconsumChart.series"
							    [chart]="calconsumChart.chart"
							    [xaxis]="calconsumChart.xaxis"
							    [colors]="calconsumChart.colors"
							    [tooltip]="calconsumChart.tooltip"
							    [yaxis]="calconsumChart.yaxis"
							    [dataLabels]="calconsumChart.dataLabels"
							    [plotOptions]="calconsumChart.plotOptions"
							></apx-chart>
						</div>
					</td>
					<td style="width: 50%;">
						<div style="width: 100%;" *ngIf="activitychartcat && activitychartcat.length > 0">
							<apx-chart
								[title]="calburnChart.title"
							    [series]="calburnChart.series"
							    [chart]="calburnChart.chart"
							    [xaxis]="calburnChart.xaxis"
							    [colors]="calburnChart.colors"
							    [tooltip]="calburnChart.tooltip"
							    [yaxis]="calburnChart.yaxis"
							    [responsive]="calburnChart.responsive"
							    [dataLabels]="calburnChart.dataLabels"
							    [plotOptions]="calburnChart.plotOptions"
							></apx-chart>
						</div>
					</td>
				</tr>
				<tr style="border-bottom: none !important;">
					<td style="width: 50%;">
						<div style="width: 100%;" *ngIf="activitychartcat && activitychartcat.length > 0">
							<apx-chart
								[title]="activminsChart.title"
							    [series]="activminsChart.series"
							    [chart]="activminsChart.chart"
							    [xaxis]="activminsChart.xaxis"
							    [colors]="activminsChart.colors"
							    [tooltip]="activminsChart.tooltip"
							    [yaxis]="activminsChart.yaxis"
							    [dataLabels]="activminsChart.dataLabels"
							    [plotOptions]="activminsChart.plotOptions"
							></apx-chart>
						</div>
					</td>
					<td style="width: 50%;">
						<div style="width: 100%;" *ngIf="activitychartcat && activitychartcat.length > 0">
							<canvas
		                      baseChart
		                      [chartType]="'bar'"
		                      [datasets]="fatmaslChartData"
		                      [labels]="fatmaslChartLabels"
		                      [options]="fatmaslChartOptions"
		                      [legend]="true" width="550" height="275">
		                  	</canvas>
						</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="4" style="height: 50px;"></td>
	</tr>
	<tr>
		<td colspan="4">
			<p style="font-size: 22px; line-height: 28px; color: #165aa0; font-weight: 600; text-transform: uppercase;text-align: center;margin: 0 0 10px 0;text-align: left;">SLEEPING PATTERN (LAST 30 DAYS)</p>
			<p style="font-size: 20px; line-height: 25px; color: #165aa0; font-weight: 600; text-transform: uppercase;text-align: center;margin: 0 0 5px 0;text-align: left;">DATE VS HOURS DISTRIBUTION</p>
			<p style="font-size: 14px; line-height: 20px; color: #165aa0; font-weight: 600;text-align: center;margin: 0 0 20px 0;text-align: left;">The following chart represents the users sleeping pattern in the last 30 days based on the synched data from Fitbit, Garmin etc. This chart shows the segregation of their sleep into different categories and shows how well the user sleeps through the night.</p>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<table style="border: 1px solid #165aa0;margin: 0 0 50px 0;">
				<tr style="border-bottom: none !important;">
					<td style="width: 100%;">
						<div style="width: 100%;" *ngIf="calconsumdate && calconsumdate.length > 0">
							<apx-chart 
							    [series]="sleepchart.series" 
							    [chart]="sleepchart.chart" 
							    [xaxis]="sleepchart.xaxis" 
							    [colors]="sleepchart.colors"  
							    [plotOptions]="sleepchart.plotOptions"
							></apx-chart>
						</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="4" style="height: 50px;"></td>
	</tr>
	<tr>
		<td colspan="4">
			<p style="font-size: 20px; line-height: 25px; color: #165aa0; font-weight: 600; text-transform: uppercase;text-align: center;margin: 0 0 5px 0;text-align: left;">TARGET VS ACTUAL</p>
			<p style="font-size: 14px; line-height: 20px; color: #165aa0; font-weight: 600;text-align: center;margin: 0 0 20px 0;text-align: left;">This comparison is based on the targets set by the company and how often this user successfully completed those targets. This chart also shows the days on which the user was unable to achieve those targets along with the expired targets in that month.</p>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<table style="border: 1px solid #165aa0;margin: 0 0 50px 0;">
				<tr style="border-bottom: none !important;">
					<td style="width: 100%;">
						<div style="width: 100%;" *ngIf="calconsumdate && calconsumdate.length > 0">
							<apx-chart
							    [series]="targetvsactualoptions.series"
							    [chart]="targetvsactualoptions.chart"
							    [xaxis]="targetvsactualoptions.xaxis"
							    [colors]="targetvsactualoptions.colors"
							    [tooltip]="targetvsactualoptions.tooltip"
							    [dataLabels]="targetvsactualoptions.dataLabels"
							    [stroke]="targetvsactualoptions.stroke"
							></apx-chart>
						</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="4" style="height: 50px;"></td>
	</tr>
	<tr>
		<td colspan="4">
			<p style="font-size: 25px; line-height: 30px; color: #165aa0; font-weight: 700; text-transform: uppercase;text-align: center;margin: 0 0 30px 0;">NUTRIENT ANALYSIS</p>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<p style="font-size: 22px; line-height: 28px; color: #165aa0; font-weight: 600; text-transform: uppercase;text-align: center;margin: 0 0 10px 0;text-align: left;">NUTRIENTS CONSUMPTION (LAST 30 DAYS)</p>
			<p style="font-size: 20px; line-height: 25px; color: #165aa0; font-weight: 600; text-transform: uppercase;text-align: center;margin: 0 0 5px 0;text-align: left;">MACRONUTRIENTS</p>
			<p style="font-size: 14px; line-height: 20px; color: #165aa0; font-weight: 600;text-align: center;margin: 0 0 20px 0;text-align: left;">The macronutrients include carbohydrates, proteins, fats and water intake by the person from their meals. This chart shows the record for the last 30 days.</p>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<table style="border: 1px solid #165aa0;margin: 0 0 50px 0;">
				<tr style="border-bottom: none !important;">
					<td style="width: 100%;">
						<div style="width: 100%;" *ngIf="mealdates && mealdates.length > 0">
							<apx-chart
							    [series]="mealmixChart.series"
							    [chart]="mealmixChart.chart"
							    [xaxis]="mealmixChart.xaxis"
							    [yaxis]="mealmixChart.yaxis"
							    [colors]="mealmixChart.colors"
							    [tooltip]="mealmixChart.tooltip"
							    [dataLabels]="mealmixChart.dataLabels"
							    [stroke]="mealmixChart.stroke"
							></apx-chart>
						</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="4" style="height: 50px;"></td>
	</tr>
	<tr>
		<td colspan="4">
			<p style="font-size: 20px; line-height: 25px; color: #165aa0; font-weight: 600; text-transform: uppercase;text-align: center;margin: 0 0 5px 0;text-align: left;">MICRONUTRIENTS</p>
			<p style="font-size: 14px; line-height: 20px; color: #165aa0; font-weight: 600;text-align: center;margin: 0 0 20px 0;text-align: left;">This chart shows the total micronutrients intake for a particular micronutrient from the meals consumed by the user. These values are calculated when the user enters their meals in the meals section.</p>
		</td>
	</tr>
	<tr>
		<td colspan="4">
			<table style="border: 1px solid #165aa0;margin: 0 0 50px 0;">
				<tr style="border-bottom: none !important;">
					<td style="width: 100%;">
						<div style="width: 100%; padding-left:10px; " *ngIf="mealdates && mealdates.length > 0">
							<apx-chart
							    [series]="micronutrientschartoptions.series"
							    [chart]="micronutrientschartoptions.chart"
							    [xaxis]="micronutrientschartoptions.xaxis"
							    [colors]="micronutrientschartoptions.colors"
							    [tooltip]="micronutrientschartoptions.tooltip"
							    [dataLabels]="micronutrientschartoptions.dataLabels"
							    [plotOptions]="micronutrientschartoptions.plotOptions"
							    [yaxis]="micronutrientschartoptions.yaxis"
							></apx-chart>
						</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="4" style=" height: 100px;margin: 0 0 0px 0;">
			<table cellspacing="0"  align="center" width="100%" cellspadding="0" style="width: 100%;border: 1px solid #165aa0;margin: 0 0 50px 0;height: 200px;">
				<tr>
					<td>
						<p style="color: #49a4ff;font-size: 25px;line-height: 30px;font-weight: 600;text-align: center;font-weight: 600;text-transform: uppercase;margin: 0 0 20px 0;">OBSERVATIONS</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
        