/* You can add global styles to this file, and also import other style files */
.mail-active{
	background: #cae897;
}

.is-active{
	color: #8cb964;
}

.active-chat-user{
	background: #f3f9dc;
}
