.recordOuter .recordRow .recordCol{
	width: 11%;
}

.ansmonthslist{
	height: 100px;
	overflow: auto;
}

.ansmonthslist::-webkit-scrollbar {
  width: 5px;
}

.ansmonthslist::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.ansmonthslist::-webkit-scrollbar-thumb {
  background: #888;
}

.ansmonthslist::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@media only screen and (max-width: 991px){
	.recordOuter .recordRow .recordCol{
		width: 100%;
		display: block;
	}
}
@media only screen and (max-width: 767px){
	.recordOuter .recordRow .recordCol{
		width: 100%;
	}
}