<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
        <div class="breadCrumb">
          <ul>
            <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
            <li><a href="javascript:void(0)">Group</a></li>
            <li><span>Member List </span></li>
          </ul>
        </div>
        <div class="profileOuter">
            <div class="profileInner">
                <div class="editOuter">
                    <a href="javascript:void(0)" [routerLink]="['/dashboard']"><img src="assets/images/return.png"> Back To List</a>
                </div>
                <div class="recordOuter memberList">
                    <div class="recordRow recordHead">
                       <div class="recordCol">
                           <h5>Member Name</h5>
                       </div>
                       <div class="recordCol">
                           <h5>Gender</h5>
                       </div>
                       <div class="recordCol">
                           <h5>DOB</h5>
                       </div>
                       <div class="recordCol" *ngIf="user_role.slug == 'admin'">
                           <h5>Questionnaire</h5>
                       </div>
                       <div class="recordCol">
                           <h5>Report</h5>
                       </div>
                       <div class="recordCol">
                           <h5>Standards</h5>
                       </div>
                    </div>
                    <ng-container *ngFor="let user of users; index as i;">
                    <div class="recordRow">
                        <div class="recordCol">
                            <p *ngIf="user_role.slug == 'admin'"><a href="javascript:void(0)" [routerLink]="['/user/details',user.user_id]">
                                {{user.firstname}} {{user.lastname}}
                            </a>
                            </p>
                            <p *ngIf="user_role.slug == 'subcoach'"> 
                                    {{user.firstname}} {{user.lastname}}
                                
                            </p>
                        </div>
                        <div class="recordCol">
                          <p *ngIf="user.gender=='M'">Male</p>
                          <p *ngIf="user.gender=='F'">Female</p>
                          <p *ngIf="user.gender=='O'">Other</p>
                        </div>
                        <div class="recordCol">
                          <p>{{user.dob}}</p>
                        </div>
                        <div class="recordCol" *ngIf="user_role.slug == 'admin'">
                          <div class="ansmonthslist">
                            <p *ngFor="let answer of user.answers;"><a href="javascript:void(0)" [routerLink]="['/questionnaire/report',user.user_id,answer]">{{answer}}</a></p>
                          </div>
                        </div>
                        <div class="recordCol">
                          <p><a href="javascript:void(0)" [routerLink]="['/user/report',user.user_id]" title="View Report"
                              *ngIf="user_role.slug == 'admin'"
                              ><img src="assets/images/view.png"></a>
                            <span style="margin-right: 10px;"></span>

                          <a href="javascript:void(0)" [routerLink]="['/notes/list']" [queryParams]="{user_id:user.user_id}" title="View Notes"><img src="assets/images/document-clip.png"></a></p>
                        </div>
                        <div class="recordCol">
                          <ul>
                            <li>Distance (km) - <strong>{{user.standards.distance}}</strong></li>
                            <li>Active Time - <strong>{{user.standards.active_time}}</strong></li>
                            <li>Calories Burn (cals) - <strong>{{user.standards.fat_burn}}</strong></li>
                            <li>Floors - <strong>{{user.standards.floors}}</strong></li>
                          </ul>
                          <p><a href="javascript:void(0)" (click)="openGroupModalDialog('edit',user.user_id)" title="Edit standards"><img src="assets/images/edit.png"></a></p>
                        </div>
                    </div>
                    </ng-container>                                    
                </div>
            </div>
        </div>
    </div>
   </div>
   <app-footer></app-footer>
   <!-- End -->
</section>


<!-- New group add modal -->
<div class="modal generalModal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog">
    <div class="modal-content">  
         <!-- modal-header -->
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeGroupModalDialog()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form  [formGroup]="userStandardsForm">
            <div class="input-field">
                <input id="distance" type="text" class="validate" formControlName="distance">
                <label for="distance" [ngClass]="{'active':userStandardsForm.get('distance').value}">Distance (km)</label>
                <p class="errormsg" *ngIf="standardFormValidation && standardFormValidation.distance">{{standardFormValidation.distance[0]}}</p>
            </div>
            <div class="input-field">
                <input id="active_time" type="text" class="validate" formControlName="active_time">
                <label for="active_time" [ngClass]="{'active':userStandardsForm.get('active_time').value}">Active Time</label>
                <p class="errormsg" *ngIf="standardFormValidation && standardFormValidation.active_time">{{standardFormValidation.active_time[0]}}</p>
            </div>
            <div class="input-field">
                <input id="fat_burn" type="text" class="validate" formControlName="fat_burn">
                <label for="fat_burn" [ngClass]="{'active':userStandardsForm.get('fat_burn').value}">Calories Burn  (cals)</label>
                <p class="errormsg" *ngIf="standardFormValidation && standardFormValidation.fat_burn">{{standardFormValidation.fat_burn[0]}}</p>
            </div>
            <div class="input-field">
                <input id="floors" type="text" class="validate" formControlName="floors">
                <label for="floors" [ngClass]="{'active':userStandardsForm.get('floors').value}">Floors</label>
                <p class="errormsg" *ngIf="standardFormValidation && standardFormValidation.floors">{{standardFormValidation.floors[0]}}</p>
            </div>
            <div class="submitOuter">
                <button type="submit" class="detailBtn" (click)="updateStandards()">Update</button>
            </div>
        </form>
    </div>
    </div>
  </div>
</div>
<!--End new user add modal-->
<div class="modalend" [ngClass]="{'modal-overlay':isModalOpen}"></div>