<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
                <div class="bodyContent">
                    <div class="container-fluid">
                        <app-has-appointment></app-has-appointment>
                        <div class="breadCrumb">
                            <ul>
                                <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
                                <li *ngIf="content_category_name"><a href="javascript:void(0)" [routerLink]="['/content',content_category_name]">{{content_category_name}}</a></li>

             					<li *ngIf="content_name"><a href="javascript:void(0)" [routerLink]="['/content/detail', content_id]">{{content_name}}</a></li>
                                <li><span>Quiz Result</span></li>
                            </ul>
                        </div>
                        <div class="profileOuter">
                            <!-- <div class="thankyouOuter">
                                <h4>Thankyou for taking the quiz !!! </h4>
                            </div> -->
                            <div class="profileInner">
                                <div class="editOuter">
                                    <a href="javascript:void(0)" [routerLink]="['/content/detail', content_id]"><img src="assets/images/return.png" alt="return"> Back to List</a>
                                </div>
                                <div class="profilePart">
                                    <h4>Result</h4>
                                    
                                    <div class="quizresultOuter">
                                    	<ng-container *ngFor="let quiz of quizData">
                                        <h6>{{quiz.content_question? quiz.content_question.question:''}}</h6>
                                        <p class="quizans">{{quiz.question_option? quiz.question_option.option:''}}({{quiz.point}})</p>
                                    	</ng-container>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)" [routerLink]="['/chat']" class="stickyChat"><img src="assets/images/message.png"></a>
                    </div>
                </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>