<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
   		<div class="container-fluid">
            <div class="breadCrumb">
                <ul>
                    <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
                    <li><a href="javascript:void(0)">Wellness Analytics</a></li>
                    <li><span>Report</span></li>
                    <li><span>{{report_date}}</span></li>
                </ul>
            </div>
            <div class="profileOuter">
                <!-- <h3 class="pageTitle">Report</h3> -->
                <div class="profileInner">
                    <div class="samerow-month">
                        <div style="width:30%;">
                            <select id="questionnaire-report" [(ngModel)]="ansDateModel" (ngModelChange)="monthReportDetails($event,enduser_id)" [ngModelOptions]="{standalone: true}" style="display: inline;">
                                <option value="">Select Month</option>
                                <option value="{{answer}}" *ngFor="let answer of useransmonths;">{{answer}}</option>
                            </select>
                        </div>
                    
                        <div class="editOuter">
                            <a href="javascript:void(0)" [routerLink]="['/group/user/list',group_id]"><img src="assets/images/return.png" alt="return"> Back </a>
                        </div>
                    </div>
                    <!-- <div class="resultGraph"> -->
                        <div class="graphOuter">
						  <canvas
						      baseChart
						      [chartType]="'bar'"
						      [datasets]="pieChartData"
						      [labels]="pieChartLabels"
						      [options]="pieChartOptions"
						      [legend]="true" width="1155" height="500">
						  </canvas>
						</div>
                    <!-- </div> -->
                    <div class="reportPage">
                        <!-- <h4>Self Care</h4>
                        <ul class="collapsible reportAccordian">
                        	
                            <li class="active">
                                <div class="collapsible-header">
                                    <span class="headLeft">PHYSICAL WELLBEING - How Often Do You: </span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body" style="display: block;">
                                	<ng-container *ngFor="let answer of questionnaires_sc; index as i;">
                                    <p *ngIf="answer.ques_sub_type=='PHYSICAL'">
                                        <span class="ansLeft">{{answer.question}}</span>
                                        <span class="ansRight">{{answer.lebel}}</span>
                                    </p>
                                    </ng-container>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    <span class="headLeft">MENTAL/EMOTIONAL/SPIRITUAL WELLBEING - Do you: </span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                	<ng-container *ngFor="let answer of questionnaires_sc; index as i;">
                                		<p *ngIf="answer.ques_sub_type=='MENTAL'">
                                        <span class="ansLeft">{{answer.question}}</span>
                                        <span class="ansRight">{{answer.lebel}}</span>
                                    	</p>
                                    </ng-container>

                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    <span class="headLeft">PROFESSIONAL LIFE/WORK/CAREER - Do You:</span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                	<ng-container *ngFor="let answer of questionnaires_sc; index as i;">
                                    <p *ngIf="answer.ques_sub_type=='PROFESSIONAL'">
                                        <span class="ansLeft">{{answer.question}}</span>
                                        <span class="ansRight">{{answer.lebel}}</span>
                                    </p>
                                    </ng-container>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    <span class="headLeft">SOCIAL LIFE/FAMILY/RELATIONSHIPS - Do You:</span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                	<ng-container *ngFor="let answer of questionnaires_sc; index as i;">
                                    <p *ngIf="answer.ques_sub_type=='SOCIAL'">
                                        <span class="ansLeft">{{answer.question}}</span>
                                        <span class="ansRight">{{answer.lebel}}</span>
                                    </p>
                                    </ng-container>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    <span class="headLeft">Ergonomics - Do You:</span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                	<ng-container *ngFor="let answer of questionnaires_sc; index as i;">
                                    <p *ngIf="answer.ques_sub_type=='Ergonomics'">
                                        <span class="ansLeft">{{answer.question}}</span>
                                        <span class="ansRight">{{answer.lebel}}</span>
                                    </p>
                                    </ng-container>
                                </div>
                            </li>
                        </ul> -->
                        <ul class="collapsible reportAccordian">
                            <li *ngIf="questionnaires_ps.length>0">
                                <div class="collapsible-header">
                                    <span class="headLeft">PERCEIVED STRESS</span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                	<ng-container *ngFor="let psanswer of questionnaires_ps; index as i;">
                                    <p>
                                        <span class="ansLeft">{{psanswer.question}} <span *ngIf="questionnaires_ps.is_duplicate==true">({{psanswer.answer_date | date: 'd-M-y'}})</span></span>
                                        <span class="ansRight">{{psanswer.lebel}}</span>
                                    </p>
                                    </ng-container>
                                </div>
                            </li>
                            <li *ngIf="questionnaires_fit.length>0">
                                <div class="collapsible-header">
                                    <span class="headLeft">FITNESS</span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                	<ng-container *ngFor="let fitanswer of questionnaires_fit; index as i;">
                                    <p>
                                        <span class="ansLeft">{{fitanswer.question}} <span *ngIf="questionnaires_fit.is_duplicate==true">({{fitanswer.answer_date}})</span></span>
                                        <span class="ansRight">{{fitanswer.lebel}}</span>
                                    </p>
                                    </ng-container>
                                </div>
                            </li>
                            <li *ngIf="questionnaires_dtp.length>0">
                                <div class="collapsible-header">
                                    <span class="headLeft">Gut Health - Reactive Profile</span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                	<ng-container *ngFor="let dtpanswer of questionnaires_dtp; index as i;">
                                    <p *ngIf="dtpanswer.ques_sub_type=='REACTIVE'">
                                        <span class="ansLeft">{{dtpanswer.question}} <span *ngIf="questionnaires_dtp.is_duplicate==true">({{dtpanswer.answer_date}})</span></span>
                                        <span class="ansRight">{{dtpanswer.lebel}}</span>
                                    </p>
                                    </ng-container>
                                </div>
                            </li>
                            <li *ngIf="questionnaires_dtp.length>0">
                                <div class="collapsible-header">
                                    <span class="headLeft">Gut Health - Resulting Profile</span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                	<ng-container *ngFor="let dtpanswer of questionnaires_dtp; index as i;">
                                    <p *ngIf="dtpanswer.ques_sub_type=='RESULTING'">
                                        <span class="ansLeft">{{dtpanswer.question}} <span *ngIf="questionnaires_dtp.is_duplicate==true">({{dtpanswer.answer_date}})</span></span>
                                        <span class="ansRight">{{dtpanswer.lebel}}</span>
                                    </p>
                                    </ng-container>
                                </div>
                            </li>
                            <li *ngIf="questionnaires_lp.length>0">
                                <div class="collapsible-header">
                                    <span class="headLeft">Cleansing System</span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                	<ng-container *ngFor="let lpanswer of questionnaires_lp; index as i;">
                                    <p>
                                        <span class="ansLeft">{{lpanswer.question}} <span *ngIf="questionnaires_lp.is_duplicate==true">({{lpanswer.answer_date}})</span></span>
                                        <span class="ansRight">{{lpanswer.lebel}}</span>
                                    </p>
                                    </ng-container>
                                </div>
                            </li>
                            <li *ngIf="questionnaires_es.length>0">
                                <div class="collapsible-header">
                                    <span class="headLeft">Body Communication - Lead Symptoms Profile</span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                	<ng-container *ngFor="let esanswer of questionnaires_es; index as i;">
                                    <p *ngIf="esanswer.ques_sub_type=='LEADSP'">
                                        <span class="ansLeft">{{esanswer.question}} <span *ngIf="questionnaires_es.is_duplicate==true">({{esanswer.answer_date}})</span></span>
                                        <span class="ansRight">{{esanswer.lebel}}</span>
                                    </p>
                                    </ng-container>
                                </div>
                            </li>
                            <li *ngIf="questionnaires_es.length>0">
                                <div class="collapsible-header">
                                    <span class="headLeft">Body Communication - Lag Symptoms Profile</span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                	<ng-container *ngFor="let esanswer of questionnaires_es; index as i;">
                                    <p *ngIf="esanswer.ques_sub_type=='LAGSP'">
                                        <span class="ansLeft">{{esanswer.question}} <span *ngIf="questionnaires_es.is_duplicate==true">({{esanswer.answer_date}})</span></span>
                                        <span class="ansRight">{{esanswer.lebel}}</span>
                                    </p>
                                    </ng-container>
                                </div>
                            </li>
                            <li *ngIf="questionnaires_ip.length>0">
                                <div class="collapsible-header">
                                    <span class="headLeft">Defence & Repair</span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                	<ng-container *ngFor="let ipanswer of questionnaires_ip; index as i;">
                                    <p *ngIf="ipanswer.ques_sub_type=='IMMUNE'">
                                        <span class="ansLeft">{{ipanswer.question}} <span *ngIf="questionnaires_ip.is_duplicate==true">({{ipanswer.answer_date}})</span></span>
                                        <span class="ansRight">{{ipanswer.lebel}}</span>
                                    </p>
                                    </ng-container>
                                </div>
                            </li>
                            
                            <li *ngIf="questionnaires_cvp.length>0">
                                <div class="collapsible-header">
                                    <span class="headLeft">Heart Health</span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                	<ng-container *ngFor="let cvpanswer of questionnaires_cvp; index as i;">
                                    <p>
                                        <span class="ansLeft">{{cvpanswer.question}} <span *ngIf="questionnaires_cvp.is_duplicate==true">({{cvpanswer.answer_date}})</span></span>
                                        <span class="ansRight">{{cvpanswer.lebel}}</span>
                                    </p>
                                    </ng-container>
                                </div>
                            </li>
                            <li *ngIf="questionnaires_mo.length > 0">
                                <div class="collapsible-header">
                                    <span class="headLeft">MEN ONLY</span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                	<ng-container *ngFor="let moanswer of questionnaires_mo; index as i;">
                                    <p>
                                        <span class="ansLeft">{{moanswer.question}} <span *ngIf="questionnaires_mo.is_duplicate==true">({{moanswer.answer_date}})</span></span>
                                        <span class="ansRight">{{moanswer.lebel}}</span>
                                    </p>
                                    </ng-container>
                                </div>
                            </li>
                            <li *ngIf="questionnaires_wo.length > 0">
                                <div class="collapsible-header">
                                    <span class="headLeft">WOMEN ONLY</span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                    <ng-container *ngFor="let woanswer of questionnaires_wo; index as i;">
                                    <p>
                                        <span class="ansLeft">{{woanswer.question}} <span *ngIf="questionnaires_wo.is_duplicate==true">({{woanswer.answer_date}})</span></span>
                                        <span class="ansRight">{{woanswer.lebel}}</span>
                                    </p>
                                    </ng-container>
                                </div>
                            </li>
                            <li *ngIf="questionnaires_ef.length>0">
                                <div class="collapsible-header">
                                    <span class="headLeft">ENVIRONMENTAL</span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                	<ng-container *ngFor="let efanswer of questionnaires_ef; index as i;">
                                    <p>
                                        <span class="ansLeft">{{efanswer.question}} <span *ngIf="questionnaires_ef.is_duplicate==true">({{efanswer.answer_date}})</span></span>
                                        <span class="ansRight">{{efanswer.lebel}}</span>
                                    </p>
                                    </ng-container>
                                </div>
                            </li>
                            <li *ngIf="questionnaires_diet.length>0">
                                <div class="collapsible-header">
                                    <span class="headLeft">Food Choices</span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                	<ng-container *ngFor="let dietanswer of questionnaires_diet; index as i;">
                                    <p *ngIf="dietanswer.ques_sub_type=='DYD'">
                                        <span class="ansLeft">{{dietanswer.question}} <span *ngIf="questionnaires_diet.is_duplicate==true">({{dietanswer.answer_date}})</span></span>
                                        <span class="ansRight">{{dietanswer.lebel}}</span>
                                    </p>
                                    </ng-container>
                                </div>
                            </li>
                            <!-- <li>
                                <div class="collapsible-header">
                                    <span class="headLeft">DIETARY PROFILE - DYL</span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                	<ng-container *ngFor="let dietanswer of questionnaires_diet; index as i;">
                                    <p *ngIf="dietanswer.ques_sub_type=='DYL'">
                                        <span class="ansLeft">{{dietanswer.question}}</span>
                                        <span class="ansRight">{{dietanswer.lebel}}</span>
                                    </p>
                                    </ng-container>
                                </div>
                            </li> -->
                        </ul>
                        <!-- <h4>Thought Control</h4>
                        <ul class="collapsible reportAccordian">
                            <li>
                                <div class="collapsible-header">
                                    <span class="headLeft">Thought Control - OCD</span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                	<ng-container *ngFor="let tcanswer of questionnaires_diet; index as i;">
                                    <p *ngIf="tcanswer.ques_sub_type=='OCD'">
                                        <span class="ansLeft">{{tcanswer.question}}</span>
                                        <span class="ansRight">{{tcanswer.lebel}}</span>
                                    </p>
                                    </ng-container>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    <span class="headLeft">Thought Control - Depression</span>
                                    <span class="headRight">Answer</span>
                                </div>
                                <div class="collapsible-body">
                                	<ng-container *ngFor="let tcanswer of questionnaires_tc; index as i;">
                                    <p *ngIf="tcanswer.ques_sub_type=='Depression'">
                                        <span class="ansLeft">{{tcanswer.question}}</span>
                                        <span class="ansRight">{{tcanswer.lebel}}</span>
                                    </p>
                                    </ng-container>
                                </div>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
   </div>
   <app-footer></app-footer>
   <!-- End -->
</section>