<section class="dashboardSection" *ngIf="isloaded">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
    <div class="bodyContent">
      <div class="container-fluid">
        <app-has-appointment *ngIf="permissions && permissions.indexOf('appointment') !== -1 ? true: false"></app-has-appointment>
        <div class="breadCrumb">
          <ul>
          <ng-container *ngFor="let group of group_det" >
            <li><a href="javascript:void(0);">{{group.group_name}}</a></li>
          </ng-container>
          
          <ng-container *ngFor="let coach of heal_coach_det" >
            <li>
            <!-- <div class="groupName"> -->
              <span class="coachInfo">
                <h5>
                  <img src="{{coach.user_detail.thumb_profile_picture}}" alt="coach" class="coachImg" *ngIf="coach.user_detail && coach.user_detail.thumb_profile_picture">
                  <img src="{{coach.user_detail.avtar_icon ? 'assets/' + coach.user_detail.avtar_icon: 'assets/avatar-icons/avater1.png'}}" alt="coach" class="coachImg" *ngIf="coach.user_detail && !coach.user_detail.thumb_profile_picture">
                  {{coach.user_detail.firstname}} {{coach.user_detail.lastname}} 
                  <a href="javascript:void(0);" [routerLink]="['/mail/inbox']" class="communicationLink" title="Email"><img src="assets/images/mailIcon-black.png" *ngIf="permissions && permissions.indexOf('mail') !== -1 ? true: false"></a>
                  <a href="javascript:void(0);" [routerLink]="['/chat']" class="communicationLink" title="Live Chat" *ngIf="permissions && permissions.indexOf('chat') !== -1 ? true: false"><img src="assets/images/msgIcon-black.png"></a>
                </h5>
              </span>
            </li>
            <!-- </div> -->
          </ng-container>
          </ul>
         <a href="javascript:void(0)" class="" [routerLink]="['/user/practitioner-report']" >Download your monthly report</a>
        </div>
        <div class="row" id="contestsection" *ngIf="permissions && permissions.indexOf('contest') !== -1 ? true: false">
        </div>
        <app-joined-contest [getArray]="setValue" *ngIf="permissions && permissions.indexOf('contest') !== -1 ? true: false"></app-joined-contest>
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12" *ngIf="permissions && permissions.indexOf('content') !== -1 ? true: false">
            <div class="row dashboadcntntcount">
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="countBlockInner countBlockInnerSec">
                        <a href="javascript:void(0);" [routerLink]="['/content','Fitness']">
                            <div class="countBlockLeft">
                                <img src="assets/images/weightlifter1.png">
                                <h6>Fitness</h6>
                                <span class="unopenCount">{{dashboard.fitness}}</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="countBlockInner countBlockInnerSec">
                        <a href="javascript:void(0);" [routerLink]="['/content','Nutrition']">
                            <div class="countBlockLeft">
                                <img src="assets/images/diet.png">
                                <h6>Nutrition</h6>
                                <span class="unopenCount">{{dashboard.nutrition}}</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="countBlockInner countBlockInnerSec">
                        <a href="javascript:void(0);" [routerLink]="['/content','Sleep']">
                            <div class="countBlockLeft">
                                <img src="assets/images/sleeping.png">
                                <h6>Sleep</h6>
                                <span class="unopenCount">{{dashboard.sleep}}</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="countBlockInner countBlockInnerSec">
                        <a href="javascript:void(0);" [routerLink]="['/content','Stress']">
                            <div class="countBlockLeft">
                                <img src="assets/images/stress.png">
                                <h6>Stress</h6>
                                <span class="unopenCount">{{dashboard.stress}}</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="permissions && permissions.indexOf('target') !== -1 ? true: false">
                  <div class="contentOuter contentOuterSec targetsection">
                    <h4>Today's <strong>Target</strong></h4>
                    <ul>
                      <ng-container *ngFor="let today_target of today_targets; index as i;">
                      <li>
                          <div class="row">
                              <div class="col-lg-8 col-md-8 col-sm-8 col-9">
                                  <p>{{today_target.question}}</p>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-3">
                                  <div class="contentRight" *ngIf="today_target.is_automatic==null">
                                      <label>
                                          <input type="radio" name="target_ans" value="Y" class="" (change)="changeStatus($event, today_target.id, i)">
                                          <span>Yes</span>
                                      </label>
                                      <label>
                                          <input type="radio" name="target_ans" value="N" class="" (change)="changeStatus($event, today_target.id, i)">
                                          <span>No</span>
                                      </label>
                                  </div>
                                  <div class="contentRight" *ngIf="today_target.is_automatic==1">
                                    <span>Auto</span>
                                  </div>
                              </div>
                          </div>
                      </li>
                      </ng-container>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-lg-3 col-md-12 col-sm-12">
              <div class="graphOuter">
                  
              </div>
          </div> -->
          <div class="col-lg-6 col-md-12 col-sm-12" *ngIf="permissions && permissions.indexOf('questionnaire') !== -1 ? true: false">          
            <div class="row">                      
              <div class="col-lg-12 col-md-12 col-sm-12">
                 <div class="graphOuter" *ngIf="radial_chart.length > 0">
                    <apx-chart  
                        [series]="radialchartoption.series"  
                        [chart]="radialchartoption.chart"
                        [responsive]="radialchartoption.responsive"
                        [labels]="radialchartoption.labels"
                        [legend]="radialchartoption.legend" 
                        [plotOptions]="radialchartoption.plotOptions"
                    ></apx-chart>
                    <p class="nodata-chartbox" *ngIf="radialchartoption.series[0] == 0 && radialchartoption.series[1] == 0 && radialchartoption.series[2] == 0 && radialchartoption.series[3] == 0">This chart is populated once Wellness <a href="javascript:void()" [routerLink]="['/questionnaire']">Assessment</a> is completed</p>
                 </div>
              </div>
            </div>
              <!-- <div class="graphOuter">
                  <img src="images/uyehv.png">
             </div> -->
          </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12"  *ngIf="permissions && permissions.indexOf('target') !== -1 ? true: false">
               <div class="leaderboardOuter">
                  <div class="graphadjust">
                      <div class="dashboardHeading">
                          <h4>Target vs Actual</h4>
                          <!-- <img src="assets/images/Chart_Stack.png"> -->
                          <a href="javascript:void()" class="opencloseicon opencloseplus"></a>
                      </div>
                      <div class="collapsingInner openclosebox">
                          <div >
                            <apx-chart  
                              [series]="targetoptions.series"  
                              [chart]="targetoptions.chart"
                              [tooltip]="targetoptions.tooltip"
                              [xaxis]="targetoptions.xaxis"
                              [colors]="targetoptions.colors" 
                              [dataLabels]="targetoptions.dataLabels" 
                              [stroke]="targetoptions.stroke"
                            ></apx-chart>
                          </div>
                      </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12" *ngIf="(permissions && permissions.indexOf('leaderboard') !== -1)">
                <div class="leaderboardOuter">
                    <div class="dashboardHeading">
                        <h4>Leaderboard</h4>
                        <a href="javascript:void()" class="collapsingBtn"></a>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12">
                          <h5>Overall</h5>
                          <ng-container *ngFor="let overallleaderboard of dashboard.overall_leaderboard;  index as i;" >
                          <div class="progressOuter" *ngIf="i < 3 || overallleaderboard.id == user_data.id">
                              <span class="name" *ngIf="overallleaderboard.alias_name !=null">{{overallleaderboard.alias_name}}</span>
                              <span class="name" *ngIf="overallleaderboard.alias_name ==null">{{overallleaderboard.firstname}} {{overallleaderboard.lastname}}</span>
                              <span class="leaderImg"><img src="assets/{{overallleaderboard.avatar_image}}" alt="{{overallleaderboard.alias_name}}"></span>
                              <div class="progressInner" [ngStyle]="{'width': getPercentage(overallleaderboard.percentage) + '%'}"> </div>
                              <span class="number">{{overallleaderboard.psum}}</span>
                          </div>
                          </ng-container>
                      </div>                                    
                      <div class="col-lg-6 col-md-6 col-sm-12">
                          <h5>Monthy</h5>
                          <ng-container *ngFor="let monthleaderboard of dashboard.month_leaderboard;  index as i;" >
                          <div class="progressOuter" *ngIf="i < 3 || monthleaderboard.id == user_data.id">
                              <span class="name" *ngIf="monthleaderboard.alias_name !=null">{{monthleaderboard.alias_name}}</span>
                              <span class="name" *ngIf="monthleaderboard.alias_name ==null">{{monthleaderboard.firstname}} {{monthleaderboard.lastname}}</span>
                              <span class="leaderImg"><img src="assets/{{monthleaderboard.avatar_image}}" alt="{{monthleaderboard.alias_name}}"></span>
                              <div class="progressInner" [ngStyle]="{'width': getPercentage(monthleaderboard.percentage) + '%'}"></div>
                              <span class="number">{{monthleaderboard.psum}}</span>
                          </div>
                          </ng-container>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">                            
          <div class="col-lg-6 col-md-6 col-sm-12"  *ngIf="permissions && permissions.indexOf('activity') !== -1 && permissions.indexOf('meal') !== -1 ? true: false">
            <div class="graphOuter">
                <div>
                  <canvas
                      baseChart
                      [chartType]="'bar'"
                      [datasets]="fatmaslChartData"
                      [labels]="fatmaslChartLabels"
                      [options]="fatmaslChartOptions"
                      [legend]="true" width="550" height="275">
                  </canvas>
                </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="permissions && permissions.indexOf('questionnaire') !== -1 ? true: false">
            <div class="graphOuter" *ngIf="pieChartData !=''">
              <div>
                <canvas
                  baseChart
                  [chartType]="'bar'"
                  [datasets]="pieChartData"
                  [labels]="pieChartLabels"
                  [options]="pieChartOptions"
                  [legend]="true" width="550" height="275">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>

<div class="noactionOverlay" *ngIf="!hasStatutory">
    <div class="noactionmsg">
        <h4>Declaration</h4>
         <p>By signing this document, I acknowledge that I have voluntarily chosen to participate in a programme of progressive physical exercise. I am hereby informed of the need to undergo a doctor’s examination prior to exercising. In declining to undergo an examination, I acknowledge that I accept complete responsibility for my health and wellbeing in all and any voluntary exercise programme and related testing. To my knowledge I do not have any limiting physical condition or disability which would preclude an exercise programme. I understand that a personal trainer will use the results from the fitness tests and screening form to design a safe workout for me. However, I am aware that an exercise programme has certain health and injury risks, and in very rare instance, death. I take it upon myself to discuss any changes in my current health with my Coaches. I have to the best of my knowledge provided current information regarding my current health status.</p>
         <p>I, {{user_data.user_detail.firstname}} {{user_data.user_detail.lastname}} hereby release Wind of Change, the personal trainers, facility or persons involved in the programme from any liability now or in the future including, but not limited to, heart attacks, muscle strains, pulls or tears, broken bones, shin splints, heat prostration, knee/lower back/foot injuries, and any other illness, soreness, or injury, however caused, occurring during or after my participation in the exercise programme.</p>
         <p>I have read, understood, and completed this questionnaire. Any questions I had were answered to my full satisfaction.</p>
         <form [formGroup]="statutaries">
         <div class="termsuseinner">
            <label>
            <input type="checkbox" name="" formControlName="is_agree" class="filled-in">
            <span>I have read and I agree to the <a href="javascript:void(0)" [routerLink]="['/term-conditions']">Terms of Use</a></span>
            </label>
            <p class="errormsg" *ngIf="(submitted && si_f.is_agree.errors) || ((si_f.is_agree.touched || si_f.is_agree.dirty))">
              <span *ngIf="(si_f.is_agree.errors && si_f.is_agree.errors.required)  || !termOfAgree">please check on agree to the terms of use.</span>
            </p>
         </div>
          <div class="submitOuter">
            <button type="submit" class="detailBtn" (click)="storeData()">Agree</button>
         </div>
        </form>
        <!-- <a href="javascript:void(0)" [routerLink]="['/edit-statutory-info']" class="detailBtn">Ok</a> -->
    </div>
</div>