<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
         <div class="breadCrumb">
            <ul>
               <li><a href="dashboard.html">Home</a></li>
               <li><span>Wearable</span></li>
            </ul>
         </div>
         <!-- <div class="profileOuter">
            <h3 class="pageTitle">Wearable</h3>
         </div> -->
         <div class="profileInner">
            <div class="row">
               <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <ul class="wearableList">
                     <li><span>Fitbit</span> Authorise Access</li>
                     <li><span>Google Fit</span> Authorise Access</li>
                     <!-- <li><span>Samsung Health</span> <a href="#">Authorise Access</a></li>
                     <li><span>Apple Health</span> <a href="#">Authorise Access</a></li>
                     <li><span>MI Health</span> <a href="#">Authorise Access</a></li>
                     <li><span>Gionee Health</span> <a href="#">Authorise Access</a></li> -->
                  </ul>
               </div>
               <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <div class="howitworks">
                     <h3>How It Works</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                     </p>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>