<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
    	<div class="breadCrumb">
            <ul>
                <li><a href="javascript:void(0);" [routerLink]="['/dashboard']">Home</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/admin/group/contest']">Contest List</a></li>
                <li><span>Add Contest</span></li>
            </ul>
        </div>
        <div class="profileInner">
            <form [formGroup]="AddForm">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="input-field" *ngIf="!contest_id">
                          <select id="group" formControlName="group" style="display: inline;" multiple>
                            <option value="" [selected]="true">Group</option>
                            <option value="{{group.id}}" *ngFor="let group of groups;">{{group.group_name}}</option>
                          </select>
                        <p class="errormsg" *ngIf="hcServerValidation && hcServerValidation.group">{{hcServerValidation.group[0]}}</p>
                        </div>
                        <div class="input-field" *ngIf="contest_id">
                          {{contest_data.group.group_name}}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                            <select  id="category" formControlName="category" style="display:inline;">
                            <option value="">Category</option>
                            <option value="{{categorie.id}}" *ngFor="let categorie of categories;">{{categorie.category_name}}</option>
                        </select>
                        <p class="errormsg" *ngIf="hcServerValidation && hcServerValidation.category">{{hcServerValidation.category[0]}}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                          <input id="tdate1" type="text" formControlName="start_date" dateInput format="Y-m-d"  mode="single" mindate="{{today}}" class="">
                          <label for="tdate1" class="" [ngClass]="{'active': contest_f.start_date.value}">Start Date</label>
                          <p class="errormsg" *ngIf="hcServerValidation && hcServerValidation.start_date">{{hcServerValidation.start_date[0]}}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                          <input id="tdate2" type="text" formControlName="end_date" dateInput format="Y-m-d"  mode="single"  mindate="{{today}}" class="">
                          <label for="tdate2" class="" [ngClass]="{'active': contest_f.end_date.value}">End Date</label>
                          <p class="errormsg" *ngIf="hcServerValidation && hcServerValidation.end_date">{{hcServerValidation.end_date[0]}}</p>
                        </div>
                    </div>
                </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        <div class="input-field">
                          <textarea id="contestname" formControlName="contestname" class="materialize-textarea"></textarea>
                          <label for="contestname" [ngClass]="{'active': contest_f.contestname.value}">Contest name</label>
                          <p class="errormsg" *ngIf="hcServerValidation && hcServerValidation.contestname">{{hcServerValidation.contestname[0]}}</p>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                        <div class="input-field">
                          <textarea id="textarea" formControlName="question" class="materialize-textarea"></textarea>
                          <label for="textarea" [ngClass]="{'active': contest_f.question.value}">Question</label>
                          <p class="errormsg" *ngIf="hcServerValidation && hcServerValidation.question">{{hcServerValidation.question[0]}}</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                      <div class="input-field">
                        <select id="activityname" formControlName="activityname" style="display:inline;">
                          <option value="">Activity name</option>
                          <option value="steps">Steps</option>
                          <option value="sleep">Sleep</option>
                          <option value="distance">Distance</option>
                          <option value="calories">Calories Burn</option>
                          <option value="active_minutes">Active Minutes</option>
                          <option value="height_climb">Height Climb</option>
                          <option value="manually">Manually</option>
                        </select>
                        <p class="errormsg" *ngIf="hcServerValidation && hcServerValidation.activityname">{{hcServerValidation.activityname[0]}}</p>
                      </div>
                    </div>
                  </div>
                <div class="submitOuter">
                  <button type="submit" (click)="submitContest()" class="detailBtn" *ngIf="!contest_id">Submit</button>
                  <button type="submit" (click)="updateContest()" class="detailBtn" *ngIf="contest_id">Update</button>
                </div>
            </form>
        </div>
    </div>
   </div>
   <app-footer></app-footer>
   <!-- End -->
</section>