<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
         <app-has-appointment></app-has-appointment>
         <div class="breadCrumb">
            <ul>
               <li><a href="javascript:void(0)" routerLink="/dashboard">Home</a></li>
               <li><span>Profile</span></li>
            </ul>
         </div>
         <div class="profileOuter">
            <!-- <h3 class="pageTitle">Personal Profile</h3> -->
            <div class="profileInner">
               <form [formGroup]="statutaries">
               <div class="profilePart">
                  <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h4> Statutory Information</h4>
                     </div>
                  </div>
                  <h6>To deliver appropriate and meaningful Wellness program it is important that we know your existing conditions. This section of your personal profile gives us your relevant information which helps us determine the best solution for you. Please take a moment to fill this up.</h6>
                  <div class="switch">
                     <h5> Has your doctor ever said you have a heart condition and/or should only participate In medically supervised physical activity?</h5>
                     <label>
                     <input type="checkbox" formControlName="heart_condition">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <!-- <div class="switch">
                     <h5> Do you ever feel pain in your chest during physical activity?</h5>
                     <label>
                     <input type="checkbox" formControlName="chest_pain_during_activity">
                     <span class="lever"></span>
                     </label>
                  </div> -->
                  <!-- <div class="switch">
                     <h5>Have you experienced chest pains when not doing physical activity?</h5>
                     <label>
                     <input type="checkbox" formControlName="chest_pain_not_doing_activity">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch">
                     <h5> Do you suffer palpitation?</h5>
                     <label>
                     <input type="checkbox" formControlName="palpitation">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch">
                     <h5> Do you experience dizziness or fainting?</h5>
                     <label>
                     <input type="checkbox" formControlName="dizziness">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch">
                     <h5>Have you ever been told you have high blood pressure or are you taking medication for blood pressure or any other heart condition?</h5>
                     <label>
                     <input type="checkbox" formControlName="high_blood_pressure">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch">
                     <h5>Do you have any existing bone or Joint problem that could be made worse by physical activity?</h5>
                     <label>
                     <input type="checkbox" formControlName="joint_problem">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch">
                     <h5>Do you experience shortness of breath during only mild exertion? Do you suffer from either Asthma or Diabetes Mellitus?</h5>
                     <label>
                     <input type="checkbox" formControlName="asthma">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="input-field" *ngIf="statutaries.get('prescribed_medication').value" [ngClass]="{'error':(submitted && si_f.prescribed_medication_info.errors) || (si_f.prescribed_medication_info.touched && si_f.prescribed_medication_info.errors)}">
                     <textarea id="textarea1" class="materialize-textarea" formControlName="prescribed_medication_info"></textarea>
                     <label for="textarea1" [ngClass]="{'active':si_f.prescribed_medication_info.value}">Remarks</label>
                  </div>-->
                  <div class="switch">
                     <h5>Are you pregnant or have you given birth In the last 4 months?</h5>
                     <label>
                     <input type="checkbox" formControlName="pregnant">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch">
                     <h5>Have you recently undergone surgery or are you carrying any injury?</h5>
                     <label>
                     <input type="checkbox" formControlName="surgery">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch">
                     <h5>Have you been hospitalised in last 12 months</h5>
                     <label>
                     <input type="checkbox" formControlName="prescribed_medication">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="switch">
                     <h5>Are you aware of any other reasons why you should not participate in physical exercise without medical supervision? If so, what?</h5>
                     <label>
                     <input type="checkbox" formControlName="not_participate_physical_exercise">
                     <span class="lever"></span>
                     </label>
                  </div>
                  <div class="input-field" *ngIf="statutaries.get('not_participate_physical_exercise').value" [ngClass]="{'error':(submitted && si_f.not_participate_physical_exercise_info.errors) || (si_f.not_participate_physical_exercise_info.touched && si_f.not_participate_physical_exercise_info.errors)}">
                     <textarea id="textarea2" class="materialize-textarea" formControlName="not_participate_physical_exercise_info"></textarea>
                     <label for="textarea2" [ngClass]="{'active': si_f.not_participate_physical_exercise_info.value}">Remarks</label>
                  </div>
                  <div class="checkboxOuter">
                     <label>
                        <input type="checkbox" name="" formControlName="none_above_statutory" class="filled-in">
                        <span>None of these</span>
                     </label>
                   </div>

                  <div class="declaration" *ngIf="!checkIsAgree">
                     <h4>Declaration</h4>
                     <p>By signing this document, I acknowledge that I have voluntarily chosen to participate in a programme of progressive physical exercise. I am hereby informed of the need to undergo a doctor’s examination prior to exercising. In declining to undergo an examination, I acknowledge that I accept complete responsibility for my health and wellbeing in all and any voluntary exercise programme and related testing. To my knowledge I do not have any limiting physical condition or disability which would preclude an exercise programme. I understand that a personal trainer will use the results from the fitness tests and screening form to design a safe workout for me. However, I am aware that an exercise programme has certain health and injury risks, and in very rare instance, death. I take it upon myself to discuss any changes in my current health with my Coaches. I have to the best of my knowledge provided current information regarding my current health status.</p>
                     <p>I, {{user_data.user_detail.firstname}} {{user_data.user_detail.lastname}} hereby release Wind of Change, the personal trainers, facility or persons involved in the programme from any liability now or in the future including, but not limited to, heart attacks, muscle strains, pulls or tears, broken bones, shin splints, heat prostration, knee/lower back/foot injuries, and any other illness, soreness, or injury, however caused, occurring during or after my participation in the exercise programme.</p>
                     <p>I have read, understood, and completed this questionnaire. Any questions I had were answered to my full satisfaction.</p>
                     <div class="termsuseinner">
                        <label>
                        <input type="checkbox" name="" formControlName="is_agree" class="filled-in">
                        <span>I have read and agree to the <a href="javascript:void(0)" [routerLink]="['/term-conditions']">Terms of use</a></span>
                        </label>
                        <p class="errormsg" *ngIf="(submitted && si_f.is_agree.errors) || ((si_f.is_agree.touched || si_f.is_agree.dirty))">
                          <span *ngIf="(si_f.is_agree.errors && si_f.is_agree.errors.required) || !termOfAgree">please check on agree to the terms of use.</span>
                        </p>
                     </div>
                  </div>
               </div>
               <div class="submitOuter">
                  <button type="submit" class="detailBtn" (click)="storeData()">Submit</button>
               </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->               
</section>