.unread_count{
    position: absolute;
    bottom: 2px;
    right: 5px;
    width: 26px;
    height: 26px;
    background: #2f5d8c;
    padding: 4px 0px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}

.maillist ul li{
	position: relative;
}

.form-groupsend{
    text-align: left!important;
}