<div class="mailcontrol">
    <a href="javascript:void(0)" class="compose" (click)="openModalDialog()">compose</a>
    <ul class="mailcontrollist">
        <li><a href="javascript:void(0)" [routerLink]="['/mail/inbox']" 
        	[routerLinkActive]="['is-active']" class="inbox"><img src="assets/images/inbox.png" alt="inbox"/><span>inbox</span></a></li>
        <li><a href="javascript:void(0)" [routerLink]="['/mail/sentbox']" [routerLinkActive]="['is-active']" class="sent"><img src="assets/images/mail.png" alt="sent"/><span>sent</span></a></li>
        <!-- <li><a href="javascript:void(0)" class="starred"><img src="assets/images/star.png" alt="starred"/><span>starred</span></a></li> -->
    </ul>
    <p *ngIf="user_role.slug=='employee'">Here you can directly discuss about your wellness with your HealthCoach. Compose a mail!</p>
</div>



<!-- modal -->
<div class="modal generalModal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog">
    <div class="modal-content">  
    	 <!-- modal-header -->
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModalDialog()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="composeForm">
            <div class="form-group" *ngIf="user_role.slug=='admin'">
                <input formControlName="mailemail" id="typeahead-format" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultFormatter]="formatter" (ngModelChange)="changeModelEvent($event)" placeholder="Email"/>
            </div>
            <input type="hidden" formControlName="mailusrid">
            <div class="form-group">
                <input type="text" formControlName="mailsubject" placeholder="Subject"/>
            </div>
            <div class="form-group form-groupsend">
                <div [ngxSummernote] formControlName="mailbody"></div>
            </div>
            <h6>Attach File</h6>
            <div class="form-group form-groupsend">
                <input type="file"  id="replyfile" formControlName="attachfile" (change)="onFileSelected($event)">
            </div>
            
            <div class="form-group">
                <button type="submit" class="detailBtn" (click)="mailStore()">Send</button>
            </div>
        </form>
    </div>
    </div>
  </div>
</div>
<div class="modalend" [ngClass]="{'modal-overlay':isModalOpen}"></div>

