<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
        <app-has-appointment></app-has-appointment>
        <div class="breadCrumb">
            <ul>
                <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
                <li><span>Adhoc Question Sheets</span></li>
            </ul>
        </div>
        <div class="profileOuter">
            <div class="profileInner">
              <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
                  <div class="input-field">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="profileInner">
                <div class="table-responsive">
                  <table class="table userListOuter">
                    <tr>
	                    <th>
	                        <h5 class="t-txt">Sl No.</h5>
	                    </th>
                        <th>
                           <h5 class="t-txt">Sheet name</h5>
                        </th>
                        <th>
                           <h5 class="t-txt">Total Questions</h5>
                           <!-- <a href="javascript:void(0)" class="arw" (click)="sortByField='start_date'; reverse =!reverse"><i class="material-icons dp48">expand_more</i></a> -->
                        </th>
                        <th>
                           <h5 class="t-txt">Assigned</h5>
                           <!-- <a href="javascript:void(0)" class="arw" (click)="sortByField='end_date'; reverse =!reverse"><i class="material-icons dp48">expand_more</i></a> -->
                        </th>
                        <th>
                           <h5 class="t-txt">Sheet Type</h5>
                        </th>
                        <th>
                           <h5 class="t-txt">Status</h5>
                        </th>
                        <th>
                           <h5 class="t-txt">Action</h5>
                        </th>
                    </tr>
                    <ng-container *ngFor="let adhocsheet of adhocsheets ; index as i;">
	                    <tr>
                        <td>
                          <label>
                            <span>{{i+1}}</span>
                          </label>
                        </td>
                        <td>
                            <p>{{adhocsheet.sheet_name}}</p>
                        </td>
                        <td>
                        	<p>{{adhocsheet.questions.length}}</p>
                        </td>
                        <td>
                        	<p>{{adhocsheet.is_used==1?'Yes':'No'}}</p>
                        </td>
                        <td>
                          <p>{{adhocsheet.sheet_type==1 ? 'Quiz':'Questionnaire'}}</p>
                        </td>
                        <td>
                        	<p>{{adhocsheet.status==1 ? 'Active':'Inactive'}}</p>
                        </td>
                        <td>
                        	<p>
                        		<a href="javascript:void(0)" (click)="openSheetAssignDialog(adhocsheet.id)" title="Question Sheet Assign" class="modal-trigger" *ngIf="adhocsheet.questions.length>0"><img src="assets/images/add.png"></a>

                            <a href="javascript:void(0)" [routerLink]="['/adhoc-quiz/sheet/assigned/details/',adhocsheet.id]" title="Assigned Report" *ngIf="adhocsheet.questions.length>0"><img src="assets/images/view.png"></a>


                            <a href="javascript:void(0)" [routerLink]="['/adhoc-quiz/quiz-sheet/results',adhocsheet.id]" title="Sheet Result" *ngIf="adhocsheet.questions.length>0"><img src="assets/images/quiz-view.png"></a>
                        	</p>
	                    </td>
	                    </tr>
                	</ng-container>
                </table>
            </div>
        </div>
      </div>
      </div>
   	</div>
   	<!-- Footer Section Start -->
   	<app-footer></app-footer>
   	<!-- End -->
</section>
<div class="modal addmeal" tabindex="-1" role="dialog"  [ngStyle]="{'display':sheetAssignModal}">
   <a href="javascript:void(0)" class="modal-close" (click)="sheetAssignModalClose()"><img src="assets/images/cross.png" alt="cross"></a>
   <div class="modal-content">
      <form [formGroup]="sheetAssignForm">
      	<h4>Assign Sheet</h4>
      	<input id="sheet_id" type="hidden" formControlName="sheet_id" >
      	<div class="input-field">
	      	<select  formControlName="group_id"  style="display: inline;">
	          <option value="" [selected]="true">Select Group</option>
	          <option value="{{group.id}}" *ngFor="let group of groups;">{{group.group_name}}</option>
	        </select>
	        <p class="errormsg" *ngIf="sheetAssignValidation && sheetAssignValidation.group_id">{{sheetAssignValidation.group_id[0]}}</p>
      	</div>
      	<div class="input-field">
	      	<select  formControlName="level_id"  style="display: inline;">
	          <option value="" [selected]="true">Select level</option>
	          <option value="{{getlevel.id}}" *ngFor="let getlevel of levels;">{{getlevel.level_name}}</option>
	        </select>
	        <p class="errormsg" *ngIf="sheetAssignValidation && sheetAssignValidation.level_id">{{sheetAssignValidation.level_id[0]}}</p>
      	</div>
      <div class="submitOuter">
         <button type="submit" class="detailBtn" (click)="sheetAssignSave()">Submit</button>
      </div>
      </form>
   </div>
</div>
<!--user group update modal-->
<div class="modalend" [ngClass]="{'modal-overlay':isModalOpen}"></div>