<div class="leftPanel" *ngIf="isLoaded">
  <div class="toggleOuter">
    <span class="menuToggleBtn">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>
  <ul class="">
    <li>
      <a
        href="javascript:void(0);"
        [routerLink]="['/dashboard']"
        title="Dashboard"
        [ngClass]="{ active: checkActiveUrl('dashboard') }"
        ><img src="assets/images/dashboard.png"
      /></a>
      <ul class="submenu">
        <li><h5>Dashboard</h5></li>
        <li *ngIf="user_role.slug == 'corporate'">
          <a href="javascript:void(0)" [routerLink]="['/corporate/invitation']"
            >Employee Invitation</a
          >
        </li>
        <ng-container
          *ngIf="permissions.indexOf('content') !== -1 ? true : false"
        >
          <li *ngIf="user_role.slug == 'employee'">
            <a href="javascript:void(0)" [routerLink]="['/content', 'Fitness']"
              >Fitness</a
            >
          </li>
          <li *ngIf="user_role.slug == 'employee'">
            <a
              href="javascript:void(0)"
              [routerLink]="['/content', 'Nutrition']"
              >Nutrition</a
            >
          </li>
          <li *ngIf="user_role.slug == 'employee'">
            <a href="javascript:void(0)" [routerLink]="['/content', 'Sleep']"
              >Sleep</a
            >
          </li>
          <li *ngIf="user_role.slug == 'employee'">
            <a href="javascript:void(0)" [routerLink]="['/content', 'Stress']"
              >Stress</a
            >
          </li>
        </ng-container>
        <!-- coach-->
        <li *ngIf="user_role.slug == 'admin' || user_role.slug == 'subcoach' ">
          <a href="javascript:void(0)" [routerLink]="['/dashboard']"
            >Group List</a
          >
        </li>
        <li *ngIf="user_role.slug == 'admin' || user_role.slug == 'subcoach' ">
          <a href="javascript:void(0)" [routerLink]="['/content/manage/list']"
            >Content Management</a
          >
        </li>
        <li *ngIf="user_role.slug == 'admin'">
          <a href="javascript:void(0)" [routerLink]="['/target/list']"
            >Set target</a
          >
        </li>
        <li *ngIf="user_role.slug == 'admin'">
          <a href="javascript:void(0)" [routerLink]="['/notification/send']"
            >Send Notification</a
          >
        </li>
        <!-- End -->
      </ul>
    </li>

    <li
      *ngIf="
        user_role.slug == 'employee' &&
        (permissions.indexOf('activity') !== -1 ||
          permissions.indexOf('meal') !== -1 ||
          permissions.indexOf('questionnaire') !== -1 ||
          permissions.indexOf('bca') !== -1)
      "
    >
      <a
        href="javascript:void(0)"
        title="Analytics"
        [ngClass]="{ active: checkActiveUrl('analytics') }"
        ><img src="assets/images/analyticsIcon.png"
      /></a>
      <ul class="submenu">
        <li><h5>Analytics</h5></li>
        <li *ngIf="permissions.indexOf('questionnaire') !== -1 ? true : false">
          <a href="javascript:void(0)" [routerLink]="['/questionnaire']"
            >Questionnaire</a
          >
        </li>
        <li *ngIf="permissions.indexOf('bca') !== -1 ? true : false">
          <a href="javascript:void(0)" [routerLink]="['/bca']"
            >Body Composition Analyzer Details</a
          >
        </li>
        <li *ngIf="permissions.indexOf('meal') !== -1 ? true : false">
          <a href="javascript:void(0)" [routerLink]="['/meal']">Meal Details</a>
        </li>
        <li *ngIf="permissions.indexOf('activity') !== -1 ? true : false">
          <a href="javascript:void(0)" [routerLink]="['/activity']"
            >Activity Record</a
          >
        </li>
      </ul>
    </li>
    <li *ngIf="user_role.slug != 'superadmin'">
      <a
        href="javascript:void(0)"
        [routerLink]="['/profile']"
        title="Personal Profile"
        [ngClass]="{ active: checkActiveUrl('profile') }"
        ><img src="assets/images/profileIcon.png"
      /></a>
      <ul class="submenu">
        <li><h5>Personal Profile</h5></li>
        <li>
          <a href="javascript:void(0)" [routerLink]="['/profile']">Profile</a>
        </li>
        <li>
          <a href="javascript:void(0)" [routerLink]="['/update-password']"
            >Update Password</a
          >
        </li>
      </ul>
    </li>

    <li
      *ngIf="
        user_role.slug == 'admin' || user_role.slug == 'subcoach' ||
        (user_role.slug == 'employee' &&
          permissions.indexOf('appointment') !== -1)
      "
    >
      <a
        href="javascript:void(0)"
        [routerLink]="['/appointment/slots']"
        title="Appointment"
        *ngIf="user_role.slug == 'admin' || user_role.slug == 'subcoach'"
        [ngClass]="{ active: checkActiveUrl('appointment') }"
        ><img src="assets/images/calendar1.png"
      /></a>
      <a
        href="javascript:void(0)"
        [routerLink]="['/appointment/calendar']"
        title="Appointment"
        *ngIf="user_role.slug == 'employee'"
        [ngClass]="{ active: checkActiveUrl('appointment') }"
        ><img src="assets/images/calendar1.png"
      /></a>
      <ul class="submenu">
        <li><h5>Appointment</h5></li>
        <li *ngIf="user_role.slug == 'admin' || user_role.slug == 'subcoach' ">
          <a href="javascript:void(0)" [routerLink]="['/appointment/slots']"
            >Slots</a
          >
        </li>
        <li>
          <a href="javascript:void(0)" [routerLink]="['/appointment/calendar']"
            >Calendar</a
          >
        </li>
      </ul>
    </li>

    <li
      *ngIf="
        user_role.slug == 'employee' && permissions.indexOf('activity') !== -1
      "
    >
      <a
        href="javascript:void(0)"
        [routerLink]="['/wearable']"
        title="synchronize"
        [ngClass]="{ active: checkActiveUrl('wearable') }"
        ><img src="assets/images/repeat.png"
      /></a>
    </li>

    <li
      *ngIf="
        user_role.slug == 'admin'||  
        (user_role.slug == 'employee' && permissions.indexOf('mail') !== -1)
      "
    >
      <a
        href="javascript:void(0)"
        title="MailBox"
        [routerLink]="['/mail/inbox']"
        [ngClass]="{ active: checkActiveUrl('mail') }"
        ><img src="assets/images/mailIcon.png" /><span
          *ngIf="userMailcount > 0"
          >{{ userMailcount }}</span
        ></a
      >
    </li>

    <li
      *ngIf="
        user_role.slug == 'admin' || user_role.slug == 'subcoach' ||
        (user_role.slug == 'employee' && permissions.indexOf('chat') !== -1)
      "
    >
      <a
        href="javascript:void(0)"
        [routerLink]="['/chat']"
        title="ChatBox"
        [ngClass]="{ active: checkActiveUrl('chat') }"
        ><img src="assets/images/chatIcon.png" /><span
          *ngIf="unreadChats[user_data.id] > 0"
          >{{ unreadChats[user_data.id] }}</span
        ></a
      >
    </li>

    <li
      *ngIf="
        user_role.slug == 'admin' || user_role.slug == 'subcoach' ||
        (user_role.slug == 'employee' &&
          permissions.indexOf('community') !== -1)
      "
    >
      <a
        href="javascript:void(0)"
        title="Community"
        [routerLink]="['/community']"
        [ngClass]="{ active: checkActiveUrl('community') }"
        ><img src="assets/images/group1-white.png"
      /></a>
    </li>

    <li *ngIf="user_role.slug == 'admin' || user_role.slug == 'subcoach'">
      <a
        href="javascript:void(0)"
        title="Notes List"
        [routerLink]="['/notes/list']"
        [ngClass]="{ active: checkActiveUrl('notes') }"
        ><img src="assets/images/document-clip-white.png"
      /></a>
    </li>

    <li *ngIf="user_role.slug == 'superadmin'">
      <a
        href="javascript:void(0)"
        title="Content List"
        [routerLink]="['/admin/contents']"
        [ngClass]="{ active: checkActiveUrl('contents') }"
        ><img src="assets/images/content-white.png"
      /></a>
    </li>

    <li *ngIf="user_role.slug == 'superadmin'">
      <a
        href="javascript:void(0)"
        title="Group List"
        [routerLink]="['/admin/groups']"
        [ngClass]="{ active: checkActiveUrl('groups') }"
        ><img src="assets/images/group1-white.png"
      /></a>
    </li>

    <li *ngIf="user_role.slug == 'superadmin'">
      <a
        href="javascript:void(0)"
        title="Target List"
        [routerLink]="['/admin/grouptargets']"
        [ngClass]="{ active: checkActiveUrl('grouptargets') }"
        ><img src="assets/images/targetList.png"
      /></a>
    </li>

    <li *ngIf="user_role.slug == 'superadmin'">
      <a
        href="javascript:void(0)"
        title="Contest List"
        [routerLink]="['/admin/group/contest']"
        [ngClass]="{ active: checkActiveUrl('contest') }"
        ><img src="assets/images/winner-white.png"
      /></a>
    </li>

    <li *ngIf="user_role.slug == 'superadmin'">
      <a href="javascript:void(0)" [routerLink]="['/adhoc-quiz/questions']"
        ><img src="assets/images/content-white.png"
      /></a>
    </li>

    <li *ngIf="user_role.slug == 'superadmin'">
      <a
        href="javascript:void(0)"
        [routerLink]="['/adhoc-quiz/quiz-sheets']"
        title="Sheet list"
        ><img src="assets/images/document-clip-white.png"
      /></a>
    </li>

    <li *ngIf="user_role.slug == 'superadmin'">
      <a href="javascript:void(0)" title="Food List"
        ><img src="assets/images/foodlist.png"
      /></a>
    </li>

    <li *ngIf="user_role.slug == 'superadmin'">
      <a
        href="javascript:void(0)"
        title="Support List"
        [routerLink]="['/admin/supports']"
        [ngClass]="{ active: checkActiveUrl('supports') }"
        ><img src="assets/images/supportList.png"
      /></a>
    </li>

    <!-- <li *ngIf="user_role.slug=='employee'"><a href="javascript:void(0)" title="Support List" [routerLink]="['/support']" [ngClass]="{'active':checkActiveUrl('support')}"><img src="assets/images/supportList.png"></a></li> -->
  </ul>
</div>
