<app-employee-chat *ngIf="user_role.slug =='employee'"></app-employee-chat>
<app-health-coach-chat *ngIf="user_role.slug =='admin' "></app-health-coach-chat>
<app-secondary-coach-chat *ngIf="user_role.slug =='subcoach'"></app-secondary-coach-chat>