<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
         <div class="breadCrumb">
            <ul>
               <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Home</a></li>
               <li><a href="javascript:void(0)">Wellness Analytics</a></li>
               <li><span>Questions</span></li>
            </ul>
         </div>
         <div class="profileOuter">
            <div class="dateSelector" *ngIf="is_exist!=0">
               <div class="row">
                  <div class="col-lg-3 col-md-5 co-sm-12 col-12">
                      <div class="dateposition">
                          <label>Select Previous Date</label>
                          <span class="Icon"><img src="assets/images/calendar1.png"></span>
                          <select style="display:inline;" [(ngModel)]="archiveModel" (ngModelChange)="getArchiveByDate($event)" [ngModelOptions]="{standalone: true}">
                            <option value=""> Select Date</option>
                            <option value="{{qsanltcsdate}}" *ngFor="let qsanltcsdate of profileanalyticsdate; index as i;">{{qsanltcsdate}}</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-lg-9 col-md-7 co-sm-12 col-12">
                    <div class="submitOuter">
                       <a href="javascript:void(0)" [routerLink]="['/questionnaire/question']" class="detailBtn">Get Started</a>
                    </div>
                  </div>
               </div>
            </div>
            <div class="profileInner">
               <div class="questionOuter graphOuter2 rescanvas">
                  <div *ngIf="is_exist!=0">
                      <canvas
                        baseChart
                        [chartType]="'bar'"
                        [datasets]="pieChartData"
                        [labels]="pieChartLabels"
                        [options]="pieChartOptions"
                        [legend]="true" width="1155" height="500">
                      </canvas>
                  </div>
                  <div *ngIf="is_exist==0">
                  <p>Wind-of-Change Wellness-As-A-Service (WaaS) is modelled based on WHO and Functional-Medicine framework. As WaaS we try to address the issues that cause stress and health-issues. The questionnaire you will see next, seeks to find the signs and symptoms that lead to such health issues. It addresses aspects that we consider are important indicators for health covering the WoC 4 pillars - Nutrition, Fitness, Sleep and Behavioural-Factors. Your answers to these questions along with integrated wearable data, will let us form and present you a 360 degree view of your wellbeing.</p>

                  <p>Although it may be a bit lengthy, we recommend you take 30 minutes to complete all the questions and supply us with information as accurately as possible. We build reports and protocols based on these answers, so more we know the easier it is for us to help you improve your health.</p>

                  <p>We maintain confidentiality of your data. Please click to review our GDPR policy and Terms of Use</p>
                  <div class="submitOuter">
                     <a href="javascript:void(0)" [routerLink]="['/questionnaire/question']" class="detailBtn">Get Started</a>
                  </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>