<section class="dashboardSection">
   <div class="manualBox">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <button type="button">Prev</button>
      <button type="button">Next</button>
      <button type="button">Skip</button>
   </div>
   <!--Side Navigation Start-->
   <app-navigation></app-navigation>
   <!-- End -->
   <div class="bodyContent">
      <div class="container-fluid">
         <!-- <div class="appointment">
            <a href="#">Appointments</a>
            <div class="appointmentInner">
               <div class="appointmentHead">
                  <a href="#">Go to Appointment</a>
               </div>
               <ul>
                  <li>
                     <a href="#">
                        <h5><span class="green"></span> Confirmed</h5>
                        <h4>DemoUser</h4>
                        <h6>30.03.19</h6>
                     </a>
                  </li>
                  <li>
                     <a href="#">
                        <h5><span class="green"></span> Confirmed</h5>
                        <h4>DemoUser</h4>
                        <h6>30.03.19</h6>
                     </a>
                  </li>
                  <li>
                     <a href="#">
                        <h5><span class="green"></span> Confirmed</h5>
                        <h4>DemoUser</h4>
                        <h6>30.03.19</h6>
                     </a>
                  </li>
                  <li>
                     <a href="#">
                        <h5><span class="green"></span> Confirmed</h5>
                        <h4>DemoUser</h4>
                        <h6>30.03.19</h6>
                     </a>
                  </li>
                  <li>
                     <a href="#">
                        <h5><span class="green"></span> Confirmed</h5>
                        <h4>DemoUser</h4>
                        <h6>30.03.19</h6>
                     </a>
                  </li>
               </ul>
            </div>
         </div> -->
         <div class="breadCrumb">
            <ul>
               <li><a href="javascript:void(0)" routerLink="/dashboard">Home</a></li>
               <li><span>Personal Profile</span></li>
            </ul>
         </div>
         <div class="profileOuter">
            <form [formGroup]="userForm">
            <!-- <h3 class="pageTitle">Personal Profile</h3> -->
            <div class="profileInner crprtgnrlinfo">
               <div class="profilePart">
                  <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <h4>Organisation</h4>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                           <input id="fname" type="text" class="validate" formControlName="firstname">
                           <label for="fname" [ngClass]="{'active':cp_f.firstname.value}">Organisation Name</label>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                           <input id="lname" type="text" class="validate" formControlName="city">
                           <label for="lname" [ngClass]="{'active':cp_f.city.value}">Organisation City</label>
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                           <input id="alname" type="text" class="validate" formControlName="state">
                           <label for="alname" [ngClass]="{'active':cp_f.state.value}">Organisation State</label>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="input-field">
                           <textarea id="aadd" placeholder="" class="validate" formControlName="address"></textarea> 
                           <label for="aadd" [ngClass]="{'active':cp_f.address.value}">Organisation Address</label>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="profileInner crprtgnrlinfo">
                     <div class="profilePart">
                        <h4>Primary Contact Details</h4>
                        <div class="row">
                           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">
                                 <input id="fname1" type="text" class="validate" formControlName="primary_cname">
                                 <label for="fname1" [ngClass]="{'active':cp_f.primary_cname.value}">Name</label>
                              </div>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">
                                 <input id="lname1" type="text" class="validate" formControlName="primary_cdesignation">
                                 <label for="lname1" [ngClass]="{'active':cp_f.primary_cdesignation.value}">Designation</label>
                              </div>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">
                                 <input id="alname1" type="email" class="validate" formControlName="primary_cemail">
                                 <label for="alname1" [ngClass]="{'active':cp_f.primary_cemail.value}">Email</label>
                              </div>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">
                                 <input id="no1" type="email" class="validate" formControlName="primary_cphone">
                                 <label for="no1" [ngClass]="{'active':cp_f.primary_cphone.value}">Phone No</label>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="profileInner crprtgnrlinfo">
                     <div class="profilePart">
                        <h4>Additional Contact Details</h4>
                        <div class="row">
                           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">
                                 <input id="fname2" type="text" class="validate" formControlName="adtnl_name">
                                 <label for="fname2" [ngClass]="{'active':cp_f.adtnl_name.value}">Name</label>
                              </div>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">
                                 <input id="lname2" type="text" class="validate" formControlName="adtnl_cdesignation">
                                 <label for="lname2" [ngClass]="{'active':cp_f.adtnl_cdesignation.value}">Designation</label>
                              </div>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">
                                 <input id="alname2" type="email" class="validate" formControlName="adtnl_cemail">
                                 <label for="alname2" [ngClass]="{'active':cp_f.adtnl_cemail.value}">Email</label>
                              </div>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="input-field">
                                 <input id="no2" type="email" class="validate" formControlName="adtnl_cphone">
                                 <label for="no2" [ngClass]="{'active':cp_f.adtnl_cphone.value}">Phone No</label>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="submitOuter">
               <button type="submit" class="detailBtn" (click)="updateProfile()">Submit</button>
            </div>
            </form>
         </div>
      </div>
   </div>
   <!-- Footer Section Start -->
   <app-footer></app-footer>
   <!-- End -->
</section>