<!--START HEADER -->
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-8 col-6">
                <div class="logoContainer">
                    <a href="javascript:void(0);" [routerLink]="['/dashboard']"><img src="assets/images/new-logo.png" alt="logo"></a>
                </div>
                <div class="mobileMenuToggle">
                    <a href="javascript:void(0)">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-4 col-6">
                <div class="afterLogin">
                    <ul>
                        <li *ngIf="user_role.slug=='employee'"><a href="javascript:void(0)" class="trophy"><img src="assets/images/trophy.png" alt="trophy"><span class="count">{{userPoint}}</span></a></li>
                        <li class="hasdropdown" *ngIf="user_role.slug=='employee' || user_role.slug=='admin' || user_role.slug=='subcoach'">
                            <a href="javascript:void(0)"><img src="assets/images/bellIcon.png" alt="bellIcon"><span class="count">{{unreadNotifications.length+userPostcount}}</span></a>
                            <div class="listDropdown">
                                <h5><img src="assets/images/bellIcon-white.png" alt="bellIcon"> {{unreadNotifications.length+userPostcount}} New Notification</h5>
                                <ul>
                                    <ng-container *ngFor="let postdata of userPostlist" >
                                        <li>
                                            <a href="javascript:void(0)" [routerLink]="['/community']" [queryParams]="{id:postdata.id, contest_id:postdata.chat_group_id}" *ngIf="postdata.route=='contest'">Posted by {{postdata.user}} in {{postdata.contest_name}} group</a>

                                            <a href="javascript:void(0)" [routerLink]="['/community']" [queryParams]="{id:postdata.id}" *ngIf="postdata.route=='community'">Posted by {{postdata.user}} in {{postdata.group.group_name}} group</a>

                                        </li>
                                    </ng-container>
                                    <ng-container *ngFor="let nofification of unreadNotifications">
                                        <li><a href="javascript:void(0)" (click)="readNotification(nofification.id, nofification.data.route, nofification.data.dataId)">{{nofification.data.data}}</a></li>
                                    </ng-container>
                                    
                                </ul>
                                <h5><a href="javascript:void(0)"  (click)="readAllNotification()">See All</a></h5>
                            </div>
                        </li>
                        <!-- <li class="hasdropdown" *ngIf="user_role.slug=='employee' || user_role.slug=='admin'">
                            <a href="javascript:void(0)" [routerLink]="['/mail/inbox']"><img src="assets/images/emailIcon.png" alt="emailIcon"><span class="count">{{userMailcount}}</span></a> 
                        </li>
                        <li class="hasdropdown" *ngIf="user_role.slug=='employee' || user_role.slug=='admin'">
                            <a href="javascript:void(0)" [routerLink]="['/chat']"><img src="assets/images/msgIcon.png" alt="msgIcon"><span class="count">{{unreadChats[loginUser.id]}}</span></a>
                        </li> 
                        <li class="hasdropdown" *ngIf="(user_role.slug=='employee' || user_role.slug=='admin') && permissions && permissions.indexOf('community') !== -1">
                            <a href="javascript:void(0)" [routerLink]="['/community']"><img src="assets/images/group1.png" alt="group"><span class="count">{{userPostcount}}</span></a>
                            <div class="listDropdown">
                                <h5><img src="assets/images/group1-white.png" alt="group"> {{userPostcount}} New Community Post</h5>
                                <ul *ngIf="userPostcount > 0">
                                    <ng-container *ngFor="let postdata of userPostlist" >
                                    <li><a href="javascript:void(0)" [routerLink]="['/community']" [queryParams]="{id:postdata.id, contest_id:postdata.chat_group_id}">Posted by {{postdata.user.user_detail.firstname}} {{postdata.user.user_detail.lastname?postdata.user.user_detail.lastname:''}} in {{postdata.chat_group_id>0?postdata.contest_name:postdata.group.group_name}} group</a></li>
                                    </ng-container>
                                </ul>
                                <h5><a href="javascript:void(0)">See All</a></h5>
                            </div>
                        </li>-->
                        <li class="hasdropdown" *ngIf="(user_role.slug=='employee' && permissions && permissions.indexOf('contest') !== -1) || (user_role.slug=='subcoach' && permissions && permissions.indexOf('contest') !== -1)">
                            <a href="javascript:void(0)" title="Contest" class="contest"><img src="assets/images/winner-white.png" alt="winner"><span class="count">{{usercontestcount}}</span></a>
                            <div class="listDropdown">
                                <h5><img src="assets/images/winner-white.png" alt="bellIcon"> {{usercontestcount}} New Contest</h5>
                                <ul>
                                    <ng-container *ngFor="let usercontest of userContestlist" >
                                    <li *ngIf="today > usercontest.question.end_date && usercontest.is_joined==1"><a href="javascript:void(0)" [attr.data-pcid]="usercontest.question.id" class="epastcontest">{{usercontest.question.contest_name}}</a></li>
                                    <li *ngIf="usercontest.is_joined==0"><a href="javascript:void(0)" (click)="contestRedirect(usercontest.id)">{{usercontest.question.contest_name}}</a></li>
                                    <li *ngIf="usercontest.is_joined==1" style="display: none;"><a href="javascript:void(0)" class="accepeted" (click)="joinedContest(usercontest.id)">{{usercontest.question.contest_name}}</a></li>
                                    <li *ngIf="usercontest.is_joined==2"><a href="javascript:void(0)" class="rejected" (click)="contestRedirect(usercontest.id)">{{usercontest.question.contest_name}}</a></li>
                                    </ng-container>
                                </ul>
                            </div>
                        </li>
                        <li class="hasdropdown" *ngIf="user_role.slug=='employee'">
                            <a href="javascript:void(0);">
                                <img src="assets/images/helpIcon.png" alt="helpIco">
                            </a>
                            <ul>
                                <li><a href="javascript:void(0);" [routerLink]="['/explainer-video']">Explainer Video</a></li>
                                <li><a href="javascript:void(0);" class="modal-trigger" (click)="openModalDialog()">About Us</a></li>
                                <li><a href="javascript:void(0);" [routerLink]="['/assets/Wind-Of-Change-Complete-User-Guide.pdf']" target="_blank">User Guide</a></li>
                                <li><a href="javascript:void(0);" [routerLink]="['/support']">Support</a></li>
                            </ul>
                        </li>
                        <li>
                           <a href="javascript:void(0);" class="userIcon">Hi {{user_detail.firstname}}<img src="{{imageIcon ? imageIcon : 'assets/images/userIcon.png'}}" alt="userIcon"></a>
                           <ul>
                              <li><a href="javascript:void(0);" (click)="goToProfile()">Account Settings</a></li>
                              <li><a href="javascript:void(0);" (click)="logOut()">Sign Out</a></li>
                           </ul>
                        </li>
                    </ul>
                </div>
                <div class="afterLoginMobile">
                    <ul>
                        <li class="hasdropdown mbbell" *ngIf="user_role.slug=='employee' || user_role.slug=='admin' || user_role.slug=='subcoach'">
                            <a href="javascript:void(0)" class="bell"><img src="assets/images/bellIcon.png" alt="bellIcon" ><span class="count">{{unreadNotifications.length+userPostcount}}</span></a>
                            <ul class="bellDropdown">
                                <ng-container *ngFor="let postdata of userPostlist" >
                                    <li>
                                        <a href="javascript:void(0)" [routerLink]="['/community']" [queryParams]="{id:postdata.id, contest_id:postdata.chat_group_id}" *ngIf="postdata.route=='contest'">Posted by {{postdata.user}} in {{postdata.contest_name}} group</a>

                                        <a href="javascript:void(0)" [routerLink]="['/community']" [queryParams]="{id:postdata.id}" *ngIf="postdata.route=='community'">Posted by {{postdata.user}} in {{postdata.group.group_name}} group</a>
                                    </li>
                                </ng-container>
                                <ng-container *ngFor="let nofification of unreadNotifications">
                                    <li><a href="javascript:void(0)" (click)="readNotification(nofification.id, nofification.data.route, nofification.data.dataId)">{{nofification.data.data}}</a></li>
                                </ng-container>
                            </ul>
                        </li>
                        <li class="hasdropdown mbContest" *ngIf="user_role.slug=='employee' && permissions && permissions.indexOf('contest') !== -1">
                            <a href="javascript:void(0)" title="Contest" class="contest"><img src="assets/images/winner-black.png" alt="winner"><span class="count">{{usercontestcount}}</span></a>
                            <ul class="contestDropdown">
                                <ng-container *ngFor="let usercontest of userContestlist" >
                                <li *ngIf="today > usercontest.question.end_date && usercontest.is_joined==1"><a href="javascript:void(0)" (click)="contestRedirect(usercontest.id)">{{usercontest.question.contest_name}}</a></li>
                                <li *ngIf="usercontest.is_joined==0"><a href="javascript:void(0)" (click)="contestRedirect(usercontest.id)">{{usercontest.question.contest_name}}</a></li>
                                <li *ngIf="usercontest.is_joined==1" style="display: none;"><a href="javascript:void(0)" class="accepeted" (click)="joinedContest(usercontest.id)">{{usercontest.question.contest_name}}</a></li>
                                <li *ngIf="usercontest.is_joined==2"><a href="javascript:void(0)" class="rejected" (click)="contestRedirect(usercontest.id)">{{usercontest.question.contest_name}}</a></li>
                                </ng-container>
                            </ul>
                        </li>

                        <!--<li class="hasdropdown mbcommunity" *ngIf="(user_role.slug=='employee' || user_role.slug=='admin') && permissions && permissions.indexOf('community') !== -1">
                            <a href="javascript:void(0)"><img src="assets/images/group1.png" alt="group"><span class="count">{{userPostcount}}</span></a>
                                <ul *ngIf="userPostcount > 0" class="communityDropdown">
                                    <ng-container *ngFor="let postdata of userPostlist" >
                                    <li><a href="javascript:void(0)" [routerLink]="['/community']" [queryParams]="{id:postdata.id,contest_id:postdata.chat_group_id}">Posted by {{postdata.user.user_detail.firstname}} {{postdata.user.user_detail.lastname?postdata.user.user_detail.lastname:''}} in {{postdata.chat_group_id>0?postdata.contest_name:postdata.group.group_name}} group</a></li>
                                    </ng-container>
                                </ul>
                        </li>-->

                        <li><a href="javascript:void(0);" class="userIcon"><img src="assets/images/userIcon.png" alt="userIcon"></a>
                            <ul>
                                <li><span>Hi {{user_detail.firstname}}</span></li>
                                <li *ngIf="user_role.slug=='employee'"><a href="javascript:void(0)">Awards <span class="count">{{userPoint}}</span></a></li>
                                <li *ngIf="user_role.slug=='employee'"><a href="javascript:void(0)">Notification <span class="count">1</span></a></li>
                                <li *ngIf="user_role.slug=='employee'"><a href="javascript:void(0)">New Community Post <span class="count">{{userPostcount}}</span></a></li>
                                <li *ngIf="user_role.slug=='employee'"><a href="javascript:void(0);" [routerLink]="['/explainer-video']">Explainer Video</a></li>
                                <li *ngIf="user_role.slug=='employee'"><a href="javascript:void(0);" class="modal-trigger" (click)="openModalDialog()">About Us</a></li>
                                <li *ngIf="user_role.slug=='employee'"><a href="javascript:void(0);" [routerLink]="['/assets/Wind-Of-Change-Complete-User-Guide.pdf']" target="_blank">User Guide</a></li>
                                <li><a href="javascript:void(0);" (click)="goToProfile()">Account Settings</a></li>
                                <li><a href="javascript:void(0);" (click)="logOut()">Sign Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- END HEADER-->

<div id="helpModal" class="modal generalModal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
    <a href="javascript:void()" class="modal-close" (click)="closeModalDialog()"><img src="assets/images/cross.png" alt="cross"></a>
    <div class="modal-content">
        <h4>About Wind of Change</h4>
        <div class="aboutContent">
            <img src="assets/images/logo.png" alt="logo">
            <p>Version: 2.0.0</p>
            <p>Previous Version: 1.0.0</p>
            <p>&copy; 2018 Wind of Change. All rights reserved.</p>
        </div>
    </div>
</div>
<div class="modalend" [ngClass]="{'modal-overlay':isModalOpen}"></div>